In [125]:
import os
os.getcwd()

'/Users/ryantalbot/Desktop/Data_Mining/Cleaning/qual_events/men'

In [1]:
import pandas as pd
import numpy as np

In [208]:
paq = pd.read_csv('../../../scraping/men/scrap15/panam15final.csv')
paf = pd.read_csv('../../../scraping/men/scrap15/panam15qual.csv')

In [34]:
paq

                 Gymnast  Unnamed: 2  Rank Nation  year round
0  Jossimar Calvo Moreno      15.700     1    COL  2015  qual
1       Manrique Larduet      15.650     2    CUB  2015  qual
2         Samuel Mikulak      15.450     3    USA  2015  qual
3    Jorge Giraldo Lopez      15.375     4    COL  2015  qual
4    Donnell Whittenburg      15.350     5    USA  2015  qual
5          Daniel Corral      15.175     6    MEX  2015  qual
6             Caio Souza      13.725     7    BRA  2015  qual
7       Francisco Junior      12.600     8    BRA  2015  qual

In [28]:
paq['Rank'] = range(1, 9)

In [29]:
paq=paq.drop(columns=['Position', 'Notes'])

In [30]:
paq['Nation'] = paq['Gymnast'].str.extract(r'\((\w{3})\)')

In [31]:
paq['Gymnast'] = paq['Gymnast'].str.replace(r'\([^)]*\)', '').str.strip()

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_6042/3577999559.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  paq['Gymnast'] = paq['Gymnast'].str.replace(r'\([^)]*\)', '').str.strip()

In [32]:
paq['year']=2015

In [33]:
paq['round']='qual'

In [51]:
paf

                  Gymnast  Unnamed: 2 Nation  Rank  year  round
0   Jossimar Calvo Moreno       15.70    COL     1  2015  final
1        Manrique Larduet       15.60    CUB     2  2015  final
2          Samuel Mikulak       15.55    USA     3  2015  final
3              Caio Souza       15.45    BRA     4  2015  final
4     Jorge Giraldo Lopez       15.30    COL     5  2015  final
5           Daniel Corral       15.00    MEX     6  2015  final
6     Donnell Whittenburg       14.90    USA     7  2015  final
7        Francisco Junior       14.75    BRA     8  2015  final
8            Kevin Lytwyn       14.65    CAN     9  2015  final
9        Osvaldo Martinez       14.55    ARG    10  2015  final
10             Randy Leru       14.50    CUB    11  2015  final

In [36]:
paf['Nation'] = paf['Gymnast'].str.extract(r'\((\w{3})\)')

In [38]:
paf['Gymnast'] = paf['Gymnast'].str.replace(r'\([^)]*\)', '').str.strip()

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_6042/3454587085.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  paf['Gymnast'] = paf['Gymnast'].str.replace(r'\([^)]*\)', '').str.strip()

In [44]:
paf['Rank'] = range(1, 12)

In [47]:
paf=paf.drop(columns=['Position', 'Notes'])

In [49]:
paf['year']=2015

In [50]:
paf['round']='final'

In [54]:
df = pd.concat([paf, paq])

In [55]:
df

                  Gymnast  Unnamed: 2 Nation  Rank  year  round
0   Jossimar Calvo Moreno      15.700    COL     1  2015  final
1        Manrique Larduet      15.600    CUB     2  2015  final
2          Samuel Mikulak      15.550    USA     3  2015  final
3              Caio Souza      15.450    BRA     4  2015  final
4     Jorge Giraldo Lopez      15.300    COL     5  2015  final
5           Daniel Corral      15.000    MEX     6  2015  final
6     Donnell Whittenburg      14.900    USA     7  2015  final
7        Francisco Junior      14.750    BRA     8  2015  final
8            Kevin Lytwyn      14.650    CAN     9  2015  final
9        Osvaldo Martinez      14.550    ARG    10  2015  final
10             Randy Leru      14.500    CUB    11  2015  final
0   Jossimar Calvo Moreno      15.700    COL     1  2015   qual
1        Manrique Larduet      15.650    CUB     2  2015   qual
2          Samuel Mikulak      15.450    USA     3  2015   qual
3     Jorge Giraldo Lopez      15.375    COL     4  2015   qual
4     Donnell Whittenburg      15.350    USA     5  2015   qual
5           Daniel Corral      15.175    MEX     6  2015   qual
6              Caio Souza      13.725    BRA     7  2015   qual
7        Francisco Junior      12.600    BRA     8  2015   qual

In [56]:
desired_columns = ['Rank', 'Gymnast', 'Nation', 'Unnamed: 2', 'round', 'year']

# Create a new DataFrame with the desired column order
df = df[desired_columns]

In [58]:
df.rename(columns={'Unnamed: 2': 'Score'}, inplace=True)

In [60]:
df

    Rank                Gymnast Nation   Score  round  year
0      1  Jossimar Calvo Moreno    COL  15.700  final  2015
1      2       Manrique Larduet    CUB  15.600  final  2015
2      3         Samuel Mikulak    USA  15.550  final  2015
3      4             Caio Souza    BRA  15.450  final  2015
4      5    Jorge Giraldo Lopez    COL  15.300  final  2015
5      6          Daniel Corral    MEX  15.000  final  2015
6      7    Donnell Whittenburg    USA  14.900  final  2015
7      8       Francisco Junior    BRA  14.750  final  2015
8      9           Kevin Lytwyn    CAN  14.650  final  2015
9     10       Osvaldo Martinez    ARG  14.550  final  2015
10    11             Randy Leru    CUB  14.500  final  2015
0      1  Jossimar Calvo Moreno    COL  15.700   qual  2015
1      2       Manrique Larduet    CUB  15.650   qual  2015
2      3         Samuel Mikulak    USA  15.450   qual  2015
3      4    Jorge Giraldo Lopez    COL  15.375   qual  2015
4      5    Donnell Whittenburg    USA  15.350   qual  2015
5      6          Daniel Corral    MEX  15.175   qual  2015
6      7             Caio Souza    BRA  13.725   qual  2015
7      8       Francisco Junior    BRA  12.600   qual  2015

In [61]:
# max whitlock
# louis smith
# alexander naddour

In [180]:
data = {
    'Position': ['1st place, gold medalist(s)', '2nd place, silver medalist(s)', '3rd place, bronze medalist(s)', 4, 5, 6, 7, 8],
    'Gymnast': ['Oleg Verniaiev (UKR)', 'Danell Leyva (USA)', 'Ryohei Kato (JPN)', 'Deng Shudi (CHN)', 
                'Yusuke Tanaka (JPN)', 'Cheng Ran (CHN)', 'Donnell Whittenburg (USA)', 'Nikolai Kuksenkov (RUS)'],
    'D Score': [6.900, 6.900, 6.700, 7.100, 6.200, 6.800, 6.100, 6.500],
    'E Score': [9.225, 9.033, 8.966, 8.533, 8.841, 8.066, 8.266, 7.166],
    'Penalty': [None, None, None, None, None, None, None, None],
    'Total': [16.125, 15.933, 15.666, 15.633, 15.041, 14.866, 14.366, 13.666]
}

df = pd.DataFrame(data)

In [181]:
df['Rank'] = range(1, 9)

In [182]:
df

,Position,Gymnast,D Score,E Score,Penalty,Total,Rank
0,"1st place, gold medalist(s)",Oleg Verniaiev (UKR),6.9,9.225,None,16.125,1
1,"2nd place, silver medalist(s)",Danell Leyva (USA),6.9,9.033,None,15.933,2
2,"3rd place, bronze medalist(s)",Ryohei Kato (JPN),6.7,8.966,None,15.666,3
3,4,Deng Shudi (CHN),7.1,8.533,None,15.633,4
4,5,Yusuke Tanaka (JPN),6.2,8.841,None,15.041,5
5,6,Cheng Ran (CHN),6.8,8.066,None,14.866,6
6,7,Donnell Whittenburg (USA),6.1,8.266,None,14.366,7
7,8,Nikolai Kuksenkov (RUS),6.5,7.166,None,13.666,8

In [183]:
df['Name'] = df['Gymnast'].str.split().str[:2].apply(' '.join)

In [184]:
df['Gymnast'] = df['Gymnast'].str.split().str[2:].apply(' '.join)

In [185]:
# desired_columns = ['Rank','Name', 'Gymnast', 'D Score', 'E Score', 'Pen.']

# Create a new DataFrame with the desired column order
# df = df[desired_columns]

In [186]:
df

,Position,Gymnast,D Score,E Score,Penalty,Total,Rank,Name
0,"1st place, gold medalist(s)",(UKR),6.9,9.225,None,16.125,1,Oleg Verniaiev
1,"2nd place, silver medalist(s)",(USA),6.9,9.033,None,15.933,2,Danell Leyva
2,"3rd place, bronze medalist(s)",(JPN),6.7,8.966,None,15.666,3,Ryohei Kato
3,4,(CHN),7.1,8.533,None,15.633,4,Deng Shudi
4,5,(JPN),6.2,8.841,None,15.041,5,Yusuke Tanaka
5,6,(CHN),6.8,8.066,None,14.866,6,Cheng Ran
6,7,(USA),6.1,8.266,None,14.366,7,Donnell Whittenburg
7,8,(RUS),6.5,7.166,None,13.666,8,Nikolai Kuksenkov

In [187]:
df.rename(columns={'Gymnast': 'Nation', 'D Score': 'D', 'E Score':'E',}, inplace=True)

In [188]:
df

,Position,Nation,D,E,Penalty,Total,Rank,Name
0,"1st place, gold medalist(s)",(UKR),6.9,9.225,None,16.125,1,Oleg Verniaiev
1,"2nd place, silver medalist(s)",(USA),6.9,9.033,None,15.933,2,Danell Leyva
2,"3rd place, bronze medalist(s)",(JPN),6.7,8.966,None,15.666,3,Ryohei Kato
3,4,(CHN),7.1,8.533,None,15.633,4,Deng Shudi
4,5,(JPN),6.2,8.841,None,15.041,5,Yusuke Tanaka
5,6,(CHN),6.8,8.066,None,14.866,6,Cheng Ran
6,7,(USA),6.1,8.266,None,14.366,7,Donnell Whittenburg
7,8,(RUS),6.5,7.166,None,13.666,8,Nikolai Kuksenkov

In [189]:
df=df.drop(columns=['Position'])

In [190]:
df['round']='final'

In [191]:
df['Nation'] = df['Nation'].str.replace(r'\(|\)', '')

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_6042/3180239234.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Nation'] = df['Nation'].str.replace(r'\(|\)', '')

In [192]:
df['Penalty']=df['Penalty'].fillna(0)

In [193]:
pac14rim=df.copy()

In [194]:
pac14rim['year']=2014

In [195]:
pac14rim_pb=pac14rim.copy()

In [196]:
pac14rim_pb

  Nation    D      E  Penalty   Total  Rank                 Name  round  year
0    UKR  6.9  9.225        0  16.125     1       Oleg Verniaiev  final  2014
1    USA  6.9  9.033        0  15.933     2         Danell Leyva  final  2014
2    JPN  6.7  8.966        0  15.666     3          Ryohei Kato  final  2014
3    CHN  7.1  8.533        0  15.633     4           Deng Shudi  final  2014
4    JPN  6.2  8.841        0  15.041     5        Yusuke Tanaka  final  2014
5    CHN  6.8  8.066        0  14.866     6            Cheng Ran  final  2014
6    USA  6.1  8.266        0  14.366     7  Donnell Whittenburg  final  2014
7    RUS  6.5  7.166        0  13.666     8    Nikolai Kuksenkov  final  2014

In [197]:
medal_names = ['Oleg Verniaiev', 'Danell Leyva	', 'David Belyavskiy']

# Create a new column 'Medal' with 1 for names in the list, 0 otherwise
pac14rim_pb['Medal'] = pac14rim_pb['Name'].apply(lambda x: 1 if x in medal_names else 0)

In [198]:
pac14rim_pb

,Nation,D,E,Penalty,Total,Rank,Name,round,year,Medal
0,UKR,6.9,9.225,0,16.125,1,Oleg Verniaiev,final,2014,1
1,USA,6.9,9.033,0,15.933,2,Danell Leyva,final,2014,0
2,JPN,6.7,8.966,0,15.666,3,Ryohei Kato,final,2014,0
3,CHN,7.1,8.533,0,15.633,4,Deng Shudi,final,2014,0
4,JPN,6.2,8.841,0,15.041,5,Yusuke Tanaka,final,2014,0
5,CHN,6.8,8.066,0,14.866,6,Cheng Ran,final,2014,0
6,USA,6.1,8.266,0,14.366,7,Donnell Whittenburg,final,2014,0
7,RUS,6.5,7.166,0,13.666,8,Nikolai Kuksenkov,final,2014,0

In [200]:
pac14rim_pb.rename(columns={'Name': 'Athlete', 'Penalty': 'ND', 'Medal':'medal',}, inplace=True)

In [201]:
pac14rim_pb

,Nation,D,E,ND,Total,Rank,Athlete,round,year,medal
0,UKR,6.9,9.225,0,16.125,1,Oleg Verniaiev,final,2014,1
1,USA,6.9,9.033,0,15.933,2,Danell Leyva,final,2014,0
2,JPN,6.7,8.966,0,15.666,3,Ryohei Kato,final,2014,0
3,CHN,7.1,8.533,0,15.633,4,Deng Shudi,final,2014,0
4,JPN,6.2,8.841,0,15.041,5,Yusuke Tanaka,final,2014,0
5,CHN,6.8,8.066,0,14.866,6,Cheng Ran,final,2014,0
6,USA,6.1,8.266,0,14.366,7,Donnell Whittenburg,final,2014,0
7,RUS,6.5,7.166,0,13.666,8,Nikolai Kuksenkov,final,2014,0

In [202]:
desired_columns = ['Rank', 'Athlete', 'Nation', 'D', 'E', 'ND', 'year', 'round', 'Total',
       'medal']

# Create a new DataFrame with the desired column order
pac14rim_pb = pac14rim_pb[desired_columns]

In [204]:
pac14rim_pb

,Rank,Athlete,Nation,D,E,ND,year,round,Total,medal
0,1,Oleg Verniaiev,UKR,6.9,9.225,0,2014,final,16.125,1
1,2,Danell Leyva,USA,6.9,9.033,0,2014,final,15.933,0
2,3,Ryohei Kato,JPN,6.7,8.966,0,2014,final,15.666,0
3,4,Deng Shudi,CHN,7.1,8.533,0,2014,final,15.633,0
4,5,Yusuke Tanaka,JPN,6.2,8.841,0,2014,final,15.041,0
5,6,Cheng Ran,CHN,6.8,8.066,0,2014,final,14.866,0
6,7,Donnell Whittenburg,USA,6.1,8.266,0,2014,final,14.366,0
7,8,Nikolai Kuksenkov,RUS,6.5,7.166,0,2014,final,13.666,0

In [206]:
# pac14rim_pb.to_csv('pac14rim_pb.csv', index=False)

## 15 euro games

In [209]:
import pandas as pd

data = {
    'Position': ['1st place, gold medalist(s)', '2nd place, silver medalist(s)', '2nd place, silver medalist(s)', 4, 5, 6, 7, 8],
    'Gymnast': ['Oleg Verniaiev (UKR)', 'Marius Berbecar (ROU)', 'Christian Baumann (SUI)', 'Oleg Stepko (AZE)', 'Andrei Muntean (ROU)', 'Petro Pakhnyuk (AZE)', 'Ferhat Arıcan (TUR)', 'Aliaksandr Tsarevich (BLR)'],
    'D Score': [6.900, 6.700, 6.400, 6.500, 6.600, 6.500, 6.200, 4.000],
    'E Score': [8.966, 8.600, 8.900, 8.766, 8.533, 8.466, 7.633, 8.733],
    'Penalty': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
    'Total': [15.866, 15.300, 15.300, 15.266, 15.133, 14.966, 13.833, 12.733]
}

df = pd.DataFrame(data)

df

,Position,Gymnast,D Score,E Score,Penalty,Total
0,"1st place, gold medalist(s)",Oleg Verniaiev (UKR),6.9,8.966,0.0,15.866
1,"2nd place, silver medalist(s)",Marius Berbecar (ROU),6.7,8.600,0.0,15.300
2,"2nd place, silver medalist(s)",Christian Baumann (SUI),6.4,8.900,0.0,15.300
3,4,Oleg Stepko (AZE),6.5,8.766,0.0,15.266
4,5,Andrei Muntean (ROU),6.6,8.533,0.0,15.133
5,6,Petro Pakhnyuk (AZE),6.5,8.466,0.0,14.966
6,7,Ferhat Arıcan (TUR),6.2,7.633,0.0,13.833
7,8,Aliaksandr Tsarevich (BLR),4.0,8.733,0.0,12.733

In [210]:
df['Rank'] = range(1, 9)

In [211]:
df['Name'] = df['Gymnast'].str.split().str[:2].apply(' '.join)

In [212]:
df['Gymnast'] = df['Gymnast'].str.split().str[2:].apply(' '.join)

In [217]:
df

  Nation    D      E  Penalty   Total  Rank                  Name  round
0    UKR  6.9  8.966      0.0  15.866     1        Oleg Verniaiev  final
1    ROU  6.7  8.600      0.0  15.300     2       Marius Berbecar  final
2    SUI  6.4  8.900      0.0  15.300     3     Christian Baumann  final
3    AZE  6.5  8.766      0.0  15.266     4           Oleg Stepko  final
4    ROU  6.6  8.533      0.0  15.133     5        Andrei Muntean  final
5    AZE  6.5  8.466      0.0  14.966     6        Petro Pakhnyuk  final
6    TUR  6.2  7.633      0.0  13.833     7         Ferhat Arıcan  final
7    BLR  4.0  8.733      0.0  12.733     8  Aliaksandr Tsarevich  final

In [214]:
df.rename(columns={'Gymnast': 'Nation', 'D Score': 'D', 'E Score':'E',}, inplace=True)

In [215]:
df=df.drop(columns=['Position'])
df['round']='final'

In [216]:
df['Nation'] = df['Nation'].str.replace(r'\(|\)', '')

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_6042/3180239234.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Nation'] = df['Nation'].str.replace(r'\(|\)', '')

In [218]:
df['Penalty']=df['Penalty'].fillna(0)

In [220]:
df['year']=2015

In [221]:
medal_names = ['Oleg Verniaiev', 'Danell Leyva	', 'David Belyavskiy']

# Create a new column 'Medal' with 1 for names in the list, 0 otherwise
df['Medal'] = df['Name'].apply(lambda x: 1 if x in medal_names else 0)

In [222]:
df

,Nation,D,E,Penalty,Total,Rank,Name,round,year,Medal
0,UKR,6.9,8.966,0.0,15.866,1,Oleg Verniaiev,final,2015,1
1,ROU,6.7,8.600,0.0,15.300,2,Marius Berbecar,final,2015,0
2,SUI,6.4,8.900,0.0,15.300,3,Christian Baumann,final,2015,0
3,AZE,6.5,8.766,0.0,15.266,4,Oleg Stepko,final,2015,0
4,ROU,6.6,8.533,0.0,15.133,5,Andrei Muntean,final,2015,0
5,AZE,6.5,8.466,0.0,14.966,6,Petro Pakhnyuk,final,2015,0
6,TUR,6.2,7.633,0.0,13.833,7,Ferhat Arıcan,final,2015,0
7,BLR,4.0,8.733,0.0,12.733,8,Aliaksandr Tsarevich,final,2015,0

In [224]:
df.rename(columns={'Name': 'Athlete', 'Penalty': 'ND', 'Medal':'medal',}, inplace=True)

In [226]:
desired_columns = ['Rank', 'Athlete', 'Nation', 'D', 'E', 'ND', 'year', 'round', 'Total',
       'medal']

# Create a new DataFrame with the desired column order
df = df[desired_columns]

In [227]:
df

,Rank,Athlete,Nation,D,E,ND,year,round,Total,medal
0,1,Oleg Verniaiev,UKR,6.9,8.966,0.0,2015,final,15.866,1
1,2,Marius Berbecar,ROU,6.7,8.600,0.0,2015,final,15.300,0
2,3,Christian Baumann,SUI,6.4,8.900,0.0,2015,final,15.300,0
3,4,Oleg Stepko,AZE,6.5,8.766,0.0,2015,final,15.266,0
4,5,Andrei Muntean,ROU,6.6,8.533,0.0,2015,final,15.133,0
5,6,Petro Pakhnyuk,AZE,6.5,8.466,0.0,2015,final,14.966,0
6,7,Ferhat Arıcan,TUR,6.2,7.633,0.0,2015,final,13.833,0
7,8,Aliaksandr Tsarevich,BLR,4.0,8.733,0.0,2015,final,12.733,0

In [228]:
eu15champ=df.copy()

In [229]:
# eu15champ.to_csv('eu15champ.csv', index=False)

In [16]:
import pandas as pd

import pandas as pd

data = {
    'Rank': [1, 2, 2, 4, 4, 6, 7, 8],
    'Name': ['KAMEYAMA Kohei', 'WHITLOCK Max', 'CORRAL BARRON Daniel', 'ZHANG Hongtao', 'BUSNARI Alberto', 'SELIGMAN Robert', 'PETROV Matvei', 'SELLATHURAI Prashanth'],
    'Country': ['JPN', 'GBR', 'MEX', 'CHN', 'ITA', 'CRO', 'RUS', 'AUS'],
    'D': [6.9, 7.2, 6.8, 6.6, 7.1, 6.4, 6.7, 6.6],
    'E': [8.933, 8.433, 8.833, 9.000, 8.500, 9.033, 8.716, 7.433],
    'Pen': [0, 0, 0, 0, 0, 0, 0, 0],
    'Score': [15.833, 15.633, 15.633, 15.600, 15.600, 15.433, 15.416, 14.033],
}



wrld13champ = pd.DataFrame(data)
wrld13champ.index += 1  # Add 1 to index to start from 1 instead of 0

wrld13champ

   Rank                   Name Country    D      E  Pen   Score
1     1         KAMEYAMA Kohei     JPN  6.9  8.933    0  15.833
2     2           WHITLOCK Max     GBR  7.2  8.433    0  15.633
3     2   CORRAL BARRON Daniel     MEX  6.8  8.833    0  15.633
4     4          ZHANG Hongtao     CHN  6.6  9.000    0  15.600
5     4        BUSNARI Alberto     ITA  7.1  8.500    0  15.600
6     6        SELIGMAN Robert     CRO  6.4  9.033    0  15.433
7     7          PETROV Matvei     RUS  6.7  8.716    0  15.416
8     8  SELLATHURAI Prashanth     AUS  6.6  7.433    0  14.033

In [17]:
wrld13champ['year']=2013

In [18]:
wrld13champ['round']='final'

In [19]:

wrld13champ['Name'] = wrld13champ['Name'].apply(lambda x: ' '.join(reversed(x.split())))

In [20]:
wrld13champ['Name']=wrld13champ['Name'].str.lower()

In [21]:
wrld13champ

   Rank                   Name Country    D      E  Pen   Score  year  round
1     1         kohei kameyama     JPN  6.9  8.933    0  15.833  2013  final
2     2           max whitlock     GBR  7.2  8.433    0  15.633  2013  final
3     2   daniel barron corral     MEX  6.8  8.833    0  15.633  2013  final
4     4          hongtao zhang     CHN  6.6  9.000    0  15.600  2013  final
5     4        alberto busnari     ITA  7.1  8.500    0  15.600  2013  final
6     6        robert seligman     CRO  6.4  9.033    0  15.433  2013  final
7     7          matvei petrov     RUS  6.7  8.716    0  15.416  2013  final
8     8  prashanth sellathurai     AUS  6.6  7.433    0  14.033  2013  final

In [25]:
medal_names = ['max whitlock', 'louis smith', 'alexander naddour']

# Create a new column 'Medal' with 1 for names in the list, 0 otherwise
wrld13champ['Medal'] = wrld13champ['Name'].apply(lambda x: 1 if x in medal_names else 0)

In [26]:
wrld13champ

,Rank,Name,Country,D,E,Pen,Score,year,round,Medal
1,1,kohei kameyama,JPN,6.9,8.933,0,15.833,2013,final,0
2,2,max whitlock,GBR,7.2,8.433,0,15.633,2013,final,1
3,2,daniel barron corral,MEX,6.8,8.833,0,15.633,2013,final,0
4,4,hongtao zhang,CHN,6.6,9.000,0,15.600,2013,final,0
5,4,alberto busnari,ITA,7.1,8.500,0,15.600,2013,final,0
6,6,robert seligman,CRO,6.4,9.033,0,15.433,2013,final,0
7,7,matvei petrov,RUS,6.7,8.716,0,15.416,2013,final,0
8,8,prashanth sellathurai,AUS,6.6,7.433,0,14.033,2013,final,0

In [29]:
wrld13champ.rename(columns={'Name': 'Athlete', 'Pen': 'ND', 'Medal':'medal', 
                            'Country': 'Nation', 'Score': 'Total'}, inplace=True)

In [30]:
desired_columns = ['Rank', 'Athlete', 'Nation', 'D', 'E', 'ND', 'year', 'round', 'Total',
       'medal']

# Create a new DataFrame with the desired column order
wrld13champ = wrld13champ[desired_columns]

In [31]:
wrld13champ

,Rank,Athlete,Nation,D,E,ND,year,round,Total,medal
1,1,kohei kameyama,JPN,6.9,8.933,0,2013,final,15.833,0
2,2,max whitlock,GBR,7.2,8.433,0,2013,final,15.633,1
3,2,daniel barron corral,MEX,6.8,8.833,0,2013,final,15.633,0
4,4,hongtao zhang,CHN,6.6,9.000,0,2013,final,15.600,0
5,4,alberto busnari,ITA,7.1,8.500,0,2013,final,15.600,0
6,6,robert seligman,CRO,6.4,9.033,0,2013,final,15.433,0
7,7,matvei petrov,RUS,6.7,8.716,0,2013,final,15.416,0
8,8,prashanth sellathurai,AUS,6.6,7.433,0,2013,final,14.033,0

In [33]:
# wrld13champ.to_csv('wrld13champ.csv', index=False)