In [1]:
import pandas as pd
import numpy as np

In [2]:
biles = pd.read_csv('biles.csv')

In [3]:
biles["Name"] = "Simone Biles"

In [4]:
carey = pd.read_csv('carey.csv')

In [5]:
blakely = pd.read_csv('blakely.csv')

In [6]:
chiles = pd.read_csv('chiles.csv')

In [7]:
dicello = pd.read_csv('dicello.csv')

In [8]:
jones = pd.read_csv('jones.csv')

In [9]:
jong= pd.read_csv('jong.csv')

In [10]:
lee = pd.read_csv('lee.csv')

In [11]:
matthews = pd.read_csv('matthews.csv')

In [12]:
miller = pd.read_csv('miller.csv')

In [13]:
roberson = pd.read_csv('roberson.csv')

In [14]:
sullivan = pd.read_csv('sullivan.csv')

In [15]:
suman = pd.read_csv('suman.csv')

In [16]:
wong = pd.read_csv('wong.csv')

In [17]:
lincoln = pd.read_csv('lincoln.csv')

In [18]:
lincoln = lincoln.rename(columns={'year': 'Date'})

In [28]:
combined_df = pd.concat([biles, carey, blakely, chiles,
                        dicello, jones, jong, lee, 
                        matthews, miller, roberson,
                        sullivan, suman, wong, lincoln], ignore_index=True)

In [29]:
combined_df = combined_df.drop(columns=["Gymnast"])

In [30]:
df = combined_df.copy()

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         334 non-null    object
 1   Competition  334 non-null    object
 2   Round        334 non-null    object
 3   VT           334 non-null    object
 4   UB           334 non-null    float64
 5   BB           334 non-null    float64
 6   FX           334 non-null    float64
 7   AA           334 non-null    float64
 8   Name         334 non-null    object
dtypes: float64(4), object(5)
memory usage: 23.6+ KB

In [32]:
# Define a function to remove asterisk from a value
def remove_asterisk(value):
    return float(value.rstrip('*')) if isinstance(value, str) else value

# Apply the function to the 'VT' column
df['VT'] = df['VT'].apply(remove_asterisk)

In [33]:
df["VT"].value_counts()

VT
0.000     70
14.100    11
14.350    11
14.300    11
14.200    10
          ..
14.833     1
12.550     1
15.000     1
13.784     1
14.050     1
Name: count, Length: 86, dtype: int64

In [34]:
df['VT'] = pd.to_numeric(df['VT'], errors='coerce')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         334 non-null    object
 1   Competition  334 non-null    object
 2   Round        334 non-null    object
 3   VT           334 non-null    float64
 4   UB           334 non-null    float64
 5   BB           334 non-null    float64
 6   FX           334 non-null    float64
 7   AA           334 non-null    float64
 8   Name         334 non-null    object
dtypes: float64(5), object(4)
memory usage: 23.6+ KB

In [36]:
df

,Date,Competition,Round,VT,UB,BB,FX,AA,Name
0,2021-07-23,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000,Simone Biles
1,2021-07-23,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000,Simone Biles
2,2021-07-23,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731,Simone Biles
3,2021-06-24,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533,Simone Biles
4,2021-06-24,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565,Simone Biles
...,...,...,...,...,...,...,...,...,...
329,2023,U.S. Championships,QF,14.100,12.300,13.250,14.350,54.000,Kaliya Lincoln
330,2023,U.S. Classic,AA,14.150,0.000,12.950,14.000,0.000,Kaliya Lincoln
331,2023,Winter Cup,AA,13.500,12.950,11.000,13.600,51.050,Kaliya Lincoln
332,2023,WOGA Classic,AA,0.000,13.300,0.000,0.000,0.000,Kaliya Lincoln
333,2023,Vegas Cup National Qualifier,AA,13.550,12.350,12.900,14.100,52.900,Kaliya Lincoln

In [37]:
 aa = df[df['AA'] > 0]

In [38]:
 apps = df[df['AA'] == 0]

In [39]:
aa

,Date,Competition,Round,VT,UB,BB,FX,AA,Name
2,2021-07-23,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731,Simone Biles
3,2021-06-24,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533,Simone Biles
4,2021-06-24,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565,Simone Biles
5,2021-06-03,U.S. Championships,AA,15.550,14.700,14.900,14.950,60.100,Simone Biles
6,2021-06-03,U.S. Championships,QF,15.800,14.750,14.350,14.650,59.550,Simone Biles
...,...,...,...,...,...,...,...,...,...
327,2023,U.S. Worlds Trials,AA,14.250,12.450,13.800,13.850,54.350,Kaliya Lincoln
328,2023,U.S. Championships,AA,13.900,9.900,12.950,14.050,50.800,Kaliya Lincoln
329,2023,U.S. Championships,QF,14.100,12.300,13.250,14.350,54.000,Kaliya Lincoln
331,2023,Winter Cup,AA,13.500,12.950,11.000,13.600,51.050,Kaliya Lincoln
333,2023,Vegas Cup National Qualifier,AA,13.550,12.350,12.900,14.100,52.900,Kaliya Lincoln

In [40]:
apps

,Date,Competition,Round,VT,UB,BB,FX,AA,Name
0,2021-07-23,Olympic Games,EF,0.000,0.000,14.000,0.000,0.0,Simone Biles
1,2021-07-23,Olympic Games,TF,13.766,0.000,0.000,0.000,0.0,Simone Biles
12,2021-07-23,Olympic Games,EF,12.416,0.000,0.000,14.366,0.0,Jade Carey
15,2021-06-24,U.S. Olympic Trials,AA,0.000,13.733,13.433,0.000,0.0,Jade Carey
19,2021-05-21,U.S. Classic,AA,0.000,13.800,12.750,0.000,0.0,Jade Carey
...,...,...,...,...,...,...,...,...,...
319,2022-08-18,U.S. Championships,AA,0.000,14.250,13.400,0.000,0.0,Leanne Wong
320,2022-08-18,U.S. Championships,QF,0.000,14.200,13.150,0.000,0.0,Leanne Wong
326,2023,U.S. Worlds Trials,EF,0.000,12.600,13.100,0.000,0.0,Kaliya Lincoln
330,2023,U.S. Classic,AA,14.150,0.000,12.950,14.000,0.0,Kaliya Lincoln
332,2023,WOGA Classic,AA,0.000,13.300,0.000,0.000,0.0,Kaliya Lincoln

In [41]:
# df.to_csv('individuals_combined.csv', index=False)