In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../../scraping/women/qual2008/scrape2008qual_team.csv')

In [3]:
df.tail(50)

,Team,vault_score,vault_rank,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,total_score,total_rank
34,Olivia Vivian(AUS),NaN,14.925,20.000,NaN,NaN,14.925,95.000,NaN,NaN,NaN
35,France,58.825,10.000,58.525,8.000,58.975,7.000,57.550,8.000,233.875,6.0
36,Marine Petit(FRA),14.850,31.000,14.325,48.000,14.800,29.000,14.375,32.000,58.350,20.0
37,Laetitia Dugain(FRA),14.350,52.000,14.625,34.000,14.975,26.000,14.325,33.000,58.275,22.0
38,Pauline Morel(FRA),14.275,55.000,14.800,24.000,13.750,69.000,14.625,20.000,57.450,29.0
39,Katheleen Lindor(FRA),14.900,26.000,14.700,30.000,14.575,40.000,NaN,44.175,64.000,NaN
40,Rose-Eliandre Bellemare(FRA),14.725,41.000,14.400,43.000,NaN,14.225,39.000,43.350,70.000,NaN
41,Marine Debauve(FRA),NaN,NaN,14.625,35.000,14.100,49.000,28.725,87.000,NaN,NaN
42,Brazil,59.450,5.000,58.425,10.000,56.675,11.000,59.250,5.000,233.800,7.0
43,Jade Barbosa(BRA),15.100,17.000,14.800,22.000,14.700,32.000,14.900,13.000,59.500,12.0
44,Ana Cláudia Silva(BRA),14.750,39.000,14.550,36.000,13.475,73.000,14.800,15.000,57.575,28.0
45,Ethiene Franco(BRA),14.175,61.000,14.100,55.000,14.400,42.000,14.275,35.000,56.950,36.0
46,Laís Souza(BRA),14.800,36.000,14.775,26.000,13.575,71.000,NaN,43.150,73.000,NaN
47,Daniele Hypólito(BRA),NaN,14.300,50.000,14.000,61.000,14.250,37.000,42.550,75.000,NaN
48,Daiane dos Santos(BRA),14.800,35.000,NaN,NaN,15.275,5.000,30.075,83.000,NaN,NaN
49,Japan,58.050,11.000,58.725,7.000,59.900,5.000,56.500,11.000,233.175,8.0
50,Koko Tsurumi(JPN),14.200,58.000,15.025,17.000,15.425,13.000,14.325,34.000,58.975,17.0
51,Kyoko Oshima(JPN),14.700,43.000,14.450,42.000,14.300,47.000,14.175,42.000,57.625,27.0
52,Miki Uemura(JPN),14.475,50.000,12.775,76.000,14.575,38.000,12.875,76.000,54.700,50.0
53,Yuko Shintake(JPN),14.675,48.000,NaN,15.050,23.000,14.175,41.000,43.900,67.000,NaN
54,Yu Minobe(JPN),14.050,68.000,14.525,37.000,NaN,13.825,59.000,42.400,76.000,NaN
55,Mayu Kuroda(JPN),NaN,14.725,28.000,14.850,28.000,NaN,29.575,84.000,NaN,NaN
56,Great Britain,59.325,7.000,57.875,11.000,57.450,10.000,57.775,7.000,232.425,9.0
57,Becky Downie(GBR),15.050,22.000,14.650,33.000,14.225,50.000,14.150,43.000,58.075,24.0
58,Imogen Cairns(GBR),14.850,30.000,13.475,68.000,14.175,51.000,14.550,23.000,57.050,33.0
59,Marissa King(GBR),14.875,28.000,13.475,69.000,14.325,46.000,13.750,62.000,56.425,42.0
60,Rebecca Wing(GBR),14.550,49.000,14.100,56.000,14.575,39.000,NaN,43.225,72.000,NaN
61,Hannah Whelan(GBR),13.500,79.000,NaN,14.325,45.000,14.125,46.000,41.950,77.000,NaN
62,Beth Tweddle(GBR),NaN,15.650,8.000,NaN,14.950,11.000,30.600,80.000,NaN,NaN
63,Italy,59.075,9.000,57.375,12.000,58.200,9.000,56.625,10.000,231.275,10.0
64,Vanessa Ferrari(ITA),14.825,34.000,14.050,58.000,14.775,31.000,14.650,18.000,58.300,21.0
65,Lia Parolari(ITA),14.075,67.000,14.375,45.000,15.175,18.000,14.575,22.000,58.200,23.0
66,Carlotta Giovannini(ITA),15.100,19.000,14.475,41.000,13.900,65.000,13.575,68.000,57.050,34.0
67,Francesca Benolli(ITA),15.075,21.000,14.475,40.000,13.850,66.000,13.600,66.000,57.000,35.0
68,Monica Bergamelli(ITA),13.900,71.000,NaN,14.350,44.000,NaN,28.250,89.000,NaN,NaN
69,Federica Macrì(ITA),NaN,13.550,66.000,NaN,13.800,60.000,27.350,91.000,NaN,NaN
70,Ukraine,58.000,12.000,60.625,4.000,59.700,6.000,52.800,12.000,231.125,11.0
71,Valentyna Holenkova(UKR),13.975,70.000,14.375,46.000,14.275,48.000,14.125,44.000,56.750,37.0
72,Alina Kozich(UKR),14.975,24.000,13.625,45.000,15.175,19.000,12.000,81.000,55.775,45.0
73,Iryna Krasnianska(UKR),14.200,59.000,14.250,52.000,15.025,25.000,NaN,43.475,69.000,NaN
74,Maryna Proskurina(UKR),14.850,31.000,NaN,14.625,34.000,13.675,65.000,43.150,74.000,NaN
75,Dariya Zgoba(UKR),NaN,15.675,7.000,14.875,27.000,NaN,30.550,81.000,NaN,NaN
76,Anastasiia Koval(UKR),NaN,16.325,3.000,NaN,13.000,74.000,29.325,85.000,NaN,NaN
77,Germany,59.150,8.000,59.150,5.000,55.825,12.000,56.675,9.000,230.800,12.0
78,Oksana Chusovitina(GER),15.800,4.000,14.725,27.000,14.400,43.000,14.450,30.000,59.375,14.0
79,Katja Abel(GER),14.250,56.000,14.650,32.000,14.075,58.000,13.475,69.000,56.450,40.0
80,Daria Bijak(GER),14.175,62.000,14.650,31.000,11.150,83.000,14.475,28.000,54.450,51.0
81,Marie-Sophie Hindermann(GER),14.925,25.000,13.125,74.000,13.425,74.000,12.400,79.000,53.875,55.0
82,Joeline Möbius(GER),13.675,76.000,NaN,13.925,64.000,14.275,36.000,41.875,78.000,NaN
83,Anja Brinker(GER),NaN,15.125,14.000,NaN,NaN,15.125,93.000,NaN,NaN,NaN

In [4]:
# Select rows 0 and 5 and create a new DataFrame
new_df = pd.concat([df.iloc[0], df.iloc[7], df.iloc[14], df.iloc[28], df.iloc[35],
                   df.iloc[42], df.iloc[49], df.iloc[56], df.iloc[63],
                   df.iloc[70], df.iloc[77]], axis=1).transpose()

# Drop rows 0 and 5 from the original DataFrame
df = df.drop([0, 7, 14, 28, 35, 42, 49, 56, 63, 70, 77])

# Reset the index of the original DataFrame
df = df.reset_index(drop=True)

In [5]:
new_df

,Team,vault_score,vault_rank,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,total_score,total_rank
0,China,61.825,2.0,62.65,1.0,63.05,2.0,60.75,1.0,248.275,1.0
7,United States,62.225,1.0,61.125,3.0,63.4,1.0,60.05,2.0,246.8,2.0
14,Russia,60.85,3.0,61.775,2.0,62.0,3.0,59.775,3.0,244.4,3.0
28,Australia,59.45,5.0,59.05,6.0,58.625,8.0,58.325,6.0,235.45,5.0
35,France,58.825,10.0,58.525,8.0,58.975,7.0,57.55,8.0,233.875,6.0
42,Brazil,59.45,5.0,58.425,10.0,56.675,11.0,59.25,5.0,233.8,7.0
49,Japan,58.05,11.0,58.725,7.0,59.9,5.0,56.5,11.0,233.175,8.0
56,Great Britain,59.325,7.0,57.875,11.0,57.45,10.0,57.775,7.0,232.425,9.0
63,Italy,59.075,9.0,57.375,12.0,58.2,9.0,56.625,10.0,231.275,10.0
70,Ukraine,58.0,12.0,60.625,4.0,59.7,6.0,52.8,12.0,231.125,11.0
77,Germany,59.15,8.0,59.15,5.0,55.825,12.0,56.675,9.0,230.8,12.0

In [6]:
df

,Team,vault_score,vault_rank,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,total_score,total_rank
0,Yang Yilin(CHN),15.200,12.000,16.650,1.000,15.500,11.000,15.000,10.000,62.350,3.0
1,Jiang Yuyuan(CHN),14.775,38.000,15.550,9.000,15.250,15.000,15.050,8.000,60.625,7.0
2,Deng Linlin(CHN),15.225,10.000,14.725,29.000,15.550,9.000,14.950,12.000,60.450,9.0
3,Cheng Fei(CHN),16.150,1.000,NaN,15.875,5.000,15.750,1.000,47.775,62.000,NaN
4,He Kexin(CHN),15.250,9.000,15.725,6.000,NaN,NaN,30.975,79.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
68,Katja Abel(GER),14.250,56.000,14.650,32.000,14.075,58.000,13.475,69.000,56.450,40.0
69,Daria Bijak(GER),14.175,62.000,14.650,31.000,11.150,83.000,14.475,28.000,54.450,51.0
70,Marie-Sophie Hindermann(GER),14.925,25.000,13.125,74.000,13.425,74.000,12.400,79.000,53.875,55.0
71,Joeline Möbius(GER),13.675,76.000,NaN,13.925,64.000,14.275,36.000,41.875,78.000,NaN
72,Anja Brinker(GER),NaN,15.125,14.000,NaN,NaN,15.125,93.000,NaN,NaN,NaN

In [7]:
# Extract data within parentheses and store it in a new column
df["Country"] = df['Team'].str.extract(r'\((.*?)\)')

df['Team'] = df['Team'].apply(lambda x: x.split('(')[0].strip())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Team          73 non-null     object
 1   vault_score   59 non-null     float64
 2   vault_rank    70 non-null     float64
 3   uneven_score  63 non-null     float64
 4   uneven_rank   65 non-null     float64
 5   bb_score      63 non-null     float64
 6   bb_rank       68 non-null     float64
 7   floor_score   69 non-null     float64
 8   floor_rank    68 non-null     float64
 9   total_score   57 non-null     float64
 10  total_rank    40 non-null     float64
 11  Country       72 non-null     object
dtypes: float64(10), object(2)
memory usage: 7.0+ KB

In [8]:
df

,Team,vault_score,vault_rank,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,total_score,total_rank,Country
0,Yang Yilin,15.200,12.000,16.650,1.000,15.500,11.000,15.000,10.000,62.350,3.0,CHN
1,Jiang Yuyuan,14.775,38.000,15.550,9.000,15.250,15.000,15.050,8.000,60.625,7.0,CHN
2,Deng Linlin,15.225,10.000,14.725,29.000,15.550,9.000,14.950,12.000,60.450,9.0,CHN
3,Cheng Fei,16.150,1.000,NaN,15.875,5.000,15.750,1.000,47.775,62.000,NaN,CHN
4,He Kexin,15.250,9.000,15.725,6.000,NaN,NaN,30.975,79.000,NaN,NaN,CHN
...,...,...,...,...,...,...,...,...,...,...,...,...
68,Katja Abel,14.250,56.000,14.650,32.000,14.075,58.000,13.475,69.000,56.450,40.0,GER
69,Daria Bijak,14.175,62.000,14.650,31.000,11.150,83.000,14.475,28.000,54.450,51.0,GER
70,Marie-Sophie Hindermann,14.925,25.000,13.125,74.000,13.425,74.000,12.400,79.000,53.875,55.0,GER
71,Joeline Möbius,13.675,76.000,NaN,13.925,64.000,14.275,36.000,41.875,78.000,NaN,GER
72,Anja Brinker,NaN,15.125,14.000,NaN,NaN,15.125,93.000,NaN,NaN,NaN,GER

In [9]:
df.fillna(0, inplace=True)
df

,Team,vault_score,vault_rank,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,total_score,total_rank,Country
0,Yang Yilin,15.200,12.000,16.650,1.000,15.500,11.000,15.000,10.000,62.350,3.0,CHN
1,Jiang Yuyuan,14.775,38.000,15.550,9.000,15.250,15.000,15.050,8.000,60.625,7.0,CHN
2,Deng Linlin,15.225,10.000,14.725,29.000,15.550,9.000,14.950,12.000,60.450,9.0,CHN
3,Cheng Fei,16.150,1.000,0.000,15.875,5.000,15.750,1.000,47.775,62.000,0.0,CHN
4,He Kexin,15.250,9.000,15.725,6.000,0.000,0.000,30.975,79.000,0.000,0.0,CHN
...,...,...,...,...,...,...,...,...,...,...,...,...
68,Katja Abel,14.250,56.000,14.650,32.000,14.075,58.000,13.475,69.000,56.450,40.0,GER
69,Daria Bijak,14.175,62.000,14.650,31.000,11.150,83.000,14.475,28.000,54.450,51.0,GER
70,Marie-Sophie Hindermann,14.925,25.000,13.125,74.000,13.425,74.000,12.400,79.000,53.875,55.0,GER
71,Joeline Möbius,13.675,76.000,0.000,13.925,64.000,14.275,36.000,41.875,78.000,0.0,GER
72,Anja Brinker,0.000,15.125,14.000,0.000,0.000,15.125,93.000,0.000,0.000,0.0,GER

In [10]:
df["Name"] = df["Team"]
df=df.drop(columns=["Team"])
df

,vault_score,vault_rank,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,total_score,total_rank,Country,Name
0,15.200,12.000,16.650,1.000,15.500,11.000,15.000,10.000,62.350,3.0,CHN,Yang Yilin
1,14.775,38.000,15.550,9.000,15.250,15.000,15.050,8.000,60.625,7.0,CHN,Jiang Yuyuan
2,15.225,10.000,14.725,29.000,15.550,9.000,14.950,12.000,60.450,9.0,CHN,Deng Linlin
3,16.150,1.000,0.000,15.875,5.000,15.750,1.000,47.775,62.000,0.0,CHN,Cheng Fei
4,15.250,9.000,15.725,6.000,0.000,0.000,30.975,79.000,0.000,0.0,CHN,He Kexin
...,...,...,...,...,...,...,...,...,...,...,...,...
68,14.250,56.000,14.650,32.000,14.075,58.000,13.475,69.000,56.450,40.0,GER,Katja Abel
69,14.175,62.000,14.650,31.000,11.150,83.000,14.475,28.000,54.450,51.0,GER,Daria Bijak
70,14.925,25.000,13.125,74.000,13.425,74.000,12.400,79.000,53.875,55.0,GER,Marie-Sophie Hindermann
71,13.675,76.000,0.000,13.925,64.000,14.275,36.000,41.875,78.000,0.0,GER,Joeline Möbius
72,0.000,15.125,14.000,0.000,0.000,15.125,93.000,0.000,0.000,0.0,GER,Anja Brinker

In [11]:
df.columns

Index(['vault_score', 'vault_rank', 'uneven_score', 'uneven_rank', 'bb_score',
       'bb_rank', 'floor_score', 'floor_rank', 'total_score', 'total_rank',
       'Country', 'Name'],
      dtype='object')

In [12]:
new_order = ['Country', 'Name','vault_score', 'vault_rank', 'uneven_score', 'uneven_rank', 'bb_score',
       'bb_rank', 'floor_score', 'floor_rank', 'total_score', 'total_rank']

df = df[new_order]

df

,Country,Name,vault_score,vault_rank,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,total_score,total_rank
0,CHN,Yang Yilin,15.200,12.000,16.650,1.000,15.500,11.000,15.000,10.000,62.350,3.0
1,CHN,Jiang Yuyuan,14.775,38.000,15.550,9.000,15.250,15.000,15.050,8.000,60.625,7.0
2,CHN,Deng Linlin,15.225,10.000,14.725,29.000,15.550,9.000,14.950,12.000,60.450,9.0
3,CHN,Cheng Fei,16.150,1.000,0.000,15.875,5.000,15.750,1.000,47.775,62.000,0.0
4,CHN,He Kexin,15.250,9.000,15.725,6.000,0.000,0.000,30.975,79.000,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
68,GER,Katja Abel,14.250,56.000,14.650,32.000,14.075,58.000,13.475,69.000,56.450,40.0
69,GER,Daria Bijak,14.175,62.000,14.650,31.000,11.150,83.000,14.475,28.000,54.450,51.0
70,GER,Marie-Sophie Hindermann,14.925,25.000,13.125,74.000,13.425,74.000,12.400,79.000,53.875,55.0
71,GER,Joeline Möbius,13.675,76.000,0.000,13.925,64.000,14.275,36.000,41.875,78.000,0.0
72,GER,Anja Brinker,0.000,15.125,14.000,0.000,0.000,15.125,93.000,0.000,0.000,0.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       73 non-null     object
 1   Name          73 non-null     object
 2   vault_score   73 non-null     float64
 3   vault_rank    73 non-null     float64
 4   uneven_score  73 non-null     float64
 5   uneven_rank   73 non-null     float64
 6   bb_score      73 non-null     float64
 7   bb_rank       73 non-null     float64
 8   floor_score   73 non-null     float64
 9   floor_rank    73 non-null     float64
 10  total_score   73 non-null     float64
 11  total_rank    73 non-null     float64
dtypes: float64(10), object(2)
memory usage: 7.0+ KB

In [15]:
df["year"] = 2008

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_52498/1862329029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year"] = 2008

In [16]:
df

,Country,Name,vault_score,vault_rank,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,total_score,total_rank,year
0,CHN,Yang Yilin,15.200,12.000,16.650,1.000,15.500,11.000,15.000,10.000,62.350,3.0,2008
1,CHN,Jiang Yuyuan,14.775,38.000,15.550,9.000,15.250,15.000,15.050,8.000,60.625,7.0,2008
2,CHN,Deng Linlin,15.225,10.000,14.725,29.000,15.550,9.000,14.950,12.000,60.450,9.0,2008
3,CHN,Cheng Fei,16.150,1.000,0.000,15.875,5.000,15.750,1.000,47.775,62.000,0.0,2008
4,CHN,He Kexin,15.250,9.000,15.725,6.000,0.000,0.000,30.975,79.000,0.000,0.0,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,GER,Katja Abel,14.250,56.000,14.650,32.000,14.075,58.000,13.475,69.000,56.450,40.0,2008
69,GER,Daria Bijak,14.175,62.000,14.650,31.000,11.150,83.000,14.475,28.000,54.450,51.0,2008
70,GER,Marie-Sophie Hindermann,14.925,25.000,13.125,74.000,13.425,74.000,12.400,79.000,53.875,55.0,2008
71,GER,Joeline Möbius,13.675,76.000,0.000,13.925,64.000,14.275,36.000,41.875,78.000,0.0,2008
72,GER,Anja Brinker,0.000,15.125,14.000,0.000,0.000,15.125,93.000,0.000,0.000,0.0,2008

In [17]:
# df.to_csv('clean2008qual_team.csv', index=False)  # Set index=False to exclude index column