In [1]:
import pandas as pd
import numpy as np

In [2]:
df12 = pd.read_csv('../../../scraping/men/olympics/olympic2012men_final/Gymnastics_ 2012_Olympics_Men\'s_artistic_vault.csv')
df16 = pd.read_csv('../../../scraping/men/olympics/olympic2016men/Gymnastics_ 2016_Olympics_Men\'s_artistic_vault.csv')
df20 = pd.read_csv('../../../scraping/men/olympics/mens202olympics_fianl/Gymnastics_ 2020_Olympics_Men\'s_artistic_vault.csv')

In [3]:
df12.head(3)

,Rank,Gymnast,Nation,vt1_D Score,vt1_E Score,vt1_Pen.,vt1_Vault Score,vt2_D Score,vt2_E Score,vt2_Pen.,vt2_Vault Score,Total
0,1,Yang Hak-seon,South Korea,7.4,9.066,NaN,16.466,7.0,9.600,NaN,16.600,16.533
1,2,Denis Ablyazin,Russia,7.0,9.433,NaN,16.433,7.2,9.166,NaN,16.366,16.399
2,3,Igor Radivilov,Ukraine,7.0,9.400,NaN,16.400,7.0,9.233,NaN,16.233,16.316

In [4]:
df16.head(3)

,Rank,Gymnast,Nation,vt1_D Score,vt1_E Score,vt1_Pen.,vt1_Vault Score,vt2_D Score,vt2_E Score,vt2_Pen.,vt2_Vault Score,total
0,1,Ri Se-gwang,North Korea,6.4,9.216,NaN,15.616,6.4,9.366,NaN,15.766,15.691
1,2,Denis Ablyazin,Russia,6.4,9.200,NaN,15.600,6.2,9.233,NaN,15.433,15.516
2,3,Kenzō Shirai,Japan,6.4,9.433,NaN,15.833,5.6,9.466,NaN,15.066,15.449

In [5]:
df20.head(3)

,Position,Gymnast,v1_D_Score,v1_E_Score,v1_Penalty,Score 1,v2_D_Score,v2_E_Score,Penalty,v2_Score 2,Total
0,NaN,Shin Jea-hwan(KOR),6.0,8.833,0.1,14.733,5.6,9.2+C333,NaN,14.833,14.783
1,NaN,Denis Ablyazin(ROC),5.6,9.166,NaN,14.766,5.6,9.2,NaN,14.800,14.783
2,NaN,Artur Davtyan(ARM),5.6,9.200,NaN,14.800,5.6,9.166,0.1,14.666,14.733

In [6]:
df20['year'] = 2020
df16['year'] = 2016
df12['year'] = 2012

In [7]:
df20['Nation'] = df20['Gymnast'].str.extract(r'\((.*?)\)')
df20['Gymnast'] = df20['Gymnast'].str.replace(r'\([^)]*\)', '', regex=True)

In [8]:
df20.rename(columns={'v1_D_Score': 'vt1_D Score',
                    'v1_E_Score': 'vt1_E Score',
                    'v1_Penalty': 'vt1_Pen.',
                    'Score 1': 'vt1_Vault Score',
                    'v2_D_Score': 'vt2_D Score',
                    'v2_E_Score': 'vt2_E Score',
                    'Penalty':  'vt2_Pen.', 'v2_Score 2': 'vt2_Vault Score',
                    'Position': 'Rank'}, inplace=True)

In [9]:
df16.rename(columns={'total': 'Total'}, inplace=True)

In [10]:
combined_df = pd.concat([df12, df16, df20], axis=0)

# Reset the index if needed
combined_df.reset_index(drop=True, inplace=True)

In [11]:
df= combined_df.copy()

In [12]:
df = df.fillna(0)

In [13]:
df

,Rank,Gymnast,Nation,vt1_D Score,vt1_E Score,vt1_Pen.,vt1_Vault Score,vt2_D Score,vt2_E Score,vt2_Pen.,vt2_Vault Score,Total,year
0,1.0,Yang Hak-seon,South Korea,7.4,9.066,0.0,16.466,7.0,9.6,0.0,16.600,16.533,2012
1,2.0,Denis Ablyazin,Russia,7.0,9.433,0.0,16.433,7.2,9.166,0.0,16.366,16.399,2012
2,3.0,Igor Radivilov,Ukraine,7.0,9.400,0.0,16.400,7.0,9.233,0.0,16.233,16.316,2012
3,4.0,Tomás González,Chile,7.0,9.400,0.0,16.400,6.6,9.366,0.0,15.966,16.183,2012
4,5.0,Sam Mikulak,United States,7.0,9.100,0.0,16.100,6.6,9.4,0.0,16.000,16.050,2012
5,6.0,Isaac Botella,Spain,6.6,9.300,0.0,15.900,6.6,9.233,0.0,15.833,15.866,2012
6,7.0,Flavius Koczi,Romania,7.0,9.200,0.1,16.100,6.2,9.066,0.1,15.166,15.633,2012
7,8.0,Kristian Thomas,Great Britain,7.0,9.366,0.0,16.366,6.6,8.2,0.1,14.700,15.533,2012
8,1.0,Ri Se-gwang,North Korea,6.4,9.216,0.0,15.616,6.4,9.366,0.0,15.766,15.691,2016
9,2.0,Denis Ablyazin,Russia,6.4,9.200,0.0,15.600,6.2,9.233,0.0,15.433,15.516,2016
10,3.0,Kenzō Shirai,Japan,6.4,9.433,0.0,15.833,5.6,9.466,0.0,15.066,15.449,2016
11,4.0,Marian Drăgulescu,Romania,6.0,9.266,0.0,15.266,6.2,9.433,0.0,15.633,15.449,2016
12,5.0,Nikita Nagornyy,Russia,6.0,9.233,0.0,15.233,6.0,9.4,0.0,15.400,15.316,2016
13,6.0,Oleg Verniaiev,Ukraine,6.0,9.400,0.0,15.400,6.0,9.233,0.0,15.233,15.316,2016
14,7.0,Tomás González,Chile,6.0,9.375,0.0,15.375,5.6,9.3,0.0,14.900,15.137,2016
15,8.0,Ihor Radivilov,Ukraine,7.0,7.933,0.0,14.933,6.0,9.133,0.0,15.133,15.033,2016
16,0.0,Shin Jea-hwan,KOR,6.0,8.833,0.1,14.733,5.6,9.2+C333,0.0,14.833,14.783,2020
17,0.0,Denis Ablyazin,ROC,5.6,9.166,0.0,14.766,5.6,9.2,0.0,14.800,14.783,2020
18,0.0,Artur Davtyan,ARM,5.6,9.200,0.0,14.800,5.6,9.166,0.1,14.666,14.733,2020
19,4.0,Carlos Yulo,PHI,5.6,9.066,0.1,14.566,5.6,9.266,0.0,14.866,14.716,2020
20,5.0,Nikita Nagornyy,ROC,5.6,9.233,0.0,14.833,5.6,9,0.0,14.600,14.716,2020
21,6.0,Adem Asil,TUR,6.0,9.266,0.0,15.266,5.6,8.033,0.0,13.633,14.449,2020
22,7.0,Ahmet Önder,TUR,5.2,8.633,0.0,13.833,5.2,9.1,0.0,14.300,14.066,2020
23,8.0,Caio Souza,BRA,5.6,8.866,0.0,14.466,5.2,7.7,0.0,12.900,13.683,2020

In [14]:
df['Nation'].value_counts()

Nation
Russia           3
Ukraine          3
Chile            2
Romania          2
ROC              2
TUR              2
South Korea      1
United States    1
Spain            1
Great Britain    1
North Korea      1
Japan            1
KOR              1
ARM              1
PHI              1
BRA              1
Name: count, dtype: int64

In [15]:
# Use the replace method to change values
df['Nation'] = df['Nation'].replace({'China': 'CHN', 'Japan': 'JPN',
                                    'Russia': 'RUS', 'Romania': 'RUM',
                                    'Germany': 'GER', 'Cuba': 'CUB',
                                    'United States': 'USA', 'Ukraine': 'UKR',
                                    'Greece': 'GRE', 'Mexico': 'MEX',
                                    'France': 'FRA', 'Netherlands': 'NED',
                                    'Brazil': 'BRA', "Great Britain": 'GBR',
                                    'South Korea': 'KOR', 'Hungary': 'HUN',
                                    'Armenia': 'ARM', 'Spain': 'ESP', 
                                    'North Korea': 'PRK', 'Chile': 'CHI'})

In [16]:
df

,Rank,Gymnast,Nation,vt1_D Score,vt1_E Score,vt1_Pen.,vt1_Vault Score,vt2_D Score,vt2_E Score,vt2_Pen.,vt2_Vault Score,Total,year
0,1.0,Yang Hak-seon,KOR,7.4,9.066,0.0,16.466,7.0,9.6,0.0,16.600,16.533,2012
1,2.0,Denis Ablyazin,RUS,7.0,9.433,0.0,16.433,7.2,9.166,0.0,16.366,16.399,2012
2,3.0,Igor Radivilov,UKR,7.0,9.400,0.0,16.400,7.0,9.233,0.0,16.233,16.316,2012
3,4.0,Tomás González,CHI,7.0,9.400,0.0,16.400,6.6,9.366,0.0,15.966,16.183,2012
4,5.0,Sam Mikulak,USA,7.0,9.100,0.0,16.100,6.6,9.4,0.0,16.000,16.050,2012
5,6.0,Isaac Botella,ESP,6.6,9.300,0.0,15.900,6.6,9.233,0.0,15.833,15.866,2012
6,7.0,Flavius Koczi,RUM,7.0,9.200,0.1,16.100,6.2,9.066,0.1,15.166,15.633,2012
7,8.0,Kristian Thomas,GBR,7.0,9.366,0.0,16.366,6.6,8.2,0.1,14.700,15.533,2012
8,1.0,Ri Se-gwang,PRK,6.4,9.216,0.0,15.616,6.4,9.366,0.0,15.766,15.691,2016
9,2.0,Denis Ablyazin,RUS,6.4,9.200,0.0,15.600,6.2,9.233,0.0,15.433,15.516,2016
10,3.0,Kenzō Shirai,JPN,6.4,9.433,0.0,15.833,5.6,9.466,0.0,15.066,15.449,2016
11,4.0,Marian Drăgulescu,RUM,6.0,9.266,0.0,15.266,6.2,9.433,0.0,15.633,15.449,2016
12,5.0,Nikita Nagornyy,RUS,6.0,9.233,0.0,15.233,6.0,9.4,0.0,15.400,15.316,2016
13,6.0,Oleg Verniaiev,UKR,6.0,9.400,0.0,15.400,6.0,9.233,0.0,15.233,15.316,2016
14,7.0,Tomás González,CHI,6.0,9.375,0.0,15.375,5.6,9.3,0.0,14.900,15.137,2016
15,8.0,Ihor Radivilov,UKR,7.0,7.933,0.0,14.933,6.0,9.133,0.0,15.133,15.033,2016
16,0.0,Shin Jea-hwan,KOR,6.0,8.833,0.1,14.733,5.6,9.2+C333,0.0,14.833,14.783,2020
17,0.0,Denis Ablyazin,ROC,5.6,9.166,0.0,14.766,5.6,9.2,0.0,14.800,14.783,2020
18,0.0,Artur Davtyan,ARM,5.6,9.200,0.0,14.800,5.6,9.166,0.1,14.666,14.733,2020
19,4.0,Carlos Yulo,PHI,5.6,9.066,0.1,14.566,5.6,9.266,0.0,14.866,14.716,2020
20,5.0,Nikita Nagornyy,ROC,5.6,9.233,0.0,14.833,5.6,9,0.0,14.600,14.716,2020
21,6.0,Adem Asil,TUR,6.0,9.266,0.0,15.266,5.6,8.033,0.0,13.633,14.449,2020
22,7.0,Ahmet Önder,TUR,5.2,8.633,0.0,13.833,5.2,9.1,0.0,14.300,14.066,2020
23,8.0,Caio Souza,BRA,5.6,8.866,0.0,14.466,5.2,7.7,0.0,12.900,13.683,2020

In [18]:
# df.to_csv('cleaned_mens2012to2020vt', index=False)