In [1]:
import pandas as pd
import numpy as np

# Apparatus Models

In [2]:
import pandas as pd

data = {
    'Category': ['MEN', 'MEN', 'MEN', 'MEN', 'MEN', 'MEN', 'MEN', 'WOMEN', 'WOMEN', 'WOMEN', 'WOMEN', 'WOMEN'],
    'Subcategory': ['ph', 'pb', 'vt', 'sr', 'hb', 'fx', 'iaa', 'fx', 'vt', 'ub', 'bb', 'iaa'],
    'Classifier': ['AdaBoostClassifier', 'XGBClassifier', 'AdaBoost Classifier', 'AdaBoost Classifier', 'AdaBoost Classifier', 'AdaBoostClassifier', 'AdaBoost Classifier', 'AdaBoost Classifier', 'RandomForestClassifier', 'DecisionTreeClassifier', 'AdaBoostClassifier', 'AdaBoostClassifier'],
    'Note': [None, None, '*', '*', '*', '**', '*', '*', None, None, '*', '*']
}

df = pd.DataFrame(data)

In [3]:
df=df.drop(columns='Note')

In [4]:
df

   Category Subcategory              Classifier
0       MEN          ph      AdaBoostClassifier
1       MEN          pb           XGBClassifier
2       MEN          vt     AdaBoost Classifier
3       MEN          sr     AdaBoost Classifier
4       MEN          hb     AdaBoost Classifier
5       MEN          fx      AdaBoostClassifier
6       MEN         iaa     AdaBoost Classifier
7     WOMEN          fx     AdaBoost Classifier
8     WOMEN          vt  RandomForestClassifier
9     WOMEN          ub  DecisionTreeClassifier
10    WOMEN          bb      AdaBoostClassifier
11    WOMEN         iaa      AdaBoostClassifier

In [5]:
# df.to_csv('team_models.csv', index=False)

# Women Team

In [6]:
import pandas as pd

data = {
    'Algorithm': ['Tabu Search', 'Tabu Search', 'Variable Neighborhood Search (VNS)', 'Variable Neighborhood Search (VNS)', 'Hyper-Heuristics', 'Hyper-Heuristics', 'brute force', 'brute force', 'Stochastic control', 'Stochastic control',  'Constraint Satisfaction Problem (CSP)'],
    'IAA/Apparatus': ['IAA', 'Apparatus', 'IAA', 'Apparatus', 'IAA', 'Apparatus', 'IAA', 'Apparatus', 'IAA', 'Apparatus', 'IAA'],
    'Selected Athletes': [
        ['jade carey', 'jordan chiles', 'shilese jones', 'simone biles'],
        ['jade carey', 'konnor mcclain', 'shilese jones', 'simone biles'],
        ['shilese jones', 'simone biles', 'jordan chiles', 'jade carey'],
        ['simone biles', 'leanne wong', 'konnor mcclain', 'kayla dicello'],
        ['skye blakely', 'jade carey', 'shilese jones', 'simone biles'],
        ['christiane popovich', 'ashlee sullivan', 'shilese jones', 'simone biles'],
        ['jade carey', 'jordan chiles', 'shilese jones', 'simone biles'],
        ['addison fatta', 'jade carey', 'shilese jones', 'simone biles'],
        ['jade carey', 'jordan chiles', 'joscelyn roberson', 'simone biles'],
        ['addison fatta', 'annalisa milton', 'chloe cho', 'kelise woolford'],
        ['shilese jones', 'simone biles', 'jordan chiles', 'jade carey'],

    ],
    'Total Score': [171.33725, 170.79811666666666, 171.47074999999998, 166.038475, 169.963, 166.26328333333333, 169.96300000000002, 169.12011666666666, 156.9955, 141.70375, 171.33725]
}

df = pd.DataFrame(data)

df

,Algorithm,IAA/Apparatus,Selected Athletes,Total Score
0,Tabu Search,IAA,"[jade carey, jordan chiles, shilese jones, sim...",171.337250
1,Tabu Search,Apparatus,"[jade carey, konnor mcclain, shilese jones, si...",170.798117
2,Variable Neighborhood Search (VNS),IAA,"[shilese jones, simone biles, jordan chiles, j...",171.470750
3,Variable Neighborhood Search (VNS),Apparatus,"[simone biles, leanne wong, konnor mcclain, ka...",166.038475
4,Hyper-Heuristics,IAA,"[skye blakely, jade carey, shilese jones, simo...",169.963000
5,Hyper-Heuristics,Apparatus,"[christiane popovich, ashlee sullivan, shilese...",166.263283
6,brute force,IAA,"[jade carey, jordan chiles, shilese jones, sim...",169.963000
7,brute force,Apparatus,"[addison fatta, jade carey, shilese jones, sim...",169.120117
8,Stochastic control,IAA,"[jade carey, jordan chiles, joscelyn roberson,...",156.995500
9,Stochastic control,Apparatus,"[addison fatta, annalisa milton, chloe cho, ke...",141.703750
10,Constraint Satisfaction Problem (CSP),IAA,"[shilese jones, simone biles, jordan chiles, j...",171.337250

In [7]:
# df.to_csv('women_team.csv', index=False)

# Individual Sum

In [8]:
# Create DataFrame
result_df = df
# Add columns for each athlete
athletes = list(set(athlete for athletes_list in result_df['Selected Athletes'] for athlete in athletes_list))

for athlete in athletes:
    result_df[athlete] = result_df['Selected Athletes'].apply(lambda x: 1 if athlete in x else 0)

# Calculate the sum for each athlete column
athlete_sums = result_df.groupby('Algorithm')[athletes].sum()

In [9]:
# Assuming athlete_sums is your DataFrame
athlete_sums_transposed = athlete_sums.transpose()

# Add a new column 'Sum' which contains the sum of each row
athlete_sums_transposed['Sum'] = athlete_sums_transposed.sum(axis=1)

# Sort the DataFrame by the 'Sum' column in descending order
athlete_sums_transposed_sorted = athlete_sums_transposed.sort_values(by='Sum', ascending=False)

# Display the sorted DataFrame

In [10]:
df=athlete_sums_transposed.copy()

In [11]:
df = df.sort_values(by='Sum', ascending=False)

In [12]:
# Assuming athlete_sums_transposed_sorted is your DataFrame
df = df.reset_index(drop=False)

df

Algorithm,index,Constraint Satisfaction Problem (CSP),Hyper-Heuristics,Stochastic control,Tabu Search,Variable Neighborhood Search (VNS),brute force,Sum
0,simone biles,1,2,1,2,2,2,10
1,shilese jones,1,2,0,2,1,2,8
2,jade carey,1,1,1,2,1,2,8
3,jordan chiles,1,0,1,1,1,1,5
4,konnor mcclain,0,0,0,1,1,0,2
5,addison fatta,0,0,1,0,0,1,2
6,ashlee sullivan,0,1,0,0,0,0,1
7,chloe cho,0,0,1,0,0,0,1
8,kayla dicello,0,0,0,0,1,0,1
9,skye blakely,0,1,0,0,0,0,1
10,kelise woolford,0,0,1,0,0,0,1
11,joscelyn roberson,0,0,1,0,0,0,1
12,leanne wong,0,0,0,0,1,0,1
13,christiane popovich,0,1,0,0,0,0,1
14,annalisa milton,0,0,1,0,0,0,1

In [13]:
# df.to_csv('women_team_count.csv', index=False)

In [68]:
df = pd.read_csv('../scraping/women/iaa_w/top_women_iaa.csv')

In [70]:
df.columns = df.iloc[0]

# Drop the first row (optional if you don't need it as a separate row)
df = df[1:]

In [71]:
df

,Rank,Athlete,Nation,Meet,Score
1,1,Simone Biles,United States,U.S. Championships D1,59.3
2,2,Viktoria Listunova,Russia,Russian Championships AA,58.532
3,3,Angelina Melnikova,Russia,Russian Championships AA,58.166
4,4,Shilese Jones,United States,U.S. Championships D2,57.8
5,5,Alice D’Amato,Italy,Italian Championships AA,57.2
6,6,Rebeca Andrade,Brazil,World Championships TF,57.099
7,7,Manila Esposito,Italy,Italian Championships AA,57
8,8,Jessica Gadirova,Great Britain,World Championships QF,56.766
9,9,Mélanie De Jesus Dos Santos,France,World Championships TF,56.5
10,10,Zlata Osokina*,Russia,Russian Junior Championships AA,56.132
11,11,Lyudmila Roshchina*,Russia,Russian Junior Championships QF,55.965
12,12,Ekaterina Andreeva*,Russia,Russian Junior Championships AA,55.833
13,13,Leanne Wong,United States,U.S. Championships D2,55.75
14,14,Skye Blakely,United States,U.S. Championships D1,55.7
15,15,Leila Vasilieva,Russia,Russian Cup AA,55.6
16,16,Flavia Saraiva,Brazil,World Championships TF,55.532
17,17,Alice Kinsella,Great Britain,British Championships AA,55.3
18,18,Diana Kustova,Russia,Russian Cup QF,55.25
19,19,Zsofia Kovacs,Hungary,European Championships QF,55.231
20,20,Hezly Rivera*,United States,U.S.-Canada Junior Friendly,55.2
21,21,Elena Colas*,France,Top 12 Series 3,55.199
22,22,Ou Yushan,China,Summer Universiade QF,55.198
23,23,Georgia-Mae Fenton,Great Britain,Welsh Championships,55.1
24,24,Georgia Godwin,Australia,Australian Championships QF,55.066
25,25,Ellie Black,Canada,World Championships QF,55.065
26,26,Ondine Achampong,Great Britain,Welsh Championships,55.05
27,27,Qiu Qiyuan,China,Asian Championships AA,54.932
28,28,Joscelyn Roberson,United States,U.S. Worlds Trials,54.9
29,29,Ruby Pass,Australia,Australian Championships AA,54.832
30,30,Elena Gerasimova,Russia,Russian Championships AA,54.732
31,31,Elisa Iorio,Italy,Italian Championships AA,54.65
32,32,Jordan Chiles,United States,U.S. Championships D1,54.6
33,32,Miyata Shoko,Japan,Summer Universiade QF,54.6
34,34,Yamaguchi Sara*,Japan,All-Japan Championships QF,54.566
35,35,Helen Kevric*,Germany,German Junior Championships AA,54.467
36,36,Kayla DiCello,United States,U.S. Championships D2,54.4
37,37,Kaliya Lincoln,United States,U.S. Worlds Trials,54.35
38,38,Maria Agafonova,Russia,Russian Championships AA,54.332
39,38,Naomi Visser,Netherlands,World Championships QF,54.332
40,40,Zhang Jin,China,Asian Games QF,54.266
41,41,Nola Matthews,United States,U.S. Pan Ams Trials,54.2
42,41,Zoey Molomo*,United States,WOGA Classic,54.2
43,43,Kishi Rina,Japan,NHK Trophy,54.199
44,44,Sakaguchi Ayaka,Japan,Summer Universiade QF,54.198
45,45,Marissa Neal,United States,Parkettes National Qualifier,54.15
46,46,Lisa Vaelen,Belgium,European Championships AA,54.099
47,47,Eythora Thorsdottir,Netherlands,World Championships AA,54.098
48,48,Nakamura Haruka*,Japan,WOGA Classic,54.05
49,49,Ana Barbosu,Romania,Romanian Championships AA,54
50,50,Kaylia Nemour,Algeria,World Championships AA,53.966
51,50,Uliana Perebinosova,Russia,Russian Championships QF,53.966

In [75]:
usa = df[df['Nation']=='United States']

In [76]:
usa

0  Rank            Athlete         Nation                          Meet  Score
1     1       Simone Biles  United States         U.S. Championships D1   59.3
4     4      Shilese Jones  United States         U.S. Championships D2   57.8
13   13        Leanne Wong  United States         U.S. Championships D2  55.75
14   14       Skye Blakely  United States         U.S. Championships D1   55.7
20   20      Hezly Rivera*  United States   U.S.-Canada Junior Friendly   55.2
28   28  Joscelyn Roberson  United States            U.S. Worlds Trials   54.9
32   32      Jordan Chiles  United States         U.S. Championships D1   54.6
36   36      Kayla DiCello  United States         U.S. Championships D2   54.4
37   37     Kaliya Lincoln  United States            U.S. Worlds Trials  54.35
41   41      Nola Matthews  United States           U.S. Pan Ams Trials   54.2
42   41       Zoey Molomo*  United States                  WOGA Classic   54.2
45   45       Marissa Neal  United States  Parkettes National Qualifier  54.15

# Men's Team

In [14]:
import pandas as pd

data = {
    'Algorithm': ['Tabu Search', 'Tabu Search', 'Hyper-Heuristics', 'Hyper-Heuristics', 'Variable Neighborhood Search (VNS)', 'Variable Neighborhood Search (VNS)'],
    'IAA/Apparatus': ['IAA', 'Apparatus', 'IAA', 'Apparatus', 'IAA', 'Apparatus'],
    'Selected Athletes': [
        ['khoi young', 'asher hong', 'fred richard', 'yul moldauer'],
        ['frederick nathaniel richard', 'paul juda', 'khoi young', 'brody malone'],
        ['joshua karnes', 'ian lasic-ellis', 'asher hong', 'yul moldauer'],
        ['khoi young', 'paul juda', 'brody malone', 'fuzzy benas'],
        ['fuzzy benas', 'yul moldauer', 'asher hong', 'fred richard'],
        ['shane wiskus', 'khoi young', 'donnell whittenburg', 'brody malone'],
    ],
    'Total Score': [260.57900000000006, 253.19598690476192, 254.94, 250.58868690476191, 257.34200000000004, 251.11566666666667]
}

result_df = pd.DataFrame(data)

In [15]:
result_df

,Algorithm,IAA/Apparatus,Selected Athletes,Total Score
0,Tabu Search,IAA,"[khoi young, asher hong, fred richard, yul mol...",260.579000
1,Tabu Search,Apparatus,"[frederick nathaniel richard, paul juda, khoi ...",253.195987
2,Hyper-Heuristics,IAA,"[joshua karnes, ian lasic-ellis, asher hong, y...",254.940000
3,Hyper-Heuristics,Apparatus,"[khoi young, paul juda, brody malone, fuzzy be...",250.588687
4,Variable Neighborhood Search (VNS),IAA,"[fuzzy benas, yul moldauer, asher hong, fred r...",257.342000
5,Variable Neighborhood Search (VNS),Apparatus,"[shane wiskus, khoi young, donnell whittenburg...",251.115667

In [16]:
result_df.to_csv('men_team.csv', index=False)

# Sum of each Athlete

In [17]:

# Add columns for each athlete
athletes = list(set(athlete for athletes_list in result_df['Selected Athletes'] for athlete in athletes_list))

for athlete in athletes:
    result_df[athlete] = result_df['Selected Athletes'].apply(lambda x: 1 if athlete in x else 0)

# Calculate the sum for each athlete column
# ... (your previous code)

# Calculate the sum for each athlete column with preserving the index
athlete_sums = result_df.groupby('Algorithm', as_index=False)[athletes].sum()

In [18]:
# Assuming athlete_sums is your DataFrame
athlete_sums_transposed = athlete_sums.set_index('Algorithm').transpose()

# Or you can use the .T attribute
# athlete_sums_transposed = athlete_sums.set_index('Algorithm').T

# Resetting the index to add a new index
athlete_sums_transposed.reset_index(inplace=True)

# Rename the index to 'Name'
athlete_sums_transposed = athlete_sums_transposed.rename_axis('Name', axis=1)

In [19]:
df=athlete_sums_transposed.copy()

In [20]:
# Define the columns to be summed
columns_to_sum = ['Hyper-Heuristics', 'Tabu Search', 'Variable Neighborhood Search (VNS)']

# Add a new column 'Sum' that adds up specific columns
df['Sum'] = df[columns_to_sum].sum(axis=1)
df

Name,index,Hyper-Heuristics,Tabu Search,Variable Neighborhood Search (VNS),Sum
0,ian lasic-ellis,1,0,0,1
1,fred richard,0,1,1,2
2,donnell whittenburg,0,0,1,1
3,joshua karnes,1,0,0,1
4,paul juda,1,1,0,2
5,asher hong,1,1,1,3
6,khoi young,1,2,1,4
7,fuzzy benas,1,0,1,2
8,brody malone,1,1,1,3
9,yul moldauer,1,1,1,3
10,frederick nathaniel richard,0,1,0,1
11,shane wiskus,0,0,1,1

In [21]:
df = df.sort_values(by='Sum', ascending=False)

In [22]:
df

Name,index,Hyper-Heuristics,Tabu Search,Variable Neighborhood Search (VNS),Sum
6,khoi young,1,2,1,4
5,asher hong,1,1,1,3
8,brody malone,1,1,1,3
9,yul moldauer,1,1,1,3
1,fred richard,0,1,1,2
4,paul juda,1,1,0,2
7,fuzzy benas,1,0,1,2
0,ian lasic-ellis,1,0,0,1
2,donnell whittenburg,0,0,1,1
3,joshua karnes,1,0,0,1
10,frederick nathaniel richard,0,1,0,1
11,shane wiskus,0,0,1,1

In [23]:
# df.to_csv('men_team_count.csv', index=False)

# Mens Top AA Scores of 2023

In [27]:
import pandas as pd

data = {
    'Athlete': ['yul moldauer', 'fred richard', 'vitaliy guimaraes', 'khoi young', 'asher hong', 'ian lasic-ellis', 'colt walker', 'shane wiskus'],
    'Rank': [4.0, 28.0, 1.0, 34.0, 3.0, 7.0, 5.0, 5.0],
    'FX': [14.400, 14.483, 14.250, 13.550, 14.029, 13.650, 12.450, 13.700],
    'PH': [13.957, 13.357, 14.350, 15.342, 12.949, 13.500, 12.750, 13.250],
    'SR': [14.116, 13.350, 13.600, 12.550, 14.566, 13.950, 13.250, 14.250],
    'VT': [14.250, 14.000, 14.450, 15.244, 16.680, 13.700, 14.897, 13.750],
    'PB': [15.543, 14.450, 13.900, 13.750, 14.700, 14.500, 15.055, 14.050],
    'HB': [13.500, 14.962, 13.400, 13.100, 13.650, 13.300, 13.100, 12.200],
    'AA': [85.342, 84.602, 83.950, 83.536, 83.029, 81.905, 81.502, 81.200],
    'round': ['final', 'final', 'final', 'final', 'final', 'final', 'final', 'final'],
    'Nation': ['USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA'],
    'year': [2023, 2023, 2022, 2023, 2023, 2023, 2022, 2023]
}

top8AA_men = pd.DataFrame(data)

In [25]:
top8AA_men

,Athlete,Rank,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
0,yul moldauer,4.0,14.400,13.957,14.116,14.250,15.543,13.500,85.342,final,USA,2023
1,fred richard,28.0,14.483,13.357,13.350,14.000,14.450,14.962,84.602,final,USA,2023
2,vitaliy guimaraes,1.0,14.250,14.350,13.600,14.450,13.900,13.400,83.950,final,USA,2022
3,khoi young,34.0,13.550,15.342,12.550,15.244,13.750,13.100,83.536,final,USA,2023
4,asher hong,3.0,14.029,12.949,14.566,16.680,14.700,13.650,83.029,final,USA,2023
5,ian lasic-ellis,7.0,13.650,13.500,13.950,13.700,14.500,13.300,81.905,final,USA,2023
6,colt walker,5.0,12.450,12.750,13.250,14.897,15.055,13.100,81.502,final,USA,2022
7,shane wiskus,5.0,13.700,13.250,14.250,13.750,14.050,12.200,81.200,final,USA,2023

In [28]:
top8AA_men = top8AA_men.sort_values(by='AA', ascending=False)

In [29]:
top8AA_men

,Athlete,Rank,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
0,yul moldauer,4.0,14.400,13.957,14.116,14.250,15.543,13.500,85.342,final,USA,2023
1,fred richard,28.0,14.483,13.357,13.350,14.000,14.450,14.962,84.602,final,USA,2023
2,vitaliy guimaraes,1.0,14.250,14.350,13.600,14.450,13.900,13.400,83.950,final,USA,2022
3,khoi young,34.0,13.550,15.342,12.550,15.244,13.750,13.100,83.536,final,USA,2023
4,asher hong,3.0,14.029,12.949,14.566,16.680,14.700,13.650,83.029,final,USA,2023
5,ian lasic-ellis,7.0,13.650,13.500,13.950,13.700,14.500,13.300,81.905,final,USA,2023
6,colt walker,5.0,12.450,12.750,13.250,14.897,15.055,13.100,81.502,final,USA,2022
7,shane wiskus,5.0,13.700,13.250,14.250,13.750,14.050,12.200,81.200,final,USA,2023

In [26]:
top8AA_men.to_csv('men_top_AA.csv', index=False)