### Goal: pick 4 USA women's Gymnasts. Gymnasts cannot compete on the same appartaus more than once. And each apparatus needs to be competed on 3 times each, then get the largest sum of the top 3 out of 4 scores on each of the 4 apparatus.

## TABU Search vs Variable Neighborhood Search vs Hyper-Heuristics

Results:
1. TABU Search (performed very well)
2. Variable Neighborhood Search (same athletes as tabu from IAA data)
3. Hyper-Heuristics


# Tabu Search

### IAA

Selected Athletes:
['jade carey' 'jordan chiles' 'shilese jones' 'simone biles']
Total Score:
171.33725


### Apparatus

Selected Athletes:
['jade carey' 'konnor mcclain' 'shilese jones' 'simone biles']
Total Score:
170.79811666666666


#  Variable Neighborhood Search (VNS):


### IAA

Selected Athletes:
['shilese jones' 'simone biles' 'jordan chiles' 'jade carey']
Total Score:
171.47074999999998

### Apparatus

Selected Athletes:
['simone biles' 'leanne wong' 'konnor mcclain' 'kayla dicello']
Total Score:
166.038475


# Hyper-Heuristics

### IAA

Best Selection: ['skye blakely' 'jade carey' 'shilese jones' 'simone biles']
Best Score: 169.963


### Apparatus

Best Selection: ['christiane popovich' 'ashlee sullivan' 'shilese jones' 'simone biles']
Best Score: 166.26328333333333


# Mixed-Integer Linear Programming (MILP) 

### IAA
Selected Gymnasts:
jade carey
jordan chiles
shilese jones
simone biles

### Apparatus
Selected Gymnasts:
camryn richardson
chloe cho
emjae frazier
simone biles

# Brute Force

## IAA
###
Selected Athletes:
['jade carey', 'jordan chiles', 'shilese jones', 'simone biles']
Maximum Score:
169.96300000000002

### Apparatus

Selected Athletes:
['addison fatta', 'jade carey', 'shilese jones', 'simone biles']
Maximum Score:
169.12011666666666

---

In [3]:
import pandas as pd

data = {
    'Algorithm': ['Tabu Search', 'Tabu Search', 'Variable Neighborhood Search (VNS)', 'Variable Neighborhood Search (VNS)',
                   'Hyper-Heuristics', 'Hyper-Heuristics', 'CBC (Coin-or branch and cut) MILP solver', 'CBC (Coin-or branch and cut) MILP solver',
                   'Brute Force', 'Brute Force'],
    'IAA/Apparatus': ['IAA', 'Apparatus', 'IAA', 'Apparatus', 'IAA', 'Apparatus', 'IAA', 'Apparatus', 'IAA', 'Apparatus'],
    'Selected Athletes': [
        ['jade carey', 'jordan chiles', 'shilese jones', 'simone biles'],
        ['jade carey', 'konnor mcclain', 'shilese jones', 'simone biles'],
        ['shilese jones', 'simone biles', 'jordan chiles', 'jade carey'],
        ['simone biles', 'leanne wong', 'konnor mcclain', 'kayla dicello'],
        ['skye blakely', 'jade carey', 'shilese jones', 'simone biles'],
        ['christiane popovich', 'ashlee sullivan', 'shilese jones', 'simone biles'],
        ['jade carey', 'jordan chiles', 'shilese jones', 'simone biles'],
        ['camryn richardson', 'chloe cho', 'emjae frazier', 'simone biles'],
        ['jade carey', 'jordan chiles', 'shilese jones', 'simone biles'],
        ['addison fatta', 'jade carey', 'shilese jones', 'simone biles']
    ],
    'Total Score': [171.33725, 170.79811666666666, 171.47074999999998, 166.038475, 169.963, 166.26328333333333, None, None, 169.96300000000002, 169.12011666666666]
}

result_df = pd.DataFrame(data)


df = result_df.copy()
# Add columns for each athlete
athletes = list(set(athlete for athletes_list in result_df['Selected Athletes'] for athlete in athletes_list))

for athlete in athletes:
    result_df[athlete] = result_df['Selected Athletes'].apply(lambda x: 1 if athlete in x else 0)

# Calculate the sum for each athlete column
athlete_sums = result_df.groupby('Algorithm')[athletes].sum()

In [4]:
df

,Algorithm,IAA/Apparatus,Selected Athletes,Total Score
0,Tabu Search,IAA,"[jade carey, jordan chiles, shilese jones, sim...",171.337250
1,Tabu Search,Apparatus,"[jade carey, konnor mcclain, shilese jones, si...",170.798117
2,Variable Neighborhood Search (VNS),IAA,"[shilese jones, simone biles, jordan chiles, j...",171.470750
3,Variable Neighborhood Search (VNS),Apparatus,"[simone biles, leanne wong, konnor mcclain, ka...",166.038475
4,Hyper-Heuristics,IAA,"[skye blakely, jade carey, shilese jones, simo...",169.963000
5,Hyper-Heuristics,Apparatus,"[christiane popovich, ashlee sullivan, shilese...",166.263283
6,CBC (Coin-or branch and cut) MILP solver,IAA,"[jade carey, jordan chiles, shilese jones, sim...",NaN
7,CBC (Coin-or branch and cut) MILP solver,Apparatus,"[camryn richardson, chloe cho, emjae frazier, ...",NaN
8,Brute Force,IAA,"[jade carey, jordan chiles, shilese jones, sim...",169.963000
9,Brute Force,Apparatus,"[addison fatta, jade carey, shilese jones, sim...",169.120117

In [5]:
result_df

,Algorithm,IAA/Apparatus,Selected Athletes,Total Score,ashlee sullivan,konnor mcclain,shilese jones,jade carey,kayla dicello,leanne wong,camryn richardson,christiane popovich,jordan chiles,addison fatta,skye blakely,chloe cho,simone biles,emjae frazier
0,Tabu Search,IAA,"[jade carey, jordan chiles, shilese jones, sim...",171.337250,0,0,1,1,0,0,0,0,1,0,0,0,1,0
1,Tabu Search,Apparatus,"[jade carey, konnor mcclain, shilese jones, si...",170.798117,0,1,1,1,0,0,0,0,0,0,0,0,1,0
2,Variable Neighborhood Search (VNS),IAA,"[shilese jones, simone biles, jordan chiles, j...",171.470750,0,0,1,1,0,0,0,0,1,0,0,0,1,0
3,Variable Neighborhood Search (VNS),Apparatus,"[simone biles, leanne wong, konnor mcclain, ka...",166.038475,0,1,0,0,1,1,0,0,0,0,0,0,1,0
4,Hyper-Heuristics,IAA,"[skye blakely, jade carey, shilese jones, simo...",169.963000,0,0,1,1,0,0,0,0,0,0,1,0,1,0
5,Hyper-Heuristics,Apparatus,"[christiane popovich, ashlee sullivan, shilese...",166.263283,1,0,1,0,0,0,0,1,0,0,0,0,1,0
6,CBC (Coin-or branch and cut) MILP solver,IAA,"[jade carey, jordan chiles, shilese jones, sim...",NaN,0,0,1,1,0,0,0,0,1,0,0,0,1,0
7,CBC (Coin-or branch and cut) MILP solver,Apparatus,"[camryn richardson, chloe cho, emjae frazier, ...",NaN,0,0,0,0,0,0,1,0,0,0,0,1,1,1
8,Brute Force,IAA,"[jade carey, jordan chiles, shilese jones, sim...",169.963000,0,0,1,1,0,0,0,0,1,0,0,0,1,0
9,Brute Force,Apparatus,"[addison fatta, jade carey, shilese jones, sim...",169.120117,0,0,1,1,0,0,0,0,0,1,0,0,1,0

In [8]:
# df.to_csv('women_models.csv', index=False)
# result_df.to_csv('women_models_athletes.csv', index=False)

In [4]:
athlete_sums

,jordan chiles,simone biles,shilese jones,ashlee sullivan,kayla dicello,christiane popovich,emjae frazier,leanne wong,addison fatta,chloe cho,camryn richardson,jade carey,skye blakely,konnor mcclain
Algorithm,,,,,,,,,,,,,,
Brute Force,1,2,2,0,0,0,0,0,1,0,0,2,0,0
CBC (Coin-or branch and cut) MILP solver,1,2,1,0,0,0,1,0,0,1,1,1,0,0
Hyper-Heuristics,0,2,2,1,0,1,0,0,0,0,0,1,1,0
Tabu Search,1,2,2,0,0,0,0,0,0,0,0,2,0,1
Variable Neighborhood Search (VNS),1,2,1,0,1,0,0,1,0,0,0,1,0,1

In [5]:
athlete_sums.sum()

jordan chiles           4
simone biles           10
shilese jones           8
ashlee sullivan         1
kayla dicello           1
christiane popovich     1
emjae frazier           1
leanne wong             1
addison fatta           1
chloe cho               1
camryn richardson       1
jade carey              7
skye blakely            1
konnor mcclain          2
dtype: int64

In [6]:
import pandas as pd

# The result from athlete_sums.sum()
athlete_sum_entries = {
    'camryn richardson': 1,
    'leanne wong': 1,
    'simone biles': 10,
    'jordan chiles': 5,
    'shilese jones': 8,
    'emjae frazier': 1,
    'kayla dicello': 1,
    'konnor mcclain': 2,
    'skye blakely': 1,
    'christiane popovich': 1,
    'chloe cho': 1,
    'ashlee sullivan': 1,
    'jade carey': 7
}

# Create the DataFrame
athlete_sums_df = pd.DataFrame(list(athlete_sum_entries.items()), columns=['Athlete', 'Entries'])

In [7]:
athlete_sums_df.sort_values(by='Entries', ascending=False)

                Athlete  Entries
2          simone biles       10
4         shilese jones        8
12           jade carey        7
3         jordan chiles        5
7        konnor mcclain        2
0     camryn richardson        1
1           leanne wong        1
5         emjae frazier        1
6         kayla dicello        1
8          skye blakely        1
9   christiane popovich        1
10            chloe cho        1
11      ashlee sullivan        1