# WOMEN

# Tabu Search

### IAA

Selected Athletes:
['jade carey' 'jordan chiles' 'shilese jones' 'simone biles']
Total Score:
171.33725


### Apparatus

Selected Athletes:
['jade carey' 'konnor mcclain' 'shilese jones' 'simone biles']
Total Score:
170.79811666666666


#  Variable Neighborhood Search (VNS):


### IAA

Selected Athletes:
['shilese jones' 'simone biles' 'jordan chiles' 'jade carey']
Total Score:
171.47074999999998

### Apparatus

Selected Athletes:
['simone biles' 'leanne wong' 'konnor mcclain' 'kayla dicello']
Total Score:
166.038475


# Hyper-Heuristics

### IAA

Best Selection: ['skye blakely' 'jade carey' 'shilese jones' 'simone biles']
Best Score: 169.963


### Apparatus

Best Selection: ['christiane popovich' 'ashlee sullivan' 'shilese jones' 'simone biles']
Best Score: 166.26328333333333


# CBC (Coin-or branch and cut) MILP solver

### IAA
Selected Gymnasts:
jade carey
jordan chiles
shilese jones
simone biles

### Apparatus
Selected Gymnasts:
camryn richardson
chloe cho
emjae frazier
simone biles

---

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Data/cleandata22-23/usa22_23.csv')
df1 = pd.read_csv('../Cleaning/USOPC/usa_women_apparatus.csv')
iaa24 = pd.read_csv('../Combine_Data/women/iaa2024.csv')

In [3]:
usa = iaa24[iaa24['Nation'] == 'USA']

In [4]:
usa['Athlete'].value_counts()

Athlete
shilese jones        4
skye blakely         3
leanne wong          3
jade carey           2
jordan chiles        2
simone biles         2
joscelyn roberson    1
Name: count, dtype: int64

In [5]:
usa=usa.drop(columns=['round', 'year', 'Nation', 'Rank', 'AA'])

In [6]:
iaa = usa.groupby('Athlete').mean().reset_index()

In [7]:
df=iaa.copy()

In [8]:
df

             Athlete         VT         UB         BB         FX
0         jade carey  14.600000  13.333000  13.133000  14.066000
1      jordan chiles  14.466000  14.066000  11.366000  14.100000
2  joscelyn roberson  14.466000   0.000000   0.000000  13.633000
3        leanne wong  13.899333   4.555333   4.455333   4.400000
4      shilese jones  14.224750  14.649500  13.624750  13.700000
5       simone biles  15.183000  14.366500  14.499500  14.583000
6       skye blakely   0.000000  13.088333  13.110667   9.066667

In [9]:
df1 = df1.groupby('Name').sum().reset_index()

#  Variable Neighborhood Search (VNS):


## IAA

Selected Athletes:
['shilese jones' 'simone biles' 'jordan chiles' 'jade carey']
Total Score:
171.47074999999998

## Apparatus

Selected Athletes:
['simone biles' 'leanne wong' 'konnor mcclain' 'kayla dicello']
Total Score:
166.038475

---

## IAA

Selected Athletes:
['shilese jones' 'simone biles' 'jordan chiles' 'jade carey']
Total Score:
171.47074999999998

In [ ]:
df=iaa.copy()

In [ ]:
import pandas as pd
import numpy as np


# Define the number of athletes to select
num_athletes_to_select = 4

# Define the apparatuses
apparatuses = ['FX', 'UB', 'BB', 'VT']

# Define the neighborhood size
neighborhood_size = 2  # Adjust as needed

# Initialize the solution randomly
selected_athletes = np.random.choice(df['Athlete'], num_athletes_to_select, replace=False)

# Define a function to calculate the total score for a given solution
def calculate_total_score(selected_athletes):
    selected_scores = df[df['Athlete'].isin(selected_athletes)][apparatuses].values
    top_3_scores = np.sum(np.partition(selected_scores, -3)[:, -3:])
    return top_3_scores

# Define the main VNS algorithm
def variable_neighborhood_search(df, num_athletes_to_select, apparatuses, neighborhood_size, num_iterations):
    best_solution = None
    best_score = float('-inf')

    for iteration in range(num_iterations):
        # Shake: Generate a new solution by randomly changing athletes
        current_solution = np.random.choice(df['Athlete'], num_athletes_to_select, replace=False)
        
        for _ in range(neighborhood_size):
            # Local Search: Optimize the solution locally
            current_score = calculate_total_score(current_solution)
            
            # Perturb: Randomly change some athletes in the current solution
            perturbed_solution = np.random.choice(df['Athlete'], num_athletes_to_select, replace=False)
            perturbed_score = calculate_total_score(perturbed_solution)
            
            # Acceptance Criterion: Accept the perturbed solution if it improves the score
            if perturbed_score > current_score:
                current_solution = perturbed_solution
                current_score = perturbed_score

        # Update the best solution if the current one is better
        if current_score > best_score:
            best_solution = current_solution
            best_score = current_score

    return best_solution, best_score

# Run the VNS algorithm
best_solution, best_score = variable_neighborhood_search(df, num_athletes_to_select, apparatuses, neighborhood_size, num_iterations=1000)

# Print the result
print('Selected Athletes:')
print(best_solution)
print('Total Score:')
print(best_score)

## Apparatus

Selected Athletes:
['simone biles' 'leanne wong' 'konnor mcclain' 'kayla dicello']
Total Score:
166.038475

In [ ]:
df=df1.copy()

In [ ]:
import pandas as pd
import numpy as np


# Define the number of athletes to select
num_athletes_to_select = 4

# Define the apparatuses
apparatuses = ['FX', 'UB', 'BB', 'VT']

# Define the neighborhood size
neighborhood_size = 2  # Adjust as needed

# Initialize the solution randomly
selected_athletes = np.random.choice(df['Name'], num_athletes_to_select, replace=False)

# Define a function to calculate the total score for a given solution
def calculate_total_score(selected_athletes):
    selected_scores = df[df['Name'].isin(selected_athletes)][apparatuses].values
    top_3_scores = np.sum(np.partition(selected_scores, -3)[:, -3:])
    return top_3_scores

# Define the main VNS algorithm
def variable_neighborhood_search(df, num_athletes_to_select, apparatuses, neighborhood_size, num_iterations):
    best_solution = None
    best_score = float('-inf')

    for iteration in range(num_iterations):
        # Shake: Generate a new solution by randomly changing athletes
        current_solution = np.random.choice(df['Name'], num_athletes_to_select, replace=False)
        
        for _ in range(neighborhood_size):
            # Local Search: Optimize the solution locally
            current_score = calculate_total_score(current_solution)
            
            # Perturb: Randomly change some athletes in the current solution
            perturbed_solution = np.random.choice(df['Name'], num_athletes_to_select, replace=False)
            perturbed_score = calculate_total_score(perturbed_solution)
            
            # Acceptance Criterion: Accept the perturbed solution if it improves the score
            if perturbed_score > current_score:
                current_solution = perturbed_solution
                current_score = perturbed_score

        # Update the best solution if the current one is better
        if current_score > best_score:
            best_solution = current_solution
            best_score = current_score

    return best_solution, best_score

# Run the VNS algorithm
best_solution, best_score = variable_neighborhood_search(df, num_athletes_to_select, apparatuses, neighborhood_size, num_iterations=1000)

# Print the result
print('Selected Athletes:')
print(best_solution)
print('Total Score:')
print(best_score)

# Hyper-Heuristics

## IAA

Best Selection: ['skye blakely' 'jade carey' 'shilese jones' 'simone biles']
Best Score: 169.963


## Apparatus

Best Selection: ['christiane popovich' 'ashlee sullivan' 'shilese jones' 'simone biles']
Best Score: 166.26328333333333

---

## IAA

Best Selection: ['skye blakely' 'jade carey' 'shilese jones' 'simone biles']
Best Score: 169.963

In [ ]:
df=iaa.copy()

In [ ]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame
# df = ...

# Define the number of athletes to select
num_athletes_to_select = 4

# Define the apparatuses
apparatuses = ['FX', 'VT', 'BB', 'UB']

# Initialize variables to store the best solution
best_score = 0
best_selection = None

# Define the number of iterations for the hyper-heuristic
num_iterations = 1000

for _ in range(num_iterations):
    # Randomly select 4 athletes
    selected_athletes = np.random.choice(df['Athlete'], size=num_athletes_to_select, replace=False)

    # Calculate the score for the current selection
    scores = df[df['Athlete'].isin(selected_athletes)][apparatuses].sum(axis=1).nlargest(3).sum()

    # Update the best solution if the current one is better
    if scores > best_score:
        best_score = scores
        best_selection = selected_athletes

# Print the best selection and score
print("Best Selection:", best_selection)
print("Best Score:", best_score)

## Apparatus

Best Selection: ['christiane popovich' 'ashlee sullivan' 'shilese jones' 'simone biles']
Best Score: 166.26328333333333

In [ ]:
df=df1.copy()

In [ ]:
import pandas as pd
import numpy as np


# Define the number of athletes to select
num_athletes_to_select = 4

# Define the apparatuses
apparatuses = ['FX', 'VT', 'BB', 'UB']

# Initialize variables to store the best solution
best_score = 0
best_selection = None

# Define the number of iterations for the hyper-heuristic
num_iterations = 1000

for _ in range(num_iterations):
    # Randomly select 4 athletes
    selected_athletes = np.random.choice(df['Name'], size=num_athletes_to_select, replace=False)

    # Calculate the score for the current selection
    scores = df[df['Name'].isin(selected_athletes)][apparatuses].sum(axis=1).nlargest(3).sum()

    # Update the best solution if the current one is better
    if scores > best_score:
        best_score = scores
        best_selection = selected_athletes

# Print the best selection and score
print("Best Selection:", best_selection)
print("Best Score:", best_score)

# Tabu Search
## IAA

Selected Athletes:
['jade carey' 'jordan chiles' 'shilese jones' 'simone biles']
Total Score:
171.33725


## Apparatus

Selected Athletes:
['jade carey' 'konnor mcclain' 'shilese jones' 'simone biles']
Total Score:
170.79811666666666

---

## IAA
Selected Athletes:
['jade carey' 'jordan chiles' 'shilese jones' 'simone biles']
Total Score:
171.33725

In [ ]:
df=iaa.copy()

In [ ]:
import pandas as pd
import numpy as np

def calculate_score(selected_athletes, df):
    """
    Calculate the total score for a given set of selected athletes.
    """
    # Select rows corresponding to the chosen athletes
    selected_df = df[df['Athlete'].isin(selected_athletes)]

    # Calculate the sum of the top 3 scores for each apparatus
    apparatus_scores = selected_df.drop(['Athlete'], axis=1)
    top_3_sum = apparatus_scores.apply(lambda row: sum(sorted(row, reverse=True)[:3]), axis=0)

    # Calculate the total score
    total_score = top_3_sum.sum()

    return total_score




def tabu_search(df, num_athletes_to_select, tabu_size, max_iterations):
    # Initialize the solution with a random set of athletes
    available_athletes = df['Athlete'].tolist()
    current_solution = np.random.choice(available_athletes, size=num_athletes_to_select, replace=False)
    best_solution = current_solution.copy()
    best_score = calculate_score(best_solution, df)

    # Initialize tabu list
    tabu_list = []

    # Main Tabu Search loop
    for iteration in range(max_iterations):
        # Generate neighbors by swapping athletes
        neighbors = []
        for i in range(num_athletes_to_select):
            for athlete in df['Athlete']:
                if athlete not in current_solution:
                    neighbor = current_solution.copy()
                    neighbor[i] = athlete
                    neighbors.append(neighbor)

                    
                    
                best_neighbor = None
        best_neighbor_score = float('-inf')

        for neighbor in neighbors:
            neighbor_score = calculate_score(neighbor, df)

            # Convert the NumPy array to a tuple
            neighbor_tuple = tuple(neighbor)

            if neighbor_score > best_neighbor_score and neighbor_tuple not in tabu_list:
                best_neighbor = neighbor
                best_neighbor_score = neighbor_score

        # Update current solution and tabu list
        current_solution = best_neighbor
        tabu_list.append(tuple(best_neighbor))

        # Keep the tabu list size within the specified limit
        if len(tabu_list) > tabu_size:
            tabu_list.pop(0)

        # Update the best solution if a better one is found
        if best_neighbor_score > best_score:
            best_solution = best_neighbor
            best_score = best_neighbor_score

        # Print progress
        print(f"Iteration {iteration + 1}, Best Score: {best_score}")

    return best_solution, best_score

# Assuming df is your DataFrame
# df = ...

# Set parameters
num_athletes_to_select = 4
tabu_size = 10
max_iterations = 100

# Perform Tabu Search
best_solution, best_score = tabu_search(df, num_athletes_to_select, tabu_size, max_iterations)

# Print the selected athletes and the corresponding score
print('Selected Athletes:')
print(best_solution)
print('Total Score:')
print(best_score)

## Apparatus

Selected Athletes:
['jade carey' 'konnor mcclain' 'shilese jones' 'simone biles']
Total Score:
170.79811666666666

In [ ]:
df=df1.copy()

In [ ]:
import pandas as pd
import numpy as np

def calculate_score(selected_athletes, df):
    """
    Calculate the total score for a given set of selected athletes.
    """
    # Select rows corresponding to the chosen athletes
    selected_df = df[df['Name'].isin(selected_athletes)]

    # Calculate the sum of the top 3 scores for each apparatus
    apparatus_scores = selected_df.drop(['Name'], axis=1)
    top_3_sum = apparatus_scores.apply(lambda row: sum(sorted(row, reverse=True)[:3]), axis=0)

    # Calculate the total score
    total_score = top_3_sum.sum()

    return total_score




def tabu_search(df, num_athletes_to_select, tabu_size, max_iterations):
    # Initialize the solution with a random set of athletes
    available_athletes = df['Name'].tolist()
    current_solution = np.random.choice(available_athletes, size=num_athletes_to_select, replace=False)
    best_solution = current_solution.copy()
    best_score = calculate_score(best_solution, df)

    # Initialize tabu list
    tabu_list = []

    # Main Tabu Search loop
    for iteration in range(max_iterations):
        # Generate neighbors by swapping athletes
        neighbors = []
        for i in range(num_athletes_to_select):
            for athlete in df['Name']:
                if athlete not in current_solution:
                    neighbor = current_solution.copy()
                    neighbor[i] = athlete
                    neighbors.append(neighbor)

                    
                    
                best_neighbor = None
        best_neighbor_score = float('-inf')

        for neighbor in neighbors:
            neighbor_score = calculate_score(neighbor, df)

            # Convert the NumPy array to a tuple
            neighbor_tuple = tuple(neighbor)

            if neighbor_score > best_neighbor_score and neighbor_tuple not in tabu_list:
                best_neighbor = neighbor
                best_neighbor_score = neighbor_score

        # Update current solution and tabu list
        current_solution = best_neighbor
        tabu_list.append(tuple(best_neighbor))

        # Keep the tabu list size within the specified limit
        if len(tabu_list) > tabu_size:
            tabu_list.pop(0)

        # Update the best solution if a better one is found
        if best_neighbor_score > best_score:
            best_solution = best_neighbor
            best_score = best_neighbor_score

        # Print progress
        print(f"Iteration {iteration + 1}, Best Score: {best_score}")

    return best_solution, best_score

# Assuming df is your DataFrame
# df = ...

# Set parameters
num_athletes_to_select = 4
tabu_size = 10
max_iterations = 100

# Perform Tabu Search
best_solution, best_score = tabu_search(df, num_athletes_to_select, tabu_size, max_iterations)

# Print the selected athletes and the corresponding score
print('Selected Athletes:')
print(best_solution)
print('Total Score:')
print(best_score)

# Mixed-Integer Linear Programming (MILP) 

## IAA
Selected Gymnasts:
jade carey
jordan chiles
shilese jones
simone biles

## Apparatus
Selected Gymnasts:
camryn richardson
chloe cho
emjae frazier
simone biles

## Apparatus

In [44]:
df=df1.copy()

In [45]:
df.head()

              Name      BB         FX         UB        VT
0    addison fatta  11.929  12.450000  13.312500  13.09125
1  adriana consoli   0.000   0.000000  10.750000   0.00000
2      alicia zhou  12.475  12.775000  13.300000   0.00000
3    amari drayton   9.650  11.500000  11.850000   0.00000
4  amelia disidore  11.900  12.933333  11.433333   0.00000

In [46]:
from pulp import LpProblem, LpVariable, lpSum, LpMaximize, value, LpBinary

df.set_index('Name', inplace=True)

# Create the LP problem
prob = LpProblem("Gymnast_Selection", LpMaximize)

# Create binary variables for each gymnast-apparatus combination
gymnast_vars = LpVariable.dicts("Compete", ((gymnast, apparatus) for gymnast in df.index for apparatus in df.columns), 0, 1, LpBinary)

# Objective function: maximize the sum of the top 3 scores on each apparatus
prob += lpSum(df.loc[gymnast, apparatus] * gymnast_vars[gymnast, apparatus] for gymnast in df.index for apparatus in df.columns), "Total_Score"

# Constraints: Each gymnast competes on exactly 3 or fewer apparatus
for gymnast in df.index:
    prob += lpSum(gymnast_vars[gymnast, apparatus] for apparatus in df.columns) == 3, f"{gymnast}_Compete_Up_To_3_Apparatus"

# Constraints: Each apparatus is competed on exactly 3 times
for apparatus in df.columns:
    prob += lpSum(gymnast_vars[gymnast, apparatus] for gymnast in df.index) == 3, f"{apparatus}_Competed_3_Times"

# Constraint: Limit the total number of selected athletes to 4
prob += lpSum(gymnast_vars[gymnast, apparatus] for gymnast in df.index for apparatus in df.columns) == 4, "Total_Athletes"

# Solve the problem
prob.solve()

# Display the results
print("Status:", prob.status)
print("Objective Value (Sum of Top 3 Scores):", value(prob.objective))

# Display the selected gymnasts and apparatus
selected_gymnasts = [gymnast for gymnast in df.index if any(gymnast_vars[gymnast, apparatus].value() == 1 for apparatus in df.columns)]

print("\nSelected Gymnasts:")
for gymnast in selected_gymnasts:
    print(gymnast)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/61c4b627163d44b6834cbde5d7930dd3-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/61c4b627163d44b6834cbde5d7930dd3-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 66 COLUMNS
At line 1350 RHS
At line 1412 BOUNDS
At line 1637 ENDATA
Problem MODEL has 61 rows, 224 columns and 672 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Problem is infeasible - 0.00 seconds
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

Status: -1
Objective Value (Sum of Top 3 Scores): 12.371100000000004

Selected Gymnasts:
camryn richardson
chloe cho
emjae frazier
simone biles

## IAA

Selected Gymnasts:
jade carey
jordan chiles
shilese jones
simone biles

In [24]:
df=iaa.copy()

In [25]:
df

             Athlete         VT         UB         BB         FX
0         jade carey  14.600000  13.333000  13.133000  14.066000
1      jordan chiles  14.466000  14.066000  11.366000  14.100000
2  joscelyn roberson  14.466000   0.000000   0.000000  13.633000
3        leanne wong  13.899333   4.555333   4.455333   4.400000
4      shilese jones  14.224750  14.649500  13.624750  13.700000
5       simone biles  15.183000  14.366500  14.499500  14.583000
6       skye blakely   0.000000  13.088333  13.110667   9.066667

In [27]:
from pulp import LpProblem, LpVariable, lpSum, LpMaximize, value, LpBinary


df.set_index('Athlete', inplace=True)

# Create the LP problem
prob = LpProblem("Gymnast_Selection", LpMaximize)

# Create binary variables for each gymnast-apparatus combination
gymnast_vars = LpVariable.dicts("Compete", ((gymnast, apparatus) for gymnast in df.index for apparatus in df.columns), 0, 1, LpBinary)

# Objective function: maximize the sum of the top 3 scores on each apparatus
prob += lpSum(df.loc[gymnast, apparatus] * gymnast_vars[gymnast, apparatus] for gymnast in df.index for apparatus in df.columns), "Total_Score"

# Constraints: Each gymnast competes on up to 4 apparatus
for gymnast in df.index:
    prob += lpSum(gymnast_vars[gymnast, apparatus] for apparatus in df.columns) <= 4, f"{gymnast}_Compete_Up_To_4_Apparatus"

# Constraints: Each apparatus is competed on exactly 3 times
for apparatus in df.columns:
    prob += lpSum(gymnast_vars[gymnast, apparatus] for gymnast in df.index) == 3, f"{apparatus}_Competed_3_Times"

# Solve the problem
prob.solve()

# Display the results
print("Status:", prob.status)
print("Objective Value (Sum of Top 3 Scores):", value(prob.objective))

# Display the selected gymnasts and apparatus
selected_gymnasts = [gymnast for gymnast in df.index if any(gymnast_vars[gymnast, apparatus].value() == 1 for apparatus in df.columns)]
print("\nSelected Gymnasts:")
for gymnast in selected_gymnasts:
    print(gymnast)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/846cc90990194d568e3d7481ffa4d551-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/846cc90990194d568e3d7481ffa4d551-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 16 COLUMNS
At line 154 RHS
At line 166 BOUNDS
At line 195 ENDATA
Problem MODEL has 11 rows, 28 columns and 56 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 171.337 - 0.00 seconds
Cgl0004I processed model has 4 rows, 24 columns (24 integer (23 of which binary)) and 24 elements
Cbc0038I Initial state - 0 integers unsatisfied sum - 0
Cbc0038I Solution found of -171.337
Cbc0038I Cleaned solution of -171.337
Cbc0038I Before mini branch and bound, 24 integers at bound fixed and 0 continuous of which 1 were internal integer and 0 internal continuous
Cbc0038I Mini branch and bound did not improve solution (0.01 seconds)
Cbc0038I After 0.01 seconds - Feasibility pump exiting with objective of -171.337 - took 0.00 seconds
Cbc0012I Integer solution of -171.33725 found by feasibility pump after 0 iterations and 0 nodes (0.01 seconds)
Cbc0001I Search completed - best objective -171.33725, took 0 iterations and 0 nodes (0.01 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Cuts at root node changed objective from -171.337 to -171.337
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                171.33725000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.01

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.02

Status: 1
Objective Value (Sum of Top 3 Scores): 171.33725

Selected Gymnasts:
jade carey
jordan chiles
shilese jones
simone biles

# brute force

# IAA

Selected Athletes:
['jade carey', 'jordan chiles', 'shilese jones', 'simone biles']
Maximum Score:
169.96300000000002

In [50]:
df=iaa.copy()

In [51]:
df

             Athlete         VT         UB         BB         FX
0         jade carey  14.600000  13.333000  13.133000  14.066000
1      jordan chiles  14.466000  14.066000  11.366000  14.100000
2  joscelyn roberson  14.466000   0.000000   0.000000  13.633000
3        leanne wong  13.899333   4.555333   4.455333   4.400000
4      shilese jones  14.224750  14.649500  13.624750  13.700000
5       simone biles  15.183000  14.366500  14.499500  14.583000
6       skye blakely   0.000000  13.088333  13.110667   9.066667

In [54]:
import pandas as pd
import itertools
from tqdm import tqdm

num_athletes = 4
apparatuses = ['VT', 'UB', 'BB', 'FX']

# Generate all combinations of athletes
athlete_combinations = list(itertools.combinations(df['Athlete'], num_athletes))

# variables to store maximum score and athletes
max_score = 0
selected_athletes = []

# tqdm progress bar
progress_bar = tqdm(total=len(athlete_combinations))

# Iterate through combination of athletes
for combination in athlete_combinations:
    # Generate all possible combinations of apparatuses for current athlete combination
    apparatus_combinations = list(itertools.permutations(apparatuses, num_athletes))

    # Iterate through each combination of apparatuses
    for apparatus_combination in apparatus_combinations:
        # Calculate the sum of top three scores for current apparatus combination
        score = df[df['Athlete'].isin(combination)][list(apparatus_combination)].sum(axis=1).nlargest(3).sum()

        # Update maximum score and selected athletes if a higher score is found
        if score > max_score:
            max_score = score
            selected_athletes = list(combination)

    # Update progress bar
    progress_bar.update(1)

progress_bar.close()

print('Selected Athletes:')
print(selected_athletes)
print('Maximum Score:')
print(max_score)

  0%|                                                    | 0/35 [00:29<?, ?it/s]

  6%|██▌                                         | 2/35 [00:00<00:01, 17.01it/s]
 14%|██████▎                                     | 5/35 [00:00<00:01, 19.66it/s]
 20%|████████▊                                   | 7/35 [00:00<00:01, 19.34it/s]
 26%|███████████▎                                | 9/35 [00:00<00:01, 17.36it/s]
 31%|█████████████▌                             | 11/35 [00:00<00:01, 16.86it/s]
 37%|███████████████▉                           | 13/35 [00:00<00:01, 16.35it/s]
 43%|██████████████████▍                        | 15/35 [00:00<00:01, 16.14it/s]
 49%|████████████████████▉                      | 17/35 [00:01<00:01, 15.94it/s]
 54%|███████████████████████▎                   | 19/35 [00:01<00:01, 15.53it/s]
 60%|█████████████████████████▊                 | 21/35 [00:01<00:00, 14.19it/s]
 66%|████████████████████████████▎              | 23/35 [00:01<00:00, 13.97it/s]
 71%|██████████████████████████████▋            | 25/35 [00:01<00:00, 14.39it/s]
 77%|█████████████████████████████████▏         | 27/35 [00:01<00:00, 14.80it/s]
 83%|███████████████████████████████████▋       | 29/35 [00:01<00:00, 14.89it/s]
 89%|██████████████████████████████████████     | 31/35 [00:02<00:00, 14.32it/s]
 94%|████████████████████████████████████████▌  | 33/35 [00:02<00:00, 13.32it/s]
100%|███████████████████████████████████████████| 35/35 [00:02<00:00, 15.10it/s]

Selected Athletes:
['jade carey', 'jordan chiles', 'shilese jones', 'simone biles']
Maximum Score:
169.96300000000002

## Apparatus

In [58]:
df=df1.copy()

In [59]:
df.head()

              Name      BB         FX         UB        VT
0    addison fatta  11.929  12.450000  13.312500  13.09125
1  adriana consoli   0.000   0.000000  10.750000   0.00000
2      alicia zhou  12.475  12.775000  13.300000   0.00000
3    amari drayton   9.650  11.500000  11.850000   0.00000
4  amelia disidore  11.900  12.933333  11.433333   0.00000

In [60]:
import pandas as pd
import itertools
from tqdm import tqdm

num_athletes = 4

apparatuses = ['VT', 'UB', 'BB', 'FX']

# Generate all combinations of athletes
athlete_combinations = list(itertools.combinations(df['Name'], num_athletes))

# variables to store maximum score and athletes
max_score = 0
selected_athletes = []

# tqdm progress bar
progress_bar = tqdm(total=len(athlete_combinations))

# Iterate through each combination of athletes
for combination in athlete_combinations:
    # Generate all combinations of apparatuses for current athlete combination
    apparatus_combinations = list(itertools.permutations(apparatuses, num_athletes))

    # Iterate through each combination of apparatuses
    for apparatus_combination in apparatus_combinations:
        # Calculate sum of top three scores for current apparatus combination
        score = df[df['Name'].isin(combination)][list(apparatus_combination)].sum(axis=1).nlargest(3).sum()

        # Update maximum score and selected athletes if a higher score is found
        if score > max_score:
            max_score = score
            selected_athletes = list(combination)

    progress_bar.update(1)

progress_bar.close()

print('Selected Athletes:')
print(selected_athletes)
print('Maximum Score:')
print(max_score)

  0%|                                  | 183/367290 [09:34<320:00:46,  3.14s/it]

  0%|                                      | 2/367290 [00:00<7:06:29, 14.35it/s]
  0%|                                      | 4/367290 [00:00<6:47:31, 15.02it/s]
  0%|                                      | 6/367290 [00:00<6:47:58, 15.00it/s]
  0%|                                      | 8/367290 [00:00<6:40:51, 15.27it/s]
  0%|                                     | 10/367290 [00:00<6:34:34, 15.51it/s]
  0%|                                     | 12/367290 [00:00<6:28:53, 15.74it/s]
  0%|                                     | 14/367290 [00:00<6:24:30, 15.92it/s]
  0%|                                     | 16/367290 [00:01<6:25:27, 15.88it/s]
  0%|                                     | 18/367290 [00:01<6:47:32, 15.02it/s]
  0%|                                     | 20/367290 [00:01<6:41:05, 15.26it/s]
  0%|                                     | 22/367290 [00:01<6:36:28, 15.44it/s]
  0%|                                     | 24/367290 [00:01<6:10:06, 16.54it/s]
  0%|                                     | 27/367290 [00:01<5:32:26, 18.41it/s]
  0%|                                     | 29/367290 [00:01<5:30:54, 18.50it/s]
  0%|                                     | 31/367290 [00:01<5:36:47, 18.17it/s]
  0%|                                     | 33/367290 [00:02<5:41:50, 17.91it/s]
  0%|                                     | 35/367290 [00:02<5:58:57, 17.05it/s]
  0%|                                     | 37/367290 [00:02<5:57:22, 17.13it/s]
  0%|                                     | 39/367290 [00:02<6:08:24, 16.61it/s]
  0%|                                     | 42/367290 [00:02<5:34:59, 18.27it/s]
  0%|                                     | 45/367290 [00:02<5:14:10, 19.48it/s]
  0%|                                     | 48/367290 [00:02<4:58:45, 20.49it/s]
  0%|                                     | 51/367290 [00:02<4:52:03, 20.96it/s]
  0%|                                     | 54/367290 [00:03<4:44:42, 21.50it/s]
  0%|                                     | 57/367290 [00:03<4:42:46, 21.64it/s]
  0%|                                     | 60/367290 [00:03<4:39:33, 21.89it/s]
  0%|                                     | 63/367290 [00:03<4:39:29, 21.90it/s]
  0%|                                     | 66/367290 [00:03<4:35:47, 22.19it/s]
  0%|                                     | 69/367290 [00:03<4:32:55, 22.42it/s]
  0%|                                     | 72/367290 [00:03<4:33:27, 22.38it/s]
  0%|                                     | 75/367290 [00:03<4:36:24, 22.14it/s]
  0%|                                     | 78/367290 [00:04<4:46:59, 21.33it/s]
  0%|                                     | 81/367290 [00:04<5:04:42, 20.08it/s]
  0%|                                     | 84/367290 [00:04<5:10:59, 19.68it/s]
  0%|                                     | 87/367290 [00:04<5:02:22, 20.24it/s]
  0%|                                     | 90/367290 [00:04<4:55:50, 20.69it/s]
  0%|                                     | 93/367290 [00:04<4:54:39, 20.77it/s]
  0%|                                     | 96/367290 [00:05<4:49:38, 21.13it/s]
  0%|                                     | 99/367290 [00:05<4:50:09, 21.09it/s]
  0%|                                    | 102/367290 [00:05<4:47:51, 21.26it/s]
  0%|                                    | 105/367290 [00:05<4:50:16, 21.08it/s]
  0%|                                    | 108/367290 [00:05<4:45:01, 21.47it/s]
  0%|                                    | 111/367290 [00:05<4:42:24, 21.67it/s]
  0%|                                    | 114/367290 [00:05<4:39:30, 21.89it/s]
  0%|                                    | 117/367290 [00:05<4:38:38, 21.96it/s]
  0%|                                    | 120/367290 [00:06<4:39:30, 21.89it/s]
  0%|                                    | 123/367290 [00:06<4:50:36, 21.06it/s]
  0%|                                    | 126/367290 [00:06<5:12:42, 19.57it/s]
  0%|                                    | 128/367290 [00:06<5:34:23, 18.30it/s]
  0%|                                    | 130/367290 [00:06<5:49:58, 17.48it/s]
  0%|                                    | 132/367290 [00:06<6:11:55, 16.45it/s]
  0%|                                    | 134/367290 [00:07<6:25:17, 15.88it/s]
  0%|                                    | 136/367290 [00:07<7:13:45, 14.11it/s]
  0%|                                    | 138/367290 [00:07<7:16:23, 14.02it/s]
  0%|                                    | 140/367290 [00:07<7:11:36, 14.18it/s]
  0%|                                    | 142/367290 [00:07<7:02:23, 14.49it/s]
  0%|                                    | 144/367290 [00:07<7:10:03, 14.23it/s]
  0%|                                    | 146/367290 [00:07<7:29:55, 13.60it/s]
  0%|                                    | 148/367290 [00:08<7:32:24, 13.53it/s]
  0%|                                    | 150/367290 [00:08<7:33:09, 13.50it/s]
  0%|                                    | 152/367290 [00:08<7:33:01, 13.51it/s]
  0%|                                    | 154/367290 [00:08<7:25:37, 13.73it/s]
  0%|                                    | 156/367290 [00:08<7:22:13, 13.84it/s]
  0%|                                    | 158/367290 [00:08<7:06:26, 14.35it/s]
  0%|                                    | 160/367290 [00:08<6:56:05, 14.71it/s]
  0%|                                    | 162/367290 [00:09<6:58:09, 14.63it/s]
  0%|                                    | 164/367290 [00:09<7:13:34, 14.11it/s]
  0%|                                    | 166/367290 [00:09<7:07:10, 14.32it/s]
  0%|                                    | 168/367290 [00:09<7:16:15, 14.03it/s]

KeyboardInterrupt: