In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data_2022_2023.csv')

In [3]:
df["Competition"].value_counts()

Competition
2023 52nd FIG Artistic Gymnastics World Championships         2144
2022 51st FIG Artistic Gymnastics World Championships         2078
2023 Senior European Championships                            1638
2022 Senior European Championships                            1565
2023 FISU World University Games                               995
2023 Artistic Gymnastics Senior Pan American Championships     885
SANTIAGO 2023 XIX Pan American Games                           777
2023 U.S. Championships                                        671
BIRMINGHAM 2022 Commonwealth Games                             644
2023 Central American and Caribbean Games                      640
2023 10th Senior Artistic Gymnastics Asian Championships       601
HANGZHOU 2022 19th Asian Games                                 599
2022 U.S. Championships                                        595
2022 British Gymnastics Championships                          583
2023 Core Hydration Classic                                    574
2023 Cottbus World Cup                                         568
EnBW DTB Pokal Team Challenge 2023                             564
2022 9th Senior Artistic Gymnastics Asian Championships        544
2023 Baku World Cup                                            537
2022 Paris World Challenge Cup                                 521
2023 British Gymnastics Championships                          476
2023 Cairo World Cup                                           461
2023 Doha World Cup                                            454
2022 Baku World Cup                                            453
2022 Osijek World Challenge Cup                                428
2023 Osijek World Challenge Cup                                424
2022 Varna World Challenge Cup                                 420
2022 Cottbus World Cup                                         408
2022 Cairo World Cup                                           379
2023 Varna World Challenge Cup                                 342
2022 Koper World Challenge Cup                                 342
2022 Szombathely World Challenge Cup                           322
2022 Doha World Cup                                            315
2022 Winter Cup                                                313
2023 Winter Cup                                                303
2022 Mersin World Challenge Cup                                301
2023 Tel Aviv World Challenge Cup                              269
2022 U.S. Classic                                              263
Oceania Continental Championships 2023                          47
Name: count, dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24443 entries, 0 to 24442
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     24435 non-null  object
 1   FirstName    24421 non-null  object
 2   Gender       24443 non-null  object
 3   Country      24439 non-null  object
 4   Date         24443 non-null  object
 5   Competition  24443 non-null  object
 6   Round        24443 non-null  object
 7   Location     24443 non-null  object
 8   Apparatus    24443 non-null  object
 9   Rank         21526 non-null  float64
 10  D_Score      24443 non-null  float64
 11  E_Score      24443 non-null  float64
 12  Penalty      4666 non-null   float64
 13  Score        24443 non-null  float64
dtypes: float64(5), object(9)
memory usage: 2.6+ MB

In [5]:
df["Penalty"] = df["Penalty"].fillna(0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24443 entries, 0 to 24442
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     24435 non-null  object
 1   FirstName    24421 non-null  object
 2   Gender       24443 non-null  object
 3   Country      24439 non-null  object
 4   Date         24443 non-null  object
 5   Competition  24443 non-null  object
 6   Round        24443 non-null  object
 7   Location     24443 non-null  object
 8   Apparatus    24443 non-null  object
 9   Rank         21526 non-null  float64
 10  D_Score      24443 non-null  float64
 11  E_Score      24443 non-null  float64
 12  Penalty      24443 non-null  float64
 13  Score        24443 non-null  float64
dtypes: float64(5), object(9)
memory usage: 2.6+ MB

In [7]:
df["Rank"] = df["Rank"].fillna(0)

In [8]:
df["Country"] = df["Country"].fillna("None")

In [9]:
df["LastName"] = df["LastName"].fillna("None")
df["FirstName"] = df["FirstName"].fillna("None")
df["D_Score"] = df["D_Score"].fillna(0)
df["E_Score"] = df["E_Score"].fillna(0)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24443 entries, 0 to 24442
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     24443 non-null  object
 1   FirstName    24443 non-null  object
 2   Gender       24443 non-null  object
 3   Country      24443 non-null  object
 4   Date         24443 non-null  object
 5   Competition  24443 non-null  object
 6   Round        24443 non-null  object
 7   Location     24443 non-null  object
 8   Apparatus    24443 non-null  object
 9   Rank         24443 non-null  float64
 10  D_Score      24443 non-null  float64
 11  E_Score      24443 non-null  float64
 12  Penalty      24443 non-null  float64
 13  Score        24443 non-null  float64
dtypes: float64(5), object(9)
memory usage: 2.6+ MB

In [11]:
df["Total_Score"] = df["D_Score"] + df["E_Score"] - df["Penalty"]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24443 entries, 0 to 24442
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     24443 non-null  object
 1   FirstName    24443 non-null  object
 2   Gender       24443 non-null  object
 3   Country      24443 non-null  object
 4   Date         24443 non-null  object
 5   Competition  24443 non-null  object
 6   Round        24443 non-null  object
 7   Location     24443 non-null  object
 8   Apparatus    24443 non-null  object
 9   Rank         24443 non-null  float64
 10  D_Score      24443 non-null  float64
 11  E_Score      24443 non-null  float64
 12  Penalty      24443 non-null  float64
 13  Score        24443 non-null  float64
 14  Total_Score  24443 non-null  float64
dtypes: float64(6), object(9)
memory usage: 2.8+ MB

In [13]:
df["Score"] = df["Score"].fillna(0)

In [14]:
df.isnull().sum()

LastName       0
FirstName      0
Gender         0
Country        0
Date           0
Competition    0
Round          0
Location       0
Apparatus      0
Rank           0
D_Score        0
E_Score        0
Penalty        0
Score          0
Total_Score    0
dtype: int64

In [15]:
df["Name"] = df["FirstName"] + " " + df["LastName"]

In [16]:
df = df.drop(columns=["LastName", "FirstName"])

In [17]:
df["Date"]

0                  24-27 Feb 2022
1                  24-27 Feb 2022
2                  24-27 Feb 2022
3                  24-27 Feb 2022
4                  24-27 Feb 2022
                   ...
24438    29 Oct 2022 - 6 Nov 2022
24439           29 Jul-2 Aug 2022
24440           29 Jul-2 Aug 2022
24441           29 Jul-2 Aug 2022
24442           29 Jul-2 Aug 2022
Name: Date, Length: 24443, dtype: object

In [18]:
df[['Start Date', 'End Date']] = df['Date'].str.split('-', expand=True)

In [19]:
df = df.drop(columns=["Start Date"])

In [20]:
df

,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Total_Score,Name,End Date
0,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,0.0,12.166,12.166,Fredrik AAS,27 Feb 2022
1,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,0.0,12.166,12.166,Fredrik AAS,27 Feb 2022
2,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,0.0,10.800,10.800,Fredrik AAS,27 Feb 2022
3,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,0.0,10.800,10.800,Fredrik AAS,27 Feb 2022
4,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PH,33.0,4.2,6.666,0.0,10.866,10.866,Fredrik AAS,27 Feb 2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24438,w,AUS,29 Oct 2022 - 6 Nov 2022,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",UB,17.0,5.6,8.466,0.0,14.066,14.066,None None,6 Nov 2022
24439,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",BB,1.0,5.1,8.366,0.0,13.466,13.466,None None,2 Aug 2022
24440,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",BB,5.0,5.0,7.950,0.0,12.950,12.950,None None,2 Aug 2022
24441,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",UB,7.0,5.3,7.233,0.0,12.533,12.533,None None,2 Aug 2022
24442,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,5.0,5.6,7.900,0.0,13.500,13.500,None None,2 Aug 2022

In [21]:
# Convert the 'End Date' column to datetime format with automatic format inference
df['End Date'] = pd.to_datetime(df['End Date'], errors='coerce', infer_datetime_format=True)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_7765/3629933989.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['End Date'] = pd.to_datetime(df['End Date'], errors='coerce', infer_datetime_format=True)

In [22]:
df

,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Total_Score,Name,End Date
0,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,0.0,12.166,12.166,Fredrik AAS,2022-02-27
1,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,0.0,12.166,12.166,Fredrik AAS,2022-02-27
2,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,0.0,10.800,10.800,Fredrik AAS,2022-02-27
3,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,0.0,10.800,10.800,Fredrik AAS,2022-02-27
4,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PH,33.0,4.2,6.666,0.0,10.866,10.866,Fredrik AAS,2022-02-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24438,w,AUS,29 Oct 2022 - 6 Nov 2022,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",UB,17.0,5.6,8.466,0.0,14.066,14.066,None None,2022-11-06
24439,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",BB,1.0,5.1,8.366,0.0,13.466,13.466,None None,2022-08-02
24440,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",BB,5.0,5.0,7.950,0.0,12.950,12.950,None None,2022-08-02
24441,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",UB,7.0,5.3,7.233,0.0,12.533,12.533,None None,2022-08-02
24442,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,5.0,5.6,7.900,0.0,13.500,13.500,None None,2022-08-02

In [23]:
df["End Date"].value_counts()

End Date
2023-10-08    2144
2022-11-06    2078
2023-04-16    1638
2023-05-28    1227
2023-08-05     995
2022-08-21     905
2023-02-26     871
2023-10-25     777
2022-02-27     721
2023-08-27     671
2022-08-14     660
2022-08-02     644
2023-06-28     640
2023-09-29     599
2022-08-20     595
2022-03-27     583
2023-08-06     574
2023-03-19     564
2023-03-12     537
2023-03-26     476
2023-04-30     461
2023-03-04     454
2022-04-03     453
2023-06-11     424
2022-03-29     420
2022-03-20     379
2022-10-02     322
2022-03-05     315
2022-10-09     301
2023-06-04     269
2023-05-06      47
Name: count, dtype: int64

In [24]:
df

,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Total_Score,Name,End Date
0,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,0.0,12.166,12.166,Fredrik AAS,2022-02-27
1,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,0.0,12.166,12.166,Fredrik AAS,2022-02-27
2,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,0.0,10.800,10.800,Fredrik AAS,2022-02-27
3,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,0.0,10.800,10.800,Fredrik AAS,2022-02-27
4,m,NOR,24-27 Feb 2022,2022 Cottbus World Cup,qual,"Cottbus, Germany",PH,33.0,4.2,6.666,0.0,10.866,10.866,Fredrik AAS,2022-02-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24438,w,AUS,29 Oct 2022 - 6 Nov 2022,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",UB,17.0,5.6,8.466,0.0,14.066,14.066,None None,2022-11-06
24439,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",BB,1.0,5.1,8.366,0.0,13.466,13.466,None None,2022-08-02
24440,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",BB,5.0,5.0,7.950,0.0,12.950,12.950,None None,2022-08-02
24441,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",UB,7.0,5.3,7.233,0.0,12.533,12.533,None None,2022-08-02
24442,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,5.0,5.6,7.900,0.0,13.500,13.500,None None,2022-08-02

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24443 entries, 0 to 24442
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gender       24443 non-null  object
 1   Country      24443 non-null  object
 2   Date         24443 non-null  object
 3   Competition  24443 non-null  object
 4   Round        24443 non-null  object
 5   Location     24443 non-null  object
 6   Apparatus    24443 non-null  object
 7   Rank         24443 non-null  float64
 8   D_Score      24443 non-null  float64
 9   E_Score      24443 non-null  float64
 10  Penalty      24443 non-null  float64
 11  Score        24443 non-null  float64
 12  Total_Score  24443 non-null  float64
 13  Name         24443 non-null  object
 14  End Date     21744 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), object(8)
memory usage: 2.8+ MB

In [26]:
df = df.drop(columns=["Date"])

In [27]:
df.rename(columns={"End Date": "Date"}, inplace=True)

In [28]:
df

,Gender,Country,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Total_Score,Name,Date
0,m,NOR,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,0.0,12.166,12.166,Fredrik AAS,2022-02-27
1,m,NOR,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,0.0,12.166,12.166,Fredrik AAS,2022-02-27
2,m,NOR,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,0.0,10.800,10.800,Fredrik AAS,2022-02-27
3,m,NOR,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,0.0,10.800,10.800,Fredrik AAS,2022-02-27
4,m,NOR,2022 Cottbus World Cup,qual,"Cottbus, Germany",PH,33.0,4.2,6.666,0.0,10.866,10.866,Fredrik AAS,2022-02-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24438,w,AUS,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",UB,17.0,5.6,8.466,0.0,14.066,14.066,None None,2022-11-06
24439,w,AUS,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",BB,1.0,5.1,8.366,0.0,13.466,13.466,None None,2022-08-02
24440,w,AUS,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",BB,5.0,5.0,7.950,0.0,12.950,12.950,None None,2022-08-02
24441,w,AUS,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",UB,7.0,5.3,7.233,0.0,12.533,12.533,None None,2022-08-02
24442,w,AUS,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,5.0,5.6,7.900,0.0,13.500,13.500,None None,2022-08-02

In [29]:
df.columns

Index(['Gender', 'Country', 'Competition', 'Round', 'Location', 'Apparatus',
       'Rank', 'D_Score', 'E_Score', 'Penalty', 'Score', 'Total_Score', 'Name',
       'Date'],
      dtype='object')

In [30]:
# Define the desired column order
desired_order = [ 'Name','Country','Date', 'Gender',  'Competition', 'Round', 'Location', 'Apparatus',
       'Rank', 'D_Score', 'E_Score', 'Penalty', 'Score', 'Total_Score']

# Reorder the columns based on the desired order
df = df[desired_order]

In [31]:
df

,Name,Country,Date,Gender,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Total_Score
0,Fredrik AAS,NOR,2022-02-27,m,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,0.0,12.166,12.166
1,Fredrik AAS,NOR,2022-02-27,m,2022 Cottbus World Cup,qual,"Cottbus, Germany",HB,18.0,3.9,8.266,0.0,12.166,12.166
2,Fredrik AAS,NOR,2022-02-27,m,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,0.0,10.800,10.800
3,Fredrik AAS,NOR,2022-02-27,m,2022 Cottbus World Cup,qual,"Cottbus, Germany",PB,23.0,3.9,6.900,0.0,10.800,10.800
4,Fredrik AAS,NOR,2022-02-27,m,2022 Cottbus World Cup,qual,"Cottbus, Germany",PH,33.0,4.2,6.666,0.0,10.866,10.866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24438,None None,AUS,2022-11-06,w,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",UB,17.0,5.6,8.466,0.0,14.066,14.066
24439,None None,AUS,2022-08-02,w,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",BB,1.0,5.1,8.366,0.0,13.466,13.466
24440,None None,AUS,2022-08-02,w,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",BB,5.0,5.0,7.950,0.0,12.950,12.950
24441,None None,AUS,2022-08-02,w,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",UB,7.0,5.3,7.233,0.0,12.533,12.533
24442,None None,AUS,2022-08-02,w,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,5.0,5.6,7.900,0.0,13.500,13.500

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24443 entries, 0 to 24442
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         24443 non-null  object
 1   Country      24443 non-null  object
 2   Date         21744 non-null  datetime64[ns]
 3   Gender       24443 non-null  object
 4   Competition  24443 non-null  object
 5   Round        24443 non-null  object
 6   Location     24443 non-null  object
 7   Apparatus    24443 non-null  object
 8   Rank         24443 non-null  float64
 9   D_Score      24443 non-null  float64
 10  E_Score      24443 non-null  float64
 11  Penalty      24443 non-null  float64
 12  Score        24443 non-null  float64
 13  Total_Score  24443 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(7)
memory usage: 2.6+ MB

In [33]:
df.nunique()

Name           1916
Country         108
Date             31
Gender            2
Competition      39
Round             6
Location         31
Apparatus        11
Rank            154
D_Score          63
E_Score         331
Penalty          28
Score           514
Total_Score     836
dtype: int64

In [34]:
df["Gender"].value_counts()

Gender
m    15133
w     9310
Name: count, dtype: int64

In [35]:
women = df[df["Gender"]== "w"]

In [36]:
women.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9310 entries, 147 to 24442
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         9310 non-null   object
 1   Country      9310 non-null   object
 2   Date         8340 non-null   datetime64[ns]
 3   Gender       9310 non-null   object
 4   Competition  9310 non-null   object
 5   Round        9310 non-null   object
 6   Location     9310 non-null   object
 7   Apparatus    9310 non-null   object
 8   Rank         9310 non-null   float64
 9   D_Score      9310 non-null   float64
 10  E_Score      9310 non-null   float64
 11  Penalty      9310 non-null   float64
 12  Score        9310 non-null   float64
 13  Total_Score  9310 non-null   float64
dtypes: datetime64[ns](1), float64(6), object(7)
memory usage: 1.1+ MB

In [37]:
men = df[df["Gender"]== "m"]

In [38]:
men.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15133 entries, 0 to 24434
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         15133 non-null  object
 1   Country      15133 non-null  object
 2   Date         13404 non-null  datetime64[ns]
 3   Gender       15133 non-null  object
 4   Competition  15133 non-null  object
 5   Round        15133 non-null  object
 6   Location     15133 non-null  object
 7   Apparatus    15133 non-null  object
 8   Rank         15133 non-null  float64
 9   D_Score      15133 non-null  float64
 10  E_Score      15133 non-null  float64
 11  Penalty      15133 non-null  float64
 12  Score        15133 non-null  float64
 13  Total_Score  15133 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(7)
memory usage: 1.7+ MB

In [ ]:
# men.to_csv("men22_23.csv", index=False)  
# women.to_csv("women22_23.csv", index=False)

In [40]:
usa=men[men['Country']=='USA']

In [42]:
usa['Name']=usa['Name'].str.lower()

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_7765/3820000395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa['Name']=usa['Name'].str.lower()

In [44]:
usa=usa.drop(columns=['Country', 'Gender', 'Competition', 'Round', 'Location',
                     'Rank', 'Total_Score'])

In [47]:
usa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2361 entries, 390 to 24074
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       2361 non-null   object
 1   Date       2104 non-null   datetime64[ns]
 2   Apparatus  2361 non-null   object
 3   D_Score    2361 non-null   float64
 4   E_Score    2361 non-null   float64
 5   Penalty    2361 non-null   float64
 6   Score      2361 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 147.6+ KB

In [48]:
usa['year'] = usa['Date'].dt.year

In [50]:
usa['year'] = usa['year'].fillna(2023).astype(int)

In [52]:
usa=usa.drop(columns=['Date'])

In [53]:
usa

                  Name Apparatus  D_Score  E_Score  Penalty  Score  year
390     justin ah chow        HB      4.7     7.40      0.0  12.10  2023
391     justin ah chow        PB      5.2     7.95      0.0  13.15  2023
392     justin ah chow        PH      5.6     6.15      0.0  11.75  2023
530    saran alexander        FX      4.5     7.65      0.0  12.15  2023
531    saran alexander        HB      3.4     8.35      0.0  11.75  2023
...                ...       ...      ...      ...      ...    ...   ...
24070  gavin zborowski        HB      4.4     7.55      0.0  11.95  2023
24071  gavin zborowski        PB      4.2     8.55      0.0  12.75  2023
24072  gavin zborowski        PH      5.0     6.15      0.0  11.15  2023
24073  gavin zborowski        SR      4.6     5.40      0.0  10.00  2023
24074  gavin zborowski        VT      4.8     8.90      0.0  13.70  2023

[2361 rows x 7 columns]

In [54]:
average_scores = usa.groupby(['Name', 'Apparatus']).mean().reset_index()

In [56]:
average_scores= average_scores.drop(columns=['year'])

In [57]:
usa_men=average_scores.copy()

In [58]:
# usa_men.to_csv("usa_men22_23.csv", index=False)