In [1]:
import pandas as pd
import numpy as np

In [2]:
iaa19 = pd.read_csv('../../../scraping/women/iaa_W/iaa19.csv')
wc19birm = pd.read_csv('../../../scraping/women/iaa_W/worldcup_birmingham2019_iaa.csv')
wc19stut = pd.read_csv('../../../scraping/women/iaa_W/worldcup_stuttgart2019_iaa.csv')
wc19tok = pd.read_csv('../../../scraping/women/iaa_W/worldcup_tokyo2019_iaa.csv')

wc18iaa = pd.read_csv('../../../scraping/women/iaa_W/worldcup2018_iaa.csv')
wc18birm = pd.read_csv('../../../scraping/women/iaa_W/worldcup_birmingham2018_iaa.csv')
wc18tok = pd.read_csv('../../../scraping/women/iaa_W/worldcup_2018tokyo_iaa.csv')
iaa18 = pd.read_csv('../../../scraping/women/iaa_W/wc18iaa.csv')


iaa18q = pd.read_csv('../../../scraping/women/iaa_W/iaaq.csv')
iaa19q = pd.read_csv('../../../scraping/women/iaa_W/iaaq19.csv')

In [29]:
iaa18q['round']='qual'
iaa19q['round']='qual'

wc18tok['round']='final'
wc18birm['round']='final'
wc18iaa['round']='final'
iaa18['round']='final'

iaa19['round']='final'
wc19stut['round']='final'
wc19tok['round']='final'
wc19birm['round']='final'

In [30]:
combined_df = pd.concat([iaa18q, wc18iaa, wc18birm, wc18iaa,
                         wc18tok], ignore_index=True)
iaa18=combined_df.copy()

In [31]:
combined_df = pd.concat([iaa19q, wc19tok, wc19stut, wc19birm,
                         iaa19], ignore_index=True)
iaa19=combined_df.copy()

In [32]:
iaa19['year']=2019
iaa18['year']=2018

In [33]:
country_to_noc = {
    'Afghanistan': 'AFG',
    'Netherlands Antilles': 'AHO',
    'Albania': 'ALB',
    'Algeria': 'ALG',
    'Andorra': 'AND',
    'Angola': 'ANG',
    'Antigua & Barbuda': 'ANT',
    'Argentina': 'ARG',
    'Armenia': 'ARM',
    'Aruba': 'ARU',
    'American Samoa': 'ASA',
    'Australia': 'AUS',
    'Austria': 'AUT',
    'Azerbaijan': 'AZE',
    'Bahamas': 'BAH',
    'Bangladesh': 'BAN',
    'Barbados': 'BAR',
    'Burundi': 'BDI',
    'Belgium': 'BEL',
    'Benin': 'BEN',
    'Bermuda': 'BER',
    'Bhutan': 'BHU',
    'Bosnia-Herzegovina': 'BIH',
    'Belize': 'BIZ',
    'Belarus': 'BLR',
    'Bolivia': 'BOL',
    'Botswana': 'BOT',
    'Brazil': 'BRA',
    'Bahrain': 'BRN',
    'Brunei': 'BRU',
    'Bulgaria': 'BUL',
    'Burkina Faso': 'BUR',
    'Central African Republic': 'CAF',
    'Cambodia': 'CAM',
    'Canada': 'CAN',
    'Cayman Islands': 'CAY',
    'Republic of the Congo': 'CGO',
    'Chad': 'CHA',
    'Chile': 'CHI',
    'China': 'CHN',  # Add China
    'Ivory Coast (Côte d´Ivoire)': 'CIV',
    'Cameroon': 'CMR',
    'Democratic Republic of the Congo': 'COD',
    'Cook Islands': 'COK',
    'Colombia': 'COL',
    'Comoros': 'COM',
    'Cape Verde': 'CPV',
    'Costa Rica': 'CRC',
    'Croatia': 'CRO',
    'Cuba': 'CUB',
    'Cyprus': 'CYP',
    'Czech Republic': 'CZE',
    'Denmark': 'DEN',
    'Djibouti': 'DJI',
    'Dominica': 'DMA',
    'Dominican Republic': 'DOM',
    'Ecuador': 'ECU',
    'Egypt': 'EGY',
    'England': 'ENG',
    'Eritrea': 'ERI',
    'El Salvador': 'ESA',
    'Spain': 'ESP',
    'Estonia': 'EST',
    'Ethiopia': 'ETH',
    'Fiji': 'FIJ',
    'Finland': 'FIN',
    'France': 'FRA',
    'Federal Republic of Germany': 'FRG',
    'Micronesia': 'FSM',
    'Gabon': 'GAB',
    'The Gambia': 'GAM',
    'United Kingdom of Great Britain & Northern Ireland': 'GBR',
    'Guinea-Bissau': 'GBS',
    'German Democratic Republic': 'GDR',
    'Georgia': 'GEO',
    'Equatorial Guinea': 'GEQ',
    'Germany (previous to 1948 and from 1991)': 'GER',
    'Ghana': 'GHA',
    'Greece': 'GRE',
    'Grenada': 'GRN',
    'Guatemala': 'GUA',
    'Guinea': 'GUI',
    'Guam': 'GUM',
    'Guyana': 'GUY',
    'Haiti': 'HAI',
    'Hong Kong': 'HKG',
    'Honduras': 'HON',
    'Hungary': 'HUN',
    'Indonesia': 'INA',
    'India': 'IND',
    'Iran': 'IRI',
    'Ireland': 'IRL',
    'Iraq': 'IRQ',
    'Iceland': 'ISL',
    'Israel': 'ISR',
    'US Virgin Islands': 'ISV',
    'Italy': 'ITA',
    'British Virgin Islands': 'IVB',
    'Jamaica': 'JAM',
    'Jordan': 'JOR',
    'Japan': 'JPN',
    'Kazakhstan': 'KAZ',
    'Kenya': 'KEN',
    'Kyrgyzstan': 'KGZ',
    'Kiribati': 'KIR',
    'South Korea': 'KOR',
    'Saudi Arabia': 'KSA',
    'Kuwait': 'KUW',
    'Laos': 'LAO',
    'Latvia': 'LAT',
    'Libya': 'LBA',
    'Liberia': 'LBR',
    'Saint Lucia': 'LCA',
    'Lesotho': 'LES',
    'Lebanon': 'LIB',
    'Liechtenstein': 'LIE',
    'Lithuania': 'LTU',
    'Luxembourg': 'LUX',
    'Madagascar': 'MAD',
    'Morocco': 'MAR',
    'Malaysia': 'MAS',
    'Malawi': 'MAW',
    'Moldova': 'MDA',
    'Maldives': 'MDV',
    'Mexico': 'MEX',
    'Mongolia': 'MGL',
    'Marshall Islands': 'MHL',
    'Macedonia': 'MKD',
    'Mali': 'MLI',
    'Malta': 'MLT',
    'Montenegro': 'MNE',
    'Moldova': 'MOL',
    'Monaco': 'MON',
    'Mozambique': 'MOZ',
    'Mauritius': 'MAU',
    'Mauritania': 'MTN',
    'Myanmar': 'MYA',
    'Namibia': 'NAM',
    'Nicaragua': 'NCA',
    'Netherlands': 'NED',
    'Nepal': 'NEP',
    'Nigeria': 'NGR',
    'Northern Ireland': 'NI',
    'Niger': 'NIG',
    'Norway': 'NOR',
    'Northern Rhodesia': 'NRD',
    'Nauru': 'NRU',
    'New Zealand': 'NZL',
    'Oman': 'OMA',
    'Pakistan': 'PAK',
    'Panama': 'PAN',
    'Paraguay': 'PAR',
    'Peru': 'PER',
    'Philippines': 'PHI',
    'Palestine': 'PLE',
    'Palau': 'PLW',
    'Papua New Guinea': 'PNG',
    'Poland': 'POL',
    'Portugal': 'POR',
    'North Korea (Korean PDR)': 'PRK',
    'Puerto Rico': 'PUR',
    'Qatar': 'QAT',
    'Romania': 'ROU',
    'South Africa': 'RSA',
    'Russia': 'RUS',
    'Rwanda': 'RWA',
    'Samoa': 'SAM',
    'Saudi Arabia': 'SAU',
    'Serbia and Montenegro': 'SCG',
    'Scotland': 'Sco',
    'Senegal': 'SEN',
    'Seychelles': 'SEY',
    'Singapore': 'SIN',
    'Saint Kitts and Nevis': 'SKN',
    'South Korea': 'SKR',
    'Sierra Leone': 'SLE',
    'Slovenia': 'SLO',
    'San Marino Republic': 'SMR',
    'Solomon Islands': 'SOL',
    'Somalia': 'SOM',
    'Serbia': 'SRB',
    'Southern Rhodesia': 'SRD',
    'Sri Lanka': 'SRI',
    'São Tome and Principe': 'STP',
    'Sudan': 'SUD',
    'Switzerland': 'SUI',
    'Suriname': 'SUR',
    'Slovakia': 'SVK',
    'Sweden': 'SWE',
    'Swaziland': 'SWZ',
    'Syria': 'SYR',
    'Tanzania': 'TAN',
    'Czechoslovakia': 'TCH',
    'Tonga': 'TGA',
    'Thailand': 'THA',
    'Tajikistan': 'TJK',
    'Turkmenistan': 'TKM',
    'Timor-Leste': 'TLS',
    'Togo': 'TOG',
    'Taiwan (Chinese Taipei)': 'TPE',
    'Trinidad & Tobago': 'TRI',
    'Tunisia': 'TUN',
    'Turkey': 'TUR',
    'Tuvalu': 'TUV',
    'United Arab Emirates': 'UAE',
    'Uganda': 'UGA',
    'Ukraine': 'UKR',
    'Unified Team': 'UNT',
    'Soviet Union': 'URS',
    'Uruguay': 'URU',
    'United States': 'USA',
    'Uzbekistan': 'UZB',
    'Vanuatu': 'VAN',
    'Venezuela': 'VEN',
    'Vietnam': 'VIE',
    'St. Vincent and the Grenadines': 'VIN',
    'Wales': 'Wal',
    'West Indies': 'WI',
    'Yemen': 'YEM',
    'Former Yugoslavia': 'yug',
    'Former Yugoslavia': 'yug',
    'Zaire': 'ZAI',
    'Zambia': 'ZAM',
    'Zimbabwe': 'ZIM'
}

In [34]:
iaa18

,Rank,Athlete,Nation,VT,UB,BB,FX,AA,round,year
0,1,Simone Biles,United States,15.966,14.866,14.800,15.333,60.965,qual,2018
1,2,Morgan Hurd,United States,14.600,14.466,13.466,13.933,56.465,qual,2018
2,3,Mai Murakami,Japan,14.433,13.666,13.433,14.100,55.632,qual,2018
3,4,Nina Derwael,Belgium,13.466,15.066,13.766,13.266,55.564,qual,2018
4,5,Angelina Melnikova,Russia,14.266,14.300,12.866,14.033,55.465,qual,2018
...,...,...,...,...,...,...,...,...,...,...
255,3,Mélanie De Jesus Dos Santos,France,14.066,14.033,13.366,12.533,53.998,final,2018
256,4,Angelina Simakova,Russia,13.866,13.700,13.066,13.100,53.732,final,2018
257,5,Elisabeth Seitz,Germany,13.500,14.633,11.400,12.766,52.299,final,2018
258,6,Aiko Sugihara,Japan,14.000,13.500,11.233,13.200,51.933,final,2018
259,7,Victoria-Kayen Woo,Canada,13.433,10.833,11.566,12.633,48.465,final,2018

In [35]:
iaa19

,Rank,Athlete,Nation,VT,UB,BB,FX,AA,round,year
0,1,Simone Biles,United States,15.066,14.733,14.8,14.833,59.432,qual,2019
1,2,Sunisa Lee,United States,14.566,15,13.4,14.2,57.166,qual,2019
2,3,Melanie De Jesus Dos Santos,France,14.6,14.6,13.616,13.966,56.782,qual,2019
3,4,Angelina Melnikova,Russia,14.433,14.7,13.366,14.1,56.599,qual,2019
4,5,Grace McCallum,United States,14.566,14.641,12.933,13.766,55.906,qual,2019
...,...,...,...,...,...,...,...,...,...,...
280,20,Melanie De Jesus Dos Santos,France,14.633,11.933,13.5,13.5,53.566,final,2019
281,21,Cintia Rodriguez,Spain,13.333,13.7,11.833,12.6,51.466,final,2019
282,22,Lilia Akhaimova,Russia,14.533,12.066,11.4,13.466,51.465,final,2019
283,23,Naomi Visser,Netherlands,13.266,12.1,13.6,12.2,51.166,final,2019
284,24,Elisa Iorio,Italy,13.266,0.0,12.666,12.866,0.000,final,2019

In [37]:
iaa19['Athlete'] = iaa19['Athlete'].str.lower()
iaa19['Nation'] = iaa19['Nation'].map(country_to_noc)

In [38]:
iaa18['Athlete'] = iaa18['Athlete'].str.lower()
iaa18['Nation'] = iaa18['Nation'].map(country_to_noc)

In [40]:
iaa19.duplicated().sum()

0

In [42]:
iaa18.duplicated().sum()

0

In [41]:
iaa18 = iaa18.drop_duplicates()

In [46]:
iaa18.info()

<class 'pandas.core.frame.DataFrame'>
Index: 252 entries, 0 to 259
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     252 non-null    int64
 1   Athlete  252 non-null    object
 2   Nation   252 non-null    object
 3   VT       252 non-null    float64
 4   UB       252 non-null    float64
 5   BB       252 non-null    float64
 6   FX       252 non-null    float64
 7   AA       252 non-null    float64
 8   round    252 non-null    object
 9   year     252 non-null    int64
dtypes: float64(5), int64(2), object(3)
memory usage: 21.7+ KB

In [47]:
iaa19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     285 non-null    int64
 1   Athlete  285 non-null    object
 2   Nation   285 non-null    object
 3   VT       285 non-null    object
 4   UB       285 non-null    object
 5   BB       285 non-null    object
 6   FX       285 non-null    object
 7   AA       285 non-null    float64
 8   round    285 non-null    object
 9   year     285 non-null    int64
dtypes: float64(1), int64(2), object(7)
memory usage: 22.4+ KB

In [45]:
iaa19['Nation'].fillna('none', inplace=True)
iaa18['Nation'].fillna('none', inplace=True)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_62294/4187247885.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iaa18['Nation'].fillna('none', inplace=True)

In [48]:
# iaa18.to_csv('iaa2018.csv', index=False)
# iaa19.to_csv('iaa2019.csv', index=False)