In [1]:
import pandas as pd
import numpy as np

In [3]:
wc19melb = pd.read_csv('../../Cleaning/qual_events/men/wc19bmelb_fx.csv')
wc20baku = pd.read_csv('../../Cleaning/qual_events/men/wc20baku_fx.csv')
# world18 = pd.read_csv('../../Cleaning/qual_events/men/world18championship_fx.csv')
winter20cup = pd.read_csv('../../Cleaning/qual_events/men/winter20cup_fx.csv')
world19cup = pd.read_csv('../../Cleaning/qual_events/men/world19cup_fx.csv')
wc19bmelb = pd.read_csv('../../Cleaning/qual_events/men/wc19bmelb_fx.csv')

In [3]:
fx = pd.concat([wc19melb, wc20baku, world18, world19cup, wc19bmelb ])

In [4]:
winter20cup.head()

   Rank       Athlete    D     E   ND  Score  Total  round  year Nation
0     1     gage dyer  6.0  8.40  0.0  14.40  29.05  final  2020    USA
1     1     gage dyer  6.0  8.65  0.0  14.65  29.05  final  2020    USA
2     2   sam mikulak  5.9  8.70  0.0  14.60  28.80  final  2020    USA
3     2   sam mikulak  6.2  8.30 -0.3  14.20  28.80  final  2020    USA
4     3  cameron bock  5.5  8.85  0.0  14.35  28.50  final  2020    USA

In [5]:
fx.columns

Index(['Rank', 'Athlete', 'Nation', 'D', 'E', 'ND', 'Total', 'year', 'round'], dtype='object')

In [6]:
desired_order = ['Rank', 'Athlete', 'Nation', 'D', 'E', 'ND', 'Total', 'year', 'round']

# Rearrange the columns in-place
winter20cup = winter20cup[desired_order]

In [7]:
fx = pd.concat([fx, winter20cup])

In [8]:
fx

    Rank              Athlete Nation    D      E   ND   Total  year  round
0      1   carlos edriel yulo    PHI  6.2  8.366  0.0  14.566  2019  final
1      2    hibiki arayashiki    JPN  5.9  8.600  0.0  14.500  2019  final
2      3     rayderley zapata    ESP  6.1  8.400  0.0  14.500  2019  final
3      3  dominick cunningham   none  6.1  8.400  0.0  14.500  2019  final
4      5          kim han-sol    SKR  6.2  8.000  0.0  14.200  2019  final
..   ...                  ...    ...  ...    ...  ...     ...   ...    ...
39    20          sean melton    USA  5.5  6.650  0.0  25.400  2020  final
40    21          robert neff    USA  6.2  7.000  0.0  24.850  2020  final
41    21          robert neff    USA  6.4  5.250  0.0  24.850  2020  final
42    22          kiwan watts    USA  5.1  6.950  0.0  24.350  2020  final
43    22          kiwan watts    USA  5.1  7.200  0.0  24.350  2020  final

[421 rows x 9 columns]

In [9]:
fx.info()

<class 'pandas.core.frame.DataFrame'>
Index: 421 entries, 0 to 43
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     421 non-null    int64
 1   Athlete  421 non-null    object
 2   Nation   419 non-null    object
 3   D        421 non-null    float64
 4   E        421 non-null    float64
 5   ND       421 non-null    float64
 6   Total    421 non-null    float64
 7   year     421 non-null    int64
 8   round    421 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 32.9+ KB

In [10]:
# fx.to_csv('fx.csv', index=False)