In [1]:
import pandas as pd
import numpy as np

In [2]:
iaa18 = pd.read_csv('../../Cleaning/qual_events/men/iaa2018.csv')
iaa19 = pd.read_csv('../../Cleaning/qual_events/men/iaa2019.csv')
iaa20 = pd.read_csv('../../Cleaning/qual_events/men/iaa2020.csv')

In [3]:
iaa18.head()

,Rank,Athlete,Nation,FX,PH,SR,VT,PB,HB,AA,round,year
0,1,artur dalaloyan,RUS,14.8,13.4,14.533,15.133,15.566,14.166,87.598,final,2018
1,2,xiao ruoteng,CHN,14.133,14.7,14.333,14.866,15.333,14.233,87.598,final,2018
2,3,nikita nagornyy,RUS,14.733,13.566,14.5,14.766,14.866,13.9,86.331,final,2018
3,4,sun wei,CHN,13.633,14.766,13.9,14.533,14.8,14.266,85.898,final,2018
4,5,samuel mikulak,USA,14.4,14.3,14.166,14.6,15.441,12.366,85.273,final,2018

In [4]:
iaa19.head()

,Rank,Athlete,Nation,FX,PH,SR,VT,PB,HB,AA,round,year
0,1,nikita nagornyy,RUS,14.366,13.233,14.433,14.9,14.933,13.2,85.065,final,2019
1,2,sun wei,CHN,13.566,14.933,13.833,13.566,14.566,14.266,84.730,final,2019
2,3,kazuma kaya,JPN,13.366,13.8,14.133,13.9,14.566,13.966,83.731,final,2019
3,4,joe fraser,none,13.866,13.933,13.1,14.166,14.3,13.9,83.265,final,2019
4,5,petro pakhniuk,UKR,12.7,13.266,13.566,14.266,14.766,13.766,82.330,final,2019

In [5]:
iaa20.head()

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
0,1,sam mikulak,14.60,14.50,13.85,14.15,15.35,14.35,86.80,final,USA,2020
1,2,shane wiskus,14.20,13.40,14.35,14.45,14.50,13.65,84.55,final,USA,2020
2,3,brody malone,13.70,13.95,13.80,14.40,14.60,13.50,83.95,final,USA,2020
3,4,grant breckenridge,13.85,13.35,13.90,14.10,14.60,14.10,83.90,final,USA,2020
4,5,yul moldauer,13.85,14.20,13.90,14.30,14.10,12.00,82.35,final,USA,2020

In [6]:
# iaa20=iaa20.drop(columns=['Club'])

In [7]:
iaa20['Nation'] = 'Unknown'

In [8]:
iaa20 = iaa20[['Rank', 'Athlete', 'Nation', 'FX', 'PH', 'SR', 'VT', 'PB', 'HB', 'AA',
       'round']]  # Change the order as needed

In [9]:
combined_df = pd.concat([iaa18, iaa19, iaa20], ignore_index=True)
iaa20=combined_df.copy()

In [10]:
iaa20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     512 non-null    object
 1   Athlete  512 non-null    object
 2   Nation   512 non-null    object
 3   FX       512 non-null    object
 4   PH       512 non-null    object
 5   SR       512 non-null    object
 6   VT       512 non-null    object
 7   PB       512 non-null    object
 8   HB       512 non-null    object
 9   AA       512 non-null    object
 10  round    512 non-null    object
 11  year     471 non-null    float64
dtypes: float64(1), object(11)
memory usage: 48.1+ KB

In [11]:
# iaa20.to_csv('iaa2020.csv', index=False)