In [22]:
# df was 421 and is now 363

In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('fx.csv')

In [11]:
df['year'].value_counts()

year
2019    281
2020     82
Name: count, dtype: int64

In [12]:
df.head()

   Rank              Athlete Nation    D      E   ND   Total  year  round
0     1   carlos edriel yulo    PHI  6.2  8.366  0.0  14.566  2019  final
1     2    hibiki arayashiki    JPN  5.9  8.600  0.0  14.500  2019  final
2     3     rayderley zapata    ESP  6.1  8.400  0.0  14.500  2019  final
3     3  dominick cunningham   none  6.1  8.400  0.0  14.500  2019  final
4     5          kim han-sol    SKR  6.2  8.000  0.0  14.200  2019  final

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     363 non-null    int64
 1   Athlete  363 non-null    object
 2   Nation   361 non-null    object
 3   D        363 non-null    float64
 4   E        363 non-null    float64
 5   ND       363 non-null    float64
 6   Total    363 non-null    float64
 7   year     363 non-null    int64
 8   round    363 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 25.6+ KB

In [14]:
# artem dolgopyat (ISR) 
# rayderley zapata (ESP) 
# xiao ruoteng (CHN)

In [15]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'artem dolgopyat':
        return 1
    elif name_lower == 'rayderley zapata':
        return 1
    elif name_lower == 'xiao ruoteng':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Athlete'].apply(assign_medal)

In [16]:
df['medal'].value_counts()

medal
0    355
1      8
Name: count, dtype: int64

In [17]:
df

,Rank,Athlete,Nation,D,E,ND,Total,year,round,medal
0,1,carlos edriel yulo,PHI,6.2,8.366,0.0,14.566,2019,final,0
1,2,hibiki arayashiki,JPN,5.9,8.600,0.0,14.500,2019,final,0
2,3,rayderley zapata,ESP,6.1,8.400,0.0,14.500,2019,final,1
3,3,dominick cunningham,none,6.1,8.400,0.0,14.500,2019,final,0
4,5,kim han-sol,SKR,6.2,8.000,0.0,14.200,2019,final,0
...,...,...,...,...,...,...,...,...,...,...
358,20,sean melton,USA,5.5,6.650,0.0,25.400,2020,final,0
359,21,robert neff,USA,6.2,7.000,0.0,24.850,2020,final,0
360,21,robert neff,USA,6.4,5.250,0.0,24.850,2020,final,0
361,22,kiwan watts,USA,5.1,6.950,0.0,24.350,2020,final,0
362,22,kiwan watts,USA,5.1,7.200,0.0,24.350,2020,final,0

In [18]:
df['round'] = df['round'].str.lower()

In [19]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['Name_encoded'] = le.fit_transform(df['Athlete'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Athlete']), df['Athlete']))

In [20]:
df

,Rank,Athlete,Nation,D,E,ND,Total,year,round,medal,Name_encoded
0,1,carlos edriel yulo,PHI,6.2,8.366,0.0,14.566,2019,final,0,47
1,2,hibiki arayashiki,JPN,5.9,8.600,0.0,14.500,2019,final,0,91
2,3,rayderley zapata,ESP,6.1,8.400,0.0,14.500,2019,final,1,197
3,3,dominick cunningham,none,6.1,8.400,0.0,14.500,2019,final,0,69
4,5,kim han-sol,SKR,6.2,8.000,0.0,14.200,2019,final,0,129
...,...,...,...,...,...,...,...,...,...,...,...
358,20,sean melton,USA,5.5,6.650,0.0,25.400,2020,final,0,216
359,21,robert neff,USA,6.2,7.000,0.0,24.850,2020,final,0,204
360,21,robert neff,USA,6.4,5.250,0.0,24.850,2020,final,0,204
361,22,kiwan watts,USA,5.1,6.950,0.0,24.350,2020,final,0,132
362,22,kiwan watts,USA,5.1,7.200,0.0,24.350,2020,final,0,132

In [21]:
df=df.drop(columns=["Athlete"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [23]:
df

     Rank Nation    D      E   ND   Total  year  round  medal  Name
0       1    PHI  6.2  8.366  0.0  14.566  2019  final      0    47
1       2    JPN  5.9  8.600  0.0  14.500  2019  final      0    91
2       3    ESP  6.1  8.400  0.0  14.500  2019  final      1   197
3       3   none  6.1  8.400  0.0  14.500  2019  final      0    69
4       5    SKR  6.2  8.000  0.0  14.200  2019  final      0   129
..    ...    ...  ...    ...  ...     ...   ...    ...    ...   ...
358    20    USA  5.5  6.650  0.0  25.400  2020  final      0   216
359    21    USA  6.2  7.000  0.0  24.850  2020  final      0   204
360    21    USA  6.4  5.250  0.0  24.850  2020  final      0   204
361    22    USA  5.1  6.950  0.0  24.350  2020  final      0   132
362    22    USA  5.1  7.200  0.0  24.350  2020  final      0   132

[363 rows x 10 columns]

In [24]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

In [25]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [26]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    363 non-null    int64
 1   D       363 non-null    float64
 2   E       363 non-null    float64
 3   ND      363 non-null    float64
 4   Total   363 non-null    float64
 5   year    363 non-null    int64
 6   round   363 non-null    object
 7   medal   363 non-null    int64
 8   Name    363 non-null    int64
 9   Nation  363 non-null    int64
dtypes: float64(4), int64(5), object(1)
memory usage: 28.5+ KB

In [19]:
# df_encoded.to_csv('fx_encoded.csv', index=False)