#  Variable Neighborhood Search (VNS):


['jordan chiles' 'joscelyn roberson' 'shilese jones' 'simone biles']
Total Score:
168.99812500000002

# Randomized Heuristics


Best Selection: ['joscelyn roberson' 'simone biles' 'shilese jones' 'jordan chiles']
Best Score: 168.42235

# Tabu Search
['simone biles' 'shilese jones' 'zoe miller' 'joscelyn roberson']
Total Score:
169.71908928571426

# brute force

['ashlee sullivan', 'jordan chiles', 'shilese jones', 'simone biles']
Maximum Score:
168.42235

#  Stochastic control

0    ashlee sullivan  39.275000
1      jordan chiles  41.359400
2  joscelyn roberson  40.933425
3         zoe miller  40.493214

---

In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('../modeling/women/womens_individuals.csv')

# Picking team based on Individual events, Simone Biles would be on all team, while we try to pick the other 4 members of the team.

In [4]:
df['Gymnast'].value_counts()

Gymnast
Simone Biles         3
Joscelyn Roberson    1
Shilese Jones        1
Zoe Miller           1
Jordan Chiles        1
Ashlee Sullivan      1
Name: count, dtype: int64

In [5]:
df = pd.read_csv('../Data/cleandata22-23/usa22_23.csv')
df1 = pd.read_csv('../Cleaning/USOPC/usa_women_apparatus.csv')

In [6]:
df=df1.copy()

In [7]:
selected_names = ['simone biles', 'joscelyn roberson',
                  'shilese jones', 'zoe miller', 'jordan chiles', 
                  'ashlee sullivan']

# Filter rows with selected names
filtered_df = df[df['Name'].isin(selected_names)]

In [8]:
df = filtered_df.groupby('Name').sum().reset_index()

In [11]:
df

                Name        BB         FX         UB       VT
0    ashlee sullivan  13.22500  12.950000  12.583333  13.1000
1      jordan chiles  12.65800  13.666500  13.433200  14.2597
2  joscelyn roberson  13.26100  13.631125  11.220000  14.0413
3      shilese jones  13.46640  13.673200  14.655000  14.2330
4       simone biles  14.64975  14.674750  14.233250  14.8196
5         zoe miller  12.21250  12.012500  14.380714  13.9000

#  Variable Neighborhood Search (VNS):


['jordan chiles' 'joscelyn roberson' 'shilese jones' 'simone biles']
Total Score:
168.99812500000002

# Randomized-Heuristics


Best Selection: ['joscelyn roberson' 'simone biles' 'shilese jones' 'jordan chiles']
Best Score: 168.42235

# Tabu Search
['simone biles' 'shilese jones' 'zoe miller' 'joscelyn roberson']
Total Score:
169.71908928571426

# brute force

['ashlee sullivan', 'jordan chiles', 'shilese jones', 'simone biles']
Maximum Score:
168.42235

#  Stochastic control

                Name    Top3Sum
0    ashlee sullivan  39.275000
1      jordan chiles  41.359400
2  joscelyn roberson  40.933425
3         zoe miller  40.493214

In [ ]:
import pandas as pd
import numpy as np


# Define the number of athletes to select
num_athletes_to_select = 4

# Define the apparatuses
apparatuses = ['FX', 'UB', 'BB', 'VT']

# Define the neighborhood size
neighborhood_size = 2  # Adjust as needed

# Initialize the solution randomly
selected_athletes = np.random.choice(df['Name'], num_athletes_to_select, replace=False)

# Define a function to calculate the total score for a given solution
def calculate_total_score(selected_athletes):
    selected_scores = df[df['Name'].isin(selected_athletes)][apparatuses].values
    top_3_scores = np.sum(np.partition(selected_scores, -3)[:, -3:])
    return top_3_scores

# Define the main VNS algorithm
def variable_neighborhood_search(df, num_athletes_to_select, apparatuses, neighborhood_size, num_iterations):
    best_solution = None
    best_score = float('-inf')

    for iteration in range(num_iterations):
        # Shake: Generate a new solution by randomly changing athletes
        current_solution = np.random.choice(df['Name'], num_athletes_to_select, replace=False)
        
        for _ in range(neighborhood_size):
            # Local Search: Optimize the solution locally
            current_score = calculate_total_score(current_solution)
            
            # Perturb: Randomly change some athletes in the current solution
            perturbed_solution = np.random.choice(df['Name'], num_athletes_to_select, replace=False)
            perturbed_score = calculate_total_score(perturbed_solution)
            
            # Acceptance Criterion: Accept the perturbed solution if it improves the score
            if perturbed_score > current_score:
                current_solution = perturbed_solution
                current_score = perturbed_score

        # Update the best solution if the current one is better
        if current_score > best_score:
            best_solution = current_solution
            best_score = current_score

    return best_solution, best_score

# Run the VNS algorithm
best_solution, best_score = variable_neighborhood_search(df, num_athletes_to_select, apparatuses, neighborhood_size, num_iterations=1000)

# Print the result
print('Selected Athletes:')
print(best_solution)
print('Total Score:')
print(best_score)

# Randomized -Heuristics


Best Selection: ['joscelyn roberson' 'simone biles' 'shilese jones' 'jordan chiles']
Best Score: 168.42235

In [ ]:
import pandas as pd
import numpy as np

# Define the number of athletes to select
num_athletes_to_select = 4

# Define the apparatuses
apparatuses = ['FX', 'VT', 'BB', 'UB']

# Initialize variables to store the best solution
best_score = 0
best_selection = None

# Define the number of iterations for the Randomized-heuristic
num_iterations = 1000

for _ in range(num_iterations):
    # Randomly select 4 athletes
    selected_athletes = np.random.choice(df['Name'], size=num_athletes_to_select, replace=False)

    # Calculate the score for the current selection
    scores = df[df['Name'].isin(selected_athletes)][apparatuses].sum(axis=1).nlargest(3).sum()

    # Update the best solution if the current one is better
    if scores > best_score:
        best_score = scores
        best_selection = selected_athletes

# Print the best selection and score
print("Best Selection:", best_selection)
print("Best Score:", best_score)

# Tabu Search
['simone biles' 'shilese jones' 'zoe miller' 'joscelyn roberson']
Total Score:
169.71908928571426

In [ ]:
import pandas as pd
import numpy as np

def calculate_score(selected_athletes, df):
    """
    Calculate the total score for a given set of selected athletes.
    """
    # Select rows corresponding to the chosen athletes
    selected_df = df[df['Name'].isin(selected_athletes)]

    # Calculate the sum of the top 3 scores for each apparatus
    apparatus_scores = selected_df.drop(['Name'], axis=1)
    top_3_sum = apparatus_scores.apply(lambda row: sum(sorted(row, reverse=True)[:3]), axis=0)

    # Calculate the total score
    total_score = top_3_sum.sum()

    return total_score




def tabu_search(df, num_athletes_to_select, tabu_size, max_iterations):
    # Initialize the solution with a random set of athletes
    available_athletes = df['Name'].tolist()
    current_solution = np.random.choice(available_athletes, size=num_athletes_to_select, replace=False)
    best_solution = current_solution.copy()
    best_score = calculate_score(best_solution, df)

    # Initialize tabu list
    tabu_list = []

    # Main Tabu Search loop
    for iteration in range(max_iterations):
        # Generate neighbors by swapping athletes
        neighbors = []
        for i in range(num_athletes_to_select):
            for athlete in df['Name']:
                if athlete not in current_solution:
                    neighbor = current_solution.copy()
                    neighbor[i] = athlete
                    neighbors.append(neighbor)

                    
                    
                best_neighbor = None
        best_neighbor_score = float('-inf')

        for neighbor in neighbors:
            neighbor_score = calculate_score(neighbor, df)

            # Convert the NumPy array to a tuple
            neighbor_tuple = tuple(neighbor)

            if neighbor_score > best_neighbor_score and neighbor_tuple not in tabu_list:
                best_neighbor = neighbor
                best_neighbor_score = neighbor_score

        # Update current solution and tabu list
        current_solution = best_neighbor
        tabu_list.append(tuple(best_neighbor))

        # Keep the tabu list size within the specified limit
        if len(tabu_list) > tabu_size:
            tabu_list.pop(0)

        # Update the best solution if a better one is found
        if best_neighbor_score > best_score:
            best_solution = best_neighbor
            best_score = best_neighbor_score

        # Print progress
        print(f"Iteration {iteration + 1}, Best Score: {best_score}")

    return best_solution, best_score



# Set parameters
num_athletes_to_select = 4
tabu_size = 10
max_iterations = 100

# Perform Tabu Search
best_solution, best_score = tabu_search(df, num_athletes_to_select, tabu_size, max_iterations)

# Print the selected athletes and the corresponding score
print('Selected Athletes:')
print(best_solution)
print('Total Score:')
print(best_score)

# brute force

['ashlee sullivan', 'jordan chiles', 'shilese jones', 'simone biles']
Maximum Score:
168.42235

In [ ]:
df = filtered_df.groupby('Name').sum().reset_index()

In [ ]:
import pandas as pd
import itertools
from tqdm import tqdm

num_athletes = 4
apparatuses = ['VT', 'UB', 'BB', 'FX']

# Generate all combinations of athletes
athlete_combinations = list(itertools.combinations(df['Name'], num_athletes))

# variables to store maximum score and athletes
max_score = 0
selected_athletes = []

# tqdm progress bar
progress_bar = tqdm(total=len(athlete_combinations))

# Iterate through combination of athletes
for combination in athlete_combinations:
    # Generate all possible combinations of apparatuses for current athlete combination
    apparatus_combinations = list(itertools.permutations(apparatuses, num_athletes))

    # Iterate through each combination of apparatuses
    for apparatus_combination in apparatus_combinations:
        # Calculate the sum of top three scores for current apparatus combination
        score = df[df['Name'].isin(combination)][list(apparatus_combination)].sum(axis=1).nlargest(3).sum()

        # Update maximum score and selected athletes if a higher score is found
        if score > max_score:
            max_score = score
            selected_athletes = list(combination)

    # Update progress bar
    progress_bar.update(1)

progress_bar.close()

print('Selected Athletes:')
print(selected_athletes)
print('Maximum Score:')
print(max_score)

#  Stochastic control

                Name    Top3Sum
0    ashlee sullivan  39.275000
1      jordan chiles  41.359400
2  joscelyn roberson  40.933425
3         zoe miller  40.493214

In [ ]:
df = filtered_df.groupby('Name').sum().reset_index()

In [ ]:
# Stochastic control to pick 4 gymnasts
selected_gymnasts = df.sample(n=4, random_state=42)

# Ensure each apparatus is competed on 3 times by each selected gymnast
selected_gymnasts = selected_gymnasts.groupby('Name').apply(lambda x: x.sample(n=3, replace=True, random_state=42)).reset_index(drop=True)

# Calculate the sum of the top 3 scores for each apparatus
selected_gymnasts['Top3Sum'] = selected_gymnasts[['VT', 'UB', 'BB', 'FX']].apply(lambda x: sum(sorted(x, reverse=True)[:3]), axis=1)

# Get the largest sum for each apparatus
result = selected_gymnasts.groupby('Name').agg({'Top3Sum': 'max'}).reset_index()

print(result)

---

In [12]:
import pandas as pd

data = {
    'Algorithm': ['Variable Neighborhood Search (VNS)', 'Randomized-Heuristics', 'Tabu Search', 'Brute Force'],
    'Athletes': [
        ['Jordan Chiles', 'Joscelyn Roberson', 'Shilese Jones', 'Simone Biles'],
        ['Joscelyn Roberson', 'Simone Biles', 'Shilese Jones', 'Jordan Chiles'],
        ['Simone Biles', 'Shilese Jones', 'Zoe Miller', 'Joscelyn Roberson'],
        ['Ashlee Sullivan', 'Jordan Chiles', 'Shilese Jones', 'Simone Biles']
    ],
    'Score Type': ['Total Score', 'Best Score', 'Total Score', 'Maximum Score'],
    'Score': [168.99812500000002, 168.42235, 169.71908928571426, 168.42235]
}

df = pd.DataFrame(data)

# Display the DataFrame
df

,Algorithm,Athletes,Score Type,Score
0,Variable Neighborhood Search (VNS),"[Jordan Chiles, Joscelyn Roberson, Shilese Jon...",Total Score,168.998125
1,Hyper-Heuristics,"[Joscelyn Roberson, Simone Biles, Shilese Jone...",Best Score,168.422350
2,Tabu Search,"[Simone Biles, Shilese Jones, Zoe Miller, Josc...",Total Score,169.719089
3,Brute Force,"[Ashlee Sullivan, Jordan Chiles, Shilese Jones...",Maximum Score,168.422350

In [13]:
# df.to_csv('team_from_ind_scores.csv', index=False)

In [14]:
df=df.drop(columns=['Score Type'])

In [15]:

# Add columns for each athlete
athletes = list(set(Athletes for athletes_list in df['Athletes'] for Athletes in athletes_list))

for athlete in athletes:
    df[athlete] = df['Athletes'].apply(lambda x: 1 if athlete in x else 0)

# Calculate the sum for each athlete column
athlete_sums = df.groupby('Algorithm')[athletes].sum()

In [16]:
athlete_sums

,Zoe Miller,Simone Biles,Jordan Chiles,Ashlee Sullivan,Shilese Jones,Joscelyn Roberson
Algorithm,,,,,,
Brute Force,0,1,1,1,1,0
Hyper-Heuristics,0,1,1,0,1,1
Tabu Search,1,1,0,0,1,1
Variable Neighborhood Search (VNS),0,1,1,0,1,1

In [ ]:
athlete_sums.loc['Total'] = athlete_sums.select_dtypes(include='number').sum()

In [ ]:
athlete_sums

In [ ]:
algos=athlete_sums.T

In [ ]:
algos.sort_values='Total'

In [ ]:
algos.info()

In [ ]:
df_algos = algos.copy()  # Replace this line with the correct DataFrame name

# Sort the DataFrame by the 'Total' column
df_algos.sort_values(by='Total', inplace=True, ascending=False)

In [ ]:
df_algos

In [ ]:
# Reset the index to make the new index the default one
df_algos.reset_index(drop=False, inplace=True)

In [ ]:
df_algos

In [ ]:
# df_algos.to_csv('team_from_ind.csv', index=False)