In [1]:
import pandas as pd
import numpy as np

In [2]:
df12 = pd.read_csv('../../../scraping/women/olympics/women2012olympics/Gymnastics_ 2012_Olympics_women\'s_artistic_floor.csv')
df16 = pd.read_csv('../../../scraping/women/olympics/women2016olympics/Gymnastics_ 2016_Olympics_women\'s_artistic_floor.csv')
df20 = pd.read_csv('../../../scraping/women/olympics/womens2020olympics/Gymnastics_ 2020_Olympics_women\'s_artistic_floor.csv')

In [3]:
df12['year'] = 2012

In [4]:
df16['year'] = 2016

In [5]:
df20['year'] = 2020

In [6]:
df12.head(1)

   Rank      Gymnast         Nation  D Score  E Score  Pen.  Total  year
0     1  Aly Raisman  United States      6.5      9.1   NaN   15.6  2012

In [7]:
df16.head(1)

   Rank               Name  Difficulty  Execution  Penalty   Total  year
0     1  Simone Biles(USA)         6.9      9.066      NaN  15.966  2016

In [8]:
df20.head(1)

   Rank          Gymnast  D Score  E Score  Pen.   Total  year
0     1  Jade Carey(USA)      6.3    8.066   NaN  14.366  2020

In [9]:
column_mapping = {'Name': 'Gymnast', 
                  'Difficulty': 'D Score','Execution': 'E Score',
                 'Penalty': 'Pen.'}

# Rename the columns using the rename() method
df16.rename(columns=column_mapping, inplace=True)

In [10]:
df16['Nation'] = df16['Gymnast'].str.extract(r'\((.*?)\)')

In [11]:
df16['Gymnast'] = df16['Gymnast'].str.replace(r'\([^)]*\)', '', regex=True)

In [12]:
df16.head(1)

   Rank       Gymnast  D Score  E Score  Pen.   Total  year Nation
0     1  Simone Biles      6.9    9.066   NaN  15.966  2016    USA

In [13]:
df20['Nation'] = df20['Gymnast'].str.extract(r'\((.*?)\)')

In [14]:
df20['Gymnast'] = df20['Gymnast'].str.replace(r'\([^)]*\)', '', regex=True)

In [15]:
df20.head()

   Rank             Gymnast  D Score  E Score  Pen.   Total  year Nation
0     1          Jade Carey      6.3    8.066   NaN  14.366  2020    USA
1     2     Vanessa Ferrari      5.9    8.300   NaN  14.200  2020    ITA
2     3        Mai Murakami      5.9    8.266   NaN  14.166  2020    JPN
3     3  Angelina Melnikova      5.9    8.266   NaN  14.166  2020    ROC
4     5      Rebeca Andrade      5.9    8.233   0.1  14.033  2020    BRA

In [16]:
combined_df = pd.concat([df12, df16, df20], axis=0)

# Reset the index if needed
combined_df.reset_index(drop=True, inplace=True)

In [17]:
df= combined_df.copy()

In [18]:
df = df.fillna(0)

In [19]:
df

,Rank,Gymnast,Nation,D Score,E Score,Pen.,Total,year
0,1,Aly Raisman,United States,6.5,9.100,0.0,15.600,2012
1,2,Cătălina Ponor,Romania,6.2,9.000,0.0,15.200,2012
2,3,Aliya Mustafina,Russia,5.9,9.000,0.0,14.900,2012
3,4,Vanessa Ferrari,Italy,6.2,8.700,0.0,14.900,2012
4,5,Lauren Mitchell,Australia,6.4,8.433,0.0,14.833,2012
5,6,Ksenia Afanasyeva,Russia,6.1,8.666,0.2,14.566,2012
6,7,Jordyn Wieber,United States,6.1,8.500,0.1,14.500,2012
7,8,Sandra Izbașa,Romania,5.6,8.033,0.3,13.333,2012
8,1,Simone Biles,USA,6.9,9.066,0.0,15.966,2016
9,2,Aly Raisman,USA,6.6,8.900,0.0,15.500,2016
10,3,Amy Tinkler,GBR,6.4,8.533,0.0,14.933,2016
11,4,Vanessa Ferrari,ITA,6.3,8.466,0.0,14.766,2016
12,5,Wang Yan,CHN,6.3,8.366,0.0,14.666,2016
13,6,Erika Fasana,ITA,6.1,8.433,0.0,14.533,2016
14,7,Mai Murakami,JPN,6.3,8.233,0.0,14.533,2016
15,8,Giulia Steingruber,SUI,5.4,6.700,-0.3,11.800,2016
16,1,Jade Carey,USA,6.3,8.066,0.0,14.366,2020
17,2,Vanessa Ferrari,ITA,5.9,8.300,0.0,14.200,2020
18,3,Mai Murakami,JPN,5.9,8.266,0.0,14.166,2020
19,3,Angelina Melnikova,ROC,5.9,8.266,0.0,14.166,2020
20,5,Rebeca Andrade,BRA,5.9,8.233,0.1,14.033,2020
21,6,Jessica Gadirova,GBR,5.6,8.400,0.0,14.000,2020
22,7,Jennifer Gadirova,GBR,5.1,8.133,0.0,13.233,2020
23,8,Viktoria Listunova,ROC,5.2,7.300,0.1,12.400,2020

In [21]:
df['Nation'].value_counts()

Nation
USA              3
GBR              3
ITA              3
United States    2
Romania          2
Russia           2
JPN              2
ROC              2
Italy            1
Australia        1
CHN              1
SUI              1
BRA              1
Name: count, dtype: int64

In [22]:
# Use the replace method to change values
df['Nation'] = df['Nation'].replace({'China': 'CHN', 'Japan': 'JPN',
                                    'Russia': 'RUS', 'Romania': 'RUM',
                                    'Germany': 'GER', 'Cuba': 'CUB',
                                    'United States': 'USA', 'Ukraine': 'UKR',
                                    'Greece': 'GRE', 'Mexico': 'MEX',
                                    'France': 'FRA', 'Netherlands': 'NED',
                                    'Brazil': 'BRA', "Great Britain": 'GBR',
                                    'South Korea': 'KOR', 'Israel': 'ISR',
                                    "Australia": 'AUS', "Italy": 'ITA'})

In [24]:
df

    Rank             Gymnast Nation  D Score  E Score  Pen.   Total  year
0      1         Aly Raisman    USA      6.5    9.100   0.0  15.600  2012
1      2      Cătălina Ponor    RUM      6.2    9.000   0.0  15.200  2012
2      3     Aliya Mustafina    RUS      5.9    9.000   0.0  14.900  2012
3      4     Vanessa Ferrari    ITA      6.2    8.700   0.0  14.900  2012
4      5     Lauren Mitchell    AUS      6.4    8.433   0.0  14.833  2012
5      6   Ksenia Afanasyeva    RUS      6.1    8.666   0.2  14.566  2012
6      7       Jordyn Wieber    USA      6.1    8.500   0.1  14.500  2012
7      8       Sandra Izbașa    RUM      5.6    8.033   0.3  13.333  2012
8      1        Simone Biles    USA      6.9    9.066   0.0  15.966  2016
9      2         Aly Raisman    USA      6.6    8.900   0.0  15.500  2016
10     3         Amy Tinkler    GBR      6.4    8.533   0.0  14.933  2016
11     4     Vanessa Ferrari    ITA      6.3    8.466   0.0  14.766  2016
12     5            Wang Yan    CHN      6.3    8.366   0.0  14.666  2016
13     6        Erika Fasana    ITA      6.1    8.433   0.0  14.533  2016
14     7        Mai Murakami    JPN      6.3    8.233   0.0  14.533  2016
15     8  Giulia Steingruber    SUI      5.4    6.700  -0.3  11.800  2016
16     1          Jade Carey    USA      6.3    8.066   0.0  14.366  2020
17     2     Vanessa Ferrari    ITA      5.9    8.300   0.0  14.200  2020
18     3        Mai Murakami    JPN      5.9    8.266   0.0  14.166  2020
19     3  Angelina Melnikova    ROC      5.9    8.266   0.0  14.166  2020
20     5      Rebeca Andrade    BRA      5.9    8.233   0.1  14.033  2020
21     6    Jessica Gadirova    GBR      5.6    8.400   0.0  14.000  2020
22     7   Jennifer Gadirova    GBR      5.1    8.133   0.0  13.233  2020
23     8  Viktoria Listunova    ROC      5.2    7.300   0.1  12.400  2020

In [25]:
# df.to_csv('cleaned_womens2012to2020fx', index=False)