In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../../scraping/women/miscellaneous/scrape2020final_indiv_floor.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../../scraping/women/miscellaneous/scrape2020final_indiv_floor.csv'

In [3]:
df

   Rank                  Gymnast  D Score  E Score  Pen.   Total
0     1          Jade Carey(USA)      6.3    8.066   NaN  14.366
1     2     Vanessa Ferrari(ITA)      5.9    8.300   NaN  14.200
2     3        Mai Murakami(JPN)      5.9    8.266   NaN  14.166
3     3  Angelina Melnikova(ROC)      5.9    8.266   NaN  14.166
4     5      Rebeca Andrade(BRA)      5.9    8.233   0.1  14.033
5     6    Jessica Gadirova(GBR)      5.6    8.400   NaN  14.000
6     7   Jennifer Gadirova(GBR)      5.1    8.133   NaN  13.233
7     8  Viktoria Listunova(ROC)      5.2    7.300   0.1  12.400

In [4]:
# Extract data within parentheses and store it in a new column
df["Country"] = df['Gymnast'].str.extract(r'\((.*?)\)')

df['Gymnast'] = df['Gymnast'].apply(lambda x: x.split('(')[0].strip())
df.head()

   Rank             Gymnast  D Score  E Score  Pen.   Total Country
0     1          Jade Carey      6.3    8.066   NaN  14.366     USA
1     2     Vanessa Ferrari      5.9    8.300   NaN  14.200     ITA
2     3        Mai Murakami      5.9    8.266   NaN  14.166     JPN
3     3  Angelina Melnikova      5.9    8.266   NaN  14.166     ROC
4     5      Rebeca Andrade      5.9    8.233   0.1  14.033     BRA

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     8 non-null      int64
 1   Gymnast  8 non-null      object
 2   D Score  8 non-null      float64
 3   E Score  8 non-null      float64
 4   Pen.     2 non-null      float64
 5   Total    8 non-null      float64
 6   Country  8 non-null      object
dtypes: float64(4), int64(1), object(2)
memory usage: 576.0+ bytes

In [6]:
df['Pen.'].fillna(0, inplace=True)

In [7]:
df

   Rank             Gymnast  D Score  E Score  Pen.   Total Country
0     1          Jade Carey      6.3    8.066   0.0  14.366     USA
1     2     Vanessa Ferrari      5.9    8.300   0.0  14.200     ITA
2     3        Mai Murakami      5.9    8.266   0.0  14.166     JPN
3     3  Angelina Melnikova      5.9    8.266   0.0  14.166     ROC
4     5      Rebeca Andrade      5.9    8.233   0.1  14.033     BRA
5     6    Jessica Gadirova      5.6    8.400   0.0  14.000     GBR
6     7   Jennifer Gadirova      5.1    8.133   0.0  13.233     GBR
7     8  Viktoria Listunova      5.2    7.300   0.1  12.400     ROC

In [8]:
# df.to_csv('clean2020final_indiv_floor.csv', index=False)  # Set index=False to exclude index column