# add data for donnell whittenburg  & cameron bock

In [62]:
import pandas as pd
import numpy as np

In [63]:
fx = pd.read_csv('../../scraping/men/men23top/fx.csv')
sr = pd.read_csv('../../scraping/men/men23top/sr.csv')
hb = pd.read_csv('../../scraping/men/men23top/hb.csv')
ph = pd.read_csv('../../scraping/men/men23top/ph.csv')
pb = pd.read_csv('../../scraping/men/men23top/pb.csv')
vt_avg = pd.read_csv('../../scraping/men/men23top/vt_avg.csv')
vt_com_d = pd.read_csv('../../scraping/men/men23top/vt_combo_d.csv')
vt_sing = pd.read_csv('../../scraping/men/men23top/vt_single.csv')

fxd = pd.read_csv('../../scraping/men/men23top/fxd.csv')
hbd = pd.read_csv('../../scraping/men/men23top/hbd.csv')
iaa = pd.read_csv('../../scraping/men/men23top/iaa.csv')
pbd = pd.read_csv('../../scraping/men/men23top/pbd.csv')
phd = pd.read_csv('../../scraping/men/men23top/phd.csv')

iaa24 = pd.read_csv('../../Combine_Data/men/iaa2024.csv')

In [64]:
usa = iaa24[iaa24['Nation']=='USA']

In [65]:
# ph, sr, pb, vt_avg, vt_sing, vt_com_d

# fxd, pbd, phd

In [66]:
usa2 = iaa24[iaa24['Nation']=='USA']

In [67]:
usa

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.40,83.950,final,USA,2022
422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.10,83.536,final,USA,2022
423,3.0,asher hong,14.029,12.949,14.566,16.680,14.355,10.45,83.029,final,USA,2022
424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.40,81.648,final,USA,2022
425,5.0,colt walker,12.450,12.750,13.250,14.897,15.055,13.10,81.502,final,USA,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
716,38.0,ian skirkey,0.000,14.972,0.000,0.000,0.000,0.00,14.972,final,USA,2023
717,39.0,ignacio yockers,0.000,14.942,0.000,0.000,0.000,0.00,14.942,final,USA,2023
718,40.0,brandon dang,0.000,14.466,0.000,0.000,0.000,0.00,14.466,final,USA,2023
719,41.0,vahe petrosyan,0.000,0.000,0.000,13.350,0.000,0.00,13.350,final,USA,2023
720,42.0,troy lipis,0.000,0.000,12.711,0.000,0.000,0.00,12.711,final,USA,2023

In [68]:
usa[usa['Athlete'] == 'donnell whittenburg']

Empty DataFrame
Columns: [Rank, Athlete, FX, PH, SR, VT, PB, HB, AA, round, Nation, year]
Index: []

In [69]:
usa[usa['Athlete'] == 'cameron bock']

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
688,10.0,cameron bock,13.4,13.05,11.6,13.95,13.3,13.55,78.85,final,USA,2023

In [7]:
dfz=usa.copy()

In [8]:
usa = usa[usa['AA'] > 80]

In [9]:
usa['Athlete'].value_counts()

Athlete
asher hong           2
yul moldauer         2
ian lasic-ellis      2
riley loos           2
vitaliy guimaraes    1
khoi young           1
colt walker          1
taylor burkhart      1
colin van            1
fred richard         1
shane wiskus         1
Name: count, dtype: int64

In [10]:
usa=usa.drop(columns=['round', 'Nation', 'year'])

In [11]:
usa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 421 to 684
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     15 non-null     float64
 1   Athlete  15 non-null     object
 2   FX       15 non-null     float64
 3   PH       15 non-null     float64
 4   SR       15 non-null     float64
 5   VT       15 non-null     float64
 6   PB       15 non-null     float64
 7   HB       15 non-null     float64
 8   AA       15 non-null     float64
dtypes: float64(8), object(1)
memory usage: 1.2+ KB

In [12]:
dfs = usa.copy()

In [13]:
grouped_means = usa.groupby('Athlete').mean()

In [14]:
grouped_means

,Rank,FX,PH,SR,VT,PB,HB,AA
Athlete,,,,,,,,
asher hong,3.0,13.116,12.728,14.3495,15.7175,14.5275,12.0500,82.4885
colin van,9.0,13.450,11.700,13.3000,14.8470,13.7000,13.1500,80.1470
colt walker,5.0,12.450,12.750,13.2500,14.8970,15.0550,13.1000,81.5020
fred richard,2.0,14.483,13.357,13.3500,14.0000,14.4500,14.9620,84.6020
ian lasic-ellis,5.5,13.625,13.450,13.8500,13.6250,13.9000,13.0275,81.4775
khoi young,2.0,13.550,15.342,12.5500,15.2440,13.7500,13.1000,83.5360
riley loos,7.0,12.800,12.950,13.7765,14.4995,13.7250,12.8750,80.6260
shane wiskus,5.0,13.700,13.250,14.2500,13.7500,14.0500,12.2000,81.2000
taylor burkhart,6.0,13.200,13.600,12.9500,14.5940,14.1500,12.7000,81.1940
vitaliy guimaraes,1.0,14.250,14.350,13.6000,14.4500,13.9000,13.4000,83.9500
yul moldauer,2.5,13.900,13.873,14.1150,13.8250,15.3320,12.4500,83.4950

In [15]:
import pulp
import pandas as pd

# Define the athlete data
grouped_means = {
    'Asher Hong': {'FX': 13.116, 'PH': 12.728, 'SR': 14.3495, 'VT': 15.7175, 'PB': 14.5275, 'HB': 12.05, 'AA': 82.4885},
    'Colin Van': {'FX': 13.45, 'PH': 11.7, 'SR': 13.3, 'VT': 14.847, 'PB': 13.7, 'HB': 13.15, 'AA': 80.147},
    'Colt Walker': {'FX': 12.45, 'PH': 12.75, 'SR': 13.25, 'VT': 14.897, 'PB': 15.055, 'HB': 13.1, 'AA': 81.502},
    'Fred Richard': {'FX': 14.483, 'PH': 13.357, 'SR': 13.35, 'VT': 14.0, 'PB': 14.45, 'HB': 14.962, 'AA': 84.602},
    'Ian Lasic-Ellis': {'FX': 13.625, 'PH': 13.45, 'SR': 13.85, 'VT': 13.625, 'PB': 13.9, 'HB': 13.0275, 'AA': 81.4775},
    'Khoi Young': {'FX': 13.55, 'PH': 15.342, 'SR': 12.55, 'VT': 15.244, 'PB': 13.75, 'HB': 13.1, 'AA': 83.536},
    'Riley Loos': {'FX': 12.8, 'PH': 12.95, 'SR': 13.7765, 'VT': 14.4995, 'PB': 13.725, 'HB': 12.875, 'AA': 80.626},
    'Shane Wiskus': {'FX': 13.7, 'PH': 13.25, 'SR': 14.25, 'VT': 13.75, 'PB': 14.05, 'HB': 12.2, 'AA': 81.2},
    'Taylor Burkhart': {'FX': 13.2, 'PH': 13.6, 'SR': 12.95, 'VT': 14.594, 'PB': 14.15, 'HB': 12.7, 'AA': 81.194},
    'Vitaliy Guimaraes': {'FX': 14.25, 'PH': 14.35, 'SR': 13.6, 'VT': 14.45, 'PB': 13.9, 'HB': 13.4, 'AA': 83.95},
    'Yul Moldauer': {'FX': 13.9, 'PH': 13.873, 'SR': 14.115, 'VT': 13.825, 'PB': 15.332, 'HB': 12.45, 'AA': 83.495}
}

# Create a pandas DataFrame from the data
df = pd.DataFrame(grouped_means)

# Create a MILP problem
prob = pulp.LpProblem("Team_Selection", pulp.LpMaximize)

# Define decision variables
athletes = list(df.index)
apparatus = list(df.columns)
x = pulp.LpVariable.dicts("x", ((athlete, app) for athlete in athletes for app in apparatus), cat="Binary")

# Define the objective function
prob += pulp.lpSum(df.loc[athlete, app] * x[(athlete, app)] for athlete in athletes for app in apparatus)

# Add constraints
# Additional constraint to ensure unique athletes
for app in apparatus:
    prob += pulp.lpSum(x[(athlete, app)] for athlete in athletes) <= 1

# Add a constraint to select exactly 5 athletes
prob += pulp.lpSum(x[(athlete, app)] for athlete in athletes for app in apparatus) == 5

# Solve the problem with the CBC solver
prob.solve(pulp.PULP_CBC_CMD(msg=False))

# Print the selected team
selected_team = [(athlete, app) for athlete in athletes for app in apparatus if x[(athlete, app)].value() == 1]

print("Selected Team:")
for athlete, app in selected_team:
    print(f"{athlete} on {app}")

Selected Team:
AA on Asher Hong
AA on Fred Richard
AA on Khoi Young
AA on Vitaliy Guimaraes
AA on Yul Moldauer

In [16]:
# includes backup
# Selected Team:
# AA on Asher Hong
# AA on Fred Richard
# AA on Khoi Young
# AA on Vitaliy Guimaraes
# AA on Yul Moldauer

# alternate: AA on Colt Walker

In [17]:
# top 5 from updated model
# Selected Team:
# AA on Asher Hong
# AA on Fred Richard
# AA on Khoi Young
# AA on Vitaliy Guimaraes
# AA on Yul Moldauer

In [18]:
usa[usa['Athlete']== 'yul moldauer']

     Rank       Athlete    FX      PH      SR     VT      PB    HB      AA
424   4.0  yul moldauer  13.4  13.789  14.116  13.40  15.543  11.4  81.648
679   1.0  yul moldauer  14.4  13.957  14.114  14.25  15.121  13.5  85.342

In [19]:
usa[usa['Athlete']== 'asher hong']

     Rank     Athlete      FX      PH      SR      VT      PB     HB      AA
423   3.0  asher hong  14.029  12.949  14.566  16.680  14.355  10.45  83.029
681   3.0  asher hong  12.203  12.507  14.133  14.755  14.700  13.65  81.948

In [20]:
usa[usa['Athlete']== 'fred richard']

     Rank       Athlete      FX      PH     SR    VT     PB      HB      AA
680   2.0  fred richard  14.483  13.357  13.35  14.0  14.45  14.962  84.602

In [21]:
usa[usa['Athlete']== 'khoi young']

     Rank     Athlete     FX      PH     SR      VT     PB    HB      AA
422   2.0  khoi young  13.55  15.342  12.55  15.244  13.75  13.1  83.536

In [22]:
usa[usa['Athlete']== 'vitaliy guimaraes']

     Rank            Athlete     FX     PH    SR     VT    PB    HB     AA
421   1.0  vitaliy guimaraes  14.25  14.35  13.6  14.45  13.9  13.4  83.95

In [23]:
usa[usa['Athlete']== 'colt walker']

     Rank      Athlete     FX     PH     SR      VT      PB    HB      AA
425   5.0  colt walker  12.45  12.75  13.25  14.897  15.055  13.1  81.502

In [24]:
dfs

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA
421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950
422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536
423,3.0,asher hong,14.029,12.949,14.566,16.680,14.355,10.450,83.029
424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.400,81.648
425,5.0,colt walker,12.450,12.750,13.250,14.897,15.055,13.100,81.502
426,6.0,taylor burkhart,13.200,13.600,12.950,14.594,14.150,12.700,81.194
427,7.0,ian lasic-ellis,13.650,13.500,13.750,13.550,13.300,13.300,81.050
428,8.0,riley loos,12.700,13.600,13.600,14.747,14.100,12.300,81.047
429,9.0,colin van,13.450,11.700,13.300,14.847,13.700,13.150,80.147
679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342
680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602
681,3.0,asher hong,12.203,12.507,14.133,14.755,14.700,13.650,81.948
682,4.0,ian lasic-ellis,13.600,13.400,13.950,13.700,14.500,12.755,81.905
683,5.0,shane wiskus,13.700,13.250,14.250,13.750,14.050,12.200,81.200
684,6.0,riley loos,12.900,12.300,13.953,14.252,13.350,13.450,80.205

In [25]:
import pandas as pd
from pulp import LpMaximize, LpProblem, LpVariable

# Load the data
data = dfs.copy()  # Replace with the actual data file

# Create a list of unique athlete names and assign unique IDs
unique_athletes = data["Athlete"].unique()
athlete_to_id = {athlete: i + 1 for i, athlete in enumerate(unique_athletes)}

# Create a list of unique event names
unique_events = ["FX", "PH", "SR", "VT", "PB", "HB", "AA"]

# Create a matrix to store the performance data
num_athletes = len(unique_athletes)
num_events = len(unique_events)
performance_data = [[0] * num_events for _ in range(num_athletes)]

# Populate the performance data matrix
for _, row in data.iterrows():
    athlete = row["Athlete"]
    athlete_id = athlete_to_id[athlete]
    for event in unique_events:
        performance_data[athlete_id - 1][unique_events.index(event)] = row[event]

# Define the ILP model
model = LpProblem(name="ILP_Maximize_Total_Value", sense=LpMaximize)

# Decision variables
x = {(i, j): LpVariable(name=f"x_{i}_{j}", cat="Binary") for i in range(1, num_athletes + 1) for j in range(1, num_events + 1)}

# Objective function
model += sum(performance_data[i - 1][j - 1] * x[i, j] for i in range(1, num_athletes + 1) for j in range(1, num_events + 1)), "Total_Value"

# Constraints (similar to the previous example)

# Solve the ILP
model.solve()

# Track combinations of top 5 athletes with the highest total values
top_5_combinations = []
top_5_values = []

for i in range(1, num_athletes + 1):
    for j in range(1, num_events + 1):
        if x[i, j].varValue == 1:
            # Track this athlete and event
            combination = (unique_athletes[i - 1], unique_events[j - 1])
            top_5_combinations.append(combination)
            top_5_values.append(performance_data[i - 1][j - 1])

# Sort combinations by value in descending order
sorted_combinations = [x for _, x in sorted(zip(top_5_values, top_5_combinations), reverse=True)]

# Select the top 5 athletes with the highest total values
top_5_athletes = sorted_combinations[:5]

# Print the results
print("Top 5 Athletes for the Highest Total Value:")
for i, athlete_event in enumerate(top_5_athletes, start=1):
    athlete, event = athlete_event
    value = top_5_values[i - 1]
    print(f"{i}. Athlete: {athlete}, Event: {event}, Value: {value}")

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/cabf3dcf9243474dae67e1be8cf0cce4-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/cabf3dcf9243474dae67e1be8cf0cce4-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 5 COLUMNS
At line 237 RHS
At line 238 BOUNDS
At line 316 ENDATA
Problem MODEL has 0 rows, 77 columns and 0 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 1811.06 - 0.00 seconds
Cgl0004I processed model has 0 rows, 0 columns (0 integer (0 of which binary)) and 0 elements
Cbc3007W No integer variables - nothing to do
Cuts at root node changed objective from -1811.06 to -1.79769e+308
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                1811.06200000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.00

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

Top 5 Athletes for the Highest Total Value:
1. Athlete: yul moldauer, Event: AA, Value: 14.25
2. Athlete: fred richard, Event: AA, Value: 14.35
3. Athlete: vitaliy guimaraes, Event: AA, Value: 13.6
4. Athlete: khoi young, Event: AA, Value: 14.45
5. Athlete: asher hong, Event: AA, Value: 13.9

In [26]:
# Selected Team:
# AA on Asher Hong
# AA on Fred Richard
# AA on Khoi Young
# AA on Vitaliy Guimaraes
# AA on Yul Moldauer

In [54]:
athlete_names = ["asher aong", "fred richard", "khoi young", "vitaliy guimaraes", "yul moldauer"]

dfs = dfz[dfz['Athlete'].isin(athlete_names)]

In [55]:
# unique_events = ["FX", "PH", "SR", "VT", "PB", "HB", "AA"]

dfs.nlargest(5, 'FX')

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602,final,USA,2023
679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342,final,USA,2023
421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950,final,USA,2022
422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536,final,USA,2022
424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.400,81.648,final,USA,2022

In [56]:
dfs.nlargest(5, 'PH')

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536,final,USA,2022
421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950,final,USA,2022
679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342,final,USA,2023
424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.400,81.648,final,USA,2022
680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602,final,USA,2023

In [57]:
dfs.nlargest(5, 'SR')

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.400,81.648,final,USA,2022
679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342,final,USA,2023
421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950,final,USA,2022
680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602,final,USA,2023
422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536,final,USA,2022

In [59]:
dfs.nlargest(5, 'VT')

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536,final,USA,2022
712,34.0,khoi young,0.000,11.200,0.000,14.802,0.000,0.000,26.002,final,USA,2023
421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950,final,USA,2022
679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342,final,USA,2023
680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602,final,USA,2023

In [60]:
dfs.nlargest(5, 'PB')

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.400,81.648,final,USA,2022
679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342,final,USA,2023
680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602,final,USA,2023
421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950,final,USA,2022
422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536,final,USA,2022

In [61]:
dfs.nlargest(5, 'HB')

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602,final,USA,2023
679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342,final,USA,2023
421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950,final,USA,2022
422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536,final,USA,2022
448,28.0,fred richard,11.850,12.250,11.950,13.900,12.400,11.650,74.000,final,USA,2022

In [37]:
# Asher Hong
# Fred Richard
# Khoi Young
# Vitaliy Guimaraes
# Yul Moldauer


Fred Richard 
Paul Juda 
Asher 
Khoi  
Colt  
Donnell 

The team Iâ€™d love: Yul Fred Khoi Paul Donnell Colt

My dream US MAG: Fred, Cam, Asher, Yul, Stephen N, Khoi.