In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../scraping/olympics/olympic2016men/Gymnastics_ 2016_Olympics_Men's_artistic_team_all-around.csv")

In [3]:
df.head(15)

,Team,fx,fx_rank,ph,ph_rank,sr,sr_rank,vt,vt_rank,pb,pb_rank,hb,hb_rank,total,total_rank
0,Japan,47.199,1.0,43.933,4.0,44.599,3.0,46.199,1.0,46.766,2.0,45.398,1.0,274.094,1.0
1,Kōhei Uchimura(JPN),15.6,2.0,15.100,5.0,14.8,13.0,15.566,3.0,15.366,12.0,15.166,4.0,NaN,NaN
2,Ryōhei Katō(JPN),15.466,3.0,14.933,8.0,NaN,NaN,15.000,17.0,15.500,9.0,15.066,8.0,NaN,NaN
3,Yūsuke Tanaka(JPN),NaN,NaN,NaN,NaN,14.933,7.0,NaN,NaN,15.900,2.0,15.166,4.0,NaN,NaN
4,Kenzō Shirai(JPN),16.133,1.0,NaN,NaN,NaN,NaN,15.633,1.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Koji Yamamuro(JPN),NaN,NaN,13.900,21.0,14.866,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Russia,44.766,3.0,45.299,2.0,45.432,1.0,46.033,2.0,46.033,4.0,43.89,6.0,271.453,2.0
7,David Belyavskiy(RUS),14.666,13.0,15.500,3.0,NaN,NaN,15.033,14.0,15.800,5.0,14.958,11.0,NaN,NaN
8,Nikolai Kuksenkov(RUS),NaN,NaN,15.033,6.0,14.866,8.0,NaN,NaN,15.133,13.0,14.166,20.0,NaN,NaN
9,Denis Ablyazin(RUS),15.1,8.0,NaN,NaN,15.7,2.0,15.600,2.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Nikita Nagornyy(RUS),15,10.0,NaN,NaN,14.866,8.0,15.400,5.0,NaN,NaN,NaN,NaN,NaN,NaN
11,Ivan Stretovich(RUS),NaN,NaN,14.766,12.0,NaN,NaN,NaN,NaN,15.100,16.0,14.766,14.0,NaN,NaN
12,China,43.799,4.0,44.258,3.0,45.233,2.0,45.000,6.0,47.866,1.0,44.966,3.0,271.122,3.0
13,Deng Shudi(CHN),13.833,20.0,14.958,7.0,14.6,16.0,15.200,10.0,15.800,5.0,14.4,17.0,NaN,NaN
14,Lin Chaopan(CHN),14.833,12.0,14.900,9.0,NaN,NaN,14.400,23.0,15.900,2.0,15,9.0,NaN,NaN

In [4]:
new_df = df.iloc[::6]

# Reset index in the new DataFrame
new_df.reset_index(drop=True, inplace=True)

In [5]:
new_df

,Team,fx,fx_rank,ph,ph_rank,sr,sr_rank,vt,vt_rank,pb,pb_rank,hb,hb_rank,total,total_rank
0,Japan,47.199,1.0,43.933,4.0,44.599,3.0,46.199,1.0,46.766,2.0,45.398,1.0,274.094,1.0
1,Russia,44.766,3.0,45.299,2.0,45.432,1.0,46.033,2.0,46.033,4.0,43.89,6.0,271.453,2.0
2,China,43.799,4.0,44.258,3.0,45.233,2.0,45.000,6.0,47.866,1.0,44.966,3.0,271.122,3.0
3,Great Britain,45.099,2.0,45.623,1.0,44.066,6.0,45.399,4.0,44.566,6.0,44.999,2.0,269.752,4.0
4,United States,43.757,5.0,43.699,5.0,44.465,4.0,45.865,3.0,46.333,3.0,44.441,5.0,268.560,5.0
5,Brazil,41.733,7.0,43.433,7.0,44.332,5.0,45.032,5.0,44.533,6.0,44.665,4.0,263.728,6.0
6,Germany,43.352,6.0,40.948,8.0,43.132,7.0,44.540,7.0,45.391,7.0,43.732,7.0,261.275,7.0
7,Ukraine,27.766,8.0,43.632,6.0,29.299,8.0,44.015,8.0,30.366,8.0,27,8.0,202.078,8.0

In [35]:
# new_df.to_csv('clean2016Olympics_Men\'s_artistic_team_all-around.csv', index=False)

In [6]:
df

,Team,fx,fx_rank,ph,ph_rank,sr,sr_rank,vt,vt_rank,pb,pb_rank,hb,hb_rank,total,total_rank
0,Japan,47.199,1.0,43.933,4.0,44.599,3.0,46.199,1.0,46.766,2.0,45.398,1.0,274.094,1.0
1,Kōhei Uchimura(JPN),15.6,2.0,15.100,5.0,14.8,13.0,15.566,3.0,15.366,12.0,15.166,4.0,NaN,NaN
2,Ryōhei Katō(JPN),15.466,3.0,14.933,8.0,NaN,NaN,15.000,17.0,15.500,9.0,15.066,8.0,NaN,NaN
3,Yūsuke Tanaka(JPN),NaN,NaN,NaN,NaN,14.933,7.0,NaN,NaN,15.900,2.0,15.166,4.0,NaN,NaN
4,Kenzō Shirai(JPN),16.133,1.0,NaN,NaN,NaN,NaN,15.633,1.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Koji Yamamuro(JPN),NaN,NaN,13.900,21.0,14.866,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Russia,44.766,3.0,45.299,2.0,45.432,1.0,46.033,2.0,46.033,4.0,43.89,6.0,271.453,2.0
7,David Belyavskiy(RUS),14.666,13.0,15.500,3.0,NaN,NaN,15.033,14.0,15.800,5.0,14.958,11.0,NaN,NaN
8,Nikolai Kuksenkov(RUS),NaN,NaN,15.033,6.0,14.866,8.0,NaN,NaN,15.133,13.0,14.166,20.0,NaN,NaN
9,Denis Ablyazin(RUS),15.1,8.0,NaN,NaN,15.7,2.0,15.600,2.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Nikita Nagornyy(RUS),15,10.0,NaN,NaN,14.866,8.0,15.400,5.0,NaN,NaN,NaN,NaN,NaN,NaN
11,Ivan Stretovich(RUS),NaN,NaN,14.766,12.0,NaN,NaN,NaN,NaN,15.100,16.0,14.766,14.0,NaN,NaN
12,China,43.799,4.0,44.258,3.0,45.233,2.0,45.000,6.0,47.866,1.0,44.966,3.0,271.122,3.0
13,Deng Shudi(CHN),13.833,20.0,14.958,7.0,14.6,16.0,15.200,10.0,15.800,5.0,14.4,17.0,NaN,NaN
14,Lin Chaopan(CHN),14.833,12.0,14.900,9.0,NaN,NaN,14.400,23.0,15.900,2.0,15,9.0,NaN,NaN
15,Zhang Chenglong(CHN),15.133,6.0,NaN,NaN,NaN,NaN,15.400,5.0,NaN,NaN,15.566,3.0,NaN,NaN
16,You Hao(CHN),NaN,NaN,14.400,16.0,14.8,13.0,NaN,NaN,16.166,1.0,NaN,NaN,NaN,NaN
17,Liu Yang(CHN),NaN,NaN,NaN,NaN,15.833,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Great Britain,45.099,2.0,45.623,1.0,44.066,6.0,45.399,4.0,44.566,6.0,44.999,2.0,269.752,4.0
19,Max Whitlock(GBR),15.4,4.0,15.991,1.0,14.5,17.0,14.966,18.0,14.500,22.0,14.5,16.0,NaN,NaN
20,Nile Wilson(GBR),14.666,13.0,NaN,NaN,15.1,5.0,NaN,NaN,15.133,13.0,15.666,1.0,NaN,NaN
21,Brinn Bevan(GBR),NaN,NaN,14.866,10.0,14.466,18.0,15.033,14.0,14.933,18.0,NaN,NaN,NaN,NaN
22,Kristian Thomas(GBR),15.033,9.0,NaN,NaN,NaN,NaN,15.400,5.0,NaN,NaN,14.833,13.0,NaN,NaN
23,Louis Smith(GBR),NaN,NaN,14.766,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,United States,43.757,5.0,43.699,5.0,44.465,4.0,45.865,3.0,46.333,3.0,44.441,5.0,268.560,5.0
25,Sam Mikulak(USA),14.866,11.0,14.733,13.0,NaN,NaN,15.366,8.0,15.700,7.0,15,9.0,NaN,NaN
26,Alexander Naddour(USA),13.566,21.0,14.633,14.0,14.966,6.0,15.033,14.0,NaN,NaN,NaN,NaN,NaN,NaN
27,Jacob Dalton(USA),15.325,5.0,NaN,NaN,14.833,12.0,15.466,4.0,NaN,NaN,NaN,NaN,NaN,NaN
28,Chris Brooks(USA),NaN,NaN,NaN,NaN,14.666,15.0,NaN,NaN,15.100,16.0,15.108,7.0,NaN,NaN
29,Danell Leyva(USA),NaN,NaN,14.333,19.0,NaN,NaN,NaN,NaN,15.533,8.0,14.333,19.0,NaN,NaN
30,Brazil,41.733,7.0,43.433,7.0,44.332,5.0,45.032,5.0,44.533,6.0,44.665,4.0,263.728,6.0
31,Sérgio Sasaki(BRA),12.1,23.0,14.633,14.0,14.366,20.0,15.133,11.0,15.133,13.0,14.566,15.0,NaN,NaN
32,Arthur Mariano(BRA),14.5,18.0,14.400,16.0,NaN,NaN,15.066,12.0,14.700,19.0,14.933,12.0,NaN,NaN
33,Francisco Barretto Júnior(BRA),NaN,NaN,14.400,16.0,14.1,21.0,NaN,NaN,14.700,19.0,15.166,4.0,NaN,NaN
34,Diego Hypólito(BRA),15.133,6.0,NaN,NaN,NaN,NaN,14.833,19.0,NaN,NaN,NaN,NaN,NaN,NaN
35,Arthur Zanetti(BRA),NaN,NaN,NaN,NaN,15.566,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Germany,43.352,6.0,40.948,8.0,43.132,7.0,44.540,7.0,45.391,7.0,43.732,7.0,261.275,7.0
37,Marcel Nguyen(GER),14.333,19.0,13.366,23.0,14.866,8.0,14.666,21.0,15.466,11.0,14.4,17.0,NaN,NaN
38,Andreas Bretschneider(GER),14.533,17.0,13.516,22.0,14.466,18.0,NaN,NaN,14.425,23.0,13.666,22.0,NaN,NaN
39,Lukas Dauser(GER),NaN,NaN,14.066,20.0,13.8,23.0,14.783,20.0,15.500,9.0,NaN,NaN,NaN,NaN
40,Fabian Hambüchen(GER),14.666,13.0,NaN,NaN,NaN,NaN,15.091,13.0,NaN,NaN,15.666,1.0,NaN,NaN
41,Andreas Toba(GER),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Ukraine,27.766,8.0,43.632,6.0,29.299,8.0,44.015,8.0,30.366,8.0,27,8.0,202.078,8.0
43,Vladyslav Hryko(UKR),13.166,22.0,12.666,24.0,13.866,22.0,14.241,24.0,14.666,21.0,13.7,21.0,NaN,NaN
44,Igor Radivilov(UKR),14.6,16.0,NaN,NaN,15.433,4.0,15.333,9.0,NaN,NaN,13.3,23.0,NaN,NaN
45,Oleg Verniaiev(UKR),NaN,NaN,15.633,2.0,NaN,NaN,NaN,NaN,15.900,2.0,NaN,NaN,NaN,NaN
46,Andriy Sienichkin(UKR),NaN,NaN,15.333,4.0,NaN,NaN,14.441,22.0,NaN,NaN,NaN,NaN,NaN,NaN
47,Maksym Semiankiv(UKR),DNS1,24.0,NaN,NaN,DNS1,24.0,NaN,NaN,NaN,NaN,DNS1,24.0,NaN,NaN

In [7]:
# Remove rows where "Rank" is not NaN
df = df[df['total_rank'].isna()]

# Reset the index if needed
df.reset_index(drop=True, inplace=True)

In [8]:
df.head()

,Team,fx,fx_rank,ph,ph_rank,sr,sr_rank,vt,vt_rank,pb,pb_rank,hb,hb_rank,total,total_rank
0,Kōhei Uchimura(JPN),15.6,2.0,15.100,5.0,14.8,13.0,15.566,3.0,15.366,12.0,15.166,4.0,NaN,NaN
1,Ryōhei Katō(JPN),15.466,3.0,14.933,8.0,NaN,NaN,15.000,17.0,15.500,9.0,15.066,8.0,NaN,NaN
2,Yūsuke Tanaka(JPN),NaN,NaN,NaN,NaN,14.933,7.0,NaN,NaN,15.900,2.0,15.166,4.0,NaN,NaN
3,Kenzō Shirai(JPN),16.133,1.0,NaN,NaN,NaN,NaN,15.633,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Koji Yamamuro(JPN),NaN,NaN,13.900,21.0,14.866,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
dfg = df.copy()

In [11]:

import re

dfg['country'] = None

# Iterate through the "Unnamed: 2" column, extract values within parentheses, and store them in "Vault Rank" column
for index, row in dfg.iterrows():
    value = row['Team']
    if value is not None:
        match = re.search(r'\((.*?)\)', value)
        if match:
            Teams_rank = match.group(1)
            dfg.at[index, 'country'] = Teams_rank



# Remove parentheses and their contents from "Unnamed: 2" column
dfg['Team'] = dfg['Team'].apply(lambda x: re.sub(r'\([^)]*\)', '', str(x)))

In [13]:
df = dfg.copy()

In [16]:
df.columns

Index(['Team', 'fx', 'fx_rank', 'ph', 'ph_rank', 'sr', 'sr_rank', 'vt',
       'vt_rank', 'pb', 'pb_rank', 'hb', 'hb_rank', 'total', 'total_rank',
       'country'],
      dtype='object')

In [17]:
column_order = ['Team','country', 'fx', 'fx_rank', 'ph', 'ph_rank', 'sr', 'sr_rank', 'vt',
       'vt_rank', 'pb', 'pb_rank', 'hb', 'hb_rank', 'total', 'total_rank'
       ]

# Create a new DataFrame with the desired column order
df = df[column_order]

In [20]:
df.head()

,Team,country,fx,fx_rank,ph,ph_rank,sr,sr_rank,vt,vt_rank,pb,pb_rank,hb,hb_rank,total,total_rank
0,Kōhei Uchimura,JPN,15.6,2.0,15.100,5.0,14.8,13.0,15.566,3.0,15.366,12.0,15.166,4.0,NaN,NaN
1,Ryōhei Katō,JPN,15.466,3.0,14.933,8.0,NaN,NaN,15.000,17.0,15.500,9.0,15.066,8.0,NaN,NaN
2,Yūsuke Tanaka,JPN,NaN,NaN,NaN,NaN,14.933,7.0,NaN,NaN,15.900,2.0,15.166,4.0,NaN,NaN
3,Kenzō Shirai,JPN,16.133,1.0,NaN,NaN,NaN,NaN,15.633,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Koji Yamamuro,JPN,NaN,NaN,13.900,21.0,14.866,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df = df.drop(columns=["total", "total_rank"])

In [23]:
df.fillna(0, inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Team     40 non-null     object
 1   country  40 non-null     object
 2   fx       40 non-null     object
 3   fx_rank  40 non-null     float64
 4   ph       40 non-null     float64
 5   ph_rank  40 non-null     float64
 6   sr       40 non-null     object
 7   sr_rank  40 non-null     float64
 8   vt       40 non-null     float64
 9   vt_rank  40 non-null     float64
 10  pb       40 non-null     float64
 11  pb_rank  40 non-null     float64
 12  hb       40 non-null     object
 13  hb_rank  40 non-null     float64
dtypes: float64(9), object(5)
memory usage: 4.5+ KB

In [28]:
df = df.iloc[:39]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Team     39 non-null     object
 1   country  39 non-null     object
 2   fx       39 non-null     object
 3   fx_rank  39 non-null     float64
 4   ph       39 non-null     float64
 5   ph_rank  39 non-null     float64
 6   sr       39 non-null     object
 7   sr_rank  39 non-null     float64
 8   vt       39 non-null     float64
 9   vt_rank  39 non-null     float64
 10  pb       39 non-null     float64
 11  pb_rank  39 non-null     float64
 12  hb       39 non-null     object
 13  hb_rank  39 non-null     float64
dtypes: float64(9), object(5)
memory usage: 4.4+ KB

In [31]:
df['sr'] = pd.to_numeric(df['sr'], errors='coerce')
df['hb'] = pd.to_numeric(df['hb'], errors='coerce')
df['fx'] = pd.to_numeric(df['fx'], errors='coerce')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Team     39 non-null     object
 1   country  39 non-null     object
 2   fx       39 non-null     float64
 3   fx_rank  39 non-null     float64
 4   ph       39 non-null     float64
 5   ph_rank  39 non-null     float64
 6   sr       39 non-null     float64
 7   sr_rank  39 non-null     float64
 8   vt       39 non-null     float64
 9   vt_rank  39 non-null     float64
 10  pb       39 non-null     float64
 11  pb_rank  39 non-null     float64
 12  hb       39 non-null     float64
 13  hb_rank  39 non-null     float64
dtypes: float64(12), object(2)
memory usage: 4.4+ KB

In [34]:
df.head()

,Team,country,fx,fx_rank,ph,ph_rank,sr,sr_rank,vt,vt_rank,pb,pb_rank,hb,hb_rank
0,Kōhei Uchimura,JPN,15.600,2.0,15.100,5.0,14.800,13.0,15.566,3.0,15.366,12.0,15.166,4.0
1,Ryōhei Katō,JPN,15.466,3.0,14.933,8.0,0.000,0.0,15.000,17.0,15.500,9.0,15.066,8.0
2,Yūsuke Tanaka,JPN,0.000,0.0,0.000,0.0,14.933,7.0,0.000,0.0,15.900,2.0,15.166,4.0
3,Kenzō Shirai,JPN,16.133,1.0,0.000,0.0,0.000,0.0,15.633,1.0,0.000,0.0,0.000,0.0
4,Koji Yamamuro,JPN,0.000,0.0,13.900,21.0,14.866,8.0,0.000,0.0,0.000,0.0,0.000,0.0

In [36]:
# df.to_csv('clean2016Olympics_Men\'s_artistic_team_all-around_Individuals.csv', index=False)