In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('data_2022_2023.csv')

In [8]:
df["Competition"].value_counts()

Competition
FIG Apparatus World Cup 2023                             2034
2022 51st FIG Artistic Gymnastics World Championships    1814
2023 Senior European Championships                       1607
2022 Senior European Championships                       1509
2023 FISU World University Games                          781
2023 U.S. Championships                                   674
BIRMINGHAM 2022 Commonwealth Games                        646
EnBW DTB Pokal Team Challenge 2023                        643
2023 Central American and Caribbean Games                 627
2022 U.S. Championships                                   615
2022 British Gymnastics Championships                     583
2023 British Gymnastics Championships                     493
2023 Osijek Challenge Cup                                 395
2023 Varna World Challenge Cup Results                    342
2023 Winter Cup                                           318
2022 Winter Cup                                           313
2023 Tel Aviv Challenge Cup                               271
2023 FISH World University Games                          175
Oceania Continental Championships 2023                     47
Name: count, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13887 entries, 0 to 13886
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     13879 non-null  object
 1   FirstName    13869 non-null  object
 2   Gender       13887 non-null  object
 3   Country      13675 non-null  object
 4   Date         13887 non-null  object
 5   Competition  13887 non-null  object
 6   Round        13887 non-null  object
 7   Location     13887 non-null  object
 8   Apparatus    13887 non-null  object
 9   Rank         12263 non-null  float64
 10  D_Score      13730 non-null  float64
 11  E_Score      13655 non-null  float64
 12  Penalty      2993 non-null   float64
 13  Score        13728 non-null  float64
dtypes: float64(5), object(9)
memory usage: 1.5+ MB

In [4]:
df["Penalty"] = df["Penalty"].fillna(0)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13887 entries, 0 to 13886
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     13879 non-null  object
 1   FirstName    13869 non-null  object
 2   Gender       13887 non-null  object
 3   Country      13675 non-null  object
 4   Date         13887 non-null  object
 5   Competition  13887 non-null  object
 6   Round        13887 non-null  object
 7   Location     13887 non-null  object
 8   Apparatus    13887 non-null  object
 9   Rank         12263 non-null  float64
 10  D_Score      13730 non-null  float64
 11  E_Score      13655 non-null  float64
 12  Penalty      13887 non-null  float64
 13  Score        13728 non-null  float64
dtypes: float64(5), object(9)
memory usage: 1.5+ MB

In [6]:
df["Rank"] = df["Rank"].fillna(0)

In [7]:
df["Country"] = df["Country"].fillna("None")

In [8]:
df["LastName"] = df["LastName"].fillna("None")
df["FirstName"] = df["FirstName"].fillna("None")
df["D_Score"] = df["D_Score"].fillna(0)
df["E_Score"] = df["E_Score"].fillna(0)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13887 entries, 0 to 13886
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     13887 non-null  object
 1   FirstName    13887 non-null  object
 2   Gender       13887 non-null  object
 3   Country      13887 non-null  object
 4   Date         13887 non-null  object
 5   Competition  13887 non-null  object
 6   Round        13887 non-null  object
 7   Location     13887 non-null  object
 8   Apparatus    13887 non-null  object
 9   Rank         13887 non-null  float64
 10  D_Score      13887 non-null  float64
 11  E_Score      13887 non-null  float64
 12  Penalty      13887 non-null  float64
 13  Score        13728 non-null  float64
dtypes: float64(5), object(9)
memory usage: 1.5+ MB

In [10]:
df["Total_Score"] = df["D_Score"] + df["E_Score"] - df["Penalty"]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13887 entries, 0 to 13886
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LastName     13887 non-null  object
 1   FirstName    13887 non-null  object
 2   Gender       13887 non-null  object
 3   Country      13887 non-null  object
 4   Date         13887 non-null  object
 5   Competition  13887 non-null  object
 6   Round        13887 non-null  object
 7   Location     13887 non-null  object
 8   Apparatus    13887 non-null  object
 9   Rank         13887 non-null  float64
 10  D_Score      13887 non-null  float64
 11  E_Score      13887 non-null  float64
 12  Penalty      13887 non-null  float64
 13  Score        13728 non-null  float64
 14  Total_Score  13887 non-null  float64
dtypes: float64(6), object(9)
memory usage: 1.6+ MB

In [12]:
df["Score"] = df["Score"].fillna(0)

In [13]:
df.isnull().sum()

LastName       0
FirstName      0
Gender         0
Country        0
Date           0
Competition    0
Round          0
Location       0
Apparatus      0
Rank           0
D_Score        0
E_Score        0
Penalty        0
Score          0
Total_Score    0
dtype: int64

In [14]:
df["Name"] = df["FirstName"] + " " + df["LastName"]

In [15]:
df = df.drop(columns=["LastName", "FirstName"])

In [16]:
df["Date"]

0                  23-26 Feb 2023
1                  23-26 Feb 2023
2                    1-5 Aug 2023
3                    1-5 Aug 2023
4                    1-5 Aug 2023
                   ...
13882    29 Oct 2022 - 6 Nov 2022
13883           29 Jul-2 Aug 2022
13884           29 Jul-2 Aug 2022
13885           29 Jul-2 Aug 2022
13886           29 Jul-2 Aug 2022
Name: Date, Length: 13887, dtype: object

In [17]:
df[['Start Date', 'End Date']] = df['Date'].str.split('-', expand=True)

In [18]:
df = df.drop(columns=["Start Date"])

In [19]:
df

,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Total_Score,Name,End Date
0,m,NOR,23-26 Feb 2023,FIG Apparatus World Cup 2023,qual,"Cottbus, Germany",HB,39.0,4.6,6.700,0.0,11.300,11.300,Fredrik AAS,26 Feb 2023
1,m,NOR,23-26 Feb 2023,FIG Apparatus World Cup 2023,qual,"Cottbus, Germany",PH,44.0,4.4,7.800,0.0,12.200,12.200,Fredrik AAS,26 Feb 2023
2,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",FX,54.0,4.0,8.566,0.0,12.566,12.566,Fredrik Bjornevik AAS,5 Aug 2023
3,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",HB,44.0,4.6,8.166,0.0,12.766,12.766,Fredrik Bjornevik AAS,5 Aug 2023
4,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",PB,54.0,4.4,8.066,0.0,12.466,12.466,Fredrik Bjornevik AAS,5 Aug 2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13882,w,AUS,29 Oct 2022 - 6 Nov 2022,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",UB,17.0,5.6,8.466,0.0,14.066,14.066,Kate None,6 Nov 2022
13883,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",BB,1.0,5.1,8.366,0.0,13.466,13.466,Kate None,2 Aug 2022
13884,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",BB,5.0,5.0,7.950,0.0,12.950,12.950,Kate None,2 Aug 2022
13885,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",UB,7.0,5.3,7.233,0.0,12.533,12.533,Kate None,2 Aug 2022
13886,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,5.0,5.6,7.900,0.0,13.500,13.500,Kate None,2 Aug 2022

In [20]:
# Convert the 'End Date' column to datetime format with automatic format inference
df['End Date'] = pd.to_datetime(df['End Date'], errors='coerce', infer_datetime_format=True)

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_25961/3629933989.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['End Date'] = pd.to_datetime(df['End Date'], errors='coerce', infer_datetime_format=True)

In [21]:
df

,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Total_Score,Name,End Date
0,m,NOR,23-26 Feb 2023,FIG Apparatus World Cup 2023,qual,"Cottbus, Germany",HB,39.0,4.6,6.700,0.0,11.300,11.300,Fredrik AAS,2023-02-26
1,m,NOR,23-26 Feb 2023,FIG Apparatus World Cup 2023,qual,"Cottbus, Germany",PH,44.0,4.4,7.800,0.0,12.200,12.200,Fredrik AAS,2023-02-26
2,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",FX,54.0,4.0,8.566,0.0,12.566,12.566,Fredrik Bjornevik AAS,2023-08-05
3,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",HB,44.0,4.6,8.166,0.0,12.766,12.766,Fredrik Bjornevik AAS,2023-08-05
4,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",PB,54.0,4.4,8.066,0.0,12.466,12.466,Fredrik Bjornevik AAS,2023-08-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13882,w,AUS,29 Oct 2022 - 6 Nov 2022,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",UB,17.0,5.6,8.466,0.0,14.066,14.066,Kate None,2022-11-06
13883,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",BB,1.0,5.1,8.366,0.0,13.466,13.466,Kate None,2022-08-02
13884,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",BB,5.0,5.0,7.950,0.0,12.950,12.950,Kate None,2022-08-02
13885,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",UB,7.0,5.3,7.233,0.0,12.533,12.533,Kate None,2022-08-02
13886,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,5.0,5.6,7.900,0.0,13.500,13.500,Kate None,2022-08-02

In [22]:
df["End Date"].value_counts()

End Date
2022-11-06    1814
2023-04-16    1607
2023-08-05     956
2023-02-26     889
2022-08-21     881
2023-08-27     674
2023-03-19     643
2022-08-14     628
2023-06-28     627
2022-08-20     615
2022-03-27     583
2023-03-12     541
2023-03-26     493
2023-04-30     467
2023-03-04     455
2022-08-02     422
2023-06-11     395
2023-05-28     342
2022-02-27     313
2023-06-04     271
2023-05-06      47
Name: count, dtype: int64

In [23]:
df

,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Total_Score,Name,End Date
0,m,NOR,23-26 Feb 2023,FIG Apparatus World Cup 2023,qual,"Cottbus, Germany",HB,39.0,4.6,6.700,0.0,11.300,11.300,Fredrik AAS,2023-02-26
1,m,NOR,23-26 Feb 2023,FIG Apparatus World Cup 2023,qual,"Cottbus, Germany",PH,44.0,4.4,7.800,0.0,12.200,12.200,Fredrik AAS,2023-02-26
2,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",FX,54.0,4.0,8.566,0.0,12.566,12.566,Fredrik Bjornevik AAS,2023-08-05
3,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",HB,44.0,4.6,8.166,0.0,12.766,12.766,Fredrik Bjornevik AAS,2023-08-05
4,m,NOR,1-5 Aug 2023,2023 FISU World University Games,qual,"Chengdu, China",PB,54.0,4.4,8.066,0.0,12.466,12.466,Fredrik Bjornevik AAS,2023-08-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13882,w,AUS,29 Oct 2022 - 6 Nov 2022,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",UB,17.0,5.6,8.466,0.0,14.066,14.066,Kate None,2022-11-06
13883,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",BB,1.0,5.1,8.366,0.0,13.466,13.466,Kate None,2022-08-02
13884,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",BB,5.0,5.0,7.950,0.0,12.950,12.950,Kate None,2022-08-02
13885,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",UB,7.0,5.3,7.233,0.0,12.533,12.533,Kate None,2022-08-02
13886,w,AUS,29 Jul-2 Aug 2022,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,5.0,5.6,7.900,0.0,13.500,13.500,Kate None,2022-08-02

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13887 entries, 0 to 13886
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gender       13887 non-null  object
 1   Country      13887 non-null  object
 2   Date         13887 non-null  object
 3   Competition  13887 non-null  object
 4   Round        13887 non-null  object
 5   Location     13887 non-null  object
 6   Apparatus    13887 non-null  object
 7   Rank         13887 non-null  float64
 8   D_Score      13887 non-null  float64
 9   E_Score      13887 non-null  float64
 10  Penalty      13887 non-null  float64
 11  Score        13887 non-null  float64
 12  Total_Score  13887 non-null  float64
 13  Name         13887 non-null  object
 14  End Date     13663 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), object(8)
memory usage: 1.6+ MB

In [25]:
df = df.drop(columns=["Date"])

In [26]:
df.rename(columns={"End Date": "Date"}, inplace=True)

In [27]:
df

,Gender,Country,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Total_Score,Name,Date
0,m,NOR,FIG Apparatus World Cup 2023,qual,"Cottbus, Germany",HB,39.0,4.6,6.700,0.0,11.300,11.300,Fredrik AAS,2023-02-26
1,m,NOR,FIG Apparatus World Cup 2023,qual,"Cottbus, Germany",PH,44.0,4.4,7.800,0.0,12.200,12.200,Fredrik AAS,2023-02-26
2,m,NOR,2023 FISU World University Games,qual,"Chengdu, China",FX,54.0,4.0,8.566,0.0,12.566,12.566,Fredrik Bjornevik AAS,2023-08-05
3,m,NOR,2023 FISU World University Games,qual,"Chengdu, China",HB,44.0,4.6,8.166,0.0,12.766,12.766,Fredrik Bjornevik AAS,2023-08-05
4,m,NOR,2023 FISU World University Games,qual,"Chengdu, China",PB,54.0,4.4,8.066,0.0,12.466,12.466,Fredrik Bjornevik AAS,2023-08-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13882,w,AUS,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",UB,17.0,5.6,8.466,0.0,14.066,14.066,Kate None,2022-11-06
13883,w,AUS,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",BB,1.0,5.1,8.366,0.0,13.466,13.466,Kate None,2022-08-02
13884,w,AUS,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",BB,5.0,5.0,7.950,0.0,12.950,12.950,Kate None,2022-08-02
13885,w,AUS,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",UB,7.0,5.3,7.233,0.0,12.533,12.533,Kate None,2022-08-02
13886,w,AUS,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,5.0,5.6,7.900,0.0,13.500,13.500,Kate None,2022-08-02

In [28]:
df.columns

Index(['Gender', 'Country', 'Competition', 'Round', 'Location', 'Apparatus',
       'Rank', 'D_Score', 'E_Score', 'Penalty', 'Score', 'Total_Score', 'Name',
       'Date'],
      dtype='object')

In [29]:
# Define the desired column order
desired_order = [ 'Name','Country','Date', 'Gender',  'Competition', 'Round', 'Location', 'Apparatus',
       'Rank', 'D_Score', 'E_Score', 'Penalty', 'Score', 'Total_Score']

# Reorder the columns based on the desired order
df = df[desired_order]

In [30]:
df

,Name,Country,Date,Gender,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Total_Score
0,Fredrik AAS,NOR,2023-02-26,m,FIG Apparatus World Cup 2023,qual,"Cottbus, Germany",HB,39.0,4.6,6.700,0.0,11.300,11.300
1,Fredrik AAS,NOR,2023-02-26,m,FIG Apparatus World Cup 2023,qual,"Cottbus, Germany",PH,44.0,4.4,7.800,0.0,12.200,12.200
2,Fredrik Bjornevik AAS,NOR,2023-08-05,m,2023 FISU World University Games,qual,"Chengdu, China",FX,54.0,4.0,8.566,0.0,12.566,12.566
3,Fredrik Bjornevik AAS,NOR,2023-08-05,m,2023 FISU World University Games,qual,"Chengdu, China",HB,44.0,4.6,8.166,0.0,12.766,12.766
4,Fredrik Bjornevik AAS,NOR,2023-08-05,m,2023 FISU World University Games,qual,"Chengdu, China",PB,54.0,4.4,8.066,0.0,12.466,12.466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13882,Kate None,AUS,2022-11-06,w,2022 51st FIG Artistic Gymnastics World Champi...,qual,"Liverpool, England",UB,17.0,5.6,8.466,0.0,14.066,14.066
13883,Kate None,AUS,2022-08-02,w,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",BB,1.0,5.1,8.366,0.0,13.466,13.466
13884,Kate None,AUS,2022-08-02,w,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",BB,5.0,5.0,7.950,0.0,12.950,12.950
13885,Kate None,AUS,2022-08-02,w,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",UB,7.0,5.3,7.233,0.0,12.533,12.533
13886,Kate None,AUS,2022-08-02,w,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,5.0,5.6,7.900,0.0,13.500,13.500

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13887 entries, 0 to 13886
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         13887 non-null  object
 1   Country      13887 non-null  object
 2   Date         13663 non-null  datetime64[ns]
 3   Gender       13887 non-null  object
 4   Competition  13887 non-null  object
 5   Round        13887 non-null  object
 6   Location     13887 non-null  object
 7   Apparatus    13887 non-null  object
 8   Rank         13887 non-null  float64
 9   D_Score      13887 non-null  float64
 10  E_Score      13887 non-null  float64
 11  Penalty      13887 non-null  float64
 12  Score        13887 non-null  float64
 13  Total_Score  13887 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(7)
memory usage: 1.5+ MB

In [32]:
df.nunique()

Name           1450
Country          99
Date             21
Gender            2
Competition      19
Round             5
Location         19
Apparatus        11
Rank            148
D_Score          60
E_Score         311
Penalty          22
Score           451
Total_Score     724
dtype: int64

In [33]:
df["Gender"].value_counts()

Gender
m    8578
w    5309
Name: count, dtype: int64

In [34]:
# women = df[df["Gender"]== "w"]

In [35]:
# women.info()

In [36]:
men = df[df["Gender"]== "m"]

In [37]:
men.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8578 entries, 0 to 13878
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         8578 non-null   object
 1   Country      8578 non-null   object
 2   Date         8424 non-null   datetime64[ns]
 3   Gender       8578 non-null   object
 4   Competition  8578 non-null   object
 5   Round        8578 non-null   object
 6   Location     8578 non-null   object
 7   Apparatus    8578 non-null   object
 8   Rank         8578 non-null   float64
 9   D_Score      8578 non-null   float64
 10  E_Score      8578 non-null   float64
 11  Penalty      8578 non-null   float64
 12  Score        8578 non-null   float64
 13  Total_Score  8578 non-null   float64
dtypes: datetime64[ns](1), float64(6), object(7)
memory usage: 1005.2+ KB

In [69]:
# men.to_csv("men22_23.csv", index=False)

In [ ]:
# women.to_csv("women22_23.csv", index=False)