In [12]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# Individuals_Results
individuals = pd.read_csv('../Cleaning/Individuals_Results/individuals_combined.csv')

In [14]:
# data is repeated in olympics data
# # final2020 - 
# vt = pd.read_csv('final2020/2020final_indiv_vaul.csv')
# fx = pd.read_csv('final2020/clean2020final_indiv_floor.csv')
# bb = pd.read_csv('final2020/clean2020final_indv_bb.csv')
# ub = pd.read_csv('final2020/clean2020final_indv_uneven.csv')
# taa = pd.read_csv('final2020/clean2020final_team_allrnd.csv')

In [15]:
# World_Championships
wc18 = pd.read_csv('World_Championships/world18champs.csv')
wc19 = pd.read_csv('World_Championships/world19champs.csv')

In [16]:
# womens olympics
olymp12team = pd.read_csv('olympics/womens/clean2012Olympics_women\'s_artistic_team_all-around.csv')
olymp12team_ind = pd.read_csv('olympics/womens/clean2012Olympics_women\'s_artistic_team_all-around_individual.csv')

olymp16team = pd.read_csv('olympics/womens/clean2016Olympics_women\'s_artistic_team_all-around.csv')
olymp16team_ind = pd.read_csv('olympics/womens/clean2016Olympics_women\'s_artistic_team_all-around_individual.csv')

olymp20team = pd.read_csv('olympics/womens/clean2020Olympics_women\'s_artistic_team_all-around.csv')
olymp20team_ind = pd.read_csv('olympics/womens/clean2020Olympics_women\'s_artistic_team_all-around_individual.csv')

bb12to20 = pd.read_csv('olympics/womens/cleaned_womens2012to2020bb')
fx12to20 = pd.read_csv('olympics/womens/cleaned_womens2012to2020fx')
ub12to20 = pd.read_csv('olympics/womens/cleaned_womens2012to2020ub')
vt12to20 = pd.read_csv('olympics/womens/cleaned_womens2012to2020vt')

In [17]:
# qual08to20
qual08to12 = pd.read_csv('qual08to20/clean08to12_team_qual.csv')
qual16to20 = pd.read_csv('qual08to20/clean16to20_team_qual.csv')

In [18]:
# # qual08to20

qual08to20 = pd.concat([qual08to12, qual16to20], ignore_index=True)

In [19]:
# # final2020
# vt
# fx
# bb
# ub
# taa

In [20]:
# world champion
wc18
wc19

,Rank,Team,vault,uneven_bars,balance_beam,floor,Total,Year
0,1,United States,45.166,42.299,40.966,43.899,172.330,2019.0
1,2,Russia,43.899,43.665,38.465,40.500,166.529,2019.0
2,3,Italy,43.732,42.299,38.799,39.966,164.796,2019.0
3,4,China,43.066,40.199,40.599,40.366,164.230,2019.0
4,5,France,43.599,40.565,38.732,40.732,163.628,2019.0
5,6,Great Britain,42.632,42.099,39.499,37.265,161.495,2019.0
6,7,Canada,43.033,39.899,37.965,39.666,160.563,2019.0
7,8,Netherlands,42.732,39.098,37.432,40.165,159.427,2019.0

In [21]:
wc18to19 = pd.concat([wc18, wc19], ignore_index=True)

In [22]:
# womens olympics

olymp12team
olymp12team_ind

olymp16team
olymp16team_ind

olymp20team
olymp20team_ind


bb12to20
fx12to20
ub12to20
vt12to20

,Rank,Gymnast,vt1_D Score,vt1_E Score,vt1_Pen.,Score 1,vt2_D Score,vt2_E Score,vt2_Pen.,Score 2,Total,year,Nation
0,1,Sandra Izbașa,6.1,9.283,0.0,15.383,5.8,9.200,0.0,15.000,15.191,2012,Romania
1,2,McKayla Maroney,6.5,9.666,0.3,15.866,6.1,8.200,0.0,14.300,15.083,2012,United States
2,3,Maria Paseka,6.5,8.900,0.0,15.400,5.6,9.100,0.0,14.700,15.05,2012,Russia
3,4,Janine Berger,6.3,8.833,0.0,15.133,6.0,8.900,0.0,14.900,15.016,2012,Germany
4,5,Oksana Chusovitina,6.3,8.800,0.0,15.100,5.5,8.966,0.0,14.466,14.783,2012,Germany
5,6,Yamilet Peña,7.1,7.566,0.1,14.566,5.8,8.666,0.0,14.466,14.516,2012,Dominican Republic
6,7,Brittany Rogers,5.8,8.966,0.0,14.766,5.6,8.600,0.0,14.200,14.483,2012,Canada
7,8,Ellie Black,0.0,0.000,0.0,0.000,0.0,0.000,0.0,0.000,0.000*,2012,Canada
8,1,Simone Biles,6.3,9.600,0.0,15.900,6.4,9.633,0.0,16.033,15.966,2016,USA
9,2,Maria Paseka,6.4,8.966,0.0,15.266,6.3,8.941,0.0,15.241,15.253,2016,RUS
10,3,Giulia Steingruber,6.2,9.333,0.0,15.533,5.8,9.100,0.0,14.900,15.216,2016,SUI
11,4,Dipa Karmakar,6.0,8.866,0.0,14.866,7.0,8.266,0.0,15.266,15.066,2016,IND
12,5,Wang Yan,6.0,8.866,0.0,14.866,6.2,8.933,0.0,15.133,14.999,2016,CHN
13,6,Hong Un-jong,6.4,9.000,0.0,15.400,6.3,8.200,-0.1,14.400,14.9,2016,PRK
14,7,Oksana Chusovitina,7.0,7.933,0.0,14.933,6.0,8.833,-0.1,14.733,14.833,2016,UZB
15,8,Shallon Olsen,6.3,8.666,0.0,14.966,5.9,8.766,0.0,14.666,14.816,2016,CAN
16,1,Rebeca Andrade,6.0,9.266,0.1,15.166,5.8,9.200,0.0,15.000,15.083,2020,BRA
17,2,MyKayla Skinner,6.0,9.033,0.0,15.033,5.8,9.000,0.0,14.800,14.916,2020,USA
18,3,Yeo Seo-jeong,6.2,9.133,0.0,15.333,5.4,8.733,0.0,14.133,14.733,2020,KOR
19,4,Alexa Moreno,5.8,8.966,0.0,14.766,5.6,9.066,0.0,14.666,14.716,2020,MEX
20,5,Angelina Melnikova,5.4,9.266,0.0,14.666,6.0,8.800,0.1,14.700,14.683,2020,ROC
21,6,Lilia Akhaimova,5.8,8.866,0.0,14.666,5.6,9.066,0.0,14.666,14.666,2020,ROC
22,7,Shallon Olsen,6.0,8.700,0.0,14.700,5.4,9.000,0.0,14.400,14.55,2020,CAN
23,8,Jade Carey,3.3,8.633,0.0,11.933,5.8,9.100,2.0,12.900,12.416,2020,USA

In [23]:
#olympics_team
olympics_team = pd.concat([olymp12team, olymp16team, olymp20team],
                          ignore_index=True)

In [24]:
#olympics_team individual

olympics_team_ind = pd.concat([olymp12team_ind, olymp16team_ind, 
                               olymp20team_ind], ignore_index=True)

In [25]:
qual08to20.head(1
               )

,Country,Name,vault_score,vault_rank,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,total_score,total_rank,vault1_score,vault2_score,vault_avg_score
0,CHN,Yang Yilin,15.2,12.0,16.65,1.0,15.5,11.0,15.0,10.0,62.35,3.0,NaN,NaN,NaN

In [26]:
wc18to19.head(1)

,Rank,Team,vault,uneven_bars,balance_beam,floor,Total,Year
0,1,United States,44.666,43.799,41.799,41.365,171.629,2019.0

In [32]:
# olympics_team.head(1)

In [28]:
bb12to20.head(1)

   Rank      Gymnast Nation  D Score  E Score  Pen.  Total  year
0     1  Deng Linlin  China      6.6      9.0   0.0   15.6  2012

In [29]:
individuals.head(1)

         Date    Competition Round   VT   UB    BB   FX   AA          Name
0  2021-07-23  Olympic Games    EF  0.0  0.0  14.0  0.0  0.0  Simone Biles

In [30]:
olympics_team_ind.head(1)

            Name      vt    ub      bb      fx  Total Country
0  Gabby Douglas  15.966  15.2  15.233  15.066    NaN     NaN

In [33]:
individuals

,Date,Competition,Round,VT,UB,BB,FX,AA,Name
0,2021-07-23,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000,Simone Biles
1,2021-07-23,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000,Simone Biles
2,2021-07-23,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731,Simone Biles
3,2021-06-24,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533,Simone Biles
4,2021-06-24,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565,Simone Biles
...,...,...,...,...,...,...,...,...,...
321,2022-07-29,U.S. Classic,AA,14.400,12.850,13.550,13.600,54.400,Leanne Wong
322,2023-08-24,U.S. Championships,AA,14.050,14.000,13.700,14.000,55.750,Leanne Wong
323,2023-08-24,U.S. Championships,QF,14.250,14.000,13.750,13.350,55.350,Leanne Wong
324,2023-08-04,U.S. Classic,AA,14.150,13.750,12.700,13.500,54.100,Leanne Wong
325,2023-07-09,July National Team Camp,AA,13.600,12.850,12.600,12.450,51.500,Leanne Wong

In [21]:
new_column_names = {
    'VT': 'vt',
    'UB': 'ub',
    'BB': 'bb',
    'FX': 'fx',
    'AA': 'Total',
}

# Rename the columns
individuals = individuals.rename(columns=new_column_names)

In [22]:
individuals['Country'] = 'USA'

In [23]:
individuals["Round"].value_counts()

Round
AA    204
QF     62
EF     45
TF     15
Name: count, dtype: int64

In [24]:
individuals

,Date,Competition,Round,vt,ub,bb,fx,Total,Name,Country
0,2021-07-23,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000,Simone Biles,USA
1,2021-07-23,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000,Simone Biles,USA
2,2021-07-23,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731,Simone Biles,USA
3,2021-06-24,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533,Simone Biles,USA
4,2021-06-24,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565,Simone Biles,USA
...,...,...,...,...,...,...,...,...,...,...
321,2022-07-29,U.S. Classic,AA,14.400,12.850,13.550,13.600,54.400,Leanne Wong,USA
322,2023-08-24,U.S. Championships,AA,14.050,14.000,13.700,14.000,55.750,Leanne Wong,USA
323,2023-08-24,U.S. Championships,QF,14.250,14.000,13.750,13.350,55.350,Leanne Wong,USA
324,2023-08-04,U.S. Classic,AA,14.150,13.750,12.700,13.500,54.100,Leanne Wong,USA
325,2023-07-09,July National Team Camp,AA,13.600,12.850,12.600,12.450,51.500,Leanne Wong,USA

In [25]:
olympics_team_ind["Competition"] = "Olympic Games"

In [26]:
olympics_team_ind["Round"] = "TF"

In [27]:
#olympics_team
olympics_and_individ = pd.concat([individuals, olympics_team_ind],
                          ignore_index=True)

In [28]:
olympics_and_individ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         326 non-null    object
 1   Competition  438 non-null    object
 2   Round        438 non-null    object
 3   vt           438 non-null    float64
 4   ub           438 non-null    float64
 5   bb           438 non-null    float64
 6   fx           438 non-null    float64
 7   Total        366 non-null    float64
 8   Name         438 non-null    object
 9   Country      398 non-null    object
dtypes: float64(5), object(5)
memory usage: 34.3+ KB

In [29]:
olympics_and_individ['Date'].fillna('2021-07-23', inplace=True)

In [30]:
olympics_and_individ

,Date,Competition,Round,vt,ub,bb,fx,Total,Name,Country
0,2021-07-23,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000,Simone Biles,USA
1,2021-07-23,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000,Simone Biles,USA
2,2021-07-23,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731,Simone Biles,USA
3,2021-06-24,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533,Simone Biles,USA
4,2021-06-24,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565,Simone Biles,USA
...,...,...,...,...,...,...,...,...,...,...
433,2021-07-23,Olympic Games,TF,14.066,0.000,13.900,13.133,NaN,Zhang Jin,CHN
434,2021-07-23,Olympic Games,TF,14.033,0.000,10.933,0.000,NaN,Maellyse Brassart,BEL
435,2021-07-23,Olympic Games,TF,0.000,15.400,13.866,13.366,NaN,Nina Derwael,BEL
436,2021-07-23,Olympic Games,TF,14.233,13.766,0.000,12.900,NaN,Lisa Vaelen,BEL
437,2021-07-23,Olympic Games,TF,13.466,12.466,12.200,13.066,NaN,Jutta Verkest,BEL

In [31]:
olympics_and_individ['Date'] = pd.to_datetime(olympics_and_individ['Date'])

In [32]:
olympics_and_individ

,Date,Competition,Round,vt,ub,bb,fx,Total,Name,Country
0,2021-07-23,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000,Simone Biles,USA
1,2021-07-23,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000,Simone Biles,USA
2,2021-07-23,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731,Simone Biles,USA
3,2021-06-24,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533,Simone Biles,USA
4,2021-06-24,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565,Simone Biles,USA
...,...,...,...,...,...,...,...,...,...,...
433,2021-07-23,Olympic Games,TF,14.066,0.000,13.900,13.133,NaN,Zhang Jin,CHN
434,2021-07-23,Olympic Games,TF,14.033,0.000,10.933,0.000,NaN,Maellyse Brassart,BEL
435,2021-07-23,Olympic Games,TF,0.000,15.400,13.866,13.366,NaN,Nina Derwael,BEL
436,2021-07-23,Olympic Games,TF,14.233,13.766,0.000,12.900,NaN,Lisa Vaelen,BEL
437,2021-07-23,Olympic Games,TF,13.466,12.466,12.200,13.066,NaN,Jutta Verkest,BEL

In [33]:
df = olympics_and_individ.copy()

In [34]:
duplicates = df[df.duplicated()]

In [35]:
duplicates

Empty DataFrame
Columns: [Date, Competition, Round, vt, ub, bb, fx, Total, Name, Country]
Index: []

In [36]:
duplicates = df[df.duplicated(subset=['vt','ub','bb','fx','Name'])]

In [37]:
duplicates

,Date,Competition,Round,vt,ub,bb,fx,Total,Name,Country
410,2021-07-23,Olympic Games,TF,13.766,0.000,0.000,0.000,NaN,Simone Biles,USA
411,2021-07-23,Olympic Games,TF,14.666,14.166,13.433,11.700,NaN,Jordan Chiles,USA
412,2021-07-23,Olympic Games,TF,0.000,15.400,14.133,13.666,NaN,Sunisa Lee,USA

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         438 non-null    datetime64[ns]
 1   Competition  438 non-null    object
 2   Round        438 non-null    object
 3   vt           438 non-null    float64
 4   ub           438 non-null    float64
 5   bb           438 non-null    float64
 6   fx           438 non-null    float64
 7   Total        366 non-null    float64
 8   Name         438 non-null    object
 9   Country      398 non-null    object
dtypes: datetime64[ns](1), float64(5), object(4)
memory usage: 34.3+ KB

In [39]:
df = df.drop_duplicates(subset=['vt','ub','bb','fx','Name'], keep='first')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 435 entries, 0 to 437
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         435 non-null    datetime64[ns]
 1   Competition  435 non-null    object
 2   Round        435 non-null    object
 3   vt           435 non-null    float64
 4   ub           435 non-null    float64
 5   bb           435 non-null    float64
 6   fx           435 non-null    float64
 7   Total        366 non-null    float64
 8   Name         435 non-null    object
 9   Country      395 non-null    object
dtypes: datetime64[ns](1), float64(5), object(4)
memory usage: 37.4+ KB

In [41]:
df['Total'].fillna(df[['vt','ub','bb','fx',]].sum(axis=1), inplace=True)

In [42]:
df['Country'].fillna('None', inplace=True)

In [43]:
df["Competition"].value_counts()

Competition
Olympic Games                        121
U.S. Championships                    74
U.S. Classic                          30
World Championships                   26
Winter Cup                            25
U.S. Olympic Trials                   16
U.S. Worlds Trials                    15
Pan American Championships            14
U.S. Pan Ams Trials                   14
DTB Pokal Team Challenge              13
March National Team Camp              12
WOGA Classic                          11
July National Team Camp               10
American Classic                       9
City of Jesolo Trophy                  8
Paris Challenge Cup                    6
U.S. Junior Pan Am Games Trials        6
Pan American Trials                    5
Junior Pan American Games              4
Vegas Cup National Qualifier           3
Junior Pan American Championships      2
Szombathely Challenge Cup              2
DTB Pokal Mixed Cup                    2
Junior Pan Am Games Trials             2
Cairo World Cup                        2
All American National Qualifier        1
Brestyan’s National Qualifier          1
Biles National Qualifier               1
Name: count, dtype: int64

In [44]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [45]:
le = LabelEncoder()

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 435 entries, 0 to 437
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         435 non-null    datetime64[ns]
 1   Competition  435 non-null    object
 2   Round        435 non-null    object
 3   vt           435 non-null    float64
 4   ub           435 non-null    float64
 5   bb           435 non-null    float64
 6   fx           435 non-null    float64
 7   Total        435 non-null    float64
 8   Name         435 non-null    object
 9   Country      435 non-null    object
 10  Target       435 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 40.8+ KB

In [51]:
df.head()

,Date,Round,vt,ub,bb,fx,Total,Name,Country,Target,...,Competition_U.S. Championships,Competition_U.S. Classic,Competition_U.S. Junior Pan Am Games Trials,Competition_U.S. Olympic Trials,Competition_U.S. Pan Ams Trials,Competition_U.S. Worlds Trials,Competition_Vegas Cup National Qualifier,Competition_WOGA Classic,Competition_Winter Cup,Competition_World Championships
0,2021-07-23,EF,0.000,0.000,14.000,0.000,0.000,Simone Biles,USA,1,...,False,False,False,False,False,False,False,False,False,False
1,2021-07-23,TF,13.766,0.000,0.000,0.000,0.000,Simone Biles,USA,1,...,False,False,False,False,False,False,False,False,False,False
2,2021-07-23,QF,14.966,14.566,14.066,14.133,57.731,Simone Biles,USA,1,...,False,False,False,False,False,False,False,False,False,False
3,2021-06-24,AA,15.400,13.833,13.700,14.600,57.533,Simone Biles,USA,0,...,False,False,False,True,False,False,False,False,False,False
4,2021-06-24,QF,15.466,14.600,15.133,15.366,60.565,Simone Biles,USA,0,...,False,False,False,True,False,False,False,False,False,False

In [49]:
df = pd.get_dummies(df, columns=['Competition'])

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 435 entries, 0 to 437
Data columns (total 38 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Date                                           435 non-null    datetime64[ns]
 1   Round                                          435 non-null    object
 2   vt                                             435 non-null    float64
 3   ub                                             435 non-null    float64
 4   bb                                             435 non-null    float64
 5   fx                                             435 non-null    float64
 6   Total                                          435 non-null    float64
 7   Name                                           435 non-null    object
 8   Country                                        435 non-null    object
 9   Target                                         435 non-null    int64
 10  Competition_All American National Qualifier    435 non-null    bool
 11  Competition_American Classic                   435 non-null    bool
 12  Competition_Biles National Qualifier           435 non-null    bool
 13  Competition_Brestyan’s National Qualifier      435 non-null    bool
 14  Competition_Cairo World Cup                    435 non-null    bool
 15  Competition_City of Jesolo Trophy              435 non-null    bool
 16  Competition_DTB Pokal Mixed Cup                435 non-null    bool
 17  Competition_DTB Pokal Team Challenge           435 non-null    bool
 18  Competition_July National Team Camp            435 non-null    bool
 19  Competition_Junior Pan Am Games Trials         435 non-null    bool
 20  Competition_Junior Pan American Championships  435 non-null    bool
 21  Competition_Junior Pan American Games          435 non-null    bool
 22  Competition_March National Team Camp           435 non-null    bool
 23  Competition_Olympic Games                      435 non-null    bool
 24  Competition_Pan American Championships         435 non-null    bool
 25  Competition_Pan American Trials                435 non-null    bool
 26  Competition_Paris Challenge Cup                435 non-null    bool
 27  Competition_Szombathely Challenge Cup          435 non-null    bool
 28  Competition_U.S. Championships                 435 non-null    bool
 29  Competition_U.S. Classic                       435 non-null    bool
 30  Competition_U.S. Junior Pan Am Games Trials    435 non-null    bool
 31  Competition_U.S. Olympic Trials                435 non-null    bool
 32  Competition_U.S. Pan Ams Trials                435 non-null    bool
 33  Competition_U.S. Worlds Trials                 435 non-null    bool
 34  Competition_Vegas Cup National Qualifier       435 non-null    bool
 35  Competition_WOGA Classic                       435 non-null    bool
 36  Competition_Winter Cup                         435 non-null    bool
 37  Competition_World Championships                435 non-null    bool
dtypes: bool(28), datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 49.3+ KB

In [55]:
df['Competition_Olympic Games']

0       True
1       True
2       True
3      False
4      False
       ...
433     True
434     True
435     True
436     True
437     True
Name: Competition_Olympic Games, Length: 435, dtype: bool

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 435 entries, 0 to 437
Data columns (total 38 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Date                                           435 non-null    datetime64[ns]
 1   Round                                          435 non-null    object
 2   vt                                             435 non-null    float64
 3   ub                                             435 non-null    float64
 4   bb                                             435 non-null    float64
 5   fx                                             435 non-null    float64
 6   Total                                          435 non-null    float64
 7   Name                                           435 non-null    object
 8   Country                                        435 non-null    object
 9   Target                                         435 non-null    int64
 10  Competition_All American National Qualifier    435 non-null    bool
 11  Competition_American Classic                   435 non-null    bool
 12  Competition_Biles National Qualifier           435 non-null    bool
 13  Competition_Brestyan’s National Qualifier      435 non-null    bool
 14  Competition_Cairo World Cup                    435 non-null    bool
 15  Competition_City of Jesolo Trophy              435 non-null    bool
 16  Competition_DTB Pokal Mixed Cup                435 non-null    bool
 17  Competition_DTB Pokal Team Challenge           435 non-null    bool
 18  Competition_July National Team Camp            435 non-null    bool
 19  Competition_Junior Pan Am Games Trials         435 non-null    bool
 20  Competition_Junior Pan American Championships  435 non-null    bool
 21  Competition_Junior Pan American Games          435 non-null    bool
 22  Competition_March National Team Camp           435 non-null    bool
 23  Competition_Olympic Games                      435 non-null    bool
 24  Competition_Pan American Championships         435 non-null    bool
 25  Competition_Pan American Trials                435 non-null    bool
 26  Competition_Paris Challenge Cup                435 non-null    bool
 27  Competition_Szombathely Challenge Cup          435 non-null    bool
 28  Competition_U.S. Championships                 435 non-null    bool
 29  Competition_U.S. Classic                       435 non-null    bool
 30  Competition_U.S. Junior Pan Am Games Trials    435 non-null    bool
 31  Competition_U.S. Olympic Trials                435 non-null    bool
 32  Competition_U.S. Pan Ams Trials                435 non-null    bool
 33  Competition_U.S. Worlds Trials                 435 non-null    bool
 34  Competition_Vegas Cup National Qualifier       435 non-null    bool
 35  Competition_WOGA Classic                       435 non-null    bool
 36  Competition_Winter Cup                         435 non-null    bool
 37  Competition_World Championships                435 non-null    bool
dtypes: bool(28), datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 49.3+ KB

In [ ]:
fghjkl

In [87]:
df['Country'] = pd.to_numeric(df['Country'], errors='coerce')

In [89]:
df['Name'] = pd.to_numeric(df['Name'], errors='coerce')

In [90]:
df['Round'] = pd.to_numeric(df['Round'], errors='coerce')

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 435 entries, 0 to 437
Data columns (total 37 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Round                                          0 non-null      float64
 1   vt                                             435 non-null    float64
 2   ub                                             435 non-null    float64
 3   bb                                             435 non-null    float64
 4   fx                                             435 non-null    float64
 5   Total                                          435 non-null    float64
 6   Name                                           0 non-null      float64
 7   Country                                        0 non-null      float64
 8   Target                                         435 non-null    int64
 9   Competition_All American National Qualifier    435 non-null    bool
 10  Competition_American Classic                   435 non-null    bool
 11  Competition_Biles National Qualifier           435 non-null    bool
 12  Competition_Brestyan’s National Qualifier      435 non-null    bool
 13  Competition_Cairo World Cup                    435 non-null    bool
 14  Competition_City of Jesolo Trophy              435 non-null    bool
 15  Competition_DTB Pokal Mixed Cup                435 non-null    bool
 16  Competition_DTB Pokal Team Challenge           435 non-null    bool
 17  Competition_July National Team Camp            435 non-null    bool
 18  Competition_Junior Pan Am Games Trials         435 non-null    bool
 19  Competition_Junior Pan American Championships  435 non-null    bool
 20  Competition_Junior Pan American Games          435 non-null    bool
 21  Competition_March National Team Camp           435 non-null    bool
 22  Competition_Olympic Games                      435 non-null    bool
 23  Competition_Pan American Championships         435 non-null    bool
 24  Competition_Pan American Trials                435 non-null    bool
 25  Competition_Paris Challenge Cup                435 non-null    bool
 26  Competition_Szombathely Challenge Cup          435 non-null    bool
 27  Competition_U.S. Championships                 435 non-null    bool
 28  Competition_U.S. Classic                       435 non-null    bool
 29  Competition_U.S. Junior Pan Am Games Trials    435 non-null    bool
 30  Competition_U.S. Olympic Trials                435 non-null    bool
 31  Competition_U.S. Pan Ams Trials                435 non-null    bool
 32  Competition_U.S. Worlds Trials                 435 non-null    bool
 33  Competition_Vegas Cup National Qualifier       435 non-null    bool
 34  Competition_WOGA Classic                       435 non-null    bool
 35  Competition_Winter Cup                         435 non-null    bool
 36  Competition_World Championships                435 non-null    bool
dtypes: bool(28), float64(8), int64(1)
memory usage: 45.9 KB

In [92]:
df['Target'] = le.fit_transform(df['Competition_Olympic Games'] == 'True')

In [93]:
# Split data into features (X) and the target variable (y)
X = df.drop(['Competition_Olympic Games', 'Target'], axis=1)
y = df['Target']

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [95]:
X_train

,Round,vt,ub,bb,fx,Total,Name,Country,Competition_All American National Qualifier,Competition_American Classic,...,Competition_U.S. Championships,Competition_U.S. Classic,Competition_U.S. Junior Pan Am Games Trials,Competition_U.S. Olympic Trials,Competition_U.S. Pan Ams Trials,Competition_U.S. Worlds Trials,Competition_Vegas Cup National Qualifier,Competition_WOGA Classic,Competition_Winter Cup,Competition_World Championships
66,NaN,14.950,14.450,13.950,13.55,56.900,NaN,NaN,False,False,...,True,False,False,False,False,False,False,False,False,False
277,NaN,13.950,0.000,0.000,0.00,0.000,NaN,NaN,False,False,...,False,False,False,False,False,False,False,False,False,False
234,NaN,13.900,14.550,11.100,12.05,51.600,NaN,NaN,False,False,...,False,False,False,False,False,False,False,False,False,False
31,NaN,14.550,13.250,12.050,13.10,52.950,NaN,NaN,False,False,...,True,False,False,False,False,False,False,False,False,False
84,NaN,14.500,13.900,13.500,13.80,55.700,NaN,NaN,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,NaN,14.400,14.100,13.333,14.00,55.833,NaN,NaN,False,False,...,False,False,False,False,False,False,False,False,False,True
106,NaN,15.000,14.400,11.750,13.25,54.400,NaN,NaN,False,False,...,True,False,False,False,False,False,False,False,False,False
270,NaN,13.400,9.950,12.850,13.35,49.550,NaN,NaN,False,False,...,True,False,False,False,False,False,False,False,False,False
348,NaN,14.866,14.466,0.000,0.00,29.332,NaN,NaN,False,False,...,False,False,False,False,False,False,False,False,False,False
102,NaN,0.000,0.000,12.400,0.00,0.000,NaN,NaN,False,False,...,False,False,False,False,False,False,False,False,False,False

In [96]:
# Check for non-numeric columns in X_train
non_numeric_cols = X_train.select_dtypes(exclude=['number']).columns

# If there are non-numeric columns, you may need to encode them (e.g., one-hot encoding)
if not non_numeric_cols.empty:
    X_train_encoded = pd.get_dummies(X_train, columns=non_numeric_cols, drop_first=True)
    # Ensure X_test is encoded in the same way as X_train
    X_test_encoded = pd.get_dummies(X_test, columns=non_numeric_cols, drop_first=True)
else:
    X_train_encoded = X_train
    X_test_encoded = X_test

# Now, train the RandomForestClassifier with the encoded data
model = RandomForestClassifier(random_state=42)
model.fit(X_train_encoded, y_train)

ValueError: Input X contains NaN.
RandomForestClassifier does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [77]:
df = df.drop(columns=["Date"])

KeyError: "['Date'] not found in axis"

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 435 entries, 0 to 437
Data columns (total 37 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Round                                          435 non-null    category
 1   vt                                             435 non-null    float64
 2   ub                                             435 non-null    float64
 3   bb                                             435 non-null    float64
 4   fx                                             435 non-null    float64
 5   Total                                          435 non-null    float64
 6   Name                                           435 non-null    category
 7   Country                                        435 non-null    category
 8   Target                                         435 non-null    int64
 9   Competition_All American National Qualifier    435 non-null    bool
 10  Competition_American Classic                   435 non-null    bool
 11  Competition_Biles National Qualifier           435 non-null    bool
 12  Competition_Brestyan’s National Qualifier      435 non-null    bool
 13  Competition_Cairo World Cup                    435 non-null    bool
 14  Competition_City of Jesolo Trophy              435 non-null    bool
 15  Competition_DTB Pokal Mixed Cup                435 non-null    bool
 16  Competition_DTB Pokal Team Challenge           435 non-null    bool
 17  Competition_July National Team Camp            435 non-null    bool
 18  Competition_Junior Pan Am Games Trials         435 non-null    bool
 19  Competition_Junior Pan American Championships  435 non-null    bool
 20  Competition_Junior Pan American Games          435 non-null    bool
 21  Competition_March National Team Camp           435 non-null    bool
 22  Competition_Olympic Games                      435 non-null    bool
 23  Competition_Pan American Championships         435 non-null    bool
 24  Competition_Pan American Trials                435 non-null    bool
 25  Competition_Paris Challenge Cup                435 non-null    bool
 26  Competition_Szombathely Challenge Cup          435 non-null    bool
 27  Competition_U.S. Championships                 435 non-null    bool
 28  Competition_U.S. Classic                       435 non-null    bool
 29  Competition_U.S. Junior Pan Am Games Trials    435 non-null    bool
 30  Competition_U.S. Olympic Trials                435 non-null    bool
 31  Competition_U.S. Pan Ams Trials                435 non-null    bool
 32  Competition_U.S. Worlds Trials                 435 non-null    bool
 33  Competition_Vegas Cup National Qualifier       435 non-null    bool
 34  Competition_WOGA Classic                       435 non-null    bool
 35  Competition_Winter Cup                         435 non-null    bool
 36  Competition_World Championships                435 non-null    bool
dtypes: bool(28), category(3), float64(5), int64(1)
memory usage: 42.8 KB

In [78]:
# Align the columns of X_test with X_train
X_test_aligned = X_test.reindex(columns=X_train.columns, fill_value=0)  # Fill missing columns with 0 if necessary

# Predict using the aligned X_test
y_pred = model.predict(X_test_aligned)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

# Display evaluation results
print("Accuracy:", accuracy)
print("Classification Report:\n", classification_rep)

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Competition_All American National Qualifier
- Competition_American Classic
- Competition_Biles National Qualifier
- Competition_Brestyan’s National Qualifier
- Competition_Cairo World Cup
- ...
Feature names seen at fit time, yet now missing:
- Competition_All American National Qualifier_True
- Competition_American Classic_True
- Competition_Biles National Qualifier_True
- Competition_Brestyan’s National Qualifier_True
- Competition_Cairo World Cup_True
- ...

  warnings.warn(message, FutureWarning)

ValueError: Cannot cast object dtype to float32

In [79]:
# Model Evaluation
# Remove the "Date" column if it's causing the issue
if 'Date' in X_test.columns:
    X_test.drop('Date', axis=1, inplace=True)


y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Competition_All American National Qualifier
- Competition_American Classic
- Competition_Biles National Qualifier
- Competition_Brestyan’s National Qualifier
- Competition_Cairo World Cup
- ...
Feature names seen at fit time, yet now missing:
- Competition_All American National Qualifier_True
- Competition_American Classic_True
- Competition_Biles National Qualifier_True
- Competition_Brestyan’s National Qualifier_True
- Competition_Cairo World Cup_True
- ...

  warnings.warn(message, FutureWarning)

ValueError: Cannot cast object dtype to float32