Other Algorithms:
1. Harmony Search algorithm 
    - results for 6 and not 4 athletes
    
2. Simulated Annealing
    - would return different athletes each time it was ran. After adding a Seed, the results were terrible

### Goal: pick 4 USA men's Gymnasts. Gymnasts cannot compete on the same appartaus more than once. And each apparatus needs to be competed on 3 times each, then get the largest sum of the top 3 out of 4 scores on each apparats.


## TABU Search vs Variable Neighborhood Search vs Hyper-Heuristics

Results:
1. TABU Search (first in every test)
2. Hyper-Heuristics
3. Variable Neighborhood Search 
4. Brute for Search
5. Mixed-Integer Linear Programming (MILP)

# Mens Performance of Models 

## IAA Scores
## Scores from 2023  

### TABU Search 2023:
- **Total Score in ts23: = 252.69400000000002**

### Hyper-Heuristics 2023:
- **Total Score in hh23: = 249.64600000000002**

### Variable Neighborhood Search 2023:
- asher hong
- alex diab
- ian gunther
- yul moldauer

- **Total Score in vns23: 248.05900000000003**

---

## Average Scores from 2022 and 2023
- TABU Search Average: 247.02550000000002
- Variable Neighborhood Search Average: 246.00600000000003
- Hyper-Heuristics Average: 242.6115

---

## USOPC data - individual apparatus

### TABU Search

- paul juda
- brody malone
- frederick nathaniel richard
- khoi young

- **Total Score: 253.19598690476192**

### Hyper-Heuristics
- colt walker
- asher hong
- brody malone
- paul juda

- **Total Score: 251.4961353174603**

### Variable Neighborhood Search
- colt walker
- paul juda
- frederick richard
- brody malone

- **Total Score: 249.83797857142858**

# brute-force search

Selected Athletes:
['yul moldauer', 'fred richard', 'vitaliy guimaraes', 'asher hong']
Maximum Score:
173.798


# Mixed-Integer Linear Programming (MILP) 

Objective value: 177.60300000

- yul moldauer 
- fred richard 
- khoi young 
- asher hong

---

# WOMEN

### Goal: pick 4 USA women's Gymnasts. Gymnasts cannot compete on the same appartaus more than once. And each apparatus needs to be competed on 3 times each, then get the largest sum of the top 3 out of 4 scores on each apparats.

## TABU Search vs Variable Neighborhood Search vs Hyper-Heuristics

Results:
1. TABU Search (performed very well)
2. Variable Neighborhood Search (same athletes as tabu from IAA data)
3. Hyper-Heuristics


# Tabu Search

## IAA

Selected Athletes:
['jade carey' 'jordan chiles' 'shilese jones' 'simone biles']
Total Score:
171.33725


## Apparatus

Selected Athletes:
['jade carey' 'konnor mcclain' 'shilese jones' 'simone biles']
Total Score:
170.79811666666666


#  Variable Neighborhood Search (VNS):


## IAA

Selected Athletes:
['shilese jones' 'simone biles' 'jordan chiles' 'jade carey']
Total Score:
171.47074999999998

## Apparatus

Selected Athletes:
['simone biles' 'leanne wong' 'konnor mcclain' 'kayla dicello']
Total Score:
166.038475


# Hyper-Heuristics

## IAA

Best Selection: ['skye blakely' 'jade carey' 'shilese jones' 'simone biles']
Best Score: 169.963


## Apparatus

Best Selection: ['christiane popovich' 'ashlee sullivan' 'shilese jones' 'simone biles']
Best Score: 166.26328333333333


# Mixed-Integer Linear Programming (MILP) 

## IAA
Selected Gymnasts:
jade carey
jordan chiles
shilese jones
simone biles

## Apparatus
Selected Gymnasts:
camryn richardson
chloe cho
emjae frazier
simone biles

# Brute Force

## IAA

Selected Athletes:
['jade carey', 'jordan chiles', 'shilese jones', 'simone biles']
Maximum Score:
169.96300000000002

In [13]:
import pandas as pd

# Define the data
data = {
    'Algorithm': ['Tabu Search', 'Tabu Search', 'Variable Neighborhood Search (VNS)', 'Variable Neighborhood Search (VNS)',
                   'Hyper-Heuristics', 'Hyper-Heuristics', 'CBC (Coin-or branch and cut) MILP solver', 'CBC (Coin-or branch and cut) MILP solver',
                   'Brute Force', 'Brute Force'],
    'IAA/Apparatus': ['IAA', 'Apparatus', 'IAA', 'Apparatus', 'IAA', 'Apparatus', 'IAA', 'Apparatus', 'IAA', 'Apparatus'],
    'Selected Athletes': [
        ['jade carey', 'jordan chiles', 'shilese jones', 'simone biles'],
        ['jade carey', 'konnor mcclain', 'shilese jones', 'simone biles'],
        ['shilese jones', 'simone biles', 'jordan chiles', 'jade carey'],
        ['simone biles', 'leanne wong', 'konnor mcclain', 'kayla dicello'],
        ['skye blakely', 'jade carey', 'shilese jones', 'simone biles'],
        ['christiane popovich', 'ashlee sullivan', 'shilese jones', 'simone biles'],
        ['jade carey', 'jordan chiles', 'shilese jones', 'simone biles'],
        ['camryn richardson', 'chloe cho', 'emjae frazier', 'simone biles'],
        ['jade carey', 'jordan chiles', 'shilese jones', 'simone biles'],
        ['jade carey', 'jordan chiles', 'shilese jones', 'simone biles']
    ],
    'Total/Maximum Score': [171.33725, 170.79811666666666, 171.47074999999998, 166.038475, 169.963, 166.26328333333333, None, None, None, 169.96300000000002]
}

# Create the DataFrame
result_df = pd.DataFrame(data)
df = result_df.copy()
# Add columns for each athlete
athletes = list(set(athlete for athletes_list in result_df['Selected Athletes'] for athlete in athletes_list))

for athlete in athletes:
    result_df[athlete] = result_df['Selected Athletes'].apply(lambda x: 1 if athlete in x else 0)

# Calculate the sum for each athlete column
athlete_sums = result_df.groupby('Algorithm')[athletes].sum()

In [15]:
df

,Algorithm,IAA/Apparatus,Selected Athletes,Total/Maximum Score
0,Tabu Search,IAA,"[jade carey, jordan chiles, shilese jones, sim...",171.337250
1,Tabu Search,Apparatus,"[jade carey, konnor mcclain, shilese jones, si...",170.798117
2,Variable Neighborhood Search (VNS),IAA,"[shilese jones, simone biles, jordan chiles, j...",171.470750
3,Variable Neighborhood Search (VNS),Apparatus,"[simone biles, leanne wong, konnor mcclain, ka...",166.038475
4,Hyper-Heuristics,IAA,"[skye blakely, jade carey, shilese jones, simo...",169.963000
5,Hyper-Heuristics,Apparatus,"[christiane popovich, ashlee sullivan, shilese...",166.263283
6,CBC (Coin-or branch and cut) MILP solver,IAA,"[jade carey, jordan chiles, shilese jones, sim...",NaN
7,CBC (Coin-or branch and cut) MILP solver,Apparatus,"[camryn richardson, chloe cho, emjae frazier, ...",NaN
8,Brute Force,IAA,"[jade carey, jordan chiles, shilese jones, sim...",NaN
9,Brute Force,Apparatus,"[jade carey, jordan chiles, shilese jones, sim...",169.963000

In [14]:
result_df

,Algorithm,IAA/Apparatus,Selected Athletes,Total/Maximum Score,camryn richardson,leanne wong,simone biles,jordan chiles,shilese jones,emjae frazier,kayla dicello,konnor mcclain,skye blakely,christiane popovich,chloe cho,ashlee sullivan,jade carey
0,Tabu Search,IAA,"[jade carey, jordan chiles, shilese jones, sim...",171.337250,0,0,1,1,1,0,0,0,0,0,0,0,1
1,Tabu Search,Apparatus,"[jade carey, konnor mcclain, shilese jones, si...",170.798117,0,0,1,0,1,0,0,1,0,0,0,0,1
2,Variable Neighborhood Search (VNS),IAA,"[shilese jones, simone biles, jordan chiles, j...",171.470750,0,0,1,1,1,0,0,0,0,0,0,0,1
3,Variable Neighborhood Search (VNS),Apparatus,"[simone biles, leanne wong, konnor mcclain, ka...",166.038475,0,1,1,0,0,0,1,1,0,0,0,0,0
4,Hyper-Heuristics,IAA,"[skye blakely, jade carey, shilese jones, simo...",169.963000,0,0,1,0,1,0,0,0,1,0,0,0,1
5,Hyper-Heuristics,Apparatus,"[christiane popovich, ashlee sullivan, shilese...",166.263283,0,0,1,0,1,0,0,0,0,1,0,1,0
6,CBC (Coin-or branch and cut) MILP solver,IAA,"[jade carey, jordan chiles, shilese jones, sim...",NaN,0,0,1,1,1,0,0,0,0,0,0,0,1
7,CBC (Coin-or branch and cut) MILP solver,Apparatus,"[camryn richardson, chloe cho, emjae frazier, ...",NaN,1,0,1,0,0,1,0,0,0,0,1,0,0
8,Brute Force,IAA,"[jade carey, jordan chiles, shilese jones, sim...",NaN,0,0,1,1,1,0,0,0,0,0,0,0,1
9,Brute Force,Apparatus,"[jade carey, jordan chiles, shilese jones, sim...",169.963000,0,0,1,1,1,0,0,0,0,0,0,0,1

In [11]:
athlete_sums.sum()

camryn richardson       1
leanne wong             1
simone biles           10
jordan chiles           5
shilese jones           8
emjae frazier           1
kayla dicello           1
konnor mcclain          2
skye blakely            1
christiane popovich     1
chloe cho               1
ashlee sullivan         1
jade carey              7
dtype: int64

In [16]:
import pandas as pd

# The result from athlete_sums.sum()
athlete_sum_entries = {
    'camryn richardson': 1,
    'leanne wong': 1,
    'simone biles': 10,
    'jordan chiles': 5,
    'shilese jones': 8,
    'emjae frazier': 1,
    'kayla dicello': 1,
    'konnor mcclain': 2,
    'skye blakely': 1,
    'christiane popovich': 1,
    'chloe cho': 1,
    'ashlee sullivan': 1,
    'jade carey': 7
}

# Create the DataFrame
athlete_sums_df = pd.DataFrame(list(athlete_sum_entries.items()), columns=['Athlete', 'Entries'])

                Athlete  Entries
0     camryn richardson        1
1           leanne wong        1
2          simone biles       10
3         jordan chiles        5
4         shilese jones        8
5         emjae frazier        1
6         kayla dicello        1
7        konnor mcclain        2
8          skye blakely        1
9   christiane popovich        1
10            chloe cho        1
11      ashlee sullivan        1
12           jade carey        7

In [18]:
athlete_sums_df.sort_values(by='Entries', ascending=False)

                Athlete  Entries
2          simone biles       10
4         shilese jones        8
12           jade carey        7
3         jordan chiles        5
7        konnor mcclain        2
0     camryn richardson        1
1           leanne wong        1
5         emjae frazier        1
6         kayla dicello        1
8          skye blakely        1
9   christiane popovich        1
10            chloe cho        1
11      ashlee sullivan        1