In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../../scraping/women/worldcup20Baku/worldcup2020Baku_ub.csv')

In [25]:
df

    Rank                Athlete         Nation    D      E  ND   Total
0      1              Fan Yilin          China  6.5  8.633 NaN  15.133
1      2   Anastasiia Iliankova         Russia  6.3  8.466 NaN  14.766
2      3         Rebeca Andrade         Brazil  6.1  8.133 NaN  14.233
3      4      Daria Spiridonova         Russia  5.8  8.291 NaN  14.091
4      5     Georgia-Rose Brown      Australia  5.8  8.100 NaN  13.900
5      6   Anastasiia Bachynska        Ukraine  5.7  7.866 NaN  13.566
6      7     Caitlin Rooskrantz   South Africa  5.2  7.933 NaN  13.133
7      8    Angelina Radivilova        Ukraine  5.7  7.133 NaN  12.833
8      9       Ondine Achampong  Great Britain  5.6  7.100 NaN  12.700
9     10          Sophie Marois         Canada  5.0  7.666 NaN  12.666
10    11        Audrey Rousseau         Canada  4.5  8.066 NaN  12.566
11    12         Dilara Yurtdas         Turkey  4.8  7.666 NaN  12.466
12    13        Ganna Metelitsa        Belarus  5.3  7.133 NaN  12.433
13    14  Anastasiya Savitskaya        Belarus  4.6  7.533 NaN  12.133
14    15    Marta Pihan-Kulesza         Poland  5.3  6.833 NaN  12.133
15    16       Ahtziri Sandoval         Mexico  5.3  6.666 NaN  11.966
16    17    Lilian Langenski√∂ld        Finland  4.3  7.633 NaN  11.933
17    18     Georgia-Mae Fenton  Great Britain  5.4  6.400 NaN  11.800
18    19          Lucija Hribar       Slovenia  4.6  6.866 NaN  11.466
19    20          Thais Fidelis         Brazil  5.0  6.133 NaN  11.133
20    21       Nazli Savranbasi         Turkey  4.4  6.600 NaN  11.000
21    22          Maia Fishwick    New Zealand  4.8  6.166 NaN  10.966
22    23         Isabella Brett    New Zealand  4.2  6.633 NaN  10.833
23    24          Enni Kettunen        Finland  4.5  6.000 NaN  10.500
24    25          Naveen Daries   South Africa  4.7  5.066 NaN   9.766

In [26]:
 df["Nation"].unique()

array(['China', 'Russia', 'Brazil', 'Australia', 'Ukraine',
       'South Africa', 'Great Britain', 'Canada', 'Turkey', 'Belarus',
       'Poland', 'Mexico', 'Finland', 'Slovenia', 'New Zealand'],
      dtype=object)

In [27]:
# Define a dictionary mapping nations to NOC codes
nation_to_noc = {
    'China': 'CHN',
    'Russia': 'RUS',
    'Brazil': 'BRA',
    'Australia': 'AUS',
    'Ukraine': 'UKR',
    'South Africa': 'RSA',
    'Great Britain': 'GBR',
    'Canada': 'CAN',
    'Turkey': 'TUR',
    'Belarus': 'BLR',
    'Poland': 'POL',
    'Mexico': 'MEX',
    'Finland': 'FIN',
    'Slovenia': 'SLO',
    'New Zealand': 'NZL'
}

# Display the DataFrame with the new 'NOC' column
df['Nation'] = df['Nation'].replace(nation_to_noc)

In [28]:
df

    Rank                Athlete Nation    D      E  ND   Total
0      1              Fan Yilin    CHN  6.5  8.633 NaN  15.133
1      2   Anastasiia Iliankova    RUS  6.3  8.466 NaN  14.766
2      3         Rebeca Andrade    BRA  6.1  8.133 NaN  14.233
3      4      Daria Spiridonova    RUS  5.8  8.291 NaN  14.091
4      5     Georgia-Rose Brown    AUS  5.8  8.100 NaN  13.900
5      6   Anastasiia Bachynska    UKR  5.7  7.866 NaN  13.566
6      7     Caitlin Rooskrantz    RSA  5.2  7.933 NaN  13.133
7      8    Angelina Radivilova    UKR  5.7  7.133 NaN  12.833
8      9       Ondine Achampong    GBR  5.6  7.100 NaN  12.700
9     10          Sophie Marois    CAN  5.0  7.666 NaN  12.666
10    11        Audrey Rousseau    CAN  4.5  8.066 NaN  12.566
11    12         Dilara Yurtdas    TUR  4.8  7.666 NaN  12.466
12    13        Ganna Metelitsa    BLR  5.3  7.133 NaN  12.433
13    14  Anastasiya Savitskaya    BLR  4.6  7.533 NaN  12.133
14    15    Marta Pihan-Kulesza    POL  5.3  6.833 NaN  12.133
15    16       Ahtziri Sandoval    MEX  5.3  6.666 NaN  11.966
16    17    Lilian Langenski√∂ld    FIN  4.3  7.633 NaN  11.933
17    18     Georgia-Mae Fenton    GBR  5.4  6.400 NaN  11.800
18    19          Lucija Hribar    SLO  4.6  6.866 NaN  11.466
19    20          Thais Fidelis    BRA  5.0  6.133 NaN  11.133
20    21       Nazli Savranbasi    TUR  4.4  6.600 NaN  11.000
21    22          Maia Fishwick    NZL  4.8  6.166 NaN  10.966
22    23         Isabella Brett    NZL  4.2  6.633 NaN  10.833
23    24          Enni Kettunen    FIN  4.5  6.000 NaN  10.500
24    25          Naveen Daries    RSA  4.7  5.066 NaN   9.766

In [29]:
df['year'] = 2020

In [30]:
df["Event"]= "World Cup Baku"

In [31]:
# Fill NaN values in the 'ND' column with 0
df['ND'].fillna(0, inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     25 non-null     int64
 1   Athlete  25 non-null     object
 2   Nation   25 non-null     object
 3   D        25 non-null     float64
 4   E        25 non-null     float64
 5   ND       25 non-null     float64
 6   Total    25 non-null     float64
 7   year     25 non-null     int64
 8   Event    25 non-null     object
dtypes: float64(4), int64(2), object(3)
memory usage: 1.9+ KB

In [34]:
# csv_file_path = 'clean_worldcup2020Baku_ub.csv'

# # Export the DataFrame to a CSV file
# df.to_csv(csv_file_path, index=False)

# print(f'DataFrame saved to {csv_file_path}')

DataFrame saved to clean_worldcup2020Baku_ub.csv