In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Combine_Data/women/top_women.csv')

In [3]:
df

                 Name  Average Total apparatus
0        simone biles      14.619800        bb
1      konnor mcclain      14.525000        bb
2          sunisa lee      14.116667        bb
3        skye blakely      13.477286        bb
4       shilese jones      13.412000        bb
5   joscelyn roberson      13.095467        bb
6       shilese jones      14.613692        ub
7          zoe miller      14.042154        ub
8        simone biles      14.816500        fx
9      kaliya lincoln      13.947571        fx
10      shilese jones      13.851455        fx
11         jade carey      13.828000        fx
12  joscelyn roberson      13.509167        fx
13       simone biles      14.949714        vt
14         jade carey      14.546818        vt
15  joscelyn roberson      14.008667        vt

In [46]:
import pulp
import itertools

# Create a Linear Programming problem
prob = pulp.LpProblem("Athlete_Selection", pulp.LpMaximize)

# Define the decision variables (binary variables for each athlete)
athletes = df['Name'].unique()
athlete_vars = pulp.LpVariable.dicts("Select", athletes, 0, 1, pulp.LpInteger)

# Define the objective function (maximize the sum of selected athletes)
objective = pulp.lpSum(athlete_vars[athlete] for athlete in athletes)
prob += objective

# Constraint: Select exactly 5 athletes
prob += pulp.lpSum(athlete_vars[athlete] for athlete in athletes) == 5

# Constraint: Ensure each apparatus is competed on by exactly 3 athletes
apparatus = df['apparatus'].unique()
for event in apparatus:
    athletes_for_event = [athlete_vars[athlete] for athlete in athletes if any(df[(df['Name'] == athlete) & (df['apparatus'] == event)]['Average Total'].notna())]
    prob += pulp.lpSum(athletes_for_event) == 3

# Solve the optimization problem using the CBC solver
prob.solve(pulp.PULP_CBC_CMD())

# Extract the selected athletes
selected_athletes = [athlete for athlete in athletes if pulp.value(athlete_vars[athlete]) == 1]

# Print the selected athletes
for athlete in selected_athletes:
    print(f'{athlete} will compete on the following apparatus: {", ".join(df[(df["Name"] == athlete)]["apparatus"].tolist())}')

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/0e8b6ff51a0b4e28845a72025ec4cf9d-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/0e8b6ff51a0b4e28845a72025ec4cf9d-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 10 COLUMNS
At line 76 RHS
At line 82 BOUNDS
At line 94 ENDATA
Problem MODEL has 5 rows, 11 columns and 32 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 5 - 0.00 seconds
Cgl0004I processed model has 0 rows, 0 columns (0 integer (0 of which binary)) and 0 elements
Cbc3007W No integer variables - nothing to do
Cuts at root node changed objective from -5 to -1.79769e+308
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                5.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.00

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

simone biles will compete on the following apparatus: bb, fx, vt
skye blakely will compete on the following apparatus: bb, ub
shilese jones will compete on the following apparatus: bb, ub, fx, vt
zoe miller will compete on the following apparatus: ub
joscelyn roberson will compete on the following apparatus: fx, vt

In [38]:
import pandas as pd


# Define the athletes and their selected apparatus
selected_athletes = {
    "simone biles": ["bb", "fx", "vt"],
    "skye blakely": ["bb", "ub"],
    "shilese jones": ["bb", "ub", "fx", "vt"],
    "zoe miller": ["ub"],
    "joscelyn roberson": ["fx", "vt"],
}

# Calculate the total score for the selected athletes and apparatus
total_score = 0
for athlete, apparatus_list in selected_athletes.items():
    for app in apparatus_list:
        total_score += df[(df['Name'] == athlete) & (df['apparatus'] == app)]['Average Total'].values[0]

print("Total Score for Selected Athletes and Apparatus:", total_score)

Total Score for Selected Athletes and Apparatus: 169.37484255189258

In [ ]:
import pulp
import itertools

# Create a Linear Programming problem
prob = pulp.LpProblem("Athlete_Selection", pulp.LpMaximize)

# Define the decision variables (binary variables for each athlete)
athletes = df['Name'].unique()
athlete_vars = pulp.LpVariable.dicts("Select", athletes, 0, 1, pulp.LpInteger)

# Define the objective function (maximize the sum of selected athletes)
objective = pulp.lpSum(athlete_vars[athlete] for athlete in athletes)
prob += objective

# Constraint: Select exactly 5 athletes
prob += pulp.lpSum(athlete_vars[athlete] for athlete in athletes) == 5

# Constraint: Ensure each apparatus is competed on by exactly 3 athletes
apparatus = df['apparatus'].unique()
for event in apparatus:
    athletes_for_event = [athlete_vars[athlete] for athlete in athletes if any(df[(df['Name'] == athlete) & (df['apparatus'] == event)]['Average Total'].notna())]
    prob += pulp.lpSum(athletes_for_event) == 3

# Solve the optimization problem using the CBC solver
prob.solve(pulp.PULP_CBC_CMD())

# Extract the selected athletes
selected_athletes = [athlete for athlete in athletes if pulp.value(athlete_vars[athlete]) == 1]

# Print the selected athletes
for athlete in selected_athletes:
    print(f'{athlete} will compete on the following apparatus: {", ".join(df[(df["Name"] == athlete)]["apparatus"].tolist())}')

In [47]:
selected_names = ["simone biles", "skye blakely", "shilese jones", "zoe miller", "joscelyn roberson"]

# Creating a new DataFrame with only the specified names
filtered_df = df[df['Name'].isin(selected_names)]

In [48]:
df = filtered_df.copy()

In [49]:
df

                 Name  Average Total apparatus
0        simone biles      14.650000        bb
3        skye blakely      13.543000        bb
4       shilese jones      13.312500        bb
6       shilese jones      14.574600        ub
7          zoe miller      13.836600        ub
8        skye blakely      13.320222        ub
9        simone biles      15.100000        fx
10      shilese jones      13.937500        fx
14  joscelyn roberson      13.470750        fx
15       simone biles      15.275000        vt
17      shilese jones      14.352286        vt
20  joscelyn roberson      14.002385        vt

In [50]:
biles = pd.read_csv('Simone Biles_data.csv')
blakely = pd.read_csv('Skye Blakely_data.csv')
jones = pd.read_csv('Shilese Jones_data.csv')
miller = pd.read_csv('Zoe Miller_data.csv')
roberson = pd.read_csv('Joscelyn Roberson_data.csv')

In [51]:
combined_df = pd.concat([biles, blakely, jones, miller, roberson], ignore_index=True)

In [52]:
df = combined_df[combined_df['year'] != 2021]

In [53]:
df=df.drop(columns=['year'])

In [54]:
average_scores = df.groupby('Name').mean().reset_index()

In [55]:
average_scores

                Name         VT         UB         BB         FX         AA
0  Joscelyn Roberson  13.958333  11.329167  12.816667  13.283333  51.387500
1      Shilese Jones  14.346600  14.456500  13.116700  13.755000  55.674800
2       Simone Biles  15.050000  14.150000  14.612500  14.887500  58.700000
3       Skye Blakely  14.056600  13.638300  13.426700  13.183300  54.304900
4         Zoe Miller  13.522250  13.931917  12.169417  12.208333  51.831917

In [28]:
df = average_scores.copy()

In [29]:
df

                Name         VT         UB         BB         FX         AA
0  Joscelyn Roberson  13.958333  11.329167  12.816667  13.283333  51.387500
1      Shilese Jones  14.346600  14.456500  13.116700  13.755000  55.674800
2       Simone Biles  15.050000  14.150000  14.612500  14.887500  58.700000
3       Skye Blakely  14.056600  13.638300  13.426700  13.183300  54.304900
4         Zoe Miller  13.522250  13.931917  12.169417  12.208333  51.831917

In [35]:
import pandas as pd
from itertools import combinations
from pulp import LpProblem, LpVariable, lpSum, LpMaximize, LpInteger  # Add LpInteger to the imports

def select_athletes_with_pulp(df):
    # Define the problem as a maximization problem
    prob = LpProblem("Athlete_Selection", LpMaximize)

    # Create binary decision variables for each athlete
    athletes = df['Name'].unique()
    selected = LpVariable.dicts("Selected", athletes, 0, 1, LpInteger)

    # Objective function: maximize the sum of selected athletes
    prob += lpSum(selected[athlete] for athlete in athletes)

    # Constraint: Each apparatus should be competed 3 times
    for apparatus in df.columns[1:-1]:
        prob += lpSum(selected[athlete] for athlete in athletes if df[df['Name'] == athlete][apparatus].count() > 0) == 3

    # Solve the problem
    prob.solve()

    # Extract selected athletes
    selected_athletes = [athlete for athlete in athletes if selected[athlete].varValue == 1]

    return selected_athletes



# Call the function to get the selected athletes using PuLP
selected_athletes = select_athletes_with_pulp(df)

# Display the result
print("Selected Athletes:", selected_athletes)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/478a5a8c5251482c98bfd09f449cc679-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/478a5a8c5251482c98bfd09f449cc679-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 9 COLUMNS
At line 45 RHS
At line 50 BOUNDS
At line 56 ENDATA
Problem MODEL has 4 rows, 5 columns and 20 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 3 - 0.00 seconds
Cgl0004I processed model has 0 rows, 0 columns (0 integer (0 of which binary)) and 0 elements
Cbc3007W No integer variables - nothing to do
Cuts at root node changed objective from -3 to -1.79769e+308
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                3.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.01

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.02

Selected Athletes: ['Joscelyn Roberson', 'Shilese Jones', 'Simone Biles']

In [42]:
import pandas as pd
from pulp import LpProblem, LpVariable, lpSum, LpMaximize, LpInteger

def select_athletes_with_pulp(df):
    # Define the problem as a maximization problem
    prob = LpProblem("Athlete_Selection", LpMaximize)

    # Create binary decision variables for each athlete
    athletes = df['Name'].unique()
    selected = LpVariable.dicts("Selected", athletes, 0, 1, LpInteger)

    # Define apparatus after creating the decision variables
    apparatus = df.columns[1:-1].tolist()

    # Objective function: maximize the sum of selected athletes
    # Penalize solutions with fewer than 4 athletes
    prob += lpSum(selected[athlete] for athlete in athletes) - 100 * lpSum(selected[athlete] for athlete in athletes)

    # Constraint: Each apparatus should be competed 3 times
    for app in apparatus:
        prob += lpSum(selected[athlete] for athlete in athletes if df[df['Name'] == athlete][app].count() > 0) == 3

    # Constraint: Select at least 4 athletes
    prob += lpSum(selected[athlete] for athlete in athletes) >= 4

    # Solve the problem
    prob.solve()

    # Extract selected athletes
    selected_athletes = [athlete for athlete in athletes if selected[athlete].varValue == 1]

    return selected_athletes


# Call the function to get the selected athletes using PuLP
selected_athletes = select_athletes_with_pulp(df)

# Display the result
print("Selected Athletes:", selected_athletes)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/58c096da2ea749339b35dc12810a3385-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/58c096da2ea749339b35dc12810a3385-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 10 COLUMNS
At line 51 RHS
At line 57 BOUNDS
At line 63 ENDATA
Problem MODEL has 5 rows, 5 columns and 25 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Problem is infeasible - 0.00 seconds
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

Selected Athletes: ['Shilese Jones', 'Simone Biles', 'Skye Blakely', 'Zoe Miller']

In [43]:
import pandas as pd
from pulp import LpProblem, LpVariable, lpSum, LpMaximize, LpInteger

def select_athletes_with_pulp(df):
    # Define the problem as a maximization problem
    prob = LpProblem("Athlete_Selection", LpMaximize)

    # Create binary decision variables for each athlete and each apparatus
    athletes = df['Name'].unique()
    apparatus = df.columns[1:-1].tolist()
    selected = LpVariable.dicts("Selected", (athletes, apparatus), 0, 1, LpInteger)

    # Objective function: maximize the sum of selected athletes
    # Penalize solutions with fewer than 4 athletes
    prob += lpSum(selected[athlete][app] for athlete in athletes for app in apparatus) - 100 * lpSum(selected[athlete][app] for athlete in athletes for app in apparatus)

    # Constraint: Each apparatus should be competed 3 times
    for app in apparatus:
        prob += lpSum(selected[athlete][app] for athlete in athletes) == 3

    # Constraint: Select at least 4 athletes
    prob += lpSum(selected[athlete][apparatus[0]] for athlete in athletes) >= 4

    # Solve the problem
    prob.solve()

    # Extract selected athletes and their assigned events
    selected_athletes = {athlete: [app for app in apparatus if selected[athlete][app].varValue == 1] for athlete in athletes}

    return selected_athletes



# Call the function to get the selected athletes and their assigned events
selected_athletes = select_athletes_with_pulp(df)

# Display the result
for athlete, events in selected_athletes.items():
    print(f"{athlete} will compete in the following events: {', '.join(events)}")

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/8a8b0be005d241b69aec83e83c30d621-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/8a8b0be005d241b69aec83e83c30d621-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 10 COLUMNS
At line 96 RHS
At line 102 BOUNDS
At line 123 ENDATA
Problem MODEL has 5 rows, 20 columns and 25 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Problem is infeasible - 0.00 seconds
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

Joscelyn Roberson will compete in the following events: VT, FX
Shilese Jones will compete in the following events: VT, UB, BB, FX
Simone Biles will compete in the following events: VT
Skye Blakely will compete in the following events: VT, UB, BB, FX
Zoe Miller will compete in the following events: UB, BB

Certainly! This code is a Python script that uses the PuLP library for linear programming to solve a problem related to athlete selection for a sports competition. I'll explain it line by line:

1. `import pulp`: This line imports the PuLP library, which is used for modeling and solving linear programming problems.

2. `import itertools`: This line imports the itertools library, which provides various functions for working with iterators and iterable data.

3. `prob = pulp.LpProblem("Athlete_Selection", pulp.LpMaximize)`: This line creates a Linear Programming problem named "Athlete_Selection" to be solved with the goal of maximizing an objective function. The `prob` object is an instance of the `LpProblem` class.

4. `athletes = df['Name'].unique()`: This line retrieves a list of unique athlete names from a DataFrame (presumably named `df`) and assigns it to the `athletes` variable.

5. `athlete_vars = pulp.LpVariable.dicts("Select", athletes, 0, 1, pulp.LpInteger)`: This line defines a set of binary decision variables using the athlete names as keys. These variables represent whether an athlete is selected (1) or not selected (0) for the competition. The variables are created with a lower bound of 0 and an upper bound of 1, and they are of integer type.

6. `objective = pulp.lpSum(athlete_vars[athlete] for athlete in athletes)`: This line creates the objective function. The objective is to maximize the sum of the decision variables, which corresponds to maximizing the number of selected athletes.

7. `prob += objective`: This line adds the objective function to the Linear Programming problem (`prob`) that was defined earlier.

8. `prob += pulp.lpSum(athlete_vars[athlete] for athlete in athletes) == 5`: This line adds a constraint to the problem. It specifies that exactly 5 athletes must be selected, and this constraint is added to the `prob` problem.

9. `apparatus = df['apparatus'].unique()`: This line retrieves a list of unique apparatus names from the DataFrame and assigns it to the `apparatus` variable.

10. `for event in apparatus:`: This line starts a loop that iterates over each apparatus in the `apparatus` list.

11. `athletes_for_event = [athlete_vars[athlete] for athlete in athletes if any(df[(df['Name'] == athlete) & (df['apparatus'] == event)]['Average Total'].notna())]`: For each apparatus, this line creates a list of decision variables representing athletes who can compete in the current apparatus. It checks if an athlete has a non-null value in the 'Average Total' column for that apparatus in the DataFrame.

12. `prob += pulp.lpSum(athletes_for_event) == 3`: This line adds a constraint to the problem, ensuring that exactly 3 athletes are selected for the current apparatus. It adds this constraint to the `prob` problem.

13. `prob.solve(pulp.PULP_CBC_CMD())`: This line solves the optimization problem using the CBC solver provided by PuLP. It finds the optimal selection of athletes that maximizes the objective function while satisfying the defined constraints.

14. `selected_athletes = [athlete for athlete in athletes if pulp.value(athlete_vars[athlete]) == 1]`: This line creates a list of athlete names who have been selected for the competition. It checks the value of the decision variables (athlete_vars) to determine which athletes were selected (variables with a value of 1).

15. The following loop iterates over the selected athletes and prints their names along with the apparatus they will compete on based on the data in the DataFrame.

Overall, this code models an athlete selection problem as a linear programming problem and uses the PuLP library to find the optimal solution that maximizes the number of selected athletes while meeting the specified constraints.

Certainly! At a high level, this code is solving an athlete selection problem for a sports competition using linear programming. The objective is to select a set of athletes who will compete while satisfying certain constraints. Here's the big picture idea of what the code is doing:

1. **Problem Setup**:
   - It imports the necessary libraries, PuLP and itertools.
   - Creates a Linear Programming problem with the goal of maximizing an objective function. The problem is named "Athlete_Selection."

2. **Decision Variables**:
   - Defines binary decision variables for each athlete. A binary variable is used for each athlete, indicating whether they are selected (1) or not selected (0) for the competition.

3. **Objective Function**:
   - Defines an objective function that aims to maximize the number of selected athletes. In other words, it maximizes the sum of the binary decision variables.

4. **Constraints**:
   - Ensures that exactly 5 athletes are selected by adding a constraint that limits the sum of the decision variables to equal 5.

   - For each apparatus (event), it ensures that exactly 3 athletes are selected to compete. It identifies which athletes can participate in each apparatus based on certain conditions in the data and adds constraints for each apparatus.

5. **Solving the Problem**:
   - Solves the linear programming problem using the CBC solver, aiming to find the optimal combination of athletes that maximizes the number of selected athletes while satisfying all constraints.

6. **Extracting and Printing the Results**:
   - After solving the problem, it identifies the athletes that were selected (decision variables with a value of 1) and prints their names along with the apparatus they will compete in.

In summary, this code uses linear programming to automate the selection of athletes for a sports competition. It maximizes the number of athletes while ensuring that there are exactly 5 athletes selected overall and 3 athletes selected for each apparatus. The final output is a list of selected athletes and the apparatus they will compete in.

In [13]:
df = pd.read_csv('../Combine_Data/women/top_women.csv')

In [14]:
df

                 Name  Average Total apparatus
0        simone biles      14.619800        bb
1      konnor mcclain      14.525000        bb
2          sunisa lee      14.116667        bb
3        skye blakely      13.477286        bb
4       shilese jones      13.412000        bb
5   joscelyn roberson      13.095467        bb
6       shilese jones      14.613692        ub
7          zoe miller      14.042154        ub
8        simone biles      14.816500        fx
9      kaliya lincoln      13.947571        fx
10      shilese jones      13.851455        fx
11         jade carey      13.828000        fx
12  joscelyn roberson      13.509167        fx
13       simone biles      14.949714        vt
14         jade carey      14.546818        vt
15  joscelyn roberson      14.008667        vt

In [5]:
import pandas as pd
import itertools



# Define the number of athletes to select
num_athletes = 4

# Generate all possible combinations of athletes
athlete_combinations = list(itertools.combinations(df['Name'].unique(), num_athletes))

# Initialize variables to store the maximum score, selected athletes, and apparatus combination
max_score = 0
selected_athletes = []
selected_apparatus = []

# Iterate through each combination of athletes
for combination in athlete_combinations:
    # Generate all possible combinations of apparatuses for the current athlete combination
    apparatus_combinations = list(itertools.combinations(df['apparatus'].unique(), num_athletes))
    
    # Iterate through each combination of apparatuses
    for apparatus_combination in apparatus_combinations:
        # Filter the dataframe for the current athlete and apparatus combination
        mask = (df['Name'].isin(combination)) & (df['apparatus'].isin(apparatus_combination))
        filtered_df = df[mask]
        
        # Calculate the sum of the top three scores for the current athlete and apparatus combination
        score = filtered_df['Average Total'].nlargest(3).sum()
        
        # Update the maximum score, selected athletes, and apparatus combination if a higher score is found
        if score > max_score:
            max_score = score
            selected_athletes = list(combination)
            selected_apparatus = list(apparatus_combination)

# Print the selected athletes and the corresponding apparatuses, along with the maximum score
print('Selected Athletes:')
print(selected_athletes)
print('Selected Apparatus:')
print(selected_apparatus)
print('Maximum Score:')
print(max_score)

Selected Athletes:
['simone biles', 'konnor mcclain', 'sunisa lee', 'skye blakely']
Selected Apparatus:
['bb', 'ub', 'fx', 'vt']
Maximum Score:
44.38601428571428

In [15]:
selected_names = ["simone biles", "skye blakely", "shilese jones", "zoe miller", "joscelyn roberson"]

# Creating a new DataFrame with only the specified names
filtered_df = df[df['Name'].isin(selected_names)]
df=filtered_df.copy()

In [18]:
df

                 Name  Average Total apparatus
0        simone biles      14.619800        bb
3        skye blakely      13.477286        bb
4       shilese jones      13.412000        bb
5   joscelyn roberson      13.095467        bb
6       shilese jones      14.613692        ub
7          zoe miller      14.042154        ub
8        simone biles      14.816500        fx
10      shilese jones      13.851455        fx
12  joscelyn roberson      13.509167        fx
13       simone biles      14.949714        vt
15  joscelyn roberson      14.008667        vt

In [19]:
import pandas as pd
import itertools



# Define the number of athletes to select
num_athletes = 4

# Define the apparatuses
apparatuses = ['bb', 'ub', 'fx', 'vt']

# Generate all possible combinations of athletes
athlete_combinations = list(itertools.combinations(df['Name'], num_athletes))

# Initialize variables to store the maximum score and the selected athletes
max_score = 0
selected_athletes = []

# Iterate through each combination of athletes
for combination in athlete_combinations:
    # Generate all possible combinations of apparatuses for the current athlete combination
    apparatus_combinations = list(itertools.combinations(apparatuses, num_athletes))

    # Iterate through each combination of apparatuses
    for apparatus_combination in apparatus_combinations:
        # Filter the DataFrame for the current athlete and apparatus combination
        mask = (df['Name'].isin(combination)) & (df['apparatus'].isin(apparatus_combination))
        filtered_df = df[mask]

        # Calculate the sum of the top three scores for the current apparatus combination
        score = filtered_df['Average Total'].nlargest(3).sum()

        # Update the maximum score and selected athletes if a higher score is found
        if score > max_score:
            max_score = score
            selected_athletes = list(combination)

# Print the selected athletes and the maximum score
print('Selected Athletes:')
print(selected_athletes)
print('Maximum Score:')
print(max_score)

Selected Athletes:
['simone biles', 'skye blakely', 'shilese jones', 'joscelyn roberson']
Maximum Score:
44.38601428571428