In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../../scraping/women/worldcup20Baku/worldcup2020Baku_vt.csv')

In [3]:
df

   Rank                Athlete         Nation    D      E   ND   Total Average
0     1             Teja Belak       Slovenia  5.4  8.966  NaN  14.366  14.199
1     1             Teja Belak       Slovenia    5  9.033  NaN  14.033  14.199
2     2       Coline Devillard         France  5.8      9  NaN    14.8   14.15
3     2       Coline Devillard         France  4.6    8.9  NaN    13.5   14.15
4     3       Marina Nekrasova     Azerbaijan  5.8  8.533 -0.1  14.233  14.133
5     3       Marina Nekrasova     Azerbaijan  5.2  8.833  NaN  14.033  14.133
6     4          Sophie Marois         Canada  5.4    8.6  NaN      14   13.75
7     4          Sophie Marois         Canada  4.8    8.7  NaN    13.5   13.75
8     5         Tjasa Kysselef       Slovenia    5  8.633  NaN  13.633  13.683
9     5         Tjasa Kysselef       Slovenia  4.8  8.933  NaN  13.733  13.683
10    6       Ahtziri Sandoval         Mexico  5.6    7.7  NaN    13.3   13.55
11    6       Ahtziri Sandoval         Mexico    5    8.8  NaN    13.8   13.55
12    7   Anastasiia Bachynska        Ukraine    5  8.833  NaN  13.833  13.499
13    7   Anastasiia Bachynska        Ukraine  4.6  8.566  NaN  13.166  13.499
14    8          Tijana Korent        Croatia  4.6    8.7  NaN    13.3    13.3
15    8          Tijana Korent        Croatia  4.6    8.7  NaN    13.3    13.3
16    9        Audrey Rousseau         Canada  4.6      9  NaN    13.6  13.283
17    9        Audrey Rousseau         Canada    4  8.966  NaN  12.966  13.283
18   10           Bilge Tarhan         Turkey  4.6  8.633  NaN  13.233  13.216
19   10           Bilge Tarhan         Turkey  4.6    8.6  NaN    13.2  13.216
20   11           Maria Paseka         Russia  5.4  8.766 -0.1  14.066  13.183
21   11           Maria Paseka         Russia  4.8    7.5  NaN    12.3  13.183
22   12          Maia Fishwick    New Zealand  4.1    8.6  NaN    12.7      13
23   12          Maia Fishwick    New Zealand  4.6    8.7  NaN    13.3      13
24   13         Gabriela Janik         Poland  4.8    7.5  NaN    12.3   12.95
25   13         Gabriela Janik         Poland  4.8    8.9 -0.1    13.6   12.95
26   14            Ceren Biner         Turkey    5  7.333 -0.1  12.233  12.816
27   14            Ceren Biner         Turkey  4.8    8.6  NaN    13.4  12.816
28   15    Angelina Radivilova        Ukraine  5.4  7.333 -0.3  12.433  12.583
29   15    Angelina Radivilova        Ukraine  5.2  7.533  NaN  12.733  12.583
30   16    Lilian Langenskiöld        Finland    4    8.6  NaN    12.6  12.383
31   16    Lilian Langenskiöld        Finland  3.7  8.466  NaN  12.166  12.383
32   17  Aliaksandra Varabyova        Belarus  4.6  8.566 -0.1  13.066  12.199
33   17  Aliaksandra Varabyova        Belarus  4.2  7.233 -0.1  11.333  12.199
34   18          Enni Kettunen        Finland  4.6    7.3 -0.3    11.6  12.166
35   18          Enni Kettunen        Finland    4  8.733  NaN  12.733  12.166
36   19            Yana Vorona         Russia    0      0 -0.1       0    6.45
37   19            Yana Vorona         Russia  4.2    8.7  NaN    12.9    6.45
38    —     Georgia-Mae Fenton  Great Britain  5.4  7.433 -0.3  12.533     DNF
39    —     Georgia-Mae Fenton  Great Britain  DNS    DNS  NaN     DNS     DNF
40    —       Maria Kharenkova        Georgia  3.5  8.466  NaN  11.966     DNF
41    —       Maria Kharenkova        Georgia  DNS    DNS  NaN     DNS     DNF

In [4]:
odds = df[1::2].reset_index(drop=True)

In [5]:
odds

   Rank                Athlete         Nation    D      E   ND   Total Average
0     1             Teja Belak       Slovenia    5  9.033  NaN  14.033  14.199
1     2       Coline Devillard         France  4.6    8.9  NaN    13.5   14.15
2     3       Marina Nekrasova     Azerbaijan  5.2  8.833  NaN  14.033  14.133
3     4          Sophie Marois         Canada  4.8    8.7  NaN    13.5   13.75
4     5         Tjasa Kysselef       Slovenia  4.8  8.933  NaN  13.733  13.683
5     6       Ahtziri Sandoval         Mexico    5    8.8  NaN    13.8   13.55
6     7   Anastasiia Bachynska        Ukraine  4.6  8.566  NaN  13.166  13.499
7     8          Tijana Korent        Croatia  4.6    8.7  NaN    13.3    13.3
8     9        Audrey Rousseau         Canada    4  8.966  NaN  12.966  13.283
9    10           Bilge Tarhan         Turkey  4.6    8.6  NaN    13.2  13.216
10   11           Maria Paseka         Russia  4.8    7.5  NaN    12.3  13.183
11   12          Maia Fishwick    New Zealand  4.6    8.7  NaN    13.3      13
12   13         Gabriela Janik         Poland  4.8    8.9 -0.1    13.6   12.95
13   14            Ceren Biner         Turkey  4.8    8.6  NaN    13.4  12.816
14   15    Angelina Radivilova        Ukraine  5.2  7.533  NaN  12.733  12.583
15   16    Lilian Langenskiöld        Finland  3.7  8.466  NaN  12.166  12.383
16   17  Aliaksandra Varabyova        Belarus  4.2  7.233 -0.1  11.333  12.199
17   18          Enni Kettunen        Finland    4  8.733  NaN  12.733  12.166
18   19            Yana Vorona         Russia  4.2    8.7  NaN    12.9    6.45
19    —     Georgia-Mae Fenton  Great Britain  DNS    DNS  NaN     DNS     DNF
20    —       Maria Kharenkova        Georgia  DNS    DNS  NaN     DNS     DNF

In [6]:
# Create a new DataFrame by selecting only the odd rows
evens = df[::2].reset_index(drop=True)

In [7]:
odds.head()

  Rank           Athlete      Nation    D      E  ND   Total Average
0    1        Teja Belak    Slovenia    5  9.033 NaN  14.033  14.199
1    2  Coline Devillard      France  4.6    8.9 NaN    13.5   14.15
2    3  Marina Nekrasova  Azerbaijan  5.2  8.833 NaN  14.033  14.133
3    4     Sophie Marois      Canada  4.8    8.7 NaN    13.5   13.75
4    5    Tjasa Kysselef    Slovenia  4.8  8.933 NaN  13.733  13.683

In [8]:
odds = odds.drop(columns=["Rank", "Athlete", "Nation"])

In [9]:
column_mapping = {
    'D': 'D2',
    'E': 'E2',
    'ND': 'ND2',
    'Total': 'Total2'
    
}

# Use the rename method to rename the columns
odds.rename(columns=column_mapping, inplace=True)

In [14]:
odds['ND2'].fillna(0, inplace=True)

In [11]:
evens.head()

  Rank           Athlete      Nation    D      E   ND   Total Average
0    1        Teja Belak    Slovenia  5.4  8.966  NaN  14.366  14.199
1    2  Coline Devillard      France  5.8      9  NaN    14.8   14.15
2    3  Marina Nekrasova  Azerbaijan  5.8  8.533 -0.1  14.233  14.133
3    4     Sophie Marois      Canada  5.4    8.6  NaN      14   13.75
4    5    Tjasa Kysselef    Slovenia    5  8.633  NaN  13.633  13.683

In [12]:
evens = evens.drop(columns=["Average"])

In [13]:
evens.head()

  Rank           Athlete      Nation    D      E   ND   Total
0    1        Teja Belak    Slovenia  5.4  8.966  NaN  14.366
1    2  Coline Devillard      France  5.8      9  NaN    14.8
2    3  Marina Nekrasova  Azerbaijan  5.8  8.533 -0.1  14.233
3    4     Sophie Marois      Canada  5.4    8.6  NaN      14
4    5    Tjasa Kysselef    Slovenia    5  8.633  NaN  13.633

In [15]:
evens['ND'].fillna(0, inplace=True)

In [20]:
result_df = pd.concat([evens, odds], axis=1)

In [21]:
evens

   Rank                Athlete         Nation    D      E   ND   Total
0     1             Teja Belak       Slovenia  5.4  8.966  0.0  14.366
1     2       Coline Devillard         France  5.8      9  0.0    14.8
2     3       Marina Nekrasova     Azerbaijan  5.8  8.533 -0.1  14.233
3     4          Sophie Marois         Canada  5.4    8.6  0.0      14
4     5         Tjasa Kysselef       Slovenia    5  8.633  0.0  13.633
5     6       Ahtziri Sandoval         Mexico  5.6    7.7  0.0    13.3
6     7   Anastasiia Bachynska        Ukraine    5  8.833  0.0  13.833
7     8          Tijana Korent        Croatia  4.6    8.7  0.0    13.3
8     9        Audrey Rousseau         Canada  4.6      9  0.0    13.6
9    10           Bilge Tarhan         Turkey  4.6  8.633  0.0  13.233
10   11           Maria Paseka         Russia  5.4  8.766 -0.1  14.066
11   12          Maia Fishwick    New Zealand  4.1    8.6  0.0    12.7
12   13         Gabriela Janik         Poland  4.8    7.5  0.0    12.3
13   14            Ceren Biner         Turkey    5  7.333 -0.1  12.233
14   15    Angelina Radivilova        Ukraine  5.4  7.333 -0.3  12.433
15   16    Lilian Langenskiöld        Finland    4    8.6  0.0    12.6
16   17  Aliaksandra Varabyova        Belarus  4.6  8.566 -0.1  13.066
17   18          Enni Kettunen        Finland  4.6    7.3 -0.3    11.6
18   19            Yana Vorona         Russia    0      0 -0.1       0
19    —     Georgia-Mae Fenton  Great Britain  5.4  7.433 -0.3  12.533
20    —       Maria Kharenkova        Georgia  3.5  8.466  0.0  11.966

In [22]:
result_df

,Rank,Athlete,Nation,D,E,ND,Total,D2,E2,ND2,Total2,Average
0,1,Teja Belak,Slovenia,5.4,8.966,0.0,14.366,5,9.033,0.0,14.033,14.199
1,2,Coline Devillard,France,5.8,9,0.0,14.8,4.6,8.9,0.0,13.5,14.15
2,3,Marina Nekrasova,Azerbaijan,5.8,8.533,-0.1,14.233,5.2,8.833,0.0,14.033,14.133
3,4,Sophie Marois,Canada,5.4,8.6,0.0,14,4.8,8.7,0.0,13.5,13.75
4,5,Tjasa Kysselef,Slovenia,5,8.633,0.0,13.633,4.8,8.933,0.0,13.733,13.683
5,6,Ahtziri Sandoval,Mexico,5.6,7.7,0.0,13.3,5,8.8,0.0,13.8,13.55
6,7,Anastasiia Bachynska,Ukraine,5,8.833,0.0,13.833,4.6,8.566,0.0,13.166,13.499
7,8,Tijana Korent,Croatia,4.6,8.7,0.0,13.3,4.6,8.7,0.0,13.3,13.3
8,9,Audrey Rousseau,Canada,4.6,9,0.0,13.6,4,8.966,0.0,12.966,13.283
9,10,Bilge Tarhan,Turkey,4.6,8.633,0.0,13.233,4.6,8.6,0.0,13.2,13.216
10,11,Maria Paseka,Russia,5.4,8.766,-0.1,14.066,4.8,7.5,0.0,12.3,13.183
11,12,Maia Fishwick,New Zealand,4.1,8.6,0.0,12.7,4.6,8.7,0.0,13.3,13
12,13,Gabriela Janik,Poland,4.8,7.5,0.0,12.3,4.8,8.9,-0.1,13.6,12.95
13,14,Ceren Biner,Turkey,5,7.333,-0.1,12.233,4.8,8.6,0.0,13.4,12.816
14,15,Angelina Radivilova,Ukraine,5.4,7.333,-0.3,12.433,5.2,7.533,0.0,12.733,12.583
15,16,Lilian Langenskiöld,Finland,4,8.6,0.0,12.6,3.7,8.466,0.0,12.166,12.383
16,17,Aliaksandra Varabyova,Belarus,4.6,8.566,-0.1,13.066,4.2,7.233,-0.1,11.333,12.199
17,18,Enni Kettunen,Finland,4.6,7.3,-0.3,11.6,4,8.733,0.0,12.733,12.166
18,19,Yana Vorona,Russia,0,0,-0.1,0,4.2,8.7,0.0,12.9,6.45
19,—,Georgia-Mae Fenton,Great Britain,5.4,7.433,-0.3,12.533,DNS,DNS,0.0,DNS,DNF
20,—,Maria Kharenkova,Georgia,3.5,8.466,0.0,11.966,DNS,DNS,0.0,DNS,DNF

In [23]:
df = result_df.copy()

In [24]:
df = df.replace(['DNF', 'DNS'], 0)

In [25]:
df

,Rank,Athlete,Nation,D,E,ND,Total,D2,E2,ND2,Total2,Average
0,1,Teja Belak,Slovenia,5.4,8.966,0.0,14.366,5,9.033,0.0,14.033,14.199
1,2,Coline Devillard,France,5.8,9,0.0,14.8,4.6,8.9,0.0,13.5,14.15
2,3,Marina Nekrasova,Azerbaijan,5.8,8.533,-0.1,14.233,5.2,8.833,0.0,14.033,14.133
3,4,Sophie Marois,Canada,5.4,8.6,0.0,14,4.8,8.7,0.0,13.5,13.75
4,5,Tjasa Kysselef,Slovenia,5,8.633,0.0,13.633,4.8,8.933,0.0,13.733,13.683
5,6,Ahtziri Sandoval,Mexico,5.6,7.7,0.0,13.3,5,8.8,0.0,13.8,13.55
6,7,Anastasiia Bachynska,Ukraine,5,8.833,0.0,13.833,4.6,8.566,0.0,13.166,13.499
7,8,Tijana Korent,Croatia,4.6,8.7,0.0,13.3,4.6,8.7,0.0,13.3,13.3
8,9,Audrey Rousseau,Canada,4.6,9,0.0,13.6,4,8.966,0.0,12.966,13.283
9,10,Bilge Tarhan,Turkey,4.6,8.633,0.0,13.233,4.6,8.6,0.0,13.2,13.216
10,11,Maria Paseka,Russia,5.4,8.766,-0.1,14.066,4.8,7.5,0.0,12.3,13.183
11,12,Maia Fishwick,New Zealand,4.1,8.6,0.0,12.7,4.6,8.7,0.0,13.3,13
12,13,Gabriela Janik,Poland,4.8,7.5,0.0,12.3,4.8,8.9,-0.1,13.6,12.95
13,14,Ceren Biner,Turkey,5,7.333,-0.1,12.233,4.8,8.6,0.0,13.4,12.816
14,15,Angelina Radivilova,Ukraine,5.4,7.333,-0.3,12.433,5.2,7.533,0.0,12.733,12.583
15,16,Lilian Langenskiöld,Finland,4,8.6,0.0,12.6,3.7,8.466,0.0,12.166,12.383
16,17,Aliaksandra Varabyova,Belarus,4.6,8.566,-0.1,13.066,4.2,7.233,-0.1,11.333,12.199
17,18,Enni Kettunen,Finland,4.6,7.3,-0.3,11.6,4,8.733,0.0,12.733,12.166
18,19,Yana Vorona,Russia,0,0,-0.1,0,4.2,8.7,0.0,12.9,6.45
19,—,Georgia-Mae Fenton,Great Britain,5.4,7.433,-0.3,12.533,0,0,0.0,0,0
20,—,Maria Kharenkova,Georgia,3.5,8.466,0.0,11.966,0,0,0.0,0,0

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     21 non-null     object
 1   Athlete  21 non-null     object
 2   Nation   21 non-null     object
 3   D        21 non-null     object
 4   E        21 non-null     object
 5   ND       21 non-null     float64
 6   Total    21 non-null     object
 7   D2       21 non-null     object
 8   E2       21 non-null     object
 9   ND2      21 non-null     float64
 10  Total2   21 non-null     object
 11  Average  21 non-null     object
dtypes: float64(2), object(10)
memory usage: 2.1+ KB

In [27]:
df['Nation'].unique()

array(['Slovenia', 'France', 'Azerbaijan', 'Canada', 'Mexico', 'Ukraine',
       'Croatia', 'Turkey', 'Russia', 'New Zealand', 'Poland', 'Finland',
       'Belarus', 'Great Britain', 'Georgia'], dtype=object)

In [28]:
nation_to_noc = {
    'Slovenia': 'SLO',
    'France': 'FRA',
    'Azerbaijan': 'AZE',
    'Canada': 'CAN',
    'Mexico': 'MEX',
    'Ukraine': 'UKR',
    'Croatia': 'CRO',
    'Turkey': 'TUR',
    'Russia': 'RUS',
    'New Zealand': 'NZL',
    'Poland': 'POL',
    'Finland': 'FIN',
    'Belarus': 'BLR',
    'Great Britain': 'GBR',
    'Georgia': 'GEO'
}

# Replace the 'Nation' column values with their corresponding NOC codes
df['Nation'] = df['Nation'].map(nation_to_noc)

In [29]:
df

,Rank,Athlete,Nation,D,E,ND,Total,D2,E2,ND2,Total2,Average
0,1,Teja Belak,SLO,5.4,8.966,0.0,14.366,5,9.033,0.0,14.033,14.199
1,2,Coline Devillard,FRA,5.8,9,0.0,14.8,4.6,8.9,0.0,13.5,14.15
2,3,Marina Nekrasova,AZE,5.8,8.533,-0.1,14.233,5.2,8.833,0.0,14.033,14.133
3,4,Sophie Marois,CAN,5.4,8.6,0.0,14,4.8,8.7,0.0,13.5,13.75
4,5,Tjasa Kysselef,SLO,5,8.633,0.0,13.633,4.8,8.933,0.0,13.733,13.683
5,6,Ahtziri Sandoval,MEX,5.6,7.7,0.0,13.3,5,8.8,0.0,13.8,13.55
6,7,Anastasiia Bachynska,UKR,5,8.833,0.0,13.833,4.6,8.566,0.0,13.166,13.499
7,8,Tijana Korent,CRO,4.6,8.7,0.0,13.3,4.6,8.7,0.0,13.3,13.3
8,9,Audrey Rousseau,CAN,4.6,9,0.0,13.6,4,8.966,0.0,12.966,13.283
9,10,Bilge Tarhan,TUR,4.6,8.633,0.0,13.233,4.6,8.6,0.0,13.2,13.216
10,11,Maria Paseka,RUS,5.4,8.766,-0.1,14.066,4.8,7.5,0.0,12.3,13.183
11,12,Maia Fishwick,NZL,4.1,8.6,0.0,12.7,4.6,8.7,0.0,13.3,13
12,13,Gabriela Janik,POL,4.8,7.5,0.0,12.3,4.8,8.9,-0.1,13.6,12.95
13,14,Ceren Biner,TUR,5,7.333,-0.1,12.233,4.8,8.6,0.0,13.4,12.816
14,15,Angelina Radivilova,UKR,5.4,7.333,-0.3,12.433,5.2,7.533,0.0,12.733,12.583
15,16,Lilian Langenskiöld,FIN,4,8.6,0.0,12.6,3.7,8.466,0.0,12.166,12.383
16,17,Aliaksandra Varabyova,BLR,4.6,8.566,-0.1,13.066,4.2,7.233,-0.1,11.333,12.199
17,18,Enni Kettunen,FIN,4.6,7.3,-0.3,11.6,4,8.733,0.0,12.733,12.166
18,19,Yana Vorona,RUS,0,0,-0.1,0,4.2,8.7,0.0,12.9,6.45
19,—,Georgia-Mae Fenton,GBR,5.4,7.433,-0.3,12.533,0,0,0.0,0,0
20,—,Maria Kharenkova,GEO,3.5,8.466,0.0,11.966,0,0,0.0,0,0

In [31]:
# Columns to convert to float
float_columns = ['D', 'E', 'ND', 'Total', 'D2', 'E2', 'ND2', 'Total2', 'Average']

# Loop through each column and convert to float
for column in float_columns:
    df[column] = pd.to_numeric(df[column], errors='coerce')

In [32]:
df

,Rank,Athlete,Nation,D,E,ND,Total,D2,E2,ND2,Total2,Average
0,1,Teja Belak,SLO,5.4,8.966,0.0,14.366,5.0,9.033,0.0,14.033,14.199
1,2,Coline Devillard,FRA,5.8,9.000,0.0,14.800,4.6,8.900,0.0,13.500,14.150
2,3,Marina Nekrasova,AZE,5.8,8.533,-0.1,14.233,5.2,8.833,0.0,14.033,14.133
3,4,Sophie Marois,CAN,5.4,8.600,0.0,14.000,4.8,8.700,0.0,13.500,13.750
4,5,Tjasa Kysselef,SLO,5.0,8.633,0.0,13.633,4.8,8.933,0.0,13.733,13.683
5,6,Ahtziri Sandoval,MEX,5.6,7.700,0.0,13.300,5.0,8.800,0.0,13.800,13.550
6,7,Anastasiia Bachynska,UKR,5.0,8.833,0.0,13.833,4.6,8.566,0.0,13.166,13.499
7,8,Tijana Korent,CRO,4.6,8.700,0.0,13.300,4.6,8.700,0.0,13.300,13.300
8,9,Audrey Rousseau,CAN,4.6,9.000,0.0,13.600,4.0,8.966,0.0,12.966,13.283
9,10,Bilge Tarhan,TUR,4.6,8.633,0.0,13.233,4.6,8.600,0.0,13.200,13.216
10,11,Maria Paseka,RUS,5.4,8.766,-0.1,14.066,4.8,7.500,0.0,12.300,13.183
11,12,Maia Fishwick,NZL,4.1,8.600,0.0,12.700,4.6,8.700,0.0,13.300,13.000
12,13,Gabriela Janik,POL,4.8,7.500,0.0,12.300,4.8,8.900,-0.1,13.600,12.950
13,14,Ceren Biner,TUR,5.0,7.333,-0.1,12.233,4.8,8.600,0.0,13.400,12.816
14,15,Angelina Radivilova,UKR,5.4,7.333,-0.3,12.433,5.2,7.533,0.0,12.733,12.583
15,16,Lilian Langenskiöld,FIN,4.0,8.600,0.0,12.600,3.7,8.466,0.0,12.166,12.383
16,17,Aliaksandra Varabyova,BLR,4.6,8.566,-0.1,13.066,4.2,7.233,-0.1,11.333,12.199
17,18,Enni Kettunen,FIN,4.6,7.300,-0.3,11.600,4.0,8.733,0.0,12.733,12.166
18,19,Yana Vorona,RUS,0.0,0.000,-0.1,0.000,4.2,8.700,0.0,12.900,6.450
19,—,Georgia-Mae Fenton,GBR,5.4,7.433,-0.3,12.533,0.0,0.000,0.0,0.000,0.000
20,—,Maria Kharenkova,GEO,3.5,8.466,0.0,11.966,0.0,0.000,0.0,0.000,0.000

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     21 non-null     object
 1   Athlete  21 non-null     object
 2   Nation   21 non-null     object
 3   D        21 non-null     float64
 4   E        21 non-null     float64
 5   ND       21 non-null     float64
 6   Total    21 non-null     float64
 7   D2       21 non-null     float64
 8   E2       21 non-null     float64
 9   ND2      21 non-null     float64
 10  Total2   21 non-null     float64
 11  Average  21 non-null     float64
dtypes: float64(9), object(3)
memory usage: 2.1+ KB

In [35]:
df['Rank'] = pd.to_numeric(df['Rank'], errors='coerce', downcast='integer')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     19 non-null     float64
 1   Athlete  21 non-null     object
 2   Nation   21 non-null     object
 3   D        21 non-null     float64
 4   E        21 non-null     float64
 5   ND       21 non-null     float64
 6   Total    21 non-null     float64
 7   D2       21 non-null     float64
 8   E2       21 non-null     float64
 9   ND2      21 non-null     float64
 10  Total2   21 non-null     float64
 11  Average  21 non-null     float64
dtypes: float64(10), object(2)
memory usage: 2.1+ KB

In [37]:
df.head()

,Rank,Athlete,Nation,D,E,ND,Total,D2,E2,ND2,Total2,Average
0,1.0,Teja Belak,SLO,5.4,8.966,0.0,14.366,5.0,9.033,0.0,14.033,14.199
1,2.0,Coline Devillard,FRA,5.8,9.000,0.0,14.800,4.6,8.900,0.0,13.500,14.150
2,3.0,Marina Nekrasova,AZE,5.8,8.533,-0.1,14.233,5.2,8.833,0.0,14.033,14.133
3,4.0,Sophie Marois,CAN,5.4,8.600,0.0,14.000,4.8,8.700,0.0,13.500,13.750
4,5.0,Tjasa Kysselef,SLO,5.0,8.633,0.0,13.633,4.8,8.933,0.0,13.733,13.683

In [38]:
column_mapping = {
    'Total': 'Score',
    'Total2': 'Score2',
    'Average': 'Total'

    
}

# Use the rename method to rename the columns
df.rename(columns=column_mapping, inplace=True)

In [39]:
df

,Rank,Athlete,Nation,D,E,ND,Score,D2,E2,ND2,Score2,Total
0,1.0,Teja Belak,SLO,5.4,8.966,0.0,14.366,5.0,9.033,0.0,14.033,14.199
1,2.0,Coline Devillard,FRA,5.8,9.000,0.0,14.800,4.6,8.900,0.0,13.500,14.150
2,3.0,Marina Nekrasova,AZE,5.8,8.533,-0.1,14.233,5.2,8.833,0.0,14.033,14.133
3,4.0,Sophie Marois,CAN,5.4,8.600,0.0,14.000,4.8,8.700,0.0,13.500,13.750
4,5.0,Tjasa Kysselef,SLO,5.0,8.633,0.0,13.633,4.8,8.933,0.0,13.733,13.683
5,6.0,Ahtziri Sandoval,MEX,5.6,7.700,0.0,13.300,5.0,8.800,0.0,13.800,13.550
6,7.0,Anastasiia Bachynska,UKR,5.0,8.833,0.0,13.833,4.6,8.566,0.0,13.166,13.499
7,8.0,Tijana Korent,CRO,4.6,8.700,0.0,13.300,4.6,8.700,0.0,13.300,13.300
8,9.0,Audrey Rousseau,CAN,4.6,9.000,0.0,13.600,4.0,8.966,0.0,12.966,13.283
9,10.0,Bilge Tarhan,TUR,4.6,8.633,0.0,13.233,4.6,8.600,0.0,13.200,13.216
10,11.0,Maria Paseka,RUS,5.4,8.766,-0.1,14.066,4.8,7.500,0.0,12.300,13.183
11,12.0,Maia Fishwick,NZL,4.1,8.600,0.0,12.700,4.6,8.700,0.0,13.300,13.000
12,13.0,Gabriela Janik,POL,4.8,7.500,0.0,12.300,4.8,8.900,-0.1,13.600,12.950
13,14.0,Ceren Biner,TUR,5.0,7.333,-0.1,12.233,4.8,8.600,0.0,13.400,12.816
14,15.0,Angelina Radivilova,UKR,5.4,7.333,-0.3,12.433,5.2,7.533,0.0,12.733,12.583
15,16.0,Lilian Langenskiöld,FIN,4.0,8.600,0.0,12.600,3.7,8.466,0.0,12.166,12.383
16,17.0,Aliaksandra Varabyova,BLR,4.6,8.566,-0.1,13.066,4.2,7.233,-0.1,11.333,12.199
17,18.0,Enni Kettunen,FIN,4.6,7.300,-0.3,11.600,4.0,8.733,0.0,12.733,12.166
18,19.0,Yana Vorona,RUS,0.0,0.000,-0.1,0.000,4.2,8.700,0.0,12.900,6.450
19,NaN,Georgia-Mae Fenton,GBR,5.4,7.433,-0.3,12.533,0.0,0.000,0.0,0.000,0.000
20,NaN,Maria Kharenkova,GEO,3.5,8.466,0.0,11.966,0.0,0.000,0.0,0.000,0.000

In [40]:
# csv_file_path = 'clean_worldcup2020Baku_vt.csv'

# # Export the DataFrame to a CSV file
# df.to_csv(csv_file_path, index=False)

# print(f'DataFrame saved to {csv_file_path}')

DataFrame saved to clean_worldcup2020Baku_vt.csv