In [1]:
import pandas as pd
import numpy as np

In [2]:
fx = pd.read_csv('../../scraping/men/men23top/fx.csv')
sr = pd.read_csv('../../scraping/men/men23top/sr.csv')
hb = pd.read_csv('../../scraping/men/men23top/hb.csv')
ph = pd.read_csv('../../scraping/men/men23top/ph.csv')
pb = pd.read_csv('../../scraping/men/men23top/pb.csv')
vt_avg = pd.read_csv('../../scraping/men/men23top/vt_avg.csv')
vt_com_d = pd.read_csv('../../scraping/men/men23top/vt_combo_d.csv')
vt_sing = pd.read_csv('../../scraping/men/men23top/vt_single.csv')

fxd = pd.read_csv('../../scraping/men/men23top/fxd.csv')
hbd = pd.read_csv('../../scraping/men/men23top/hbd.csv')
iaa = pd.read_csv('../../scraping/men/men23top/iaa.csv')
pbd = pd.read_csv('../../scraping/men/men23top/pbd.csv')
phd = pd.read_csv('../../scraping/men/men23top/phd.csv')

iaa24 = pd.read_csv('../../Combine_Data/men/iaa2024.csv')

In [3]:
usa = iaa24[iaa24['Nation']=='USA']

In [6]:
usa2 = iaa24[iaa24['Nation']=='USA']

In [7]:
usa

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.40,83.950,final,USA,2022
422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.10,83.536,final,USA,2022
423,3.0,asher hong,14.029,12.949,14.566,16.680,14.355,10.45,83.029,final,USA,2022
424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.40,81.648,final,USA,2022
425,5.0,colt walker,12.450,12.750,13.250,14.897,15.055,13.10,81.502,final,USA,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
716,38.0,ian skirkey,0.000,14.972,0.000,0.000,0.000,0.00,14.972,final,USA,2023
717,39.0,ignacio yockers,0.000,14.942,0.000,0.000,0.000,0.00,14.942,final,USA,2023
718,40.0,brandon dang,0.000,14.466,0.000,0.000,0.000,0.00,14.466,final,USA,2023
719,41.0,vahe petrosyan,0.000,0.000,0.000,13.350,0.000,0.00,13.350,final,USA,2023
720,42.0,troy lipis,0.000,0.000,12.711,0.000,0.000,0.00,12.711,final,USA,2023

In [8]:
dfz=usa.copy()

In [9]:
usa = usa[usa['AA'] > 80]

In [10]:
usa['Athlete'].value_counts()

Athlete
asher hong           2
yul moldauer         2
ian lasic-ellis      2
riley loos           2
vitaliy guimaraes    1
khoi young           1
colt walker          1
taylor burkhart      1
colin van            1
fred richard         1
shane wiskus         1
Name: count, dtype: int64

In [11]:
usa=usa.drop(columns=['round', 'Nation', 'year'])

In [12]:
usa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 421 to 684
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     15 non-null     float64
 1   Athlete  15 non-null     object
 2   FX       15 non-null     float64
 3   PH       15 non-null     float64
 4   SR       15 non-null     float64
 5   VT       15 non-null     float64
 6   PB       15 non-null     float64
 7   HB       15 non-null     float64
 8   AA       15 non-null     float64
dtypes: float64(8), object(1)
memory usage: 1.2+ KB

In [13]:
dfs = usa.copy()

In [14]:
dfs

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA
421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950
422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536
423,3.0,asher hong,14.029,12.949,14.566,16.680,14.355,10.450,83.029
424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.400,81.648
425,5.0,colt walker,12.450,12.750,13.250,14.897,15.055,13.100,81.502
426,6.0,taylor burkhart,13.200,13.600,12.950,14.594,14.150,12.700,81.194
427,7.0,ian lasic-ellis,13.650,13.500,13.750,13.550,13.300,13.300,81.050
428,8.0,riley loos,12.700,13.600,13.600,14.747,14.100,12.300,81.047
429,9.0,colin van,13.450,11.700,13.300,14.847,13.700,13.150,80.147
679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342
680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602
681,3.0,asher hong,12.203,12.507,14.133,14.755,14.700,13.650,81.948
682,4.0,ian lasic-ellis,13.600,13.400,13.950,13.700,14.500,12.755,81.905
683,5.0,shane wiskus,13.700,13.250,14.250,13.750,14.050,12.200,81.200
684,6.0,riley loos,12.900,12.300,13.953,14.252,13.350,13.450,80.205

In [15]:
# dfs.to_csv('usa_men.csv', index=True)

In [20]:
grouped_means = usa.groupby('Athlete').mean()

In [21]:
grouped_means

,Rank,FX,PH,SR,VT,PB,HB,AA
Athlete,,,,,,,,
asher hong,3.0,13.116,12.728,14.3495,15.7175,14.5275,12.0500,82.4885
colin van,9.0,13.450,11.700,13.3000,14.8470,13.7000,13.1500,80.1470
colt walker,5.0,12.450,12.750,13.2500,14.8970,15.0550,13.1000,81.5020
fred richard,2.0,14.483,13.357,13.3500,14.0000,14.4500,14.9620,84.6020
ian lasic-ellis,5.5,13.625,13.450,13.8500,13.6250,13.9000,13.0275,81.4775
khoi young,2.0,13.550,15.342,12.5500,15.2440,13.7500,13.1000,83.5360
riley loos,7.0,12.800,12.950,13.7765,14.4995,13.7250,12.8750,80.6260
shane wiskus,5.0,13.700,13.250,14.2500,13.7500,14.0500,12.2000,81.2000
taylor burkhart,6.0,13.200,13.600,12.9500,14.5940,14.1500,12.7000,81.1940
vitaliy guimaraes,1.0,14.250,14.350,13.6000,14.4500,13.9000,13.4000,83.9500
yul moldauer,2.5,13.900,13.873,14.1150,13.8250,15.3320,12.4500,83.4950

In [22]:
import pulp
import pandas as pd

df=grouped_means.copy()


# Create a MILP problem
prob = pulp.LpProblem("Team_Selection", pulp.LpMaximize)

# Define decision variables
athletes = list(df.index)
apparatus = list(df.columns)
x = pulp.LpVariable.dicts("x", ((athlete, app) for athlete in athletes for app in apparatus), cat="Binary")

# Define the objective function
prob += pulp.lpSum(df.loc[athlete, app] * x[(athlete, app)] for athlete in athletes for app in apparatus)

# Add constraints
# Additional constraint to ensure unique athletes
for app in apparatus:
    prob += pulp.lpSum(x[(athlete, app)] for athlete in athletes) <= 1

# Add a constraint to select exactly 5 athletes
prob += pulp.lpSum(x[(athlete, app)] for athlete in athletes for app in apparatus) == 5

# Solve the problem with the CBC solver
prob.solve(pulp.PULP_CBC_CMD(msg=False))

# Print the selected team
selected_team = [(athlete, app) for athlete in athletes for app in apparatus if x[(athlete, app)].value() == 1]

print("Selected Team:")
for athlete, app in selected_team:
    print(f"{athlete} on {app}")

Selected Team:
asher hong on VT
fred richard on HB
fred richard on AA
khoi young on PH
yul moldauer on PB

In [18]:
# includes backup
# Selected Team:
# AA on Asher Hong
# AA on Fred Richard
# AA on Khoi Young
# AA on Vitaliy Guimaraes
# AA on Yul Moldauer

# alternate: AA on Colt Walker

In [19]:
# top 5 from updated model
# Selected Team:
# AA on Asher Hong
# AA on Fred Richard
# AA on Khoi Young
# AA on Vitaliy Guimaraes
# AA on Yul Moldauer

In [23]:
import pandas as pd
from pulp import LpMaximize, LpProblem, LpVariable

# Load the data
data = dfs.copy()  # Replace with the actual data file

# Create a list of unique athlete names and assign unique IDs
unique_athletes = data["Athlete"].unique()
athlete_to_id = {athlete: i + 1 for i, athlete in enumerate(unique_athletes)}

# Create a list of unique event names
unique_events = ["FX", "PH", "SR", "VT", "PB", "HB", "AA"]

# Create a matrix to store the performance data
num_athletes = len(unique_athletes)
num_events = len(unique_events)
performance_data = [[0] * num_events for _ in range(num_athletes)]

# Populate the performance data matrix
for _, row in data.iterrows():
    athlete = row["Athlete"]
    athlete_id = athlete_to_id[athlete]
    for event in unique_events:
        performance_data[athlete_id - 1][unique_events.index(event)] = row[event]

# Define the ILP model
model = LpProblem(name="ILP_Maximize_Total_Value", sense=LpMaximize)

# Decision variables
x = {(i, j): LpVariable(name=f"x_{i}_{j}", cat="Binary") for i in range(1, num_athletes + 1) for j in range(1, num_events + 1)}

# Objective function
model += sum(performance_data[i - 1][j - 1] * x[i, j] for i in range(1, num_athletes + 1) for j in range(1, num_events + 1)), "Total_Value"

# Constraints (similar to the previous example)

# Solve the ILP
model.solve()

# Track combinations of top 5 athletes with the highest total values
top_5_combinations = []
top_5_values = []

for i in range(1, num_athletes + 1):
    for j in range(1, num_events + 1):
        if x[i, j].varValue == 1:
            # Track this athlete and event
            combination = (unique_athletes[i - 1], unique_events[j - 1])
            top_5_combinations.append(combination)
            top_5_values.append(performance_data[i - 1][j - 1])

# Sort combinations by value in descending order
sorted_combinations = [x for _, x in sorted(zip(top_5_values, top_5_combinations), reverse=True)]

# Select the top 5 athletes with the highest total values
top_5_athletes = sorted_combinations[:5]

# Print the results
print("Top 5 Athletes for the Highest Total Value:")
for i, athlete_event in enumerate(top_5_athletes, start=1):
    athlete, event = athlete_event
    value = top_5_values[i - 1]
    print(f"{i}. Athlete: {athlete}, Event: {event}, Value: {value}")

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/53eac8dc5860443fa1b16eddc1ad0e6a-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/53eac8dc5860443fa1b16eddc1ad0e6a-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 5 COLUMNS
At line 237 RHS
At line 238 BOUNDS
At line 316 ENDATA
Problem MODEL has 0 rows, 77 columns and 0 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 1811.06 - 0.00 seconds
Cgl0004I processed model has 0 rows, 0 columns (0 integer (0 of which binary)) and 0 elements
Cbc3007W No integer variables - nothing to do
Cuts at root node changed objective from -1811.06 to -1.79769e+308
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                1811.06200000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.00

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

Top 5 Athletes for the Highest Total Value:
1. Athlete: yul moldauer, Event: AA, Value: 14.25
2. Athlete: fred richard, Event: AA, Value: 14.35
3. Athlete: vitaliy guimaraes, Event: AA, Value: 13.6
4. Athlete: khoi young, Event: AA, Value: 14.45
5. Athlete: asher hong, Event: AA, Value: 13.9

In [28]:
# Selected Team:
# AA on Asher Hong
# AA on Fred Richard
# AA on Khoi Young
# AA on Vitaliy Guimaraes
# AA on Yul Moldauer

In [24]:
athlete_names = ["asher aong", "fred richard", "khoi young", "vitaliy guimaraes", "yul moldauer"]

dfs = dfz[dfz['Athlete'].isin(athlete_names)]

In [25]:
dfs

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950,final,USA,2022
422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536,final,USA,2022
424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.400,81.648,final,USA,2022
448,28.0,fred richard,11.850,12.250,11.950,13.900,12.400,11.650,74.000,final,USA,2022
679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342,final,USA,2023
680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602,final,USA,2023
712,34.0,khoi young,0.000,11.200,0.000,14.802,0.000,0.000,26.002,final,USA,2023

In [27]:
dfs = dfs.drop(columns=['AA', 'round', 'Nation', 'year', 'Rank'])

In [29]:
asher_hong_data = {
    'Athlete': ['Asher Hong'] * 7,
    'FX': 13.116,
    'PH':12.728,
    'SR': 14.3495,
    'VT':15.7175,
    'PB':14.5275,
    'HB': 12.05,

}

# Convert the additional data to a DataFrame
asher_hong_df = pd.DataFrame(asher_hong_data)

# Concatenate the original DataFrame with the new data for 'Asher Hong'
dfs = pd.concat([dfs, asher_hong_df], ignore_index=True)

In [30]:
dfs

              Athlete      FX      PH       SR       VT       PB      HB
0   vitaliy guimaraes  14.250  14.350  13.6000  14.4500  13.9000  13.400
1          khoi young  13.550  15.342  12.5500  15.2440  13.7500  13.100
2        yul moldauer  13.400  13.789  14.1160  13.4000  15.5430  11.400
3        fred richard  11.850  12.250  11.9500  13.9000  12.4000  11.650
4        yul moldauer  14.400  13.957  14.1140  14.2500  15.1210  13.500
5        fred richard  14.483  13.357  13.3500  14.0000  14.4500  14.962
6          khoi young   0.000  11.200   0.0000  14.8020   0.0000   0.000
7          Asher Hong  13.116  12.728  14.3495  15.7175  14.5275  12.050
8          Asher Hong  13.116  12.728  14.3495  15.7175  14.5275  12.050
9          Asher Hong  13.116  12.728  14.3495  15.7175  14.5275  12.050
10         Asher Hong  13.116  12.728  14.3495  15.7175  14.5275  12.050
11         Asher Hong  13.116  12.728  14.3495  15.7175  14.5275  12.050
12         Asher Hong  13.116  12.728  14.3495  15.7175  14.5275  12.050
13         Asher Hong  13.116  12.728  14.3495  15.7175  14.5275  12.050

In [31]:
dff = dfs.iloc[:8]

In [32]:
average_scores = dff.groupby('Athlete').mean().reset_index()

In [33]:
average_scores

             Athlete       FX       PH       SR       VT       PB      HB
0         Asher Hong  13.1160  12.7280  14.3495  15.7175  14.5275  12.050
1       fred richard  13.1665  12.8035  12.6500  13.9500  13.4250  13.306
2         khoi young   6.7750  13.2710   6.2750  15.0230   6.8750   6.550
3  vitaliy guimaraes  14.2500  14.3500  13.6000  14.4500  13.9000  13.400
4       yul moldauer  13.9000  13.8730  14.1150  13.8250  15.3320  12.450

In [34]:
df=average_scores.copy()

In [35]:
import pandas as pd
from pulp import LpProblem, LpVariable, lpSum, LpMaximize, LpInteger, LpStatus

# Assuming df is your average_scores DataFrame

def select_athletes_with_pulp(df):
    # Define the problem as a maximization problem
    prob = LpProblem("Athlete_Selection", LpMaximize)

    # Create binary decision variables for each athlete
    athletes = df['Athlete'].unique()
    selected = LpVariable.dicts("Selected", athletes, 0, 1, LpInteger)

    # Objective function: maximize the total number of selected athletes
    prob += lpSum(selected[athlete] for athlete in athletes)

    # Constraint: Select exactly 4 athletes
    prob += lpSum(selected[athlete] for athlete in athletes) == 4

    # Solve the problem
    status = prob.solve()

    # Check the status
    print("Status:", LpStatus[status])

    # Extract selected athletes
    selected_athletes = [athlete for athlete in athletes if selected[athlete].varValue == 1]

    # Display the result
    print("Selected Athletes:", selected_athletes)

# Call the function
select_athletes_with_pulp(df)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/fdc7e37285444c08b6ecdb517c1ee6f5-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/fdc7e37285444c08b6ecdb517c1ee6f5-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 6 COLUMNS
At line 27 RHS
At line 29 BOUNDS
At line 35 ENDATA
Problem MODEL has 1 rows, 5 columns and 5 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 4 - 0.00 seconds
Cgl0004I processed model has 0 rows, 0 columns (0 integer (0 of which binary)) and 0 elements
Cbc3007W No integer variables - nothing to do
Cuts at root node changed objective from -4 to -1.79769e+308
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                4.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.00

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

Status: Optimal
Selected Athletes: ['Asher Hong', 'fred richard', 'khoi young', 'vitaliy guimaraes']

In [49]:
import pandas as pd
from pulp import LpProblem, LpVariable, lpSum, LpMaximize, LpInteger, LpStatus

# Assuming df is your average_scores DataFrame

def select_athletes_with_pulp(df):
    # Define the problem as a maximization problem
    prob = LpProblem("Athlete_Selection", LpMaximize)

    # Create binary decision variables for each athlete and each apparatus
    athletes = df['Athlete'].unique()
    apparatus = df.columns[1:-1].tolist()
    selected = LpVariable.dicts("Selected", (athletes, apparatus), 0, 1, LpInteger)

    # Objective function: maximize the total number of selected athletes
    prob += lpSum(selected[athlete][app] for athlete in athletes for app in apparatus)

    # Constraint: Each athlete must be selected at least once
    for athlete in athletes:
        prob += lpSum(selected[athlete][app] for app in apparatus) >= 1

    # Constraint: Each apparatus should be selected 3 times
    for app in apparatus:
        prob += lpSum(selected[athlete][app] for athlete in athletes) == 3

    # Constraint: Select exactly 4 athletes
    prob += lpSum(selected[athlete][apparatus[0]] for athlete in athletes) == 4

    # Solve the problem
    status = prob.solve()

    # Check the status
    print("Status:", LpStatus[status])

    # Extract selected athletes and their assigned events
    selected_athletes = {athlete: [app for app in apparatus if selected[athlete][app].varValue == 1] for athlete in athletes}

    # Display the result
    for athlete, events in selected_athletes.items():
        print(f"{athlete} will compete in the following events: {', '.join(events)}")

# Call the function
select_athletes_with_pulp(df)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/eb32fd9b265a4307bc108889442bd110-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/eb32fd9b265a4307bc108889442bd110-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 16 COLUMNS
At line 147 RHS
At line 159 BOUNDS
At line 185 ENDATA
Problem MODEL has 11 rows, 25 columns and 55 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Problem is infeasible - 0.00 seconds
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

Status: Infeasible
Asher Hong will compete in the following events: PH, SR, VT, PB
fred richard will compete in the following events: FX, PH
khoi young will compete in the following events: PH, SR, VT
vitaliy guimaraes will compete in the following events: FX, PB
yul moldauer will compete in the following events: FX, SR, VT, PB

In [36]:
usa.sort_values(by='AA', ascending=False)

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA
679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342
680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602
421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950
422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536
423,3.0,asher hong,14.029,12.949,14.566,16.680,14.355,10.450,83.029
681,3.0,asher hong,12.203,12.507,14.133,14.755,14.700,13.650,81.948
682,4.0,ian lasic-ellis,13.600,13.400,13.950,13.700,14.500,12.755,81.905
424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.400,81.648
425,5.0,colt walker,12.450,12.750,13.250,14.897,15.055,13.100,81.502
683,5.0,shane wiskus,13.700,13.250,14.250,13.750,14.050,12.200,81.200
426,6.0,taylor burkhart,13.200,13.600,12.950,14.594,14.150,12.700,81.194
427,7.0,ian lasic-ellis,13.650,13.500,13.750,13.550,13.300,13.300,81.050
428,8.0,riley loos,12.700,13.600,13.600,14.747,14.100,12.300,81.047
684,6.0,riley loos,12.900,12.300,13.953,14.252,13.350,13.450,80.205
429,9.0,colin van,13.450,11.700,13.300,14.847,13.700,13.150,80.147