In [ ]:
# Welcome to the CBC MILP Solver 
# Version: Trunk
# Build Date: Oct 28 2021 

# Starting solution of the Linear programming relaxation problem using Primal Simplex

# The problem does not have an optimal solution.

In [ ]:
# from ortools.linear_solver import pywraplp
# The problem does not have an optimal solution.

In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('usa_men.csv')

In [45]:
dfs = pd.read_csv('../../Data/cleandata22-23/usa_men22_23.csv')

In [46]:
dfs

                        Name Apparatus  D_Score  E_Score  Penalty    Score
0    adriel perales-valencia        PB    5.200   8.7000    0.000  13.9000
1    adriel perales-valencia        SR    5.400   7.4500    0.000  12.8500
2                  aidan cuy        FX    4.700   8.2000    0.000  12.9000
3                  aidan cuy        HB    4.000   7.6500    0.000  11.6500
4                  aidan cuy        PB    4.800   8.1500    0.000  12.9500
..                       ...       ...      ...      ...      ...      ...
770            zachary nunez        HB    4.500   8.6500    0.000  13.1500
771            zachary nunez        PB    5.125   8.1125    0.000  13.2375
772            zachary nunez        PH    5.650   7.6250    0.000  13.2750
773            zachary nunez        SR    4.700   8.2500    0.000  12.9500
774            zachary nunez        VT    5.100   8.5375    0.025  13.6125

[775 rows x 6 columns]

In [47]:
df2=df.copy()

In [48]:
# Asher Hong
# Fred Richard
# Khoi Young
# Vitaliy Guimaraes
# Yul Moldauer

In [49]:
selected_athletes = ['asher hong', 'fred richard', 'khoi young', 
                     'vitaliy guimaraes', 'yul moldauer']

# Filter DataFrame based on the list of athletes
filtered_df = df[df['Athlete'].isin(selected_athletes)]

In [50]:
df = filtered_df.copy()

In [51]:
df.iloc[4:5]

,Unnamed: 0,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA
9,679,1.0,yul moldauer,14.4,13.957,14.114,14.25,15.121,13.5,85.342

In [52]:
df

,Unnamed: 0,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA
0,421,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.400,83.950
1,422,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.100,83.536
2,423,3.0,asher hong,14.029,12.949,14.566,16.680,14.355,10.450,83.029
3,424,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.400,81.648
9,679,1.0,yul moldauer,14.400,13.957,14.114,14.250,15.121,13.500,85.342
10,680,2.0,fred richard,14.483,13.357,13.350,14.000,14.450,14.962,84.602
11,681,3.0,asher hong,12.203,12.507,14.133,14.755,14.700,13.650,81.948

In [53]:
sorted_df = df.sort_values(by='AA', ascending=False)

In [54]:
df=sorted_df.copy()

In [55]:
df = df.iloc[0:5]

In [56]:
df=df.drop(columns=['Unnamed: 0', 'Rank'])

In [57]:
df= df.drop(columns=['AA'])

In [58]:
import pandas as pd
from itertools import combinations
import pandas as pd
from pyqubo import Array, Constraint, Placeholder, solve_qubo
from itertools import combinations

In [59]:
from pymoo.operators.crossover.sbx import SBX
from pymoo.operators.sampling.rnd import FloatRandomSampling
from pymoo.util import plotting

from pymoo.core.population import Population
from pymoo.core.problem import Problem
from pymoo.operators.mutation.pm import PolynomialMutation
import pandas as pd
from pyqubo import Array, Placeholder, Constraint
from pymoo.core.problem import Problem
from pymoo.algorithms.moo.nsga2 import NSGA2
from pymoo.operators.sampling.rnd import FloatRandomSampling
from pymoo.operators.crossover.sbx import SBX
from pymoo.operators.mutation.pm import PolynomialMutation
from pymoo.operators.repair.rounding import RoundingRepair
from pymoo.optimize import minimize

In [60]:
import pandas as pd
from pyqubo import Array, Constraint, Placeholder, solve_qubo
from itertools import combinations
from ortools.sat.python import cp_model

In [61]:
import pandas as pd
import networkx as nx
from networkx.algorithms import bipartite
from scipy.optimize import linear_sum_assignment

In [62]:
df

              Athlete      FX      PH      SR      VT      PB      HB
9        yul moldauer  14.400  13.957  14.114  14.250  15.121  13.500
10       fred richard  14.483  13.357  13.350  14.000  14.450  14.962
0   vitaliy guimaraes  14.250  14.350  13.600  14.450  13.900  13.400
1          khoi young  13.550  15.342  12.550  15.244  13.750  13.100
2          asher hong  14.029  12.949  14.566  16.680  14.355  10.450

In [63]:
# import pandas as pd
# import networkx as nx
# from networkx.algorithms import bipartite



# # Create a bipartite graph
# B = nx.Graph()
# B.add_nodes_from(df['Athlete'], bipartite=0)
# B.add_nodes_from(df.columns[1:-1], bipartite=1)

# # Add weighted edges
# for i, row in df.iterrows():
#     for j in range(1, len(df.columns)-1):
#         B.add_edge(row['Athlete'], df.columns[j], weight=row[df.columns[j]])

# # Solve the weighted bipartite matching problem
# matching = bipartite.maximum_matching(B)

# # Extract the selected athletes and their corresponding apparatus
# selected_athletes = {athlete: apparatus for athlete, apparatus in matching.items() if isinstance(apparatus, str)}

# # Print the selected athletes and their corresponding apparatus
# for athlete, apparatus in selected_athletes.items():
#     print(f"{athlete} will compete on {apparatus}")

In [64]:
# data = {
#     'Athlete': ['khoi young', 'fred richard', 'yul moldauer', 'vitaliy guimaraes', 
#                 'asher hong','vitaliy guimaraes', 'asher hong', 'fred richard',
#                 'yul moldauer', 'khoi young'],
#     'Apparatus': ['FX', 'PH', 'SR', 'VT', 'PB', 'VT', 'PB', 'PH', 'SR', 'FX' ]
# }

# df = pd.DataFrame(data)

In [65]:
# df['Apparatus'].value_counts()

In [66]:
# df['Athlete'].value_counts()

In [67]:
df

              Athlete      FX      PH      SR      VT      PB      HB
9        yul moldauer  14.400  13.957  14.114  14.250  15.121  13.500
10       fred richard  14.483  13.357  13.350  14.000  14.450  14.962
0   vitaliy guimaraes  14.250  14.350  13.600  14.450  13.900  13.400
1          khoi young  13.550  15.342  12.550  15.244  13.750  13.100
2          asher hong  14.029  12.949  14.566  16.680  14.355  10.450

In [69]:
import pandas as pd
from pulp import LpProblem, LpVariable, lpSum, LpMaximize

# Sample DataFrame
data = {
    'Athlete': ['yul moldauer', 'fred richard', 'vitaliy guimaraes', 'khoi young', 'asher hong'],
    'FX': [14.400, 14.483, 14.250, 13.550, 14.029],
    'PH': [13.957, 13.357, 14.350, 15.342, 12.949],
    'SR': [14.114, 13.350, 13.600, 12.550, 14.566],
    'VT': [14.250, 14.000, 14.450, 15.244, 16.680],
    'PB': [15.121, 14.450, 13.900, 13.750, 14.355],
    'HB': [13.500, 14.962, 13.400, 13.100, 10.450],
}

df = pd.DataFrame(data)

# Number of athletes and apparatus
num_athletes = len(df)
num_apparatus = len(df.columns) - 1  # Exclude 'Athlete' column

# Binary decision variables
athlete_vars = {athlete: LpVariable(f'athlete_{athlete}', cat='Binary') for athlete in df['Athlete']}
apparatus_vars = {apparatus: LpVariable(f'apparatus_{apparatus}', cat='Binary') for apparatus in df.columns[1:]}

# Continuous decision variables for scores
score_vars = {(athlete, apparatus): LpVariable(f'score_{athlete}_{apparatus}', cat='Binary')
              for athlete in df['Athlete'] for apparatus in df.columns[1:]}

# Create the optimization problem
prob = LpProblem("Athlete_Apparatus_Assignment", LpMaximize)

# Objective function: maximize the total AA score
prob += lpSum(df.loc[i, apparatus] * score_vars[df['Athlete'][i], apparatus]
              for i in range(num_athletes) for apparatus in df.columns[1:]), "Total_Score"

# Constraints: each athlete competes on each apparatus exactly 3 times
for i in range(num_athletes):
    for apparatus in df.columns[1:]:
        prob += lpSum(score_vars[df['Athlete'][i], app] for app in df.columns[1:]) == 3 * athlete_vars[df['Athlete'][i]]

# Constraints: each apparatus is competed on exactly 3 times
for apparatus in df.columns[1:]:
    prob += lpSum(athlete_vars[athlete] for athlete in df['Athlete']) == 4, f'Apparatus_{apparatus}_constraint'

# Solve the problem
prob.solve()

# Extract the selected athletes and their corresponding apparatus
selected_athletes = [athlete for athlete, var in athlete_vars.items() if var.value() == 1]
selected_apparatus = [apparatus for apparatus, var in apparatus_vars.items() if var.value() == 1]



    
# Print the selected athletes and their corresponding apparatus
for athlete in selected_athletes:
    athlete_apparatus = [apparatus for apparatus in df.columns[1:] if score_vars[athlete, apparatus].value() == 1]
    print(f"{athlete} will compete on {', '.join(athlete_apparatus)}")

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/bfa7ffc1909149e48f090a025062750c-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/bfa7ffc1909149e48f090a025062750c-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 41 COLUMNS
At line 382 RHS
At line 419 BOUNDS
At line 455 ENDATA
Problem MODEL has 36 rows, 35 columns and 240 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 178.403 - 0.00 seconds
Cgl0004I processed model has 6 rows, 35 columns (35 integer (35 of which binary)) and 40 elements
Cutoff increment increased from 1e-05 to 0.000999
Cbc0038I Initial state - 3 integers unsatisfied sum - 1
Cbc0038I Pass   1: suminf.    1.00000 (3) obj. -178.403 iterations 1
Cbc0038I Pass   2: suminf.    1.00000 (3) obj. -178.403 iterations 3
Cbc0038I Pass   3: suminf.    1.00000 (3) obj. -173.029 iterations 8
Cbc0038I Pass   4: suminf.    1.00000 (3) obj. -173.029 iterations 1
Cbc0038I Pass   5: suminf.    1.00000 (3) obj. -173.029 iterations 1
Cbc0038I Pass   6: suminf.    0.66667 (2) obj. -168.724 iterations 4
Cbc0038I Pass   7: suminf.    0.66667 (2) obj. -168.724 iterations 4
Cbc0038I Pass   8: suminf.    0.66667 (2) obj. -168.724 iterations 3
Cbc0038I Pass   9: suminf.    0.66667 (2) obj. -167.241 iterations 9
Cbc0038I Pass  10: suminf.    0.66667 (2) obj. -167.241 iterations 2
Cbc0038I Pass  11: suminf.    0.66667 (2) obj. -167.241 iterations 1
Cbc0038I Pass  12: suminf.    1.00000 (3) obj. -165.56 iterations 7
Cbc0038I Pass  13: suminf.    1.00000 (3) obj. -165.56 iterations 1
Cbc0038I Pass  14: suminf.    1.00000 (3) obj. -165.56 iterations 2
Cbc0038I Pass  15: suminf.    0.66667 (2) obj. -166.517 iterations 5
Cbc0038I Pass  16: suminf.    0.66667 (2) obj. -166.517 iterations 2
Cbc0038I Pass  17: suminf.    0.66667 (2) obj. -166.517 iterations 2
Cbc0038I Pass  18: suminf.    1.00000 (3) obj. -169.239 iterations 10
Cbc0038I Pass  19: suminf.    1.00000 (3) obj. -169.239 iterations 1
Cbc0038I Pass  20: suminf.    1.00000 (3) obj. -169.239 iterations 2
Cbc0038I Pass  21: suminf.    0.66667 (2) obj. -171.308 iterations 15
Cbc0038I Pass  22: suminf.    0.66667 (2) obj. -171.308 iterations 3
Cbc0038I Pass  23: suminf.    0.66667 (2) obj. -171.308 iterations 1
Cbc0038I Pass  24: suminf.    0.66667 (2) obj. -172.082 iterations 11
Cbc0038I Pass  25: suminf.    0.66667 (2) obj. -172.082 iterations 2
Cbc0038I Pass  26: suminf.    0.66667 (2) obj. -172.082 iterations 3
Cbc0038I Pass  27: suminf.    0.00000 (0) obj. -170.884 iterations 10
Cbc0038I Solution found of -170.884
Cbc0038I Before mini branch and bound, 2 integers at bound fixed and 0 continuous
Cbc0038I Full problem 6 rows 35 columns, reduced to 6 rows 32 columns
Cbc0038I Mini branch and bound improved solution from -170.884 to -177.603 (0.03 seconds)
Cbc0038I Round again with cutoff of -177.684
Cbc0038I Reduced cost fixing fixed 12 variables on major pass 2
Cbc0038I Pass  28: suminf.    1.00000 (3) obj. -178.403 iterations 0
Cbc0038I Pass  29: suminf.    1.00000 (3) obj. -178.403 iterations 1
Cbc0038I Pass  30: suminf.    1.80811 (6) obj. -177.684 iterations 5
Cbc0038I Pass  31: suminf.    1.00000 (3) obj. -177.953 iterations 1
Cbc0038I Pass  32: suminf.    1.00000 (3) obj. -177.953 iterations 1
Cbc0038I Pass  33: suminf.    0.91073 (5) obj. -177.684 iterations 5
Cbc0038I Pass  34: suminf.    0.66667 (2) obj. -177.753 iterations 4
Cbc0038I Pass  35: suminf.    0.66667 (2) obj. -177.753 iterations 1
Cbc0038I Pass  36: suminf.    1.21947 (5) obj. -177.684 iterations 6
Cbc0038I Pass  37: suminf.    0.97863 (4) obj. -177.684 iterations 5
Cbc0038I Pass  38: suminf.    0.84018 (5) obj. -177.684 iterations 3
Cbc0038I Pass  39: suminf.    1.11236 (5) obj. -177.684 iterations 3
Cbc0038I Pass  40: suminf.    1.11236 (5) obj. -177.684 iterations 2
Cbc0038I Pass  41: suminf.    1.00000 (3) obj. -178.203 iterations 2
Cbc0038I Pass  42: suminf.    1.00000 (3) obj. -178.203 iterations 1
Cbc0038I Pass  43: suminf.    1.00000 (3) obj. -178.403 iterations 2
Cbc0038I Pass  44: suminf.    1.00000 (3) obj. -178.403 iterations 1
Cbc0038I Pass  45: suminf.    1.00000 (3) obj. -178.403 iterations 0
Cbc0038I Pass  46: suminf.    1.00000 (3) obj. -178.403 iterations 0
Cbc0038I Pass  47: suminf.    1.32761 (4) obj. -177.684 iterations 5
Cbc0038I Pass  48: suminf.    1.32761 (4) obj. -177.684 iterations 1
Cbc0038I Pass  49: suminf.    0.66667 (2) obj. -178.253 iterations 2
Cbc0038I Pass  50: suminf.    0.66667 (2) obj. -178.253 iterations 1
Cbc0038I Pass  51: suminf.    0.66667 (2) obj. -178.253 iterations 1
Cbc0038I Pass  52: suminf.    0.66667 (2) obj. -178.253 iterations 1
Cbc0038I Pass  53: suminf.    0.72981 (5) obj. -177.684 iterations 4
Cbc0038I Pass  54: suminf.    0.66667 (2) obj. -177.703 iterations 1
Cbc0038I Pass  55: suminf.    0.66667 (2) obj. -177.703 iterations 1
Cbc0038I Pass  56: suminf.    0.81395 (5) obj. -177.684 iterations 5
Cbc0038I Pass  57: suminf.    0.78534 (5) obj. -177.684 iterations 2
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 17 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (0.04 seconds)
Cbc0038I After 0.04 seconds - Feasibility pump exiting with objective of -177.603 - took 0.00 seconds
Cbc0012I Integer solution of -177.603 found by feasibility pump after 0 iterations and 0 nodes (0.04 seconds)
Cbc0001I Search completed - best objective -177.603, took 0 iterations and 0 nodes (0.04 seconds)
Cbc0035I Maximum depth 0, 11 variables fixed on reduced cost
Cuts at root node changed objective from -178.403 to -177.603
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                177.60300000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.01
Time (Wallclock seconds):       0.04

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.01   (Wallclock seconds):       0.04

yul moldauer will compete on FX, VT, PB
fred richard will compete on FX, PB, HB
khoi young will compete on PH, VT, PB
asher hong will compete on SR, VT, PB

In [ ]:
df

In [ ]:
df2=df2.drop(columns=['Unnamed: 0', 'Rank'])

In [ ]:
df_sorted = df2.sort_values(by='AA', ascending=False)

In [ ]:
df_sorted

In [ ]:
df_unique = df_sorted.drop_duplicates(subset='Athlete', keep='first')

In [ ]:
dfs = df_unique.copy()

In [ ]:
dfs=dfs.drop(columns=['AA'])

In [ ]:
dfs

In [ ]:
data = {
    'Athlete': ['yul moldauer', 'fred richard', 
                'khoi young', 'asher hong'],
    'Apparatus1': ['FX', 'FX', 'PH', 'SR', ],
    'Apparatus2': ['VT', 'PB', 'VT', 'VT', ],
    'Apparatus3': ['PB', 'HB', 'PB', 'PB', ]
}
df = pd.DataFrame(data)

In [ ]:
df['Apparatus1'].value_counts()

In [ ]:
df['Apparatus2'].value_counts()

In [ ]:
df['Apparatus3'].value_counts()

In [ ]:
# VT = 3
#pb = 4
#hb=1
#fx=2
#

In [ ]:
# use python, pandas, PyQUBO, pymoo, itertools , OR-Tools ,  etc
# write algorithm code for cominatoral maximization for followin df to find 4 athletes thwt will compete . each apparatus needs to be competeed on 3 timres and a athlete can not compete on the same apparartus more than once. the goal is to gi the largest sum from using each appartus 3 times between 4 athletes

# Athlete 	FX 	PH 	SR 	VT 	PB 	HB 	AA
# 9 	yul moldauer 	14.400 	13.957 	14.114 	14.250 	15.121 	13.500 	85.342
# 10 	fred richard 	14.483 	13.357 	13.350 	14.000 	14.450 	14.962 	84.602
# 0 	vitaliy guimaraes 	14.250 	14.350 	13.600 	14.450 	13.900 	13.400 	83.950
# 1 	khoi young 	13.550 	15.342 	12.550 	15.244 	13.750 	13.100 	83.536
# 2 	asher hong 	14.029 	12.949 	14.566 	16.680 	14.355 	10.450 	83.029

In [ ]:
import sys
sys.path

In [ ]:
# /Users/ryantalbot/opt/anaconda3/envs/tf2/bin/python3 -m pip install pymoo

In [ ]:
# use python, pandas, PyQUBO, pymoo, itertools , OR-Tools ,  etc
# write algorithm code for cominatoral maximization for followin df to find 4 athletes thwt will compete . each apparatus needs to be competeed on 3 timres and a athlete can not compete on the same apparartus more than once. the goal is to gi the largest sum from using each appartus 3 times between 4 athletes

# Athlete 	FX 	PH 	SR 	VT 	PB 	HB 	AA
# 9 	yul moldauer 	14.400 	13.957 	14.114 	14.250 	15.121 	13.500 	85.342
# 10 	fred richard 	14.483 	13.357 	13.350 	14.000 	14.450 	14.962 	84.602
# 0 	vitaliy guimaraes 	14.250 	14.350 	13.600 	14.450 	13.900 	13.400 	83.950
# 1 	khoi young 	13.550 	15.342 	12.550 	15.244 	13.750 	13.100 	83.536
# 2 	asher hong 	14.029 	12.949 	14.566 	16.680 	14.355 	10.450 	83.029

In [73]:
from pulp import LpProblem, LpVariable, lpSum, value, LpMaximize

In [74]:
dfs = pd.read_csv('../../Data/cleandata22-23/usa_men22_23.csv')

In [75]:
df=dfs.copy()

In [76]:

# # Create a binary variable for each combination of athlete and apparatus
# athletes = df['Name'].unique()
# apparatus = df['Apparatus'].unique()

# x = LpVariable.dicts('x', [(athlete, app) for athlete in athletes for app in apparatus], 0, 1, LpMaximize)

# # Create the LP problem
# model = LpProblem("Athlete_Selection", LpMaximize)

# # Define the objective function
# model += lpSum(df['Score'][i] * x[df['Name'][i], df['Apparatus'][i]] for i in range(len(df)))

# # Define the constraints
# for athlete in athletes:
#     model += lpSum(x[athlete, app] for app in apparatus) >= 1  # Each athlete competes on exactly 3 apparatus

# for app in apparatus:
#     model += lpSum(x[athlete, app] for athlete in athletes) == 3  # Each apparatus is used exactly 3 times


# model += lpSum(x[athlete, app] for athlete in athletes) == 4  # Select exactly 4 athletes


# # Solve the problem
# model.solve()

# # Check if the optimization problem has a feasible solution
# if model.status == 1:  # 1 indicates an optimal solution
#     # Extract the results
#     selected_athletes = [athlete for athlete in athletes if any(value(x[athlete, app]) > 0.9 for app in apparatus)]
#     total_score = sum(df.loc[(df['Name'] == athlete) & (df['Apparatus'] == app), 'Score'].values[0] for athlete in selected_athletes for app in apparatus)

#     # Display the results
#     print(f"Selected Athletes: {selected_athletes}")
#     print(f"Total Score: {total_score}")
# else:
#     print("No feasible solution found.")

In [77]:
df

                        Name Apparatus  D_Score  E_Score  Penalty    Score
0    adriel perales-valencia        PB    5.200   8.7000    0.000  13.9000
1    adriel perales-valencia        SR    5.400   7.4500    0.000  12.8500
2                  aidan cuy        FX    4.700   8.2000    0.000  12.9000
3                  aidan cuy        HB    4.000   7.6500    0.000  11.6500
4                  aidan cuy        PB    4.800   8.1500    0.000  12.9500
..                       ...       ...      ...      ...      ...      ...
770            zachary nunez        HB    4.500   8.6500    0.000  13.1500
771            zachary nunez        PB    5.125   8.1125    0.000  13.2375
772            zachary nunez        PH    5.650   7.6250    0.000  13.2750
773            zachary nunez        SR    4.700   8.2500    0.000  12.9500
774            zachary nunez        VT    5.100   8.5375    0.025  13.6125

[775 rows x 6 columns]

In [78]:
# from pulp import LpVariable, lpSum, LpProblem, LpMaximize, LpStatus

# # Create a binary variable for each combination of athlete and apparatus
# athletes = df['Name'].unique()
# apparatus = df['Apparatus'].unique()

# # Create the LP problem
# model = LpProblem("Athlete_Selection", LpMaximize)

# # Create binary decision variables
# x = LpVariable.dicts('x', [(athlete, app) for athlete in athletes for app in apparatus], 0, 1, LpMaximize)

# # Define the objective function
# model += lpSum(df['Score'][i] * x[df['Name'][i], df['Apparatus'][i]] for i in range(len(df)))

# # Define the constraints
# for athlete in athletes:
#     model += lpSum(x[athlete, app] for app in apparatus) >= 1  # Each athlete competes on at least 1 apparatus

# for app in apparatus:
#     model += lpSum(x[athlete, app] for athlete in athletes) == 3  # Each apparatus is used exactly 3 times

# model += lpSum(x[athlete, app] for athlete in athletes for app in apparatus) == 4  # Select exactly 4 athletes

# model.solve()

# # Check if the optimization problem has a feasible solution
# if LpStatus[model.status] == 'Infeasible':
#     print("No feasible solution found.")
# else:
#     # Extract the results
#     selected_athletes = [athlete for athlete in athletes if any(x[athlete, app].value() > 0.9 for app in apparatus)]

#     total_score = sum(df.loc[(df['Name'] == athlete) & (df['Apparatus'] == app), 'Score'].values[0] for athlete in selected_athletes for app in apparatus)

#     # Display the results
#     print(f"Selected Athletes: {selected_athletes}")
#     print(f"Total Score: {total_score}")

In [79]:
df

                        Name Apparatus  D_Score  E_Score  Penalty    Score
0    adriel perales-valencia        PB    5.200   8.7000    0.000  13.9000
1    adriel perales-valencia        SR    5.400   7.4500    0.000  12.8500
2                  aidan cuy        FX    4.700   8.2000    0.000  12.9000
3                  aidan cuy        HB    4.000   7.6500    0.000  11.6500
4                  aidan cuy        PB    4.800   8.1500    0.000  12.9500
..                       ...       ...      ...      ...      ...      ...
770            zachary nunez        HB    4.500   8.6500    0.000  13.1500
771            zachary nunez        PB    5.125   8.1125    0.000  13.2375
772            zachary nunez        PH    5.650   7.6250    0.000  13.2750
773            zachary nunez        SR    4.700   8.2500    0.000  12.9500
774            zachary nunez        VT    5.100   8.5375    0.025  13.6125

[775 rows x 6 columns]

In [86]:
selected_names = ['yul moldauer', 'fred richard', 'vitaliy guimaraes', 'khoi young', 'asher hong']
filtered_df = df[df['Name'].isin(selected_names)]

In [88]:
df = filtered_df.copy()

In [89]:
df

                  Name Apparatus   D_Score   E_Score   Penalty      Score
49          asher hong        FX  6.035714  7.997429  0.121429  13.911714
50          asher hong        HB  5.200000  7.006917  0.000000  12.206917
51          asher hong        PB  6.000000  8.609867  0.000000  14.609867
52          asher hong        PH  5.664286  7.463000  0.000000  13.127286
53          asher hong        SR  5.966667  8.182067  0.000000  14.148733
54          asher hong        VT  6.000000  8.705909  0.100000  14.605909
55          asher hong       VT1  6.000000  8.669000  0.116667  14.552333
56          asher hong       VT2  5.400000  8.716250  0.050000  14.066250
269       fred richard        FX  5.975000  7.650000  0.075000  13.550000
270       fred richard        HB  5.960000  7.480000  0.000000  13.440000
271       fred richard        PB  5.780000  8.260000  0.000000  14.040000
272       fred richard        PH  5.960000  6.690000  0.000000  12.650000
273       fred richard        SR  4.925000  8.150000  0.000000  13.075000
274       fred richard        VT  5.200000  8.825000  0.025000  14.000000
455         khoi young        FX  5.516667  8.575000  0.000000  14.091667
456         khoi young        HB  4.762500  8.227000  0.000000  12.989500
457         khoi young        PB  5.571429  8.447571  0.000000  14.019000
458         khoi young        PH  6.130000  7.763200  0.000000  13.893200
459         khoi young        SR  4.616667  8.491667  0.000000  13.108333
460         khoi young        VT  5.450000  9.352000  0.025000  14.777000
461         khoi young       VT1  5.600000  9.344333  0.066667  14.877667
462         khoi young       VT2  5.400000  9.116000  0.000000  14.516000
737  vitaliy guimaraes        FX  5.500000  8.750000  0.000000  14.250000
738  vitaliy guimaraes        HB  4.500000  8.900000  0.000000  13.400000
739  vitaliy guimaraes        PB  4.700000  9.200000  0.000000  13.900000
740  vitaliy guimaraes        PH  5.200000  9.150000  0.000000  14.350000
741  vitaliy guimaraes        SR  4.600000  9.000000  0.000000  13.600000
742  vitaliy guimaraes        VT  4.800000  9.650000  0.000000  14.450000
759       yul moldauer        FX  5.630000  8.393200  0.000000  14.023200
760       yul moldauer        HB  5.275000  7.056250  0.000000  12.331250
761       yul moldauer        PB  6.458333  8.102667  0.000000  14.561000
762       yul moldauer        PH  5.781818  7.481727  0.000000  13.263545
763       yul moldauer        SR  5.833333  8.140667  0.000000  13.974000
764       yul moldauer        VT  5.133333  9.066667  0.033333  14.166667
765       yul moldauer       VT1  5.200000  9.550000  0.000000  14.750000

In [97]:
from pulp import LpVariable, LpProblem, lpSum, LpMinimize, GLPK


# Create a binary variable for each combination of athlete and apparatus
athletes = df['Name'].unique()
apparatus = df['Apparatus'].unique()

# Create the LP problem
model = LpProblem("Athlete_Selection", LpMaximize)

# Create binary decision variables
x = LpVariable.dicts('x', [(athlete, app) for athlete in athletes for app in apparatus], 0, 1, LpMaximize)

# Define the objective function
model += lpSum(df.loc[(df['Name'] == athlete) & (df['Apparatus'] == app), 'Score'].values[0] * x[athlete, app] for athlete in athletes for app in apparatus if not df.loc[(df['Name'] == athlete) & (df['Apparatus'] == app)].empty)

# Define the constraints
for athlete in athletes:
    model += lpSum(x[athlete, app] for app in apparatus) >= 1  # Each athlete competes on at least 1 apparatus

for app in apparatus:
    model += lpSum(x[athlete, app] for athlete in athletes) == 3  # Each apparatus is used exactly 3 times

model += lpSum(x[athlete, app] for athlete in athletes for app in apparatus) == 4  # Select exactly 4 athletes

# Solve the problem
model.solve()

# Check if the optimization problem has a feasible solution
if LpStatus[model.status] == 'Infeasible':
    print("No feasible solution found.")
else:
    # Extract the results
    selected_athletes = [athlete for athlete in athletes if any(x[athlete, app].value() > 0.9 for app in apparatus)]
    total_score = sum(df.loc[(df['Name'] == athlete) & (df['Apparatus'] == app), 'Score'].values[0] for athlete in selected_athletes for app in apparatus if not df.loc[(df['Name'] == athlete) & (df['Apparatus'] == app)].empty)

    # Display the results
    print(f"Selected Athletes: {selected_athletes}")
    print(f"Total Score: {total_score}")

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/712467e888eb49a5ad89e48c67c8861e-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/712467e888eb49a5ad89e48c67c8861e-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 19 COLUMNS
At line 175 RHS
At line 190 BOUNDS
At line 231 ENDATA
Problem MODEL has 14 rows, 40 columns and 120 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve determined that the problem was infeasible with tolerance of 1e-08
Analysis indicates model infeasible or unbounded
0  Obj -0 Primal inf 32.999999 (14) Dual inf 485.27603 (35)
4  Obj 51.794852 Primal inf 28.999999 (8)
Primal infeasible - objective value 51.794852
PrimalInfeasible objective 51.79485152 - 4 iterations time 0.002

Result - Linear relaxation infeasible

Enumerated nodes:           0
Total iterations:           0
Time (CPU seconds):         0.00
Time (Wallclock Seconds):   0.01

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

No feasible solution found.

In [103]:
from pulp import LpVariable, LpProblem, lpSum, LpMinimize, GLPK

data = df.copy()

# Extract unique athletes and apparatus
athletes = set(data['Name'])
apparatus = set(data['Apparatus'])

# Create LP problem
model = LpProblem("Athlete_Score_Optimization", LpMinimize)

# Create binary decision variables
x = LpVariable.dicts('x', ((athlete, app) for athlete in athletes for app in apparatus), cat='Binary')

# Define the objective function
model += lpSum(data.loc[(data['Name'] == athlete) & (data['Apparatus'] == app), 'Score'].values[0] * x[athlete, app]
              for athlete in athletes for app in apparatus
              if not data.loc[(data['Name'] == athlete) & (data['Apparatus'] == app)].empty)

# Define the constraints
for athlete in athletes:
    model += lpSum(x[athlete, app] for app in apparatus) >= 1  # Each athlete competes on at least 1 apparatus

for app in apparatus:
    model += lpSum(x[athlete, app] for athlete in athletes) >= 1  # Each apparatus is used at least once



# Solve the problem using GLPK solver
model.solve(GLPK(path='/usr/local/bin/glpsol', msg=True))

print("Solver Status:", LpStatus[model.status])

# Extract the results
selected_athletes = [athlete for athlete in athletes if any(x[athlete, app].value() > 0.9 for app in apparatus)]

# Display the results
print(f"Selected Athletes: {selected_athletes}")
print("Optimal Score:", model.objective.value())

GLPSOL--GLPK LP/MIP Solver 5.0
Parameter(s) specified in the command line:
 --cpxlp /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ab66ef9eec02475f8e5522ae7d0585cf-pulp.lp
 -o /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ab66ef9eec02475f8e5522ae7d0585cf-pulp.sol
Reading problem data from '/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ab66ef9eec02475f8e5522ae7d0585cf-pulp.lp'...
14 rows, 40 columns, 120 non-zeros
40 integer variables, all of which are binary
124 lines were read
GLPK Integer Optimizer 5.0
14 rows, 40 columns, 120 non-zeros
40 integer variables, all of which are binary
Preprocessing...
14 rows, 40 columns, 120 non-zeros
40 integer variables, all of which are binary
Scaling...
 A: min|aij| =  1.000e+00  max|aij| =  1.000e+00  ratio =  1.000e+00
Problem data seem to be well scaled
Constructing initial basis...
Size of triangular part is 14
Solving LP relaxation...
GLPK Simplex Optimizer 5.0
14 rows, 40 columns, 120 non-zeros
      0: obj =   0.000000000e+00 inf =   1.400e+01 (12)
     11: obj =   4.137071429e+01 inf =   5.000e+00 (5)
LP HAS NO PRIMAL FEASIBLE SOLUTION
Time used:   0.0 secs
Memory used: 0.1 Mb (58289 bytes)
Writing MIP solution to '/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ab66ef9eec02475f8e5522ae7d0585cf-pulp.sol'...
Solver Status: Infeasible
Selected Athletes: []
Optimal Score: 0.0

In [112]:
from pulp import LpVariable, LpProblem, lpSum, LpMinimize, GLPK, LpStatus

data = df.copy()

# Extract unique athletes and apparatus
athletes = set(data['Name'])
apparatus = set(data['Apparatus'])

# Create LP problem
model = LpProblem("Athlete_Score_Optimization", LpMinimize)

# Create binary decision variables
x = LpVariable.dicts('x', ((athlete, app) for athlete in athletes for app in apparatus), cat='Binary')

# Define the objective function
model += lpSum(data.loc[(data['Name'] == athlete) & (data['Apparatus'] == app), 'Score'] * x[athlete, app]
              for athlete in athletes for app in apparatus
              if not data.loc[(data['Name'] == athlete) & (data['Apparatus'] == app)].empty)

for app in apparatus:
    model += lpSum(x[athlete, app] for athlete in athletes) == 3  # Each apparatus is used exactly 3 times

model += lpSum(x[athlete, app] for athlete in athletes for app in apparatus) == 4  # Select exactly 4 athletes


# Define the constraints
for athlete in athletes:
    model += lpSum(x[athlete, app] for app in apparatus) == 1  # Each athlete competes on exactly 1 apparatus

# Solve the problem using GLPK solver
model.solve(GLPK(msg=True))

print("Solver Status:", LpStatus[model.status])

# Extract the results
selected_athletes = [athlete for athlete in athletes if any(x[athlete, app].value() > 0.9 for app in apparatus)]

# Display the results
print(f"Selected Athletes: {selected_athletes}")
print("Optimal Score:", model.objective.value())

GLPSOL--GLPK LP/MIP Solver 5.0
Parameter(s) specified in the command line:
 --cpxlp /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/2a2d9d6015114b42b9a527a26a3c6c22-pulp.lp
 -o /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/2a2d9d6015114b42b9a527a26a3c6c22-pulp.sol
Reading problem data from '/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/2a2d9d6015114b42b9a527a26a3c6c22-pulp.lp'...
14 rows, 40 columns, 120 non-zeros
40 integer variables, all of which are binary
124 lines were read
GLPK Integer Optimizer 5.0
14 rows, 40 columns, 120 non-zeros
40 integer variables, all of which are binary
Preprocessing...
14 rows, 40 columns, 120 non-zeros
40 integer variables, all of which are binary
Scaling...
 A: min|aij| =  1.000e+00  max|aij| =  1.000e+00  ratio =  1.000e+00
Problem data seem to be well scaled
Constructing initial basis...
Size of triangular part is 12
Solving LP relaxation...
GLPK Simplex Optimizer 5.0
14 rows, 40 columns, 120 non-zeros
      0: obj =   2.755412364e+02 inf =   5.300e+01 (11)
     18: obj =   2.613304076e+02 inf =   4.000e+01 (8)
LP HAS NO PRIMAL FEASIBLE SOLUTION
Time used:   0.0 secs
Memory used: 0.1 Mb (56991 bytes)
Writing MIP solution to '/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/2a2d9d6015114b42b9a527a26a3c6c22-pulp.sol'...
Solver Status: Infeasible
Selected Athletes: []
Optimal Score: 0.0